.Counter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vkui--color_text_contrast);
  background: var(--vkui--color_icon_tertiary);
}

.Counter__in {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

.Counter--mode-primary {
  color: var(--vkui--color_text_contrast);
  background: var(--vkui--color_background_accent);
}

.Counter--mode-secondary {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}

.Counter--mode-prominent {
  color: var(--vkui--color_text_contrast);
  background: var(--vkui--color_accent_red);
}

.Counter--mode-contrast {
  color: var(--vkui--color_text_accent_themed);
  background: var(--vkui--color_background_content);
}

.Counter--size-m {
  min-width: 24px;
  height: 24px;
  border-radius: 12px;
}

.Counter--size-s {
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
}

/**
 * CMP:
 * Button
 */
.Button--mode-primary.Button--appearance-accent .Counter--mode-inherit {
  color: var(--vkui--color_text_accent_themed);
  background-color: var(--vkui--color_background_content);
}

.Button--mode-secondary.Button--appearance-accent .Counter--mode-inherit,
.Button--mode-tertiary.Button--appearance-accent .Counter--mode-inherit,
.Button--mode-outline.Button--appearance-accent .Counter--mode-inherit {
  color: var(--vkui--color_text_contrast_themed);
  background-color: var(--vkui--color_background_accent_themed);
}

.Button--mode-primary.Button--appearance-positive .Counter--mode-inherit {
  color: var(--vkui--color_text_positive);
  background-color: var(--vkui--color_background_contrast);
}

.Button--mode-secondary.Button--appearance-positive .Counter--mode-inherit,
.Button--mode-tertiary.Button--appearance-positive .Counter--mode-inherit,
.Button--mode-outline.Button--appearance-positive .Counter--mode-inherit {
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_background_positive);
}

.Button--mode-primary.Button--appearance-negative .Counter--mode-inherit {
  color: var(--vkui--color_text_negative);
  background-color: var(--vkui--color_background_contrast);
}

.Button--mode-secondary.Button--appearance-negative .Counter--mode-inherit,
.Button--mode-tertiary.Button--appearance-negative .Counter--mode-inherit,
.Button--mode-outline.Button--appearance-negative .Counter--mode-inherit {
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_background_negative);
}

.Button--mode-primary.Button--appearance-neutral .Counter--mode-inherit {
  color: var(--vkui--color_text_primary_invariably);
  background-color: var(--vkui--color_background_content);
}

.Button--mode-secondary.Button--appearance-neutral .Counter--mode-inherit,
.Button--mode-tertiary.Button--appearance-neutral .Counter--mode-inherit,
.Button--mode-outline.Button--appearance-neutral .Counter--mode-inherit {
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_background_accent);
}

.Button--mode-primary.Button--appearance-overlay .Counter--mode-inherit {
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_icon_primary_invariably);
}

.Button--mode-secondary.Button--appearance-overlay .Counter--mode-inherit,
.Button--mode-tertiary.Button--appearance-overlay .Counter--mode-inherit,
.Button--mode-outline.Button--appearance-overlay .Counter--mode-inherit {
  color: var(--vkui--color_text_primary_invariably);
  background-color: var(--vkui--color_background_contrast);
}

/**
 * CMP:
 * WriteBarIcon
 */
.WriteBarIcon .Counter--mode-inherit {
  color: var(--vkui--color_text_contrast);
  background: var(--vkui--color_background_positive);
}

/**
 * CMP:
 * SubnavigationButton
 */
.SubnavigationButton .Counter--mode-inherit {
  color: var(--vkui--color_text_contrast);
  background: var(--vkui--color_background_accent);
}

.SubnavigationButton--selected:not(.SubnavigationButton--mode-tertiary) .Counter--mode-inherit {
  color: var(--vkui--color_text_accent_themed);
  background-color: var(--vkui--color_background_content);
}
