.normalize {
  display: block;
  padding: 0;
  margin: 0;
}

.inline {
  display: inline-block;
}

/* Мы утяжеляем селектор, чтобы перебить другие селекторы */
.weight1.weight1.weight1.weight1 {
  font-weight: var(--vkui--font_weight_base1);
}

.accent.weight1.weight1.weight1 {
  font-weight: var(--vkui--font_weight_accent1);
}

.weight2.weight2.weight2.weight2 {
  font-weight: var(--vkui--font_weight_base2);
}

.accent.weight2.weight2.weight2 {
  font-weight: var(--vkui--font_weight_accent2);
}

.weight3.weight3.weight3.weight3 {
  font-weight: var(--vkui--font_weight_base3);
}

.accent.weight3.weight3.weight3 {
  font-weight: var(--vkui--font_weight_accent3);
}

/* stylelint-disable-next-line selector-max-type */
.host b {
  font-weight: var(--vkui--font_weight_base1);
}

/* stylelint-disable-next-line selector-max-type */
.accent.host b {
  font-weight: var(--vkui--font_weight_accent1);
}
