.hostNormalize {
  display: block;
  margin: 0;
  padding: 0;
}

/* Мы утяжеляем селектор, чтобы перебить другие селекторы */
.hostWeight1.hostWeight1.hostWeight1 {
  font-weight: var(--vkui--font_weight_accent1);
}

.hostWeight2.hostWeight2.hostWeight2 {
  font-weight: var(--vkui--font_weight_accent2);
}

.hostWeight3.hostWeight3.hostWeight3 {
  font-weight: var(--vkui--font_weight_accent3);
}

/* stylelint-disable-next-line selector-max-type */
.host b {
  font-weight: var(--vkui--font_weight_accent1);
}
