.host {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
}

.inner {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
}

.innerCenter {
  justify-content: center;
}

.interruptFakeHeader {
  position: relative;
  z-index: var(--vkui_internal--z_index_split_layout_panel_header);
  margin-block-start: calc(
    -1 *
    (var(--vkui_internal--panel_header_height) + var(--vkui_internal--safe_area_inset_top))
  );
}
