.SplitLayout {
  position: relative;
  width: 100%;
  height: 100%;
}

.SplitLayout__inner {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Hack with using PanelHeaderSimple */
/* Better to implement simple header-like here */
.SplitLayout__inner--header {
  position: relative;
  z-index: var(--vkui_internal--z_index_split_layout_panel_header);
  margin-top: calc(
    -1 * (var(--vkui--size_panel_header_height--regular) + var(--vkui_internal--safe_area_inset_top))
  );
}

.SplitLayout--ios .SplitLayout__inner--header {
  margin-top: calc(
    -1 * (var(--vkui--size_panel_header_height--regular) + var(--vkui_internal--safe_area_inset_top))
  );
}

.SplitLayout__popout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--vkui--z_index_popout);
  width: 100%;
  height: 100%;
}

.SplitLayout__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--vkui--z_index_modal);
  width: 100%;
  height: 100%;
}

.SplitLayout__modal:empty {
  display: none;
}
