.HeaderContext {}

  .HeaderContext--opened,
  .HeaderContext--closing {
    width: 100%;
    height: 100%;
    }

  .HeaderContext .HeaderContext__in {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    }

  .HeaderContext .HeaderContext__fade {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .4);
    }

  .HeaderContext--opened .HeaderContext__fade {
    animation: animation-headercontext-fade-in .2s ease;
    }

  .HeaderContext--closing .HeaderContext__fade {
    animation: animation-headercontext-fade-out .2s ease;
    }

/*
 iOS
 */
.HeaderContext--ios {}

  .HeaderContext--ios .HeaderContext__in {}

  .HeaderContext--ios.HeaderContext--opened .HeaderContext__in {
    animation: animation-headercontext-translate-in .2s ease;
    }

  .HeaderContext--ios.HeaderContext--closing .HeaderContext__in {
    animation: animation-headercontext-translate-out .2s ease;
    }

    .HeaderContext--ios .List {
      background: var(--content_tint_background);
      }

/*
 Android
 */
.HeaderContext--android {}

.HeaderContext--android .HeaderContext__in {
  padding: 8px;
  box-sizing: border-box;
  }

.HeaderContext--android.HeaderContext--opened .HeaderContext__in {
  animation: animation-headercontext-translate-in .2s ease;
  }

.HeaderContext--android.HeaderContext--closing .HeaderContext__in {
  animation: animation-headercontext-translate-out .2s ease;
  }

.HeaderContext--android .List {
  overflow: hidden;
  border-radius: 12px;
  padding: 8px 0;
  }

/*
  Animations
 */

@keyframes animation-headercontext-translate-in {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
  }

@keyframes animation-headercontext-translate-out {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
  }

@keyframes animation-headercontext-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
  }

@keyframes animation-headercontext-fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
  }
