

.FormLayout {
  position: relative;
  }

  .FormLayout__row {
    display: block;
    }

    /* TODO legacy. FormLayoutGroup пришел на замену. Убрать в 3.0.0 */
    .FormLayout__field .Input + .Input,
    .FormLayout__field .Select + .Select,
    .FormLayout__field .SelectMimicry + .SelectMimicry {
      padding-top: 12px;
      }

  .FormLayout__submit {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    left: 0;
    top: 0;
    padding: 0;
    width: 0;
    height: 0;
    appearance: none;
    border: none;
    }

.FormLayout--ios {}

  .FormLayout--ios .FormLayout__row {
    padding: 12px 0;
    }

    .FormLayout--ios .FormLayout__field .Input,
    .FormLayout--ios .FormLayout__field .Textarea,
    .FormLayout--ios .FormLayout__field .Select,
    .FormLayout--ios .FormLayout__field .SelectMimicry,
    .FormLayout--ios .FormLayout__field .Button {
      margin-left: 12px;
      margin-right: 12px;
      }

    .FormLayout--ios .FormLayout__field .RangeSlider,
    .FormLayout--ios .FormLayout__field .Slider {
      margin-left: 26px;
      margin-right: 26px;
      }

    .FormLayout--ios .FormLayout__field .Button--sz-xl {
      width: calc(100% - 24px);
      }

    .FormLayout--ios .FormLayout__row-top {
      color: var(--text_secondary);
      padding: 2px 12px 8px;
      font-size: 14px;
      }

    .FormLayout--ios .FormLayout__row-bottom {
      color: var(--text_secondary);
      padding: 8px 12px 0;
      font-size: 13px;
      }

.FormLayout--android {}

  .FormLayout--android .FormLayout__row {
    padding: 10px 0;
    }

    .FormLayout--android .FormLayout__field .Textarea,
    .FormLayout--android .FormLayout__field .Input,
    .FormLayout--android .FormLayout__field .Select,
    .FormLayout--android .FormLayout__field .SelectMimicry,
    .FormLayout--android .FormLayout__field .Button {
      margin-left: 16px;
      margin-right: 16px;
      }

    .FormLayout--android .FormLayout__field .RangeSlider,
    .FormLayout--android .FormLayout__field .Slider {
      margin-left: 30px;
      margin-right: 30px;
      }

    .FormLayout--android .FormLayout__field .Button--sz-xl {
      width: calc(100% - 32px);
      }

    .FormLayout--android .FormLayout__row-top {
      color: var(--text_secondary);
      padding: 2px 16px 8px;
      line-height: 18px;
      font-size: 14px;
      }

    .FormLayout--android .FormLayout__row-bottom {
      padding: 8px 16px 0;
      font-size: 13px;
      color: var(--text_secondary);
      }
