.PromoBanner {
  inline-size: 100%;
  box-sizing: border-box;
  outline: var(--vkui--size_border--regular) solid var(--vkui--color_separator_primary_alpha);
  color: var(--vkui--color_text_primary);
  background: var(--vkui--color_background_content);
  padding-block-end: 10px;
  position: relative;
}

.PromoBanner__head {
  display: flex;
  color: var(--vkui--color_text_secondary);
  padding: 14px var(--vkui--size_base_padding_horizontal--regular) 10px;
}

.PromoBanner__age {
  margin-inline-start: 6px;
}

.PromoBanner__close {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 48px;
  block-size: 48px;
  color: var(--vkui--color_icon_secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PromoBanner__close:active {
  opacity: 0.7;
}

.PromoBanner__pixels {
  display: none;
}
