.PromoBanner {
  width: 100%;
  box-sizing: border-box;
  outline: var(--vkui_internal--thin_border) solid var(--vkui--color_separator_primary_alpha);
  color: var(--vkui--color_text_primary);
  background: var(--vkui--color_background_content);
  padding-bottom: 10px;
  position: relative;
}

.PromoBanner__head {
  display: flex;
  color: var(--vkui--color_text_secondary);
  padding: 14px var(--vkui--size_base_padding_horizontal--regular) 10px;
}

.PromoBanner__age {
  margin-right: 6px;
  padding: 0 4px;
  font-size: 11px;
  line-height: 14px;
  border: var(--vkui_internal--thin_border) solid var(--vkui--color_separator_primary);
  border-radius: var(--vkui--size_check_border_radius--regular);
}

.PromoBanner__dot {
  margin: 0 6px;
}

.PromoBanner__adChoices {
  padding: 8px;
  margin: -8px;
  cursor: pointer;
}

.PromoBanner__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  color: var(--vkui--color_icon_secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.PromoBanner__close:active {
  opacity: 0.7;
}

.PromoBanner__pixels {
  display: none;
}
