.PromoBanner {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 10px;
  color: var(--vkui--color_text_primary);
  background: var(--vkui--color_background_content);
  outline: var(--vkui_internal--thin_border) solid var(--vkui--color_separator_primary_alpha);
}

.PromoBanner__head {
  display: flex;
  padding: 14px var(--vkui--size_base_padding_horizontal--regular) 10px;
  color: var(--vkui--color_text_secondary);
}

.PromoBanner__age {
  margin-left: 6px;
}

.PromoBanner__close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--vkui--color_icon_secondary);
}

.PromoBanner__close:active {
  opacity: 0.7;
}

.PromoBanner__pixels {
  display: none;
}

.PromoBanner__label {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
