.Table {
  position: relative;
}

.Table--light {
  --transparent_color: rgba(255, 255, 255, 0);
}

.Table--dark {
  --transparent_color: rgba(25, 25, 26, 0);
}

.Table__in {
  overflow: auto;
  border: 1px solid var(--vkui--color_separator_secondary);
  border-radius: 8px;
}

.Table::before {
  left: 0;
  top: 0;
  height: 100%;
  width: 10%;
  position: absolute;
  background: linear-gradient(
    to right,
    var(--vkui--color_background_content),
    var(--transparent_color)
  );
  content: '';
  opacity: 0;
  pointer-events: none;
}

.Table--hasLeft::before {
  opacity: 1;
}

.Table::after {
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
  position: absolute;
  background: linear-gradient(
    to left,
    var(--vkui--color_background_content),
    var(--transparent_color)
  );
  content: '';
  opacity: 0;
  pointer-events: none;
}

.Table--hasRight::after {
  opacity: 1;
}

.Table__main {
  border-collapse: collapse;
  width: 100%;
}

.Table__td {
  border-top: 1px solid var(--vkui--color_separator_secondary);
}

.Table__th {
  background: var(--vkui--color_background_tertiary);
  text-align: left;
  padding: 16px;
  white-space: nowrap;
  color: var(--vkui--color_text_subhead);
}

.Table__tr:last-child .Table__td {
  border-bottom: none;
}

.Table__td:not([colspan]) {
  padding: 20px 16px;
}
