.PanelHeader {
  position: relative;
}

.PanelHeader--vis::before {
  display: block;
  content: '';
}

.FixedLayout.PanelHeader__fixed {
  z-index: 10;
}

.PanelHeader__fixed {
  background: var(--header_background);
}

.PanelHeader--trnsp .PanelHeader__fixed {
  background: transparent;
}

.PanelHeader__in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.PanelHeader__left {
  box-sizing: border-box;
  color: var(--header_tint);
  display: flex;
  flex-shrink: 0;
}

.PanelHeader__left .Avatar {
  margin-left: 8px;
}

.PanelHeader__content {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--header_text);
  font-weight: 800;
  font-family: var(--font-tt);
}

.PanelHeader__right {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  color: var(--header_tint);
}

.PanelHeader__right .Avatar {
  margin-right: 8px;
}

.PanelHeader--vkapps .PanelHeader__right {
  min-width: 90px;
}

.PanelHeader__separator {
  padding-top: 4px;
}

/**
 * iOS
 */

.PanelHeader--ios ~ .FixedLayout--top {
  top: calc(var(--panelheader_height_ios) + var(--safe-area-inset-top));
}

.PanelHeader--ios::before,
.PanelHeader--ios .PanelHeader__in {
  height: var(--panelheader_height_ios);
  padding-top: var(--safe-area-inset-top);
}

.PanelHeader--ios .PanelHeader__left {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 1;
  transition: opacity .3s var(--ios-easing);
  padding: 4px 0 4px 4px;
}

.PanelHeader--ios .PanelHeader__left .PanelHeaderButton--primitive {
  padding-left: 12px;
}

.PanelHeader--ios .PanelHeader__left .PanelHeaderButton + .PanelHeaderButton--primitive {
  margin-left: -6px;
  padding-left: 0;
}

.PanelHeader--ios .PanelHeader__content {
  font-size: 21px;
  line-height: var(--panelheader_height_ios);
  text-align: center;
  opacity: 1;
  transition: opacity .3s var(--ios-easing);
}

.PanelHeader--ios .PanelHeader__content > * {
  padding: 0 4px;
}

.PanelHeader--ios.PanelHeader--no-left .PanelHeader__content > * {
  padding-left: 0;
}

.PanelHeader--ios.PanelHeader--no-left .PanelHeader__content {
  padding-left: 8px;
}

.PanelHeader--ios.PanelHeader--no-right .PanelHeader__content > * {
  padding-right: 0;
}

.PanelHeader--ios.PanelHeader--no-right .PanelHeader__content {
  padding-right: 8px;
}

.PanelHeader--ios .PanelHeader__right {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 1;
  transition: opacity .3s var(--ios-easing);
  padding: 4px 4px 4px 0;
}

.PanelHeader--ios .PanelHeader__right .PanelHeaderButton--primitive {
  padding-right: 12px;
}

.View--ios .View__panel--prev .PanelHeader__left,
.View--ios .View__panel--prev .PanelHeader__right,
.View--ios .View__panel--prev .PanelHeader__content {
  opacity: 0;
}

/**
 * Android
 */

.PanelHeader--android ~ .FixedLayout--top {
  top: calc(var(--panelheader_height_android) + var(--safe-area-inset-top));
}

.PanelHeader--android::before,
.PanelHeader--android .PanelHeader__in {
  height: var(--panelheader_height_android);
  padding-top: var(--safe-area-inset-top);
}

.PanelHeader--android .PanelHeader__left:not(:empty) {
  padding: 4px 0 4px 4px;
}

.PanelHeader--android .PanelHeader__content {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
}

.PanelHeader--android .PanelHeader__content > * {
  padding: 0 12px;
}

.PanelHeader--android .Search {
  padding: 0 4px;
}

.PanelHeader--android.PanelHeader--no-left .PanelHeader__content > * {
  padding-left: 0;
}

.PanelHeader--android.PanelHeader--no-left .PanelHeader__content {
  padding-left: 16px;
}

.PanelHeader--android.PanelHeader--no-right .PanelHeader__content > * {
  padding-right: 0;
}

.PanelHeader--android.PanelHeader--no-right .PanelHeader__content {
  padding-right: 16px;
}

.PanelHeader--android .PanelHeader__right:not(:empty) {
  padding: 4px 4px 4px 0;
}
