@import "../../styles/constants.css";
@import "./PanelHeaderTransitions.css";

.PanelHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  }

  .PanelHeader__in {
    display: flex;
    white-space: nowrap;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    }

    .PanelHeader__left {
      flex-shrink: 0;
      }

      .PanelHeader__icon {}

        .PanelHeader-icon {}

      .PanelHeader__left-in {
        box-sizing: border-box;
        }

        .PanelHeader-left-in {}

    .PanelHeader__right {
      flex-shrink: 0;
      }

      .PanelHeader-right {
        box-sizing: border-box;
        text-align: right;
        display: flex;
        }

    .PanelHeader__content {
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      max-width: 100%;
      }

      .PanelHeader-content {}

.PanelHeader--ios {
  height: 44px;
  padding-top: 20px;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  transition: color .6s var(--ios-easing), background .6s var(--ios-easing);
  }

  .PanelHeader--ios::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--ios-bottom-border);
    content: '';
    }

  .PanelHeader--ios.PanelHeader--brand {
    color: #fff;
    background: var(--vk-color);
    }

  .PanelHeader--ios.PanelHeader--light {
    color: var(--vk-color);
    background: #fff;
    }

  .PanelHeader--ios .PanelHeader__in {
    top: 20px;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
    justify-content: space-between;
    }

    .PanelHeader--ios .PanelHeader__left {
      display: flex;
      align-items: center;
      }

      .PanelHeader--ios .PanelHeader__icon {}

        .PanelHeader--ios .PanelHeader-icon {
          font-size: 17px;
          }

      .PanelHeader--ios .PanelHeader__left-in {
        box-sizing: border-box;
        }

        .PanelHeader--ios .PanelHeader-left-in {
          font-size: 17px;
          }

          .PanelHeader--ios .PanelHeader-left-in .HeaderButton .Icon--24 {
            padding-left: 12px;
            }

          .PanelHeader--ios .PanelHeader-left-in:not(.PanelHeader-left-in--with-icon) .HeaderButton > *:not(.Icon),
          .PanelHeader--ios .PanelHeader-left-in:not(.PanelHeader-left-in--with-icon) .HeaderButton__str {
            padding-left: 16px;
            }

    .PanelHeader--ios .PanelHeader__right {}

      .PanelHeader--ios .PanelHeader-right {
        font-size: 17px;
        }

        .PanelHeader--ios .PanelHeader-right .HeaderButton .Icon--24 {
          padding-right: 12px;
          }

        .PanelHeader--ios .PanelHeader-right .HeaderButton > *:not(.Icon),
        .PanelHeader--ios .PanelHeader-right .HeaderButton__str {
          padding-right: 16px;
          }

    .PanelHeader--ios .PanelHeader__content {

      }

      .PanelHeader--ios .PanelHeader-content {
        font: 500 17px/44px var(--ios-font);
        text-align: center;
        padding: 0 6px;
        transition: color .6s var(--ios-easing);
        color: #fff;
        }

      .PanelHeader--ios.PanelHeader--light .PanelHeader-content {
        color: #000;
        }



.PanelHeader--android {
  height: 56px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .08), 0 4px 4px rgba(0, 0, 0, .16);
  }

.PanelHeader--no-shadow {
  box-shadow: none;
  transition: box-shadow .3s var(--android-easing);
  }

  .PanelHeader--android .PanelHeader__in--brand {
    background: var(--vk-color);
    color: #fff;
    }

  .PanelHeader--android .PanelHeader__in--light {
    background-color: #fff;
    color: #5a5d61;
    }

    .PanelHeader--android .PanelHeader-right:not(:empty) {
      padding-right: 4px;
      }

    .PanelHeader--android .PanelHeader-left-in {
      padding-left: 4px;
      }

    .PanelHeader--android .PanelHeader-content {
      font: 500 20px/56px var(--android-font);
      padding: 0 12px;
      }
