.Panel {
  position: relative;
  width: 100%;
  height: 100%;
  }

  .Panel--centered .Panel__in {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

  .Panel__in {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    }

    .Panel__in-before {
      height: 1px;
      margin-bottom: -1px;
      }

    .Panel__in-after {
      height: 1px;
      margin-top: -1px;
      }
