.host {
  position: relative;
  display: flex;
  box-sizing: border-box;
  min-block-size: var(--vkui--size_field_height--regular);
  font-family: var(--vkui--font_family_base);
  -webkit-tap-highlight-color: transparent;
  isolation: isolate;
  border-radius: var(--vkui--size_border_radius--regular);
  inline-size: 100%;
}

.scrollContainer {
  display: flex;
  inline-size: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  min-block-size: inherit;
}

.content {
  min-block-size: inherit;
  display: flex;
  flex-grow: 1;
  min-inline-size: 0;
}

.sizeYCompact {
  min-block-size: var(--vkui--size_field_height--compact);
}

@media (--sizeY-compact) {
  .sizeYNone {
    min-block-size: var(--vkui--size_field_height--compact);
  }
}

/* stylelint-disable-next-line selector-max-universal */
.host > * {
  border-radius: inherit;
  z-index: var(--vkui_internal--z_index_form_field_element);
}

.iconWrapper {
  flex-shrink: 0;
  block-size: 100%;
  display: flex;
  position: sticky;
  inset-block-start: 0;
}

.before,
.after {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  min-inline-size: var(--vkui--size_field_height--regular);
  color: var(--vkui--color_icon_secondary);
}

.sizeYCompact .before,
.sizeYCompact .after {
  min-inline-size: var(--vkui--size_field_height--compact);
}

@media (--sizeY-compact) {
  .sizeYNone .before,
  .sizeYNone .after {
    min-inline-size: var(--vkui--size_field_height--compact);
  }
}

.iconAlignStart {
  align-self: flex-start;
}

.iconAlignEnd {
  align-self: flex-end;
}

.before {
  color: var(--vkui--color_icon_accent);
}

.after {
  color: var(--vkui--color_icon_secondary);
}

.border {
  pointer-events: none;
  position: absolute;
  z-index: var(--vkui_internal--z_index_form_field_border);
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  box-sizing: border-box;
  transform-origin: left top;
  border: var(--vkui--size_border--regular) solid transparent;
  border-radius: inherit;
}

.modeDefault .border {
  border-color: var(--vkui--color_field_border_alpha);
}

.modeDefault {
  background-color: var(--vkui--color_field_background);
}

.hover {
  background-color: var(--vkui--color_field_background);
}

.modeDefault.hover .border {
  border-color: var(--vkui--color_field_border_alpha--hover);
  z-index: var(--vkui_internal--z_index_form_field_border_hover);
}

/**
 * useFocusVisibleClassName()
 */
/* increase specificity for selects */
.focusVisible.focusVisible .border {
  border-color: var(--vkui--color_stroke_accent);
}

/**
 * CMP:
 * FormItem
 * [start]
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem--status-error) .modeDefault .border,
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem--status-error) .focusVisible .border,
.statusError.modeDefault .border,
.statusError.focusVisible .border {
  border-color: var(--vkui--color_stroke_negative);
  z-index: var(--vkui_internal--z_index_form_field_status);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem--status-error) .host,
.statusError {
  background-color: var(--vkui--color_background_negative_tint);
}

/* increase specificity to cover --mode-default case */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem--status-valid) .modeDefault .border,
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem--status-valid) .focusVisible .border,
.statusValid.modeDefault .border,
.statusValid.focusVisible .border {
  border-color: var(--vkui--color_stroke_positive);
  z-index: var(--vkui_internal--z_index_form_field_status);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem--status-valid) .host:not(.modeDefault),
.statusValid:not(.modeDefault) {
  background-color: var(--vkui--color_background_positive_tint);
}
/* [end] */

.disabled {
  opacity: var(--vkui--opacity_disable_accessibility);
  cursor: default;
  pointer-events: none;
}

/**
 * CMP:
 * NativeSelect
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalNativeSelect) .after {
  pointer-events: none;
}

/**
 * CMP:
 * CalendarHeader
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCalendarHeader__picker) .after {
  min-inline-size: 12px;
  padding-inline-end: 8px;
}

/**
 * CMP:
 * FormLayoutGroup
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormLayoutGroup--segmented) .host {
  z-index: auto;
  isolation: auto;
  border-radius: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(
    .vkuiInternalFormLayoutGroup--segmented.vkuiInternalFormLayoutGroup--mode-horizontal
      .vkuiInternalFormItem
  ):first-of-type
  .host {
  border-start-start-radius: var(--vkui--size_border_radius--regular);
  border-end-start-radius: var(--vkui--size_border_radius--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(
    .vkuiInternalFormLayoutGroup--segmented.vkuiInternalFormLayoutGroup--mode-horizontal
      .vkuiInternalFormItem
  ):last-of-type
  .host {
  border-start-end-radius: var(--vkui--size_border_radius--regular);
  border-end-end-radius: var(--vkui--size_border_radius--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(
    .vkuiInternalFormLayoutGroup--segmented.vkuiInternalFormLayoutGroup--mode-vertical
      .vkuiInternalFormItem
  ):first-of-type
  .host {
  border-start-start-radius: var(--vkui--size_border_radius--regular);
  border-start-end-radius: var(--vkui--size_border_radius--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(
    .vkuiInternalFormLayoutGroup--segmented.vkuiInternalFormLayoutGroup--mode-vertical
      .vkuiInternalFormItem
  ):last-of-type
  .host {
  border-end-start-radius: var(--vkui--size_border_radius--regular);
  border-end-end-radius: var(--vkui--size_border_radius--regular);
}
