.host {
  --vkui_internal--SimpleCell-before-inline-padding-end: var(--vkui--spacing_size_xl);

  display: flex;
  align-items: center;
  min-block-size: 48px;
  white-space: nowrap;
  text-decoration: none;
  color: var(--vkui--color_text_primary);
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
}

.mult {
  white-space: normal;
}

.mult .children {
  text-overflow: initial;
}

.disabled {
  opacity: var(--vkui--opacity_disable_accessibility);
}

.before {
  display: flex;
  align-items: center;
  padding-block: var(--vkui--spacing_size_s);
  padding-inline-end: var(--vkui_internal--SimpleCell-before-inline-padding-end);
  color: var(--vkui_internal--icon_color, var(--vkui--color_icon_accent));
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.before > :global(.vkuiIcon) {
  padding-inline-end: var(--vkui--spacing_size_xs);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.beforeIos > :global(.vkuiIcon) {
  padding-inline-end: 0;
}

.before:empty {
  display: none;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--vkui--spacing_size_l);
  max-inline-size: 100%;
  flex-grow: 1;
  min-inline-size: 0;
  overflow: hidden;
}

/* stylelint-disable-next-line selector-max-universal -- gap: 2px */
.middle > *:not(:first-child) {
  margin-block-start: var(--vkui--spacing_size_2xs);
}

.overTitle {
  color: var(--vkui--color_text_subhead);
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.subtitle,
.extraSubtitle {
  color: var(--vkui--color_text_secondary);
}

.host .content {
  display: flex;
  align-content: flex-start;
  align-items: center;
  max-inline-size: 100%;
  justify-content: flex-start;
}

.children {
  color: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.mult .children,
.mult .subtitle {
  flex: 0 1 auto;
}

.badge {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--vkui--color_icon_accent);
}

/* stylelint-disable-next-line selector-max-universal -- gap: 4px */
.content > *:not(:last-child) {
  margin-inline-end: var(--vkui--spacing_size_xs);
}

.indicator {
  flex-shrink: 0;
  color: var(--vkui--color_text_secondary);
  min-inline-size: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-inline-start: var(--vkui--spacing_size_xl);
}

.after {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: var(--vkui_internal--icon_color, var(--vkui--color_icon_accent));
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.after > :global(.vkuiIcon) {
  padding-inline-start: var(--vkui--spacing_size_m);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.after > :global(.vkuiIcon):last-child {
  padding-inline-end: var(--vkui--spacing_size_2xs);
}

.chevronIcon {
  color: var(--vkui--color_icon_tertiary);
  padding-inline-start: var(--vkui--spacing_size_xl);
}

/**
 * sizeY === 'compact'
 */

.sizeYCompact {
  min-block-size: 44px;
}

.sizeYCompact .before {
  padding-block: var(--vkui--spacing_size_xs);
}

@media (--sizeY-compact) {
  .sizeYNone {
    min-block-size: 44px;
  }

  .sizeYNone .before {
    padding-block: var(--vkui--spacing_size_xs);
  }
}

/**
 * CMP:
 * FormItem
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem) > .host {
  margin-block: 0;
  margin-inline: calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}
