.AccordionSummary__icon {
  color: var(--vkui--color_icon_secondary);
}

.AccordionContent {
  overflow: hidden;
}

.AccordionContent__in {
  margin-block-start: -100%;
  transition: margin-top 100ms ease-in-out;
}
