.Preview {
  position: relative;
  border-radius: 14px;
}

.Preview--layout {
  display: flex;
  align-items: flex-start;
}

.Preview--vkcom {
  border-radius: 8px;
}

.Preview__shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: inherit;
  box-shadow: inset 0 0 0 1px var(--vkui--color_image_border_alpha);
  pointer-events: none;
  z-index: 2;
}

.Preview__in {
  max-width: 100%;
  overflow: auto;
  border-radius: inherit;
  background: var(--vkui--color_background_content);
  color: var(--vkui--color_text_primary);
}

/*
 FixedLayout from Preview takes width of documentation content SplitCol, there is no other way to override it.
 */
.Layout__header .vkuiFixedLayout {
  width: 100% !important;
}
