.Preview {
  display: flex;
  align-items: flex-start;
  position: relative;
  border-radius: 14px;
}

.Preview--vkcom {
  border-radius: 8px;
}

.Preview::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: inherit;
  box-shadow: inset 0 0 0 1px var(--image_border);
  pointer-events: none;
  z-index: 2;
}

.Preview__in {
  max-width: 100%;
  overflow: auto;
  border-radius: inherit;
}

.Preview__frame {
  border: none;
  display: block;
}

/*
 FixedLayout from Preview takes width of documentation content SplitCol, there is no other way to override it.
 */
.Preview__header .vkuiFixedLayout {
  width: 100% !important;
}
