.Chip {
  display: inline-block;
  border: var(--vkui--size_border--regular) solid var(--vkui--color_image_border_alpha);
  background: var(--vkui--color_background_content);
  border-radius: 6px;
  block-size: 32px;
  box-sizing: border-box;
}

.Chip__in {
  position: relative;
  display: flex;
  block-size: 100%;
  padding: 0 8px;
  align-items: center;
}

.Chip--removable .Chip__in {
  padding-inline-end: 0;
}

.Chip__content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--vkui--color_text_primary);
  display: inline-block;

  /* Typography/Paragraph */
  font-size: var(--vkui--font_paragraph--font_size--regular);
  line-height: var(--vkui--font_paragraph--line_height--regular);
  font-weight: var(--vkui--font_paragraph--font_weight--regular);
  font-family: var(--vkui--font_paragraph--font_family--regular);
}

.Chip--sizeY-compact .Chip__content {
  /* Typography/Footnote */
  font-size: var(--vkui--font_footnote--font_size--regular);
  line-height: var(--vkui--font_footnote--line_height--regular);
  font-weight: var(--vkui--font_footnote--font_weight--regular);
  font-family: var(--vkui--font_footnote--font_family--regular);
}

@media (--sizeY-compact) {
  .Chip--sizeY-none .Chip__content {
    /* Typography/Footnote */
    font-size: var(--vkui--font_footnote--font_size--regular);
    line-height: var(--vkui--font_footnote--line_height--regular);
    font-weight: var(--vkui--font_footnote--font_weight--regular);
    font-family: var(--vkui--font_footnote--font_family--regular);
  }
}

.Chip__remove {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  inline-size: 28px;
  block-size: 28px;
  padding: 6px;
  margin: -1px;
  transform: translateX(-1px);
  color: var(--vkui--color_icon_secondary);
  border: 0;
  border-radius: 2px;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.Chip__before {
  margin-inline-end: 6px;
}

.Chip__after {
  margin-inline-start: 6px;
}

.Chip--sizeY-compact {
  block-size: 28px;
}

@media (--sizeY-compact) {
  .Chip--sizeY-none {
    block-size: 28px;
  }
}
