/* flex */

.flexGrow {
  flex: 1 0 auto;
}

.flexShrink {
  flex: 0 1 auto;
}

.flexContent {
  flex: 1 1 auto;
}

.flexFixed {
  flex: 0 0 auto;
}

/* align-self */

.alignSelfStart {
  align-self: start;
}

.alignSelfEnd {
  align-self: end;
}

.alignSelfCenter {
  align-self: center;
}

.alignSelfBaseline {
  align-self: baseline;
}

.alignSelfStretch {
  align-self: stretch;
}
