@import '../../styles/constants.css';

/**
 * Container
 */
.View {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #efeff4;
  word-wrap: break-word;
  }
.View--animated {
  pointer-events: none;
  }

  /**
   * Header
   */
  .View__header {}

    .View__header-in {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      color: #fff;
      z-index: 5;
      background: var(--vk-color);
      }

      .View__header-item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
        display: flex;
        align-items: center;
        background: var(--vk-color);
        }

        .View__header-left,
        .View__header-right {
          flex: 0 0 auto;
          font-size: 17px;
          line-height: 20px;
          }
        .View__header-right {
          text-align: right;
          }

        .View__header-title {
          flex: 1 0 auto;
          margin: 0;
          padding: 0 6px;
          }

  /**
   * Panels list
   */
  .View__panels {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }

    /**
     * Panel
     */
    .View__panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      visibility: hidden;
      }

    .View__panel--hidden {
      display: none;
      }

  /**
   * Mask
   */
  .View__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    background: rgba(0, 0, 0, .6);
    animation: animation-full-fade-in .2s ease;
    user-select: none;
    }

  /**
   * Popout
   */
  .View__popout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    }


/**
 * iOS
 */
.View--ios {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  }

  /**
   * Header
   */
  .View--ios .View__header {
    height: 64px;
    }

    .View--ios .View__header-in {
      height: 64px;
      }

      .View--ios .View__header-item {
        top: 20px;
        height: 44px;
        justify-content: center;
        padding: 0 6px;
        }

        .View--ios .View__header-left,
        .View--ios .View__header-right {
          flex: 1 0 10%;
          padding: 0 2px;
          }

      /**
       * Header transition
       */
      .View--ios .View__header-item--prev,
      .View--ios .View__header-item--next {
        visibility: visible;
        transition:
          transform .6s cubic-bezier(.36, .66, .04, 1),
          visibility .6s cubic-bezier(.36, .66, .04, 1),
          opacity .6s cubic-bezier(.36, .66, .04, 1);
        }
      .View--ios .View__header-item--prev {
        opacity: 0;
        }
      .View--ios .View__header-item--next {
        opacity: 1;
        }
      .View--ios .View__header-item {
        transform: translate3d(-50%, 0, 0);
        }
      .View--ios .View__header-item--next {
        transform: translate3d(0, 0, 0);
        }
      .View--ios .View__header-item--next ~ .View__header-item {
        transform: translate3d(50%, 0, 0);
        }

        .View--ios .View__header-title {
          font: 500 17px/44px var(--ios-font);
          text-align: center;
          }

      /**
       * Active header
       */
      .View--ios .View__header-item--active {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
        }
      .View--ios .View__header-item--active ~ .View__header-item {
        transform: translate3d(50%, 0, 0);
        }

  /**
   * Panels
   */
  .View--ios .View__panels {}

  .View--ios.View--header .View__panels {
    top: 64px;
    }

    .View--ios .View__panel {
      background: #efeff4;
      }

    /**
     * Panel transition
     */
    .View--ios .View__panel--prev,
    .View--ios .View__panel--next {
      display: block;
      visibility: visible;
      transition:
        transform .6s cubic-bezier(.36, .66, .04, 1),
        visibility .6s cubic-bezier(.36, .66, .04, 1);
      }
    .View--ios .View__panel {
      transform: translate3d(-50%, 0, 0);
      }
    .View--ios .View__panel--next {
      transform: translate3d(0, 0, 0);
      }
    .View--ios .View__panel--next ~ .View__panel {
      transform: translate3d(100%, 0, 0);
      }

    .View--ios .View__panel--prev::before,
    .View--ios .View__panel--next::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      background: #000;
      content: '';
      pointer-events: none;
      }
    .View--ios .View__panel--prev::before {
      animation: animation-fade-in .6s cubic-bezier(.36, .66, .04, 1);
      }
    .View--ios .View__panel--next::before {
      animation: animation-fade-out .6s cubic-bezier(.36, .66, .04, 1);
      }
    .View--ios .View__panel--prev ~ .View__panel--next::before,
    .View--ios .View__panel--next ~ .View__panel--prev::before {
      content: none;
      }

    /**
     * Active panel
     */
    .View--ios .View__panel--active {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      }
    .View--ios .View__panel--active::before {
      content: none;
      }
    .View--ios .View__panel--active ~ .View__panel {
      transform: translate3d(100%, 0, 0);
      }

/**
 * Android
 */
.View--android {
  font-family: Roboto, Droid, 'Open Sans', sans-serif;
  }

  /**
   * Header
   */
  .View--android .View__header {
    height: 80px;
    }

    .View--android .View__header-in {
      height: 80px;
      }

      .View--android .View__header-item {
        top: 24px;
        height: 56px;
        padding: 0 10px;
        }

        .View--android .View__header-left,
        .View--android .View__header-right {
          padding: 1px 6px 0;
          color: #898A8C;
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          text-transform: uppercase;
          }

      /**
       * Header transition
       */
      .View--android .View__header-item--prev,
      .View--android .View__header-item--next {
        visibility: visible;
        transition:
          transform .3s var(--android-easing) .2s,
          opacity .3s var(--android-easing) .2s,
          visibility .3s var(--android-easing) .2s;
        }
      .View--android .View__header-item {
        transform: translate3d(0, 0, 0);
        }
      .View--android .View__header-item--next {
        transform: translate3d(0, 0, 0);
        }
      .View--android .View__header-item--next ~ .View__header-item {
        transform: translate3d(0, 80px, 0);
        opacity: 0;
        visibility: hidden;
        }

      /**
       * Active header
       */
      .View--android .View__header-item--active {
        visibility: visible;
        transform: translate3d(0, 0, 0);
        }
      .View--android .View__header-item--active ~ .View__header-item {
        transform: translate3d(0, 80px, 0);
        }

        .View--android .View__header-title {
          font: 500 20px/56px var(--android-font);
          }

  /**
   * Panels
   */
  .View--android .View__panels {}
  .View--android.View--header .View__panels {
    top: 80px;
    }

    .View--android .View__panel {
      background: #fff;
      }

    /**
     * Panel transition
     */
    .View--android .View__panel--prev,
    .View--android .View__panel--next {
      visibility: visible;
      transition:
        transform .3s var(--android-easing) .2s,
        opacity .3s var(--android-easing) .2s,
        visibility .3s var(--android-easing) .2s;
      }
    .View--android .View__panel {
      transform: translate3d(0, 0, 0);
      }
    .View--android .View__panel--next {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      }
    .View--android .View__panel--next ~ .View__panel {
      transform: translate3d(0, 80px, 0);
      opacity: 0;
      visibility: hidden;
      }

    /**
     * Active panel
     */
    .View--android .View__panel--active {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      }
    .View--android .View__panel--active::before {
      content: none;
      }
    .View--android .View__panel--active ~ .View__panel {
      transform: translate3d(0, 80px, 0);
      }


/**
 * Animations
 */
@keyframes animation-fade-in {
  from {
    opacity: 0;
    }
  to {
    opacity: .3;
    }
  }

@keyframes animation-fade-out {
  from {
    opacity: .3;
    }
  to {
    opacity: 0;
    }
  }

@keyframes animation-full-fade-in {
  from {
    opacity: 0;
    }
  to {
    opacity: 1;
    }
  }