.View--vkcom {
  font-family: var(--font-common);
  }

/**
 * Panel transition
 */
.View--vkcom .View__panel--next ~ .View__panel--prev {
  animation: animation-android-prev-back .3s var(--android-easing);
  }

.View--vkcom .View__panel--prev ~ .View__panel--next {
  animation: animation-android-next-forward .3s var(--android-easing);
  }

.View--vkcom.View--no-motion .View__panel {
  animation: none;
}

/**
 * Active panel
 */
.View--vkcom .View__panel--active::before {
  content: none;
  }

@keyframes animation-android-prev-back {
  from {
    opacity: 1;
    transform: translateY(0);
    }

  to {
    opacity: 0;
    transform: translateY(80px);
    }
  }

@keyframes animation-android-next-forward {
  from {
    opacity: 0;
    transform: translateY(80px);
    }

  to {
    opacity: 1;
    transform: translateY(0);
    }
  }
