@import '../../styles/constants.css';
@import './iOS/Panel.css';
@import './iOS/Header.css';
@import './Android/Panel.css';
@import './Android/Header.css';

.View {
  position: relative;
  height: 100%;
  width: 100%;
  background: #efeff4;
  word-wrap: break-word;
  }
.View--animated,
.View--swiping-back {
  overflow: hidden;
  height: 100vh;
  }

  /**
   * Header
   */
  .View__header {
    white-space: nowrap;
    z-index: 2;
    }

    .View__header-in {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      color: #fff;
      z-index: 5;
      background: var(--vk-color);
      }

      .View__header-item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        }

        .View__header-left,
        .View__header-right {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 17px;
          line-height: 20px;
          }
        .View__header-left {
          display: flex;
          align-items: center;
          }
          .View__header-icon {
            flex: 0 0 auto;
            }
          .View__header-left-in {
            flex: 0 1 auto;
            text-overflow: ellipsis;
            overflow: hidden;
            }
        .View__header-right {
          text-align: right;
          }

        .View__header-title {
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          padding: 0 6px;
          }

  /**
   * Panel
   */
  .View--animated .View__panel,
  .View--animated .View__header,
  .View--swiping-back .View__panel,
  .View--swiping-back .View__header {
    pointer-events: none;
    }

  .View__panels {
    height: 100%;
    width: 100%;
    }

  .View__panel {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    }

  .View__panel-in {
    height: 100%;
    }

  .View--animated .View__panel,
  .View--swiping-back .View__panel {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    }

  /**
   * Popout
   */
  .View__popout {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    }


/**
 * iOS
 */
.View--ios {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  }

/**
 * Android
 */
.View--android {
  font-family: Roboto, Droid, 'Open Sans', sans-serif;
  }
