.host {
  display: flex;
}

/* stylelint-disable-next-line selector-max-universal -- gap */
.host > * {
  margin-inline-end: 8px;
}

/* stylelint-disable-next-line selector-max-universal -- gap */
.host > *:last-child {
  margin-inline-end: 0;
}
