.Radio {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -.5em;
  align-items: center;
}

.Radio__self {
  display: none;
}

.Radio__label {
  flex: 1 1 auto;
}

.Radio__icon {
  flex: 0 0 auto;
  width: 13px;
  height: 11px;
  opacity: 0;
  transition: opacity .14s ease;
}

.Radio__self:checked ~ .Radio__icon {
  background: url('../../../public/checkmark.svg') 0 0/100% no-repeat;
  opacity: 1;
}