.RadioNew {
  background-color: #fff;
  display: block;
  }

  .RadioNew__self {
    display: none;
    }

  .RadioNew__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }

  .RadioNew__container {
    flex-grow: 1;
    max-width: 100%;
    }

  .RadioNew__icon {
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    }

  .RadioNew__description {
    font-size: 13px;
    line-height: 15px;
    color: map(colors, captionGray);
    }

    .RadioNew__icon::after {
      position: absolute;
      content: '';
      display: block;
      border-radius: 50%;
      box-sizing: border-box;
      }


  .RadioNew--ios .RadioNew__container {
    margin: 11px 0;
    line-height: 22px;
    }

  .RadioNew--ios .RadioNew__icon {
    width: 22px;
    height: 22px;
    border: 2px solid #c4c8cc;
    margin: 11px 13px;
    }

    .RadioNew--ios .RadioNew__icon::after {
      width: 14px;
      height: 14px;
      left: 2px;
      top: 2px;
      }

  .RadioNew--ios .RadioNew__self:checked ~ .RadioNew__wrapper .RadioNew__icon {
    border-color: map(colors, accentBlue);
    }

    .RadioNew--ios .RadioNew__self:checked ~ .RadioNew__wrapper .RadioNew__icon::after {
      background-color: map(colors, accentBlue);
      }


  .RadioNew--android .RadioNew__container {
    margin: 14px 0;
    line-height: 20px;
    }

  .RadioNew--android .RadioNew__icon {
    width: 20px;
    height: 20px;
    border: 2px solid #c4c8cc;
    margin: 14px 18px;
    }

  .RadioNew--android .RadioNew__icon::after {
    width: 10px;
    height: 10px;
    left: 3px;
    top: 3px;
    }

  .RadioNew--android .RadioNew__self:checked ~ .RadioNew__wrapper .RadioNew__icon {
    border-color: map(colors, accentBlue);
    }

  .RadioNew--android .RadioNew__self:checked ~ .RadioNew__wrapper .RadioNew__icon::after {
    background-color: map(colors, accentBlue);
    }


