@import '../../styles/constants.css';

.Radio {
  position: relative;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 22px;
  display: block;
  }

  .Radio__self {
    display: none;
    }

  .Radio__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .Radio__description {
    font-size: 13px;
    line-height: 15px;
    color: #909499;
    }

  .Radio__icon {
    display: block;
    flex-shrink: 0;
    }

  .Radio__container {
    box-sizing: border-box;
    }

/**
 * iOS radio
 */
.Radio--ios {
  padding: 11px 15px 12px;
  overflow: hidden;
  }
.Radio--ios::before {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 100vw;
  height: 1px;
  background: var(--ios-thick-separator-color);
  content: '';
  }
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .Radio--ios::before {
    background: linear-gradient(to top, #c8c7cc 50%, transparent 50%);
    }
  }

  .Radio--ios .Radio__container {
    padding-right: .5em;
    width: calc(100% - 13px);
    max-width: calc(100% - 13px);
    }

  .Radio--ios .Radio__icon {
    width: 13px;
    height: 11px;
    opacity: 0;
    transition: opacity .14s ease;
    }

  .Radio--ios .Radio__self:checked ~ .Radio__wrapper .Radio__icon {
    background: inline('./assets/checkmark.svg') 0 0/100% no-repeat;
    opacity: 1;
    }

/**
 * Android radio
 */
.Radio--android {
  padding: 16px 16px 17px;
  }

  .Radio--android .Radio__container {
    order: 1;
    padding: 0 0 0 18px;
    max-width: calc(100% - 16px);
    }

  .Radio--android .Radio__icon {
    order: 0;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 2px solid #c4c8cc;
    transition: border-color .14s ease;
    }

  .Radio--android .Radio__icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: 5px;
    content: '';
    background: transparent;
    transition: background-color .14s ease;
    }

  .Radio__self:checked ~ .Radio__wrapper .Radio__icon {
    border-color: var(--vk-color);
    }

  .Radio__self:checked ~ .Radio__wrapper .Radio__icon::before {
    background: var(--vk-color);
    }
