.CustomSelect__container {
  width: 100%;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.CustomSelect__options {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-color: var(--modal_card_background);
  box-sizing: border-box;
  border: solid 1px var(--field_border);
  border-top: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .03);
  border-radius: 0 0 8px 8px;
  max-height: 160px;
  z-index: 3;
}

.CustomSelect__options--popupDirectionTop {
  bottom: 100%;
  border-radius: 8px 8px 0 0;
  border-top: unset;
  border-bottom: 0;
}

.CustomSelect__options .CustomScrollView__box {
  max-height: 160px;
}

.CustomSelect__option {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 36px 10px 12px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.CustomSelect__option--hover {
  background-color: var(--button_muted_background);
}

.CustomSelect__selectedIcon {
  position: absolute;
  top: 15px;
  right: 12px;
}

.CustomSelect__options--sizeY-compact .CustomSelect__option {
  height: 40px;
  padding: 10px 11px;
  font-size: 15px;
}
