.CustomSelect__container {
  width: 100%;
  position: relative;
}

.CustomSelect__options {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-color: var(--white);
  box-sizing: border-box;
  border: solid 1px var(--field_border);
  border-top: 0;
  border-radius: 0 0 8px 8px;
  max-height: 132px;
  z-index: 2;
}

.CustomSelect__hover {
  background-color: var(--button_muted_background);
}

.CustomSelect__option {
  width: 100%;
  height: 36px;
  display: block;
  position: relative;
  box-sizing: border-box;
  font-size: 15px;
  padding: 8px 28px 8px 10px;
  white-space: nowrap;
}

.CustomSelect__selectedIcon {
  position: absolute;
  top: 10px;
  right: 12px;
}
