.FormLayoutGroup {
  width: 100%;
  display: flex;
  }

.FormLayoutGroup--vertical {
  flex-direction: column;
  }

.FormLayoutGroup--vertical > * ~ * {
  margin-top: 12px;
  }

.FormLayoutGroup--horizontal {
  flex-direction: row;
}

.FormLayoutGroup--horizontal > * ~ * {
  margin-left: 20px;
  }

.FormLayoutGroup__cell {
  flex: 1 0;
}
