.FormLayoutGroup--horizontal {
  display: flex;
  padding: 12px var(--formitem_padding);
}

.FormLayoutGroup__removable {
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

/**
 * iOS
 */
.FormLayoutGroup--ios {
  --formitem_padding: 12px;
}

.FormLayoutGroup--removable {
  padding-left: 0;
  padding-right: 0;
}
