

.Entity {
  position: relative;
  text-align: left;
  display: flex;
  }

  .Entity__aside {
    margin-right: 12px;
    flex-shrink: 0;
    }

  .Entity__main {
    height: 100%;
    }

    .Entity__title {
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      color: var(--gray_800);
      }

    .Entity__description {
      font-size: 14px;
      line-height: 16px;
      color: var(--gray_400);
      }

    .Entity__content {
      margin-top: 6px;
      }
