.root {
  padding-block: var(--vkui--spacing_size_xs);
  padding-inline: var(--vkui--spacing_size_xl);
  border-block: 1px solid var(--vkui_docs--color_stroke_separator_secondary);
}

.platformPicker {
  flex: 0 0 128px;
}

.rotateIcon {
  transform: rotate(90deg);
}
