.Editor {
  position: relative;
  border-radius: 8px;
}

.Editor__inner {
  max-height: 400px;
  overflow: auto;
  border-radius: inherit;
}

.Editor__copy {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;
  color: var(--vkui--color_icon_secondary);
}
