.Editor {
  background: var(--button_secondary_background);
  border-radius: 8px;
  position: relative;
}

.Editor__inner {
  font-family: 'JetBrainsMono', monospace;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px;
  max-height: 400px;
  overflow: auto;
  border-radius: inherit;
}

.Editor textarea {
  border-radius: inherit;
  border: none !important;
}

.Editor textarea:focus {
  outline: 0;
}

.Editor__copy {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;
  color: var(--icon_secondary);
}
