.PopoutRoot {
  width: 100%;
  height: 100%;
  position: relative;
}

.PopoutRoot .PopoutRoot__popout {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.PopoutRoot--sizeX-regular .PopoutRoot__popout {
  position: absolute;
}

@media (--sizeX-regular) {
  .PopoutRoot--sizeX-none .PopoutRoot__popout {
    position: absolute;
  }
}

.PopoutRoot__modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.PopoutRoot__modal:empty {
  display: none;
}
