.PopoutRoot {
  width: 100%;
  height: 100%;
  position: relative;
}

.PopoutRoot .PopoutRoot__popout {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.PopoutRoot--viewWidth-smallTabletPlus .PopoutRoot__popout {
  position: absolute;
}

@media (--view-width-smallTablet) {
  .PopoutRoot--viewWidth-none .PopoutRoot__popout {
    position: absolute;
  }
}

.PopoutRoot__modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.PopoutRoot__modal:empty {
  display: none;
}
