.host {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  min-block-size: var(--vkui--size_button_small_height--compact);
  margin: 0;
  padding: 0;
  user-select: none;
  border-radius: var(--vkui--size_border_radius--regular);
  max-inline-size: 100%;
  min-inline-size: var(--vkui--size_button_minimum_width--regular);
}

.hostRounded {
  border-radius: var(--vkui--size_border_radius_rounded--regular);
}

.hostLoading {
  cursor: progress;
}

.hostSingleIcon {
  inline-size: var(--vkui--size_button_small_height--compact);
  min-inline-size: initial;
}

.hostSizeYRegular.hostSingleIcon {
  inline-size: var(--vkui--size_button_small_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSingleIcon {
    inline-size: var(--vkui--size_button_small_height--regular);
  }
}

.hostStretched {
  display: block;
  inline-size: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.in {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  min-block-size: inherit;
  text-align: center;
  box-sizing: border-box;
}

.hostAlignLeft .in {
  justify-content: flex-start;
  text-align: start;
}

.hostAlignCenter {
}

.hostAlignRight .in {
  justify-content: flex-end;
  text-align: end;
}

.host[disabled] {
  opacity: var(--vkui--opacity_disable);
}

.hostModePrimary[disabled]:not(.hostAppearanceOverlay):not(.hostAppearanceNegative):not(
    .hostAppearancePositive
  ),
.hostModeSecondary[disabled]:not(.hostAppearanceOverlay),
.hostModeTertiary[disabled]:not(.hostAppearanceOverlay),
.hostModeOutline[disabled]:not(.hostAppearanceOverlay) {
  opacity: 0.64;
}

.hostWithIcon {
}

.content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: var(--vkui--font_weight_accent2);
}

.hostSizeS .content:first-child {
  padding-inline-start: var(--vkui--size_button_base_small_padding_horizontal--regular);
}

.hostSizeS .content:last-child,
.hostSizeS .after {
  padding-inline-end: var(--vkui--size_button_base_small_padding_horizontal--regular);
}

.hostSizeM .content:first-child {
  padding-inline-start: var(--vkui--size_button_base_medium_padding_horizontal--regular);
}

.hostSizeM .content:last-child,
.hostSizeM .after {
  padding-inline-end: var(--vkui--size_button_base_medium_padding_horizontal--regular);
}

.hostSizeL .content:first-child {
  padding-inline-start: var(--vkui--size_button_base_large_padding_horizontal--regular);
}

.hostSizeL .content:last-child,
.hostSizeL .after {
  padding-inline-end: var(--vkui--size_button_base_large_padding_horizontal--regular);
}

.hostSizeS .before {
  padding-inline-start: var(--vkui--size_button_base_small_padding_horizontal_icon--regular);
}

.hostSizeM .before {
  padding-inline-start: var(--vkui--size_button_base_medium_padding_horizontal_icon--regular);
}

.hostSizeL .before {
  padding-inline-start: var(--vkui--size_button_base_large_padding_horizontal_icon--regular);
}

.hostModeTertiary.hostSizeS .content:first-child {
  padding-inline-start: var(--vkui--size_button_tertiary_small_padding_horizontal--regular);
}

.hostModeTertiary.hostSizeS .content:last-child,
.hostModeTertiary.hostSizeS .after {
  padding-inline-end: var(--vkui--size_button_tertiary_small_padding_horizontal--regular);
}

.hostModeTertiary.hostSizeM .content:first-child {
  padding-inline-start: var(--vkui--size_button_tertiary_medium_padding_horizontal--regular);
}

.hostModeTertiary.hostSizeM .content:last-child,
.hostModeTertiary.hostSizeM .after {
  padding-inline-end: var(--vkui--size_button_tertiary_medium_padding_horizontal--regular);
}

.hostModeTertiary.hostSizeL .content:first-child {
  padding-inline-start: var(--vkui--size_button_tertiary_large_padding_horizontal--regular);
}

.hostModeTertiary.hostSizeL .content:last-child,
.hostModeTertiary.hostSizeL .after {
  padding-inline-end: var(--vkui--size_button_tertiary_large_padding_horizontal--regular);
}

.hostModeTertiary.hostSizeS .before {
  padding-inline-start: var(--vkui--size_button_tertiary_small_padding_horizontal_icon--regular);
}

.hostModeTertiary.hostSizeM .before {
  padding-inline-start: var(--vkui--size_button_tertiary_medium_padding_horizontal_icon--regular);
}

.hostModeTertiary.hostSizeL .before {
  padding-inline-start: var(--vkui--size_button_tertiary_large_padding_horizontal_icon--regular);
}

.hostSingleIcon .after,
.hostSingleIcon .before,
.hostModeTertiary.hostSingleIcon .after,
.hostModeTertiary.hostSingleIcon .before {
  margin-inline: auto;
  padding-inline: 0;
}

.hostModeLink {
  background: none;
  min-inline-size: initial;
}

.hostModeLink .after,
.hostModeLink .before,
.hostModeLink .content:first-child,
.hostModeLink .content:last-child,
.hostStretched .after:only-child,
.hostStretched .before:only-child {
  padding-inline: 0;
}

.spinner {
  color: currentColor;
  position: absolute;
  inset: 0;
}

.spinner + .in {
  visibility: hidden;
}

/* Button's backgrounds */
/* Mode  = Primary */
.hostModePrimary.hostAppearanceAccent {
  background-color: var(--vkui--color_background_accent_themed);
}

.hostModePrimary.hostAppearanceAccent.hostHover {
  background-color: var(--vkui--color_background_accent_themed--hover);
}

.hostModePrimary.hostAppearanceAccent.hostActive {
  background-color: var(--vkui--color_background_accent_themed--active);
}

.hostModePrimary.hostAppearancePositive {
  background-color: var(--vkui--color_background_positive);
}

.hostModePrimary.hostAppearancePositive.hostHover {
  background-color: var(--vkui--color_background_positive--hover);
}

.hostModePrimary.hostAppearancePositive.hostActive {
  background-color: var(--vkui--color_background_positive--active);
}

.hostModePrimary.hostAppearanceNegative {
  background-color: var(--vkui--color_background_negative);
}

.hostModePrimary.hostAppearanceNegative.hostHover {
  background-color: var(--vkui--color_background_negative--hover);
}

.hostModePrimary.hostAppearanceNegative.hostActive {
  background-color: var(--vkui--color_background_negative--active);
}

.hostModePrimary.hostAppearanceNeutral {
  background-color: var(--vkui--color_background_secondary);
}

.hostModePrimary.hostAppearanceNeutral.hostHover {
  background-color: var(--vkui--color_background_secondary--hover);
}

.hostModePrimary.hostAppearanceNeutral.hostActive {
  background-color: var(--vkui--color_background_secondary--active);
}

.hostModePrimary.hostAppearanceAccentInvariable {
  background-color: var(--vkui--color_background_accent);
}

.hostModePrimary.hostAppearanceAccentInvariable.hostHover {
  background-color: var(--vkui--color_background_accent--hover);
}

.hostModePrimary.hostAppearanceAccentInvariable.hostActive {
  background-color: var(--vkui--color_background_accent--active);
}

/* Mode = Secondary */
.hostModeSecondary {
  background-color: var(--vkui--color_background_secondary_alpha);
}

.hostModeSecondary.hostHover {
  background-color: var(--vkui--color_background_secondary_alpha--hover);
}

.hostModeSecondary.hostActive {
  background-color: var(--vkui--color_background_secondary_alpha--active);
}

/* Mode = Tertiary */
.hostModeTertiary,
.hostModeOutline {
  background-color: var(--vkui--color_transparent);
}

.hostModeTertiary.hostHover,
.hostModeOutline.hostHover {
  background-color: var(--vkui--color_transparent--hover);
}

.hostModeTertiary.hostActive,
.hostModeOutline.hostActive {
  background-color: var(--vkui--color_transparent--active);
}

/*
  Buttons text colors
*/
.host.hostAppearanceAccent {
  color: var(--vkui--color_text_accent_themed);
}

.host.hostAppearancePositive {
  color: var(--vkui--color_text_positive);
}

.host.hostAppearanceNegative {
  color: var(--vkui--color_text_negative);
}

.host.hostAppearanceNeutral {
  color: var(--vkui--color_text_primary);
}

.host.hostAppearanceAccentInvariable {
  color: var(--vkui--color_text_accent);
}

.hostModePrimary.hostAppearanceAccent {
  color: var(--vkui--color_text_contrast_themed);
}

.hostModePrimary.hostAppearanceNegative,
.hostModePrimary.hostAppearancePositive,
.hostModePrimary.hostAppearanceAccentInvariable {
  color: var(--vkui--color_text_contrast);
}

.hostModeLink.hostHover {
  opacity: 0.8;
}

.hostModeLink.hostActive {
  opacity: 0.7;
}

/*
  Outline buttons borders
*/
.hostModeOutline.hostAppearanceAccent,
.hostModeOutline.hostAppearanceAccent.hostHover,
.hostModeOutline.hostAppearanceAccent.hostActive {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_accent_themed);
}

.hostModeOutline.hostAppearancePositive {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_positive);
}

.hostModeOutline.hostAppearancePositive.hostHover {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_positive--hover);
}

.hostModeOutline.hostAppearancePositive.hostActive {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_positive--active);
}

.hostModeOutline.hostAppearanceNegative {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_negative);
}

.hostModeOutline.hostAppearanceNegative.hostHover {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_negative--hover);
}

.hostModeOutline.hostAppearanceNegative.hostActive {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_negative--active);
}

.hostModeOutline.hostAppearanceNeutral {
  box-shadow: inset 0 0 0 1px var(--vkui--color_field_border_alpha);
}

.hostModeOutline.hostAppearanceNeutral.hostHover {
  background-color: var(--vkui--color_background_secondary--hover);
  box-shadow: unset;
}

.hostModeOutline.hostAppearanceNeutral.hostActive {
  background-color: var(--vkui--color_background_secondary--active);
  box-shadow: unset;
}

.hostModeOutline.hostAppearanceAccentInvariable {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_accent);
}

/*
  Overlay colors section, separately
  Background colors
*/
.hostModePrimary.hostAppearanceOverlay {
  background-color: var(--vkui--color_background_contrast);
}

.hostModePrimary.hostAppearanceOverlay.hostHover {
  background-color: var(--vkui--color_background_contrast--hover);
}

.hostModePrimary.hostAppearanceOverlay.hostActive {
  background-color: var(--vkui--color_background_contrast--active);
}

.hostModeSecondary.hostAppearanceOverlay {
  background-color: var(--vkui--color_background_contrast_secondary_alpha);
}

.hostModeSecondary.hostAppearanceOverlay.hostHover,
.hostModeTertiary.hostAppearanceOverlay.hostHover,
.hostModeOutline.hostAppearanceOverlay.hostHover {
  background-color: var(--vkui--color_background_contrast_secondary_alpha--hover);
}

.hostModeSecondary.hostAppearanceOverlay.hostActive,
.hostModeTertiary.hostAppearanceOverlay.hostActive,
.hostModeOutline.hostAppearanceOverlay.hostActive {
  background-color: var(--vkui--color_background_contrast_secondary_alpha--active);
}

/* Text colors */
.hostModePrimary.hostAppearanceOverlay {
  color: var(--vkui--color_text_primary_invariably);
}

.hostModePrimary.hostAppearanceOverlay.hostHover {
  color: var(--vkui--color_text_primary_invariably--hover);
}

.hostModePrimary.hostAppearanceOverlay.hostActive {
  color: var(--vkui--color_text_primary_invariably--active);
}

.hostModeSecondary.hostAppearanceOverlay,
.hostModeTertiary.hostAppearanceOverlay,
.hostModeOutline.hostAppearanceOverlay,
.hostModeLink.hostAppearanceOverlay {
  color: var(--vkui--color_text_contrast);
}

/* Borders */
.hostModeOutline.hostAppearanceOverlay {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_contrast);
}

.hostModeOutline.hostAppearanceOverlay.hostHover {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_contrast--hover);
}

.hostModeOutline.hostAppearanceOverlay.hostActive {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_contrast--active);
}

.before:not(:last-child) + .content {
  margin-inline-start: 6px;
}

.after:not(:first-child) {
  margin-inline-start: 6px;
}

.hostSizeL .before:not(:last-child) + .content {
  margin-inline-start: 8px;
}

.hostSizeL .after:not(:first-child) {
  margin-inline-start: 8px;
}

/* Fonts sizes  */
.hostSizeS .content {
  font-family: var(--vkui--font_subhead--font_family--regular);
  font-size: var(--vkui--font_subhead--font_size--compact);
  line-height: var(--vkui--font_subhead--line_height--compact);
}

.hostSizeYRegular.hostSizeS .content {
  font-family: var(--vkui--font_subhead--font_family--regular);
  font-size: var(--vkui--font_subhead--font_size--regular);
  line-height: var(--vkui--font_subhead--line_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSizeS .content {
    font-family: var(--vkui--font_subhead--font_family--regular);
    font-size: var(--vkui--font_subhead--font_size--regular);
    line-height: var(--vkui--font_subhead--line_height--regular);
  }
}

.hostSizeM .content {
  font-family: var(--vkui--font_headline2--font_family--regular);
  font-size: var(--vkui--font_headline2--font_size--compact);
  line-height: var(--vkui--font_headline2--line_height--compact);
}

.hostSizeYRegular.hostSizeM .content {
  font-family: var(--vkui--font_headline2--font_family--regular);
  font-size: var(--vkui--font_headline2--font_size--regular);
  line-height: var(--vkui--font_headline2--line_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSizeM .content {
    font-family: var(--vkui--font_headline2--font_family--regular);
    font-size: var(--vkui--font_headline2--font_size--regular);
    line-height: var(--vkui--font_headline2--line_height--regular);
  }
}

.hostSizeL .content {
  font-family: var(--vkui--font_headline1--font_family--regular);
  font-size: var(--vkui--font_headline1--font_size--compact);
  line-height: var(--vkui--font_headline1--line_height--compact);
}

.hostSizeYRegular.hostSizeL .content {
  font-family: var(--vkui--font_headline1--font_family--regular);
  font-size: var(--vkui--font_headline1--font_size--regular);
  line-height: var(--vkui--font_headline1--line_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSizeL .content {
    font-family: var(--vkui--font_headline1--font_family--regular);
    font-size: var(--vkui--font_headline1--font_size--regular);
    line-height: var(--vkui--font_headline1--line_height--regular);
  }
}

.hostSizeYRegular.hostSizeL.hostIos .content {
  font-family: var(--vkui--font_title3--font_family--regular);
  font-size: var(--vkui--font_title3--font_size--regular);
  line-height: var(--vkui--font_title3--line_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSizeL.hostIos .content {
    font-family: var(--vkui--font_title3--font_family--regular);
    font-size: var(--vkui--font_title3--font_size--regular);
    line-height: var(--vkui--font_title3--line_height--regular);
  }
}

/* Sizes */
.hostSizeM {
  min-block-size: var(--vkui--size_button_medium_height--compact);
}

.hostSizeYRegular.hostSizeM {
  min-block-size: var(--vkui--size_button_medium_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSizeM {
    min-block-size: var(--vkui--size_button_medium_height--regular);
  }
}

.hostSizeM.hostSingleIcon {
  inline-size: var(--vkui--size_button_medium_height--compact);
}

.hostSizeYRegular.hostSizeM.hostSingleIcon {
  inline-size: var(--vkui--size_button_medium_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSizeM.hostSingleIcon {
    inline-size: var(--vkui--size_button_medium_height--regular);
  }
}

.hostSizeL {
  min-block-size: var(--vkui--size_button_large_height--compact);
}

.hostSizeYRegular.hostSizeL {
  min-block-size: var(--vkui--size_button_large_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSizeL {
    min-block-size: var(--vkui--size_button_large_height--regular);
  }
}

.hostSizeL.hostSingleIcon {
  inline-size: var(--vkui--size_button_large_height--compact);
}

.hostSizeYRegular.hostSizeL.hostSingleIcon {
  inline-size: var(--vkui--size_button_large_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone.hostSizeL.hostSingleIcon {
    inline-size: var(--vkui--size_button_large_height--regular);
  }
}

.hostSizeYRegular {
  min-block-size: var(--vkui--size_button_small_height--regular);
}

@media (--sizeY-regular) {
  .hostSizeYNone {
    min-block-size: var(--vkui--size_button_small_height--regular);
  }
}

/**
 * Impact:
 * Counter
 */
.hostModePrimary.hostAppearanceAccent {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_content);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_accent_themed);
}

.hostModeSecondary.hostAppearanceAccent,
.hostModeTertiary.hostAppearanceAccent,
.hostModeOutline.hostAppearanceAccent {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_accent_themed);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_contrast_themed);
}

.hostModePrimary.hostAppearancePositive {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_contrast);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_positive);
}

.hostModeSecondary.hostAppearancePositive,
.hostModeTertiary.hostAppearancePositive,
.hostModeOutline.hostAppearancePositive {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_positive);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_contrast);
}

.hostModePrimary.hostAppearanceNegative {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_contrast);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_negative);
}

.hostModeSecondary.hostAppearanceNegative,
.hostModeTertiary.hostAppearanceNegative,
.hostModeOutline.hostAppearanceNegative {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_negative);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_contrast);
}

.hostModePrimary.hostAppearanceNeutral {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_contrast);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_primary_invariably);
}

.hostModeSecondary.hostAppearanceNeutral,
.hostModeTertiary.hostAppearanceNeutral,
.hostModeOutline.hostAppearanceNeutral {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_accent);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_contrast);
}

.hostModePrimary.hostAppearanceOverlay {
  --vkui_internal--counter_inherit_background: var(--vkui--color_icon_primary_invariably);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_contrast);
}

.hostModeSecondary.hostAppearanceOverlay,
.hostModeTertiary.hostAppearanceOverlay,
.hostModeOutline.hostAppearanceOverlay {
  --vkui_internal--counter_inherit_background: var(--vkui--color_background_contrast);
  --vkui_internal--counter_inherit_color: var(--vkui--color_text_primary_invariably);
}
