version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
  - package-ecosystem: "npm"
    directory: "/eslint-plugin-vkui"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"
