version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

      # PACKAGES

  - package-ecosystem: 'npm'
    directory: '/packages/token-translator'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  - package-ecosystem: 'npm'
    directory: '/tools/eslint-plugin-vkui'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  - package-ecosystem: 'npm'
    directory: '/tools/babel-plugin-transform-css-modules'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  - package-ecosystem: 'npm'
    directory: '/tools/swc-transform-css-modules'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  # Maintain dependencies for Cargo
  - package-ecosystem: 'cargo'
    directory: '/tools/swc-transform-css-modules'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'indirect'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  - package-ecosystem: 'npm'
    directory: '/tools/storybook-addon-cartesian'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  # LOCAL ACTIONS

  - package-ecosystem: 'npm'
    directory: '/.github/actions/reporter'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  - package-ecosystem: 'npm'
    directory: '/.github/actions/patch'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  - package-ecosystem: 'npm'
    directory: '/.github/actions/push-screenshots'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  - package-ecosystem: 'npm'
    directory: '/.github/actions/stable-branch'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  - package-ecosystem: 'github-actions'
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: '/'
    schedule:
      interval: 'daily'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'
