version: 2
updates:
  # NPM

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    allow:
      - dependency-type: 'direct'
    groups:
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'
      storybook:
        patterns:
          - 'storybook'
          - '@storybook/*'
      postcss:
        patterns:
          - 'postcss*'
          - '@csstools/postcss-*'
        exclude-patterns:
          # см. группу webpack
          - 'postcss-loader'
      webpack:
        patterns:
          - 'webpack*'
          - '@types/webpack'
          - 'postcss-loader'
          - 'style-loader'
          - 'swc-loader'
          - 'css-loader'
      playwright:
        patterns:
          - '@playwright/*'
      eslint:
        patterns:
          - 'eslint*'
          - '@typescript-eslint/*'
          - '@vkontakte/eslint-plugin'
      stylelint:
        patterns:
          - 'stylelint*'
          - '@vkontakte/stylelint-config'
      jest:
        patterns:
          - 'jest*'
          - '@types/jest*'
          - '@swc/jest'
      testing-library:
        patterns:
          - '@testing-library/*'
      size-limit:
        patterns:
          - 'size-limit'
          - '@size-limit/*'
      prettier:
        patterns:
          - 'prettier'
          - '@vkontakte/prettier-config'
    versioning-strategy: increase
    open-pull-requests-limit: 20
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  # Cargo

  - package-ecosystem: 'cargo'
    directory: '/tools/swc-transform-css-modules'
    schedule:
      interval: 'weekly'
      # Чтобы отдать приоритет .github/workflows/schedule_cargo_update.yml, переносим расписание
      # Dependabot на +10 часов. Так частично избежим захламления PR'ами.
      #
      # Дублируем конфигурацию в Dependabot ради security updates, который может прилететь как
      # только так сразу.
      time: '15:00'
      day: 'monday'
    allow:
      - dependency-type: 'indirect'
    open-pull-requests-limit: 20
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'

  # GitHub Actions

  - package-ecosystem: 'github-actions'
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: '/'
    schedule:
      interval: 'daily'
    reviewers:
      - 'VKCOM/vk-sec'
      - 'VKCOM/vkui-core'
