version: 2
updates:
  # NPM

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    allow:
      - dependency-type: 'direct'
    ignore:
      # Для разработки v6 фиксируем 18 версию.
      - dependency-name: 'react*'
        update-types: ['version-update:semver-major']
      # Для разработки v6 фиксируем 18 версию.
      - dependency-name: '@types/react*'
        update-types: ['version-update:semver-major']
      # Игнорируем https://www.npmjs.com/package/eslint-plugin-react-compiler/v/0.0.0 (это самый первый релиз),
      # и экспериментальные версии, так как они слишком нестабильные.
      - dependency-name: 'eslint-plugin-react-compiler'
        versions: ['<0.0.1']
    groups:
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'
      storybook:
        patterns:
          - 'storybook'
          - '@storybook/*'
      postcss:
        patterns:
          - 'postcss*'
          - '@csstools/postcss-*'
        exclude-patterns:
          # см. группу webpack
          - 'postcss-loader'
      webpack:
        patterns:
          - 'webpack*'
          - '@types/webpack'
          - 'postcss-loader'
          - 'style-loader'
          - 'swc-loader'
          - 'css-loader'
      playwright:
        patterns:
          - 'playwright'
          - '@playwright/*'
      eslint:
        patterns:
          - 'eslint*'
          - '@typescript-eslint/*'
          - '@vkontakte/eslint-plugin'
      stylelint:
        patterns:
          - 'stylelint*'
          - '@vkontakte/stylelint-config'
      vitest:
        patterns:
          - 'vitest*'
          - '@vitest*'
      testing-library:
        patterns:
          - '@testing-library/*'
      size-limit:
        patterns:
          - 'size-limit'
          - '@size-limit/*'
      prettier:
        patterns:
          - 'prettier'
          - '@vkontakte/prettier-config'
      swc:
        patterns:
          - '@swc/*'
          - 'swc-plugin-*'
      rspack:
        patterns:
          - '@rspack/*'
      next:
        patterns:
          - 'next'
          - '@next/*'
    versioning-strategy: increase
    open-pull-requests-limit: 20

  # GitHub Actions

  - package-ecosystem: 'github-actions'
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: '/'
    schedule:
      interval: 'daily'
