version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
    reviewers:
      - "VKCOM/vk-sec"
      - "VKCOM/vkui-core"

  - package-ecosystem: "npm"
    directory: "/.github/danger"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
    reviewers:
      - "VKCOM/vk-sec"
      - "VKCOM/vkui-core"

  - package-ecosystem: "npm"
    directory: "/packages/token-translator"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
    reviewers:
      - "VKCOM/vk-sec"
      - "VKCOM/vkui-core"

  - package-ecosystem: "npm"
    directory: "/packages/eslint-plugin-vkui"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
    reviewers:
      - "VKCOM/vk-sec"
      - "VKCOM/vkui-core"

  - package-ecosystem: "npm"
    directory: "/packages/babel-plugin-transform-css-modules"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
    reviewers:
      - "VKCOM/vk-sec"
      - "VKCOM/vkui-core"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - "VKCOM/vk-sec"
      - "VKCOM/vkui-core"
