.MiniInfoCell {
  display: flex;
  padding: 6px var(--vkui--size_base_padding_horizontal--regular);
  color: var(--text_subhead, var(--vkui--color_text_subhead));
}

.MiniInfoCell--accent {
  color: var(--text_primary, var(--vkui--color_text_primary));
}

.MiniInfoCell__before {
  margin-right: 12px;
  color: var(--icon_outline_secondary, var(--vkui--color_icon_secondary));
}

.MiniInfoCell__middle {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.MiniInfoCell__content {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MiniInfoCell--short .MiniInfoCell__content {
  white-space: initial;
  display: -webkit-box;
  max-height: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.MiniInfoCell--full .MiniInfoCell__content {
  overflow: inherit;
  white-space: initial;
}

.MiniInfoCell--nowrap .MiniInfoCell__content {
  flex: 0 1 auto;
}

.MiniInfoCell__after {
  margin-left: 12px;
  margin-top: -2px;
  margin-bottom: -2px;
}

/**
* TODO Когда избавимся от appearance токенов - объединить классы
 */

.MiniInfoCell--add {
  color: var(--accent, var(--vkui--color_text_link));
}

.MiniInfoCell--add .MiniInfoCell__before {
  color: var(--accent, var(--vkui--color_icon_accent));
}

.MiniInfoCell--more {
  color: var(--link_alternate, var(--vkui--color_text_link));
}

.MiniInfoCell--more .MiniInfoCell__before {
  color: var(--link_alternate, var(--vkui--color_icon_accent));
}

.MiniInfoCell--more {
  padding-top: 10px;
  padding-bottom: 10px;
}

.MiniInfoCell__middle .Icon {
  margin-left: 4px;
  color: var(--accent, var(--vkui--color_text_accent));
}
