/* stylelint-disable declaration-property-value-disallowed-list */
:root {
  --vkui_docs--navbar-height: 52px;
  --vkui_docs--sidebar-width: 260px;
  --vkui_docs--max-width: 1440px;
  --vkui_docs_blog--max-width: 1024px;
}

@media (--viewWidth-desktopPlus) {
  :root {
    --vkui_docs--navbar-height: 60px;
  }
}
