/* stylelint-disable declaration-property-value-disallowed-list */
:root {
  --vkui_docs--navbar-height: 60px;
  --vkui_docs--max-width: 1440px;
}

@media (--view-desktop) {
  :root {
    --vkui_docs--navbar-height: 84px;
  }
}
