.ContentCard--body {
  padding: 12px 16px;
}

.ContentCard--caption:not(:last-child),
.ContentCard--title:not(:last-child),
.ContentCard--text:not(:last-child) {
  margin-bottom: 4px;
}

.ContentCard--caption {
  color: var(--text_secondary);
}

/*
* iOS
* */
.ContentCard--ios .ContentCard--tappable {
  border-radius: 10px;
}

.ContentCard--ios .ContentCard--img {
  border-radius: 10px 10px 0 0;
}

/*
* Android and vkcom
* */
.ContentCard--android .ContentCard--tappable,
.ContentCard--vkcom .ContentCard--tappable {
  border-radius: 8px;
}

.ContentCard--android .ContentCard--img,
.ContentCard--vkcom .ContentCard--img {
  border-radius: 8px 8px 0 0;
}
