.host {
  position: relative;
  line-height: 20px;
  font-size: 16px;
}

.alignCenter .el {
  text-align: center;
}

.alignRight .el {
  text-align: end;
}

.el {
  position: relative;
  z-index: var(--vkui_internal--z_index_form_field_element);
  padding-block: 0;
  padding-inline: 12px;
  inline-size: 100%;
  block-size: var(--vkui--size_field_height--regular);
  box-sizing: border-box;
  border-radius: inherit;
  color: var(--vkui--color_text_primary);
}

.sizeYCompact .el {
  block-size: var(--vkui--size_field_height--compact);
}

@media (--sizeY-compact) {
  .sizeYNone .el {
    block-size: var(--vkui--size_field_height--compact);
  }
}

.hasBefore .el {
  padding-inline-start: 0;
}

.hasAfter .el {
  padding-inline-end: 0;
}

.el::placeholder {
  color: var(--vkui--color_text_secondary);
  /* Для Firefox */
  opacity: 1;
}

.el:disabled::placeholder {
  color: var(--vkui--color_text_secondary);
}
