.host {
  position: absolute;
}

.in {
  content: '';
  display: block;

  /* см. Примечание 1 в FloatingArrow.tsx. */
  transform: translateY(1px);
}

.hostPlacementRight {
  transform: rotate(90deg) translate(50%, -50%);
  transform-origin: right;
}

.hostPlacementBottom {
  transform: rotate(180deg);
}

.hostPlacementLeft {
  transform: rotate(-90deg) translate(-50%, -50%);
  transform-origin: left;
}
