.host {
  position: absolute;
}

.in {
  display: block;
  content: '';

  /* см. "Примечание" в DefaultIcon.tsx. */
  transform: translateY(1px);
}

.placementRight {
  transform: rotate(90deg) translate(50%, -50%);
  transform-origin: right;
}

.placementBottom {
  transform: rotate(180deg);
}

.placementLeft {
  transform: rotate(-90deg) translate(-50%, -50%);
  transform-origin: left;
}
