.Badge {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  border-radius: 50%;
}

.Badge--new {
  background-color: #5c9ce6; /* blue_200 */
}

.Badge--prominent {
  background-color: var(--counter_prominent_background);
}
