.Badge {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  width: 16px;
  height: 16px;
  color: #5c9ce6; /* blue_200 */
}

.Badge__new {
  display: inline;
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 3px;
  background-color: #5c9ce6; /* blue_200 */
  border-radius: 50%;
}

.Badge--sizeY-compact .Badge__new {
  margin-top: 3px;
}
