{
  "extends": ["semistandard", "plugin:react/recommended"],
  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "no-unused-vars": [2, { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }],
    "quote-props": [2, "consistent-as-needed"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-extend-native": "off",
    "no-return-assign": "off",
    "react/no-deprecated": "off"
  },

  "plugins": [
    "react"
  ]
}
