# Project
src/styles/customMedias.generated.css
PUBLISHING.md

# Builds
dist/
!e2e/dist/index.html
styleguide-build/

# Dependency directory
node_modules/

# Logs
npm-debug.log
stats.json
test-results.json
lint-results.json
e2e-results.json

# Caches
.cache

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Snapshot directory of Cypress Image Diff
__diff_output__

# CI
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
