**/src/**/__image_snapshots__/*.png filter=lfs diff=lfs merge=lfs -text

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/releases/** binary
/.yarn/plugins/** binary

packages/vkui/src/**/*.css.d.ts linguist-generated=true
