styleguide
node_modules
coverage
docs
styleguide-build

npm-debug.log
stats.json
dist/*.hot-update.*
dist/*.tmp
dist/**/*.tmp

.idea
.DS_Store
.env
.gitignore
package-lock.json
.github
postcss.config.js

__image_snapshots__
*.e2e.*
*.test.*
e2e
