{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": null,
    "number-leading-zero": "never",
    "block-no-empty": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "comment-empty-line-before": null,
    "comment-whitespace-inside": null
  }
}
