.TabbarItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vkui_internal--tabbar_height);
  padding: 0;
  color: var(--vkui--color_text_tertiary);
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
}

.Tabbar .TabbarItem {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;
  max-width: 100%;
}

.TabbarItem--selected {
  color: var(--vkui--color_text_accent_themed);
}

.TabbarItem__tappable {
  position: absolute;
}

.TabbarItem__in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 2px;
  overflow: hidden;
  pointer-events: none;
}

.Tabbar--layout-vertical .TabbarItem--text .TabbarItem__in {
  position: relative;
  top: 2px;
}

.Tabbar--layout-vertical .TabbarItem__in {
  flex-direction: column;
}

.Tabbar--layout-horizontal .TabbarItem__in {
  flex-direction: row;
}

.TabbarItem__icon {
  position: relative;
  color: var(--vkui--color_icon_secondary);
}

.TabbarItem--selected .TabbarItem__icon {
  color: var(--vkui--color_icon_accent_themed);
}

.TabbarItem__label .Counter {
  position: absolute;
  top: -2px;
  right: -9px;
}

.TabbarItem__label .Badge {
  position: absolute;
  top: -2px;
  right: -4px;
}

.TabbarItem__text {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Tabbar--layout-vertical .TabbarItem__text {
  margin-top: 2px;
  font-size: 10px;
  line-height: 12px;
}

.Tabbar--layout-horizontal .TabbarItem__text {
  margin-left: 8px;
}

/**
 * Android
 */

.TabbarItem--android .TabbarItem__tappable {
  width: calc(100% + 16px);
  padding-bottom: calc(100% + 16px);
  border-radius: 50%;
}

.TabbarItem--android:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.TabbarItem--android:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/**
 * iOS
 */

.TabbarItem--ios .TabbarItem__tappable {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.TabbarItem--ios .TabbarItem__in {
  transition: transform 0.07s var(--vkui--animation_easing_platform);
}

.TabbarItem--ios .TabbarItem__tappable--active + .TabbarItem__in {
  transform: scale(0.96);
}
