.TabbarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vkui--color_tabbar_text_inactive);
  text-decoration: none;
  border: 0;
  padding: 0;
  background: transparent;
  height: var(--vkui_internal--tabbar_height);
  position: relative;
  cursor: pointer;
}

:global(.vkuiInternalTabbar) .TabbarItem {
  flex-shrink: 0;
  max-width: 100%;
  min-width: 0;
  flex-grow: 1;
  flex-basis: 0;
}

.TabbarItem--selected {
  color: var(--vkui--color_text_accent_themed);
}

.TabbarItem__in {
  display: flex;
  padding: 4px 2px 2px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

:global(.vkuiInternalTabbar--layout-vertical) .TabbarItem__in {
  flex-direction: column;
}

:global(.vkuiInternalTabbar--layout-horizontal) .TabbarItem__in {
  flex-direction: row;
}

.TabbarItem__icon {
  color: var(--vkui--color_icon_secondary);
  position: relative;
}

.TabbarItem--selected .TabbarItem__icon {
  color: var(--vkui--color_icon_accent_themed);
}

.TabbarItem__text {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global(.vkuiInternalTabbar--layout-vertical) .TabbarItem__text {
  --vkui--font_footnote--font_size--regular: 10px;
  --vkui--font_footnote--line_height--regular: 12px;

  margin-top: 2px;
}

:global(.vkuiInternalTabbar--layout-horizontal) .TabbarItem__text {
  margin-left: 8px;
}

/**
 * Android
 */
.TabbarItem--android:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.TabbarItem--android:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/**
 * iOS
 */
@media (prefers-reduced-motion: no-preference) {
  .TabbarItem--ios .TabbarItem__in {
    transition: transform 0.07s var(--vkui--animation_easing_platform);
  }

  .TabbarItem--ios:active .TabbarItem__in {
    transform: scale(0.96);
  }
}
