/* stylelint-disable declaration-property-value-disallowed-list -- определение токенов */
.vkui--vkBase--dark {
  --docs--color_background_content: #161617;
  --docs--color_background_icon: #1f1f1f;
  --docs--color_stroke_separator_secondary: #272728;
}
