/* stylelint-disable declaration-property-value-disallowed-list -- определение токенов */
:root {
  --docs--color_background_content: #fafafa;
  --docs--color_background_icon: #fff;
  --docs--color_stroke_separator_secondary: #ebebeb;
}
