.host {
  inset-inline-end: 0;
  inset-block-end: 0;
}

.hostShifted {
  inset-inline-end: -2px;
  inset-block-end: -2px;
}

.hostPresetOnline,
.hostPresetOnlineMobile {
  inset-inline-end: 14%;
  inset-block-end: 14%;
  color: var(--vkui--color_accent_green);
  transform: translate(50%, 50%);
}

/**
 * Перебиваем свойства `ImageBaseBadge` для этих кейсов
 */
.hostPresetOnline {
  padding: 0;
}

.hostPresetOnlineMobile {
  border-radius: 3px;
}
