[class*=rsg--para] > [class*=rsg--code],
[class*=rsg--li] > [class*=rsg--code] {
  padding: 0 .3em;
  margin: 0;
  font-size: 85%;
  background-color: #f5f5f5;
  border-radius: 3px;
  border: 1px #e8e8e8 solid;
  }
