.SubnavigationButton {
  display: inline-flex;
  min-width: initial;
  box-sizing: border-box;
}

.Button.SubnavigationButton--mode-primary {
  color: var(--text_primary, var(--vkui--color_text_primary));
  background-color: var(
    --modal_card_background,
    var(--vkui--color_background_modal)
  );
  box-shadow: var(--vkui--elevation3);
}

.Button.SubnavigationButton--mode-tertiary {
  color: var(--vkui--color_text_primary);
  background: none;
}

.Button.SubnavigationButton--mode-outline {
  box-shadow: inset 0 0 0 1px var(--vkui--color_field_border_alpha);
  color: var(--vkui--color_text_primary);
  background: none;
}

.SubnavigationButton .Button__before {
  color: var(--accent, var(--vkui--color_background_accent));
}

.SubnavigationButton__label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.SubnavigationButton .Button__after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubnavigationButton__expandableIcon {
  margin-top: 1px; /* Смещает иконку относительно текста */
  color: var(--icon_secondary, var(--vkui--color_icon_tertiary));
}

.SubnavigationButton__expandableIcon:not(:first-child) {
  margin-left: 8px;
}

/**
 * selected
 */

.Button.SubnavigationButton--selected {
  background-color: var(
    --button_primary_background,
    var(--vkui--color_background_accent)
  );
  color: var(--button_primary_foreground, var(--vkui--color_text_contrast));
  box-shadow: none;
  border: none;
}

.Button.SubnavigationButton--selected.SubnavigationButton--mode-tertiary {
  background-color: var(--vkui--color_transparent--active);
  color: var(--vkui--color_text_primary);
}

.SubnavigationButton--selected .Button__before,
.SubnavigationButton--selected .SubnavigationButton__expandableIcon {
  color: inherit;
}

.SubnavigationButton--selected.SubnavigationButton--mode-tertiary
  .Button__before,
.SubnavigationButton--selected.SubnavigationButton--mode-tertiary
  .SubnavigationButton__expandableIcon {
  color: var(--vkui--color_icon_accent);
}
