.host:not([hidden]) {
  position: fixed;
  inset: 0;
  z-index: var(--vkui--z_index_modal);
  overflow: hidden;
  isolation: isolate;
}

.disableModalOverlay {
  pointer-events: none;
}

/* Desktop */
.hostDesktop:not([hidden]) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--vkui--spacing_size_2xl);
}
