.root {
  position: relative;
  padding-block: 32px;
  padding-inline: 32px;
  margin-block-start: var(--vkui--spacing_size_3xl);
  margin-block-end: 32px;
  overflow: hidden;
  color: var(--vkui--color_text_primary);
  background-color: var(--vkui--color_background_tertiary);
  background-image: url('./background.png');
  border: 1px solid var(--vkui--color_separator_primary);
  border-radius: 16px;
  isolation: isolate;
}

.root::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  content: '';
  background-image:
    linear-gradient(to right, var(--vkui--color_separator_primary) 1px, transparent 1px),
    linear-gradient(to bottom, var(--vkui--color_separator_primary) 1px, transparent 1px);
  background-size: 32px 32px;
  mask-image: linear-gradient(to right, rgb(0, 0, 0, 0) 30%, #000 100%);
}

/* No classes for markdown content */
/* stylelint-disable-next-line selector-max-type */
.root > h1 {
  color: var(--vkui--color_text_contrast);
}

/* stylelint-disable-next-line selector-max-type */
.root p {
  font-size: 16px;
  line-height: 24px;
}

.tags {
  /* margin-block-start: 44px; */
  margin-block-start: 20px;
}
