.host {
  background: linear-gradient(to bottom, var(--vkui--gradient));
}

.host.hostToBottom {
  background: linear-gradient(to top, var(--vkui--gradient));
}

.hostModeTint {
  background: linear-gradient(to bottom, var(--vkui--gradient_tint));
}

.hostModeTint.hostToBottom {
  background: linear-gradient(to top, var(--vkui--gradient_tint));
}
