.Button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  min-height: 30px;
  margin: 0;
  padding: 1px 16px;
  user-select: none;
  border-radius: 8px;
  max-width: 100%;
}

.Button--stretched {
  display: block;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.Button__in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Button--aln-left .Button__in {
  justify-content: flex-start;
  text-align: left;
}

.Button--aln-right .Button__in {
  justify-content: flex-end;
  text-align: right;
}

.Button[disabled] {
  opacity: .4;
}

.Button--lvl-primary[disabled],
.Button--lvl-secondary[disabled],
.Button--lvl-tertiary[disabled],
.Button--lvl-outline[disabled] {
  opacity: .64;
}

.Button__before:not(:last-child) {
  margin-left: -4px;
  margin-right: 6px;
}

.Button__after:not(:first-child) {
  margin-left: 6px;
}

.Button__content {
  padding-top: 4px;
  padding-bottom: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Button__content--caps {
  padding-top: 7px;
  padding-bottom: 7px;
}

.Button__spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.Button__spinner + .Button__in {
  visibility: hidden;
}

.Button--lvl-primary {
  background-color: var(--button_primary_background);
  color: var(--button_primary_foreground);
}

.Button--lvl-secondary {
  background-color: var(--button_secondary_background);
  color: var(--button_secondary_foreground);
}

.Button--lvl-tertiary {
  background-color: var(--button_tertiary_background);
  color: var(--button_tertiary_foreground);
}

.Button--lvl-commerce {
  background-color: var(--button_commerce_background);
  color: var(--button_commerce_foreground);
}

.Button--lvl-outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--button_outline_border);
  color: var(--button_outline_foreground);
}

.Button--lvl-destructive {
  background-color: var(--destructive);
  color: var(--white);
}

.Button--lvl-overlay_primary {
  background-color: var(--media_overlay_button_background);
  color: var(--media_overlay_button_foreground);
}

.Button--lvl-overlay_secondary {
  background-color: rgba(255, 255, 255, .2);
  color: var(--white);
}

.Button--lvl-overlay_outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--white);
  color: var(--white);
}

.Button--sz-m {
  min-height: 36px;
}

.Button--sz-m .Button__content {
  padding-top: 5px;
  padding-bottom: 7px;
}

.Button--sz-l {
  min-height: 44px;
  padding-left: 20px;
  padding-right: 20px;
}

.Button--sz-l .Button__before:not(:last-child) {
  margin-right: 8px;
}

.Button--sz-l .Button__after:not(:first-child) {
  margin-left: 8px;
}

.Button--sz-l .Button__content {
  padding-top: 10px;
  padding-bottom: 12px;
}

.Button--sz-l .Button__in {
  justify-content: center;
}

/**
 * iOS
 */
.Button--ios {
  border-radius: 10px;
}

.Button--ios.Button--sz-l .Button__content {
  padding-top: 9px;
  padding-bottom: 11px;
}

/**
 * VKCOM
 */
.Button--vkcom {
  border-radius: 4px;
}

.Button--vkcom.Button--lvl-secondary .Icon,
.Button--vkcom.Button--lvl-tertiary .Icon,
.Button--vkcom.Button--lvl-outline .Icon {
  opacity: .72;
}

/**
 * sizeY COMPACT
 */
.Button--sizeY-compact {
  min-height: 26px;
}

.Button--sizeY-compact .Button__content {
  padding-top: 3px;
  padding-bottom: 5px;
}

.Button--sizeY-compact .Button__content--caps {
  padding-top: 5px;
  padding-bottom: 5px;
}

.Button--sizeY-compact.Button--sz-m {
  min-height: 32px;
}

.Button--sizeY-compact.Button--sz-m .Button__content {
  padding-top: 4px;
  padding-bottom: 6px;
}

.Button--sizeY-compact.Button--sz-l {
  min-height: 36px;
}

.Button--sizeY-compact.Button--sz-l .Button__content {
  padding-top: 6px;
  padding-bottom: 8px;
}

/**
 * CMP:
 * Banner
 */
.Banner__actions > .Button {
  margin-top: 12px;
  margin-right: 16px;
  margin-bottom: 6px;
}

.Banner__actions > .Button--lvl-tertiary {
  margin: 4px 16px 2px -16px;
}

.Banner__actions > .Button--lvl-tertiary:first-child {
  margin-top: 4px;
}

.Banner__actions > .Button:not(.Button--lvl-tertiary) + .Button:not(.Button--lvl-tertiary) {
  margin-top: 0;
}

.Banner__actions > .Button:not(.Button--lvl-tertiary) + .Button--lvl-tertiary {
  margin-top: 2px;
  margin-left: -16px;
}

.Banner__actions > .Button--lvl-tertiary + .Button--lvl-tertiary {
  margin-top: 2px;
}

/**
 * CMP:
 * ModalCardBase
 */
.ModalCardBase__actions .Button {
  flex: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.ModalCardBase__actions--v .Button {
  margin-left: 0;
  margin-right: 0;
}

.ModalCardBase__actions--v .Button + .Button {
  margin-top: 12px;
}

/**
 * CMP:
 * RichCell
 */
.RichCell__actions .Button + .Button {
  margin-left: 8px;
}
