@import '../../styles/constants.css';

.Button {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  outline: none;
  border: 0;
  background: #fff;
  text-align: left;
  user-select: none;
  min-height: 22px;
  }
.Button--ios::before,
.Button--ios::after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: 1px;
  content: '';
  }
.Button--ios::before {
  bottom: 100%;
  background: #dfdfdf;
  }
.Button--ios::after {
  bottom: 0;
  background: #dfdfdf;
  }

.Button--ios {
  font: 17px/22px -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
  padding: 11px 15px 12px;
  }

.Button--android {
  font: 16px/22px Roboto, Droid, 'Open Sans', sans-serif;
  padding: 16px 16px 18px;
  }

/**
 * Disabled
 */
.Button[disabled] {
  color: #8e8e93;
  background: #fff;
  }

/**
 * Alignment
 */
.Button--left {
  text-align: left;
  }
.Button--center {
  text-align: center;
  }
.Button--right {
  text-align: right;
  }

/**
 * Appearance
 */
.Button--ios.Button--primary {
  color: #007aff;
  font-weight: 500;
  }
.Button--ios.Button--default {}
.Button--ios.Button--danger {
  color: #ff3f34;
  }
.Button--android.Button--primary {
  color: #518bcc;
  }
.Button--android.Button--danger {
  color: #e64646;
  }

/**
 * Wide vk button
 */
.Button--vk-wide-primary,
.Button--vk-wide {
  box-shadow: 0 0 2px rgba(0, 0, 0, .03), 0 2px 2px rgba(0, 0, 0, .06);
  background: #fff;
  font-weight: 500;
  }
.Button--vk-wide-primary {
  background: #5181b8;
  color: #fff;
  }
.Button--vk-wide-primary:active:not([disabled]),
.Button--vk-wide-primary.Tappable--active:not([disabled]) {
  background: #4872a3;
  }
.Button--vk-wide-primary::before,
.Button--vk-wide-primary::after,
.Button--vk-wide-primary.Tappable--active::before,
.Button--vk-wide-primary.Tappable--active::after {
  content: none;
  }
.Button--vk-wide-primary[disabled] {
  color: #fff;
  background: rgba(81, 129, 184, .4);
  }

/**
 * Rich vk button
 */
.Button--vk-rich {
  display: inline-block;
  background: var(--vk-color);
  }

/**
 * VK buttons
 */
.Button--vk-primary,
.Button--vk-secondary,
.Button--vk-tertiary {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  min-height: 16px;
  padding: 7px 12px;
  font-weight: 500;
  border-radius: 4px;
  }
.Button--ios.Button--vk-rich::before,
.Button--ios.Button--vk-rich::after,
.Button--ios.Button--vk-rich.Tappable--active::before,
.Button--ios.Button--vk-rich.Tappable--active::after,
.Button--ios.Button--vk-primary::before,
.Button--ios.Button--vk-primary::after,
.Button--ios.Button--vk-primary.Tappable--active::before,
.Button--ios.Button--vk-primary.Tappable--active::after,
.Button--ios.Button--vk-secondary::before,
.Button--ios.Button--vk-secondary::after,
.Button--ios.Button--vk-secondary.Tappable--active::before,
.Button--ios.Button--vk-secondary.Tappable--active::after,
.Button--ios.Button--vk-tertiary::before,
.Button--ios.Button--vk-tertiary::after,
.Button--ios.Button--vk-tertiary.Tappable--active::before,
.Button--ios.Button--vk-tertiary.Tappable--active::after {
  content: none;
  }

/**
 * VK rich button
 */
.Button--vk-rich {
  font-size: 17px;
  padding: 0 14px;
  font-weight: 500;
  line-height: 44px;
  height: 44px;
  text-align: center;
  background: #5181B8;
  border-radius: 10px;
  color: #fff;
  }
.Button--vk-rich:active:not([disabled]),
.Button--vk-rich.Tappable--active:not([disabled]) {
  background: #4872a3;
  }
.Button--vk-rich[disabled] {
  color: #fff;
  background: rgba(81, 129, 184, .4);
  }

.Button--android.Button--vk-rich {
  border-radius: 4px;
  }

/**
 * VK primary button
 */
.Button--vk-primary {
  color: #fff;
  background: #5181b8;
  }
.Button--vk-primary:active:not([disabled]),
.Button--vk-primary.Tappable--active:not([disabled]) {
  background: #4872a3;
  }
.Button--vk-primary[disabled] {
  color: #fff;
  background: rgba(81, 129, 184, .4);
  }

/**
 * VK secondary button
 */
.Button--vk-secondary {
  color: #4774a8;
  background: rgba(0, 57, 115, .1);
  }
.Button--vk-secondary:active:not([disabled]),
.Button--vk-secondary.Tappable--active:not([disabled]) {
  background: rgba(0, 57, 115, .2);
  }
.Button--vk-secondary[disabled] {
  color: rgba(71, 116, 168, .4);
  background: rgba(0, 57, 115, .05);
  }

/**
 * VK tertiary button
 */
.Button--vk-tertiary {
  background: transparent;
  color: #4774a8;
  }
.Button--vk-tertiary:active:not([disabled]),
.Button--vk-tertiary.Tappable--active:not([disabled]) {
  background: rgba(0, 57, 115, .1);
  }
.Button--vk-tertiary[disabled] {
  color: rgba(71, 116, 168, .4);
  background: transparent;
  }

/**
 * Wide
 */
.Button--wide {
  width: 100%;
  }

/**
 * Single separator between two buttons
 */
.Button + .Button::before {
  content: none;
  }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .Button--ios::before,
  .Button--ios::after {
    background: linear-gradient(to top, #C8C7CC 50%, transparent 50%);
    }
  }
