.Button.Button--tokenized {
  min-height: var(--vkui--size_button_small_height--regular);
  border-radius: var(--vkui--size_border_radius--regular);
}

.Button[disabled].Button--tokenized {
  opacity: var(--vkui--opacity_disable);
}

/* Button's backgrounds */
/* Mode  = Primary */
.Button--lvl-primary.Button--clr-accent.Button--tokenized {
  background-color: var(--vkui--color_background_accent);
}

.Button--lvl-primary.Button--clr-accent.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_background_accent--hover);
}

.Button--lvl-primary.Button--clr-accent.Button--active.Button--tokenized {
  background-color: var(--vkui--color_background_accent--active);
}

.Button--lvl-primary.Button--clr-positive.Button--tokenized {
  background-color: var(--vkui--color_background_positive);
}

.Button--lvl-primary.Button--clr-positive.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_background_positive--hover);
}

.Button--lvl-primary.Button--clr-positive.Button--active.Button--tokenized {
  background-color: var(--vkui--color_background_positive--active);
}

.Button--lvl-primary.Button--clr-negative.Button--tokenized {
  background-color: var(--vkui--color_background_negative);
}

.Button--lvl-primary.Button--clr-negative.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_background_negative--hover);
}

.Button--lvl-primary.Button--clr-negative.Button--active.Button--tokenized {
  background-color: var(--vkui--color_background_negative--active);
}

.Button--lvl-primary.Button--clr-neutral.Button--tokenized {
  background-color: var(--vkui--color_background_secondary);
}

.Button--lvl-primary.Button--clr-neutral.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_background_secondary--hover);
}

.Button--lvl-primary.Button--clr-neutral.Button--active.Button--tokenized {
  background-color: var(--vkui--color_background_secondary--active);
}

/* Mode = Secondary */
.Button--lvl-secondary.Button--tokenized {
  background-color: var(--vkui--color_background_secondary);
}

.Button--lvl-secondary.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_background_secondary--hover);
}

.Button--lvl-secondary.Button--active.Button--tokenized {
  background-color: var(--vkui--color_background_secondary--active);
}

/* Mode = Tertiary */
.Button--lvl-tertiary.Button--tokenized,
.Button--lvl-outline.Button--tokenized {
  background-color: var(--vkui--color_transparent, transparent);
}

.Button--lvl-tertiary.Button--hover.Button--tokenized,
.Button--lvl-outline.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_transparent--hover);
}

.Button--lvl-tertiary.Button--active.Button--tokenized,
.Button--lvl-outline.Button--active.Button--tokenized {
  background-color: var(--vkui--color_transparent--active);
}

/*
  Buttons text colors
*/
.Button--lvl-primary.Button--clr-accent.Button--tokenized {
  color: var(--vkui--color_text_contrast);
}

.Button--lvl-primary.Button--clr-negative.Button--tokenized {
  color: var(--vkui--color_text_contrast);
}

.Button--lvl-primary.Button--clr-positive.Button--tokenized {
  color: var(--vkui--color_text_contrast);
}

.Button--lvl-primary.Button--clr-accent.Button--hover.Button--tokenized,
.Button--lvl-primary.Button--clr-positive.Button--hover.Button--tokenized,
.Button--lvl-primary.Button--clr-negative.Button--hover.Button--tokenized {
  color: var(--vkui--color_text_contrast--hover);
}

.Button--lvl-primary.Button--clr-accent.Button--active.Button--tokenized,
.Button--lvl-primary.Button--clr-positive.Button--active.Button--tokenized,
.Button--lvl-primary.Button--clr-negative.Button--active.Button--tokenized {
  color: var(--vkui--color_text_contrast--active);
}

/*
  Text colors of background-colored buttons
*/
.Button--lvl-tertiary.Button--clr-accent.Button--tokenized {
  color: var(--vkui--color_text_accent);
}

.Button--lvl-secondary.Button--clr-accent.Button--tokenized {
  color: var(--vkui--color_text_accent);
}

.Button--lvl-outline.Button--clr-accent.Button--tokenized {
  color: var(--vkui--color_text_accent);
}

.Button--lvl-tertiary.Button--clr-accent.Button--hover.Button--tokenized,
.Button--lvl-secondary.Button--clr-accent.Button--hover.Button--tokenized,
.Button--lvl-outline.Button--clr-accent.Button--hover.Button--tokenized {
  color: var(--vkui--color_text_accent--hover);
}

.Button--lvl-tertiary.Button--clr-accent.Button--active.Button--tokenized,
.Button--lvl-secondary.Button--clr-accent.Button--active.Button--tokenized,
.Button--lvl-outline.Button--clr-accent.Button--active.Button--tokenized {
  color: var(--vkui--color_text_accent--active);
}

.Button--lvl-tertiary.Button--clr-positive.Button--tokenized,
.Button--lvl-secondary.Button--clr-positive.Button--tokenized,
.Button--lvl-outline.Button--clr-positive.Button--tokenized {
  color: var(--vkui--color_text_positive);
}

.Button--lvl-tertiary.Button--clr-positive.Button--hover.Button--tokenized,
.Button--lvl-secondary.Button--clr-positive.Button--hover.Button--tokenized,
.Button--lvl-outline.Button--clr-positive.Button--hover.Button--tokenized {
  color: var(--vkui--color_text_positive--hover);
}

.Button--lvl-tertiary.Button--clr-positive.Button--active.Button--tokenized,
.Button--lvl-secondary.Button--clr-positive.Button--active.Button--tokenized,
.Button--lvl-outline.Button--clr-positive.Button--active.Button--tokenized {
  color: var(--vkui--color_text_positive--active);
}

.Button--lvl-tertiary.Button--clr-negative.Button--tokenized,
.Button--lvl-secondary.Button--clr-negative.Button--tokenized,
.Button--lvl-outline.Button--clr-negative.Button--tokenized {
  color: var(--vkui--color_text_negative);
}

.Button--lvl-tertiary.Button--clr-negative.Button--hover.Button--tokenized,
.Button--lvl-secondary.Button--clr-negative.Button--hover.Button--tokenized,
.Button--lvl-outline.Button--clr-negative.Button--hover.Button--tokenized {
  color: var(--vkui--color_text_negative--hover);
}

.Button--lvl-tertiary.Button--clr-negative.Button--active.Button--tokenized,
.Button--lvl-secondary.Button--clr-negative.Button--active.Button--tokenized,
.Button--lvl-outline.Button--clr-negative.Button--active.Button--tokenized {
  color: var(--vkui--color_text_negative--active);
}

.Button--lvl-primary.Button--clr-neutral.Button--tokenized,
.Button--lvl-secondary.Button--clr-neutral.Button--tokenized,
.Button--lvl-tertiary.Button--clr-neutral.Button--tokenized,
.Button--lvl-outline.Button--clr-neutral.Button--tokenized {
  color: var(--vkui--color_text_primary);
}

.Button--lvl-primary.Button--clr-neutral.Button--hover.Button--tokenized,
.Button--lvl-secondary.Button--clr-neutral.Button--hover.Button--tokenized,
.Button--lvl-tertiary.Button--clr-neutral.Button--hover.Button--tokenized,
.Button--lvl-outline.Button--clr-neutral.Button--hover.Button--tokenized {
  color: var(--vkui--color_text_primary--hover);
}

.Button--lvl-primary.Button--clr-neutral.Button--active.Button--tokenized,
.Button--lvl-secondary.Button--clr-neutral.Button--active.Button--tokenized,
.Button--lvl-tertiary.Button--clr-neutral.Button--active.Button--tokenized,
.Button--lvl-outline.Button--clr-neutral.Button--active.Button--tokenized {
  color: var(--vkui--color_text_primary--active);
}

/*
  Outline buttons borders
*/
.Button--lvl-outline.Button--clr-accent.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_accent);
}

.Button--lvl-outline.Button--clr-accent.Button--hover.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_accent--hover);
}

.Button--lvl-outline.Button--clr-accent.Button--active.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_accent--active);
}

.Button--lvl-outline.Button--clr-positive.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_positive);
}

.Button--lvl-outline.Button--clr-positive.Button--hover.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_positive--hover);
}

.Button--lvl-outline.Button--clr-positive.Button--active.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_positive--active);
}

.Button--lvl-outline.Button--clr-negative.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_negative);
}

.Button--lvl-outline.Button--clr-negative.Button--hover.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_negative--hover);
}

.Button--lvl-outline.Button--clr-negative.Button--active.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_negative--active);
}

.Button--lvl-outline.Button--clr-neutral.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_field_border_alpha);
}

.Button--lvl-outline.Button--clr-neutral.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_background_secondary--hover);
  box-shadow: unset;
}

.Button--lvl-outline.Button--clr-neutral.Button--active.Button--tokenized {
  background-color: var(--vkui--color_background_secondary--active);
  box-shadow: unset;
}

/*
  Overlay colors section, separately
  Background colors
*/
.Button--lvl-primary.Button--clr-overlay.Button--tokenized {
  background-color: var(--vkui--color_background_contrast);
}

.Button--lvl-primary.Button--clr-overlay.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_background_contrast--hover);
}

.Button--lvl-primary.Button--clr-overlay.Button--active.Button--tokenized {
  background-color: var(--vkui--color_background_contrast--active);
}

.Button--lvl-secondary.Button--clr-overlay.Button--tokenized {
  background-color: var(--vkui--color_background_contrast_secondary_alpha);
}

.Button--lvl-secondary.Button--clr-overlay.Button--hover.Button--tokenized,
.Button--lvl-tertiary.Button--clr-overlay.Button--hover.Button--tokenized,
.Button--lvl-outline.Button--clr-overlay.Button--hover.Button--tokenized {
  background-color: var(--vkui--color_background_contrast_secondary_alpha--hover);
}

.Button--lvl-secondary.Button--clr-overlay.Button--active.Button--tokenized,
.Button--lvl-tertiary.Button--clr-overlay.Button--active.Button--tokenized,
.Button--lvl-outline.Button--clr-overlay.Button--active.Button--tokenized {
  background-color: var(--vkui--color_background_contrast_secondary_alpha--active);
}

/* Text colors */
.Button--lvl-primary.Button--clr-overlay.Button--tokenized {
  color: var(--vkui--color_text_primary_invariably);
}

.Button--lvl-primary.Button--clr-overlay.Button--hover.Button--tokenized {
  color: var(--vkui--color_text_primary_invariably--hover);
}

.Button--lvl-primary.Button--clr-overlay.Button--active.Button--tokenized {
  color: var(--vkui--color_text_primary_invariably--active);
}

.Button--lvl-secondary.Button--clr-overlay.Button--tokenized,
.Button--lvl-tertiary.Button--clr-overlay.Button--tokenized,
.Button--lvl-outline.Button--clr-overlay.Button--tokenized {
  color: var(--vkui--color_text_contrast);
}

.Button--lvl-secondary.Button--clr-overlay.Button--hover.Button--tokenized,
.Button--lvl-tertiary.Button--clr-overlay.Button--hover.Button--tokenized,
.Button--lvl-outline.Button--clr-overlay.Button--hover.Button--tokenized {
  color: var(--vkui--color_text_contrast--hover);
}

.Button--lvl-secondary.Button--clr-overlay.Button--active.Button--tokenized,
.Button--lvl-tertiary.Button--clr-overlay.Button--active.Button--tokenized,
.Button--lvl-outline.Button--clr-overlay.Button--active.Button--tokenized {
  color: var(--vkui--color_text_contrast--active);
}

/* Borders */
.Button--lvl-outline.Button--clr-overlay.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_contrast);
}

.Button--lvl-outline.Button--clr-overlay.Button--hover.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_contrast--hover);
}

.Button--lvl-outline.Button--clr-overlay.Button--active.Button--tokenized {
  box-shadow: inset 0 0 0 1px var(--vkui--color_stroke_contrast--active);
}

/**
 * sizeY COMPACT
 */
.Button--sz-m.Button--tokenized {
  min-height: var(--vkui--size_button_medium_height--compact);
}

.Button--sz-l.Button--tokenized {
  min-height: var(--vkui--size_button_large_height--compact);
}

/**
 * sizeY REGULAR
 */
.Button--sizeY-regular.Button--tokenized {
  min-height: var(--vkui--size_button_small_height--regular);
}

.Button--sizeY-regular.Button--sz-m.Button--tokenized {
  min-height: var(--vkui--size_button_medium_height--regular);
}

.Button--sizeY-regular.Button--sz-l.Button--tokenized {
  min-height: var(--vkui--size_button_large_height--regular);
}
