.Button {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  min-height: 30px;
  margin: 0;
  padding: 1px 16px;
  user-select: none;
  border-radius: 8px;
}

.Button__in {
  display: flex;
  align-items: center;
}

.Button__before:not(:last-child) {
  margin-left: -4px;
  margin-right: 6px;
}

.Button__after:not(:first-child) {
  margin-left: 6px;
}

.Button__content {
  padding-top: 4px;
  padding-bottom: 6px;
}

.Button__content--caps {
  padding-top: 7px;
  padding-bottom: 7px;
}

.Button[disabled] {
  opacity: .4;
}

.Button--aln-left .Button__in {
  justify-content: flex-start;
  text-align: left;
}

.Button--aln-center .Button__in {
  justify-content: center;
  text-align: center;
}

.Button--aln-right .Button__in {
  justify-content: flex-end;
  text-align: right;
}

.Button--str {
  display: block;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.Button--str .Button__in {
  justify-content: center;
}

.Button--lvl-primary {
  background-color: var(--button_primary_background);
  color: var(--button_primary_foreground);
}

.Button--lvl-secondary {
  background-color: var(--button_secondary_background);
  color: var(--button_secondary_foreground);
}

.Button--lvl-tertiary {
  background-color: var(--button_tertiary_background);
  color: var(--button_tertiary_foreground);
}

.Button--lvl-commerce {
  background-color: var(--button_commerce_background);
  color: var(--button_commerce_foreground);
}

.Button--lvl-outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--button_outline_border);
  color: var(--button_outline_foreground);
}

.Button--lvl-destructive {
  background-color: var(--destructive);
  color: #fff;
}

.Button--lvl-overlay_primary {
  background-color: var(--media_overlay_button_background);
  color: var(--media_overlay_button_foreground);
}

.Button--lvl-overlay_secondary {
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
}

.Button--lvl-overlay_outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
}

.Button--sz-m {
  min-height: 36px;
}

.Button--sz-m .Button__content {
  padding-top: 6px;
  padding-bottom: 6px;
}

.Button--sz-l {
  min-height: 44px;
  padding-left: 20px;
  padding-right: 20px;
}

.Button--sz-l .Button__before:not(:last-child) {
  margin-right: 8px;
}

.Button--sz-l .Button__after:not(:first-child) {
  margin-left: 8px;
}

.Button--sz-l .Button__content {
  padding-top: 10px;
  padding-bottom: 12px;
}

.Button--sz-l .Button__in {
  justify-content: center;
}

/*
  iOS
 */
.Button--ios {
  border-radius: 10px;
}

.Button--ios.Button--sz-l .Button__content {
  padding-top: 9px;
  padding-bottom: 11px;
}

/*
  VKCOM
*/
.Button--vkcom {
  border-radius: 4px;
}

.Button--vkcom.Button--lvl-secondary .Icon,
.Button--vkcom.Button--lvl-tertiary .Icon,
.Button--vkcom.Button--lvl-outline .Icon {
  opacity: .72;
}

/*
  sizeY = Compact
*/
.Button--sizeY-compact {
  min-height: 26px;
}

.Button--sizeY-compact .Button__content {
  padding-top: 3px;
  padding-bottom: 5px;
}

.Button--sizeY-compact .Button__content--caps {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* medium size */
.Button--sizeY-compact.Button--sz-m {
  min-height: 32px;
}

.Button--sizeY-compact.Button--sz-m .Button__content {
  padding-top: 4px;
  padding-bottom: 6px;
}

/* large size */
.Button--sizeY-compact.Button--sz-l {
  min-height: 36px;
}

.Button--sizeY-compact.Button--sz-l .Button__content {
  padding-top: 6px;
  padding-bottom: 8px;
}
