@import '../../styles/constants.css';

/**
 * Base
 */
.Text {}

  .Text p {
    margin: 0 0 1em;
    }

  .Text b,
  .Text strong {
    font-weight: bold;
    }

  .Text i,
  .Text em {
    font-style: italic;
    }

  .Text a {
    text-decoration: none;
    color: var(--header-blue);
    }

/**
 * Modifiers
 */
.Text--left {
  text-align: left;
  }

.Text--center {
  text-align: center;
  }

.Text--right {
  text-align: right;
  }

/**
 * iOS version
 */
.Text--ios {
  font-size: 15px;
  line-height: 20px;
  color: #2e3033;
  }

  .Text--ios p {
    margin: 0 0 20px;
    }

/**
 * Android version
 */
.Text--android {
  color: #2e3033;
  font-size: 16px;
  line-height: 24px;
  }

  .Text--android p {
    margin: 0 0 24px;
    }
