.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--vkui--spacing_size_3xl);
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (--viewWidth-smallTabletPlus) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (--viewWidth-tabletPlus) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
