.host {
  position: relative;
}

/* Создаём "Safe Zone" */
.host::before {
  position: absolute;
  inset: calc(-1 * var(--vkui_internal--popover_safe_zone_padding));
  content: '';
}

.in {
  position: relative;
}

.inWithStyling {
  background-color: var(--vkui--color_background_contrast_themed);
  border-radius: var(--vkui--size_border_radius--regular);
  box-shadow: var(--vkui--elevation3);
}

.arrow {
  color: var(--vkui--color_background_contrast_themed);
}

.hidden {
  display: none;
}
