.SegmentedControlOption {
  box-sizing: border-box;
  height: 100%;
  color: var(--vkui--color_text_primary);
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: 0;
  border-radius: inherit;
  transition: color 100ms ease-out;
  appearance: none;
}

.SegmentedControlOption :global(.vkuiIcon) {
  color: var(--vkui--color_icon_primary);
}

.SegmentedControlOption:not(.SegmentedControlOption--checked):hover {
  opacity: 0.5;
}

.SegmentedControlOption__content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: var(--vkui--font_text--font_size--regular);
  font-weight: var(--vkui--font_weight_accent2);
  line-height: var(--vkui--font_text--line_height--regular);
  border-radius: inherit;
}

.SegmentedControlOption__content--sizeY-compact.SegmentedControlOption__content {
  font-size: var(--vkui--font_footnote--font_size--regular);
  font-weight: var(--vkui--font_weight_accent3);
  line-height: var(--vkui--font_footnote--line_height--regular);
}

@media (--sizeY-compact) {
  .SegmentedControlOption__content--sizeY-none.SegmentedControlOption__content {
    font-size: var(--vkui--font_footnote--font_size--regular);
    font-weight: var(--vkui--font_weight_accent3);
    line-height: var(--vkui--font_footnote--line_height--regular);
  }
}

.SegmentedControlOption--focus-visible {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
