.SimpleCheckbox {
  display: flex;
  margin: -10px;
  padding: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.SimpleCheckbox--mouse {
  margin: 0;
  padding: 0;
  width: unset;
  height: unset;
}

.SimpleCheckbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.SimpleCheckbox__icon {
  flex-shrink: 0;
  margin: auto;
  box-sizing: border-box;
  display: flex;
}

.SimpleCheckbox__icon--on {
  color: var(--accent, var(--vkui--color_icon_accent));
  display: none;
}

.SimpleCheckbox--hover--mouse .SimpleCheckbox__icon--on {
  /*color: var(--accent, var(--vkui--color_icon_accent--hover));*/
  color: var(--vkui--color_icon_accent--hover);
}

.SimpleCheckbox--active--mouse .SimpleCheckbox__icon--on {
  /*color: var(--accent, var(--vkui--color_icon_accent--active));*/
  color: var(--vkui--color_icon_accent--active);
}

.SimpleCheckbox__icon--indeterminate {
  color: var(--accent, var(--vkui--color_icon_accent));
  display: none;
}

.SimpleCheckbox--hover--mouse .SimpleCheckbox__icon--indeterminate {
  /*color: var(--accent, var(--vkui--color_icon_accent--hover));*/
  color: var(--vkui--color_icon_accent--hover);
}

.SimpleCheckbox--active--mouse .SimpleCheckbox__icon--indeterminate {
  /*color: var(--accent, var(--vkui--color_icon_accent--active));*/
  color: var(--vkui--color_icon_accent--active);
}

.SimpleCheckbox__icon--off {
  color: var(--icon_tertiary, var(--vkui--color_icon_tertiary));
}

.SimpleCheckbox--hover--mouse .SimpleCheckbox__icon--off {
  /*color: var(--accent, var(--vkui--color_icon_tertiary--hover));*/
  color: var(--vkui--color_icon_tertiary--hover);
}

.SimpleCheckbox--active--mouse .SimpleCheckbox__icon--off {
  /*color: var(--accent, var(--vkui--color_icon_tertiary--active));*/
  color: var(--vkui--color_icon_tertiary--active);
}

.SimpleCheckbox__input:checked ~ .SimpleCheckbox__icon--on {
  display: flex;
}

.SimpleCheckbox__input:indeterminate ~ .SimpleCheckbox__icon--indeterminate,
.SimpleCheckbox__input:checked ~ .SimpleCheckbox__icon--off {
  display: none;
}

.SimpleCheckbox__input:indeterminate ~ .SimpleCheckbox__icon--indeterminate {
  display: flex;
}

.SimpleCheckbox__input:indeterminate ~ .SimpleCheckbox__icon--on,
.SimpleCheckbox__input:indeterminate ~ .SimpleCheckbox__icon--off {
  display: none;
}

.SimpleCheckbox__input[disabled] ~ .SimpleCheckbox__icon {
  opacity: var(--vkui--opacity_disable);
}
