.SimpleCheckbox {
  display: flex;
  margin: -10px; /* чтобы тачзона не влияла на размеры компонента  */
  padding: 10px; /* размер тачзоны */
  border-radius: 50%;
}

.SimpleCheckbox--sizeY-compact {
  margin: -8px; /* чтобы тачзона не влияла на размеры компонента  */
  padding: 8px; /* размер тачзоны */
}

.SimpleCheckbox--mouse {
  margin: 0;
  padding: 0;
  width: unset;
  height: unset;
}

.SimpleCheckbox__input {
  display: none;
}

.SimpleCheckbox__icon {
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
}

/**
 * Иконка отмеченного чекбокса
 */
.SimpleCheckbox__icon--on {
  color: var(--accent, var(--vkui--color_icon_accent));
  display: none;
}

/* todo: выпилить .SimpleCheckbox:not(.SimpleCheckbox--old-tokens) при съезде с appearence */
.SimpleCheckbox:not(.SimpleCheckbox--old-tokens).SimpleCheckbox--hover--mouse
  .SimpleCheckbox__icon--on {
  color: var(--vkui--color_icon_accent--hover);
}

/* todo: выпилить .SimpleCheckbox:not(.SimpleCheckbox--old-tokens) при съезде с appearence */
.SimpleCheckbox:not(.SimpleCheckbox--old-tokens).SimpleCheckbox--active--mouse
  .SimpleCheckbox__icon--on {
  color: var(--vkui--color_icon_accent--active);
}

/**
 * Иконка неопределённого чекбокса
 */
.SimpleCheckbox__icon--indeterminate {
  color: var(--accent, var(--vkui--color_icon_accent));
  display: none;
}

/* todo: выпилить .SimpleCheckbox:not(.SimpleCheckbox--old-tokens) при съезде с appearence */
.SimpleCheckbox:not(.SimpleCheckbox--old-tokens).SimpleCheckbox--hover--mouse
  .SimpleCheckbox__icon--indeterminate {
  color: var(--vkui--color_icon_accent--hover);
}

/* todo: выпилить .SimpleCheckbox:not(.SimpleCheckbox--old-tokens) при съезде с appearence */
.SimpleCheckbox:not(.SimpleCheckbox--old-tokens).SimpleCheckbox--active--mouse
  .SimpleCheckbox__icon--indeterminate {
  color: var(--vkui--color_icon_accent--active);
}

/**
 * Иконка выключенного чекбокса
 */
.SimpleCheckbox__icon--off {
  color: var(--icon_tertiary, var(--vkui--color_icon_tertiary));
}

.SimpleCheckbox:not(.SimpleCheckbox--old-tokens) /* todo: выпилить эту строку при съезде с appearence */
  .SimpleCheckbox--hover--mouse
  .SimpleCheckbox__icon--off {
  color: var(--vkui--color_icon_tertiary--hover);
}

.SimpleCheckbox:not(.SimpleCheckbox--old-tokens) /* todo: выпилить эту строку при съезде с appearence */
  .SimpleCheckbox--active--mouse
  .SimpleCheckbox__icon--off {
  color: var(--vkui--color_icon_tertiary--active);
}

/**
 * Показ/скрытие иконок включенного, выключенного и необпеределённого чекбокса
 */
.SimpleCheckbox__input:checked ~ .SimpleCheckbox__icon--on {
  display: flex;
}

.SimpleCheckbox__input:indeterminate ~ .SimpleCheckbox__icon--indeterminate,
.SimpleCheckbox__input:checked ~ .SimpleCheckbox__icon--off {
  display: none;
}

.SimpleCheckbox__input:indeterminate ~ .SimpleCheckbox__icon--indeterminate {
  display: flex;
}

.SimpleCheckbox__input:indeterminate ~ .SimpleCheckbox__icon--on,
.SimpleCheckbox__input:indeterminate ~ .SimpleCheckbox__icon--off {
  display: none;
}

/**
 * Disabled state
 */
.SimpleCheckbox__input[disabled] ~ .SimpleCheckbox__icon {
  opacity: var(--vkui--opacity_disable, 0.4);
}

/* todo: при съезде с appearance удалить строки отсюда */
/**
 * Hover & active state (appearance-way)
 * Тут живут стили диваков, которые натягиваются на иконку чекбокса при hover или active
 * Размеры и border-radius диваков подобраны так, чтобы совпадали с размерами и border-radius иконок
 */
.SimpleCheckbox--old-tokens.SimpleCheckbox--active--mouse
  .SimpleCheckbox__activeShadow,
.SimpleCheckbox--old-tokens.SimpleCheckbox--hover--mouse
  .SimpleCheckbox__hoverShadow {
  display: flex;
  margin: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  border-radius: 4px;
  transition: inherit;
}

.SimpleCheckbox--old-tokens.SimpleCheckbox--active--mouse.SimpleCheckbox--sizeY-compact
  .SimpleCheckbox__activeShadow,
.SimpleCheckbox--old-tokens.SimpleCheckbox--hover--mouse.SimpleCheckbox--sizeY-compact
  .SimpleCheckbox__hoverShadow {
  width: 16px;
  height: 16px;
}

.SimpleCheckbox--old-tokens.SimpleCheckbox--hover--mouse
  .SimpleCheckbox__hoverShadow {
  background-color: var(--background_hover);
}

.SimpleCheckbox--old-tokens.SimpleCheckbox--active--mouse
  .SimpleCheckbox__activeShadow {
  background-color: var(--background_highlighted);
}
/* todo: досюда */
