.content {
  inline-size: 100%;
  min-inline-size: 0;
  min-block-size: calc(100vh - var(--vkui_docs--navbar-height));
  padding-block: 36px 60px;
  padding-inline: 40px;
}

@media (--viewWidth-smallTabletMinus) {
  .content {
    padding-block-start: 32px;
    padding-inline: var(--vkui--spacing_size_2xl);
  }
}
