.Footer {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  /* TODO v5: переделать на padding */
  margin: 24px var(--vkui--size_base_padding_horizontal--regular);
  color: var(--vkui--color_text_secondary);
  text-align: center;
}
