.Cell {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

.List--dragging .Cell:not(.Cell--dragging) {
  transition: transform .3s ease;
}

.List--dragging .Cell--dragging,
.Cell--dragging {
  background-color: var(--background_content);
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  z-index: 3;
}

.Cell__dragger {
  position: relative;
}

.Cell .Cell__dragger .Icon {
  color: var(--icon_secondary);
}

.Cell__checkbox {
  display: none;
}

.Cell__marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--icon_secondary);
  color: transparent;
  box-sizing: border-box;
  flex-shrink: 0;
}

.Cell__checkbox:checked ~ .Cell__marker {
  border: none;
  color: var(--white);
  background-color: var(--accent);
  padding: 4px;
}

/* iOS */

.Cell--ios .Cell__in {
  transition: transform .6s var(--ios-easing);
}

.Cell--ios.Cell--removable {
  overflow: hidden;
}

.Cell--ios .Cell__remove {
  position: absolute;
  left: 100%;
  height: 100%;
  top: 0;
  background-color: var(--destructive);
  color: var(--white);
  padding: 0 10px;
  line-height: 45px;
  font-size: 15px;
  transition: transform .6s var(--ios-easing);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.Cell--ios .Cell__remove-in {
  flex-shrink: 0;
}

.Cell--ios .Cell__remove-marker {
  margin-right: 12px;
  width: 21px;
  height: 21px;
  background-color: var(--destructive);
  border-radius: 50%;
  position: relative;
}

.Cell--ios .Cell__remove-marker::before {
  position: absolute;
  left: 6px;
  top: 10px;
  width: 9px;
  height: 1px;
  background-color: var(--white);
  content: '';
  display: block;
}

.Cell--ios .Cell__marker {
  margin-right: 12px;
}

/* Android */

.Cell--android .Cell__dragger,
.Cell--vkcom .Cell__dragger {
  padding-right: 16px;
}

.Cell--android .Cell__remove-marker,
.Cell--vkcom .Cell__remove-marker {
  color: var(--icon_secondary);
}

.Cell--android .Cell__marker,
.Cell--vkcom .Cell__marker {
  margin-right: 16px;
}
