.Cell {
  position: relative;
  margin: 0;
  padding: 0;
}

.List--dragging .Cell:not(.Cell--dragging) {
  transition: transform .3s ease;
}

.List--dragging .Cell--dragging,
.Cell--dragging {
  background-color: var(--background_content);
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  z-index: 3;
}

.Cell__dragger {
  position: relative;
}

.Cell .Cell__dragger .Icon {
  color: var(--icon_secondary);
}

.Cell__checkbox {
  display: none;
}

.Cell__marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--icon_secondary);
  color: transparent;
  box-sizing: border-box;
  flex-shrink: 0;
}

.Cell__checkbox:checked ~ .Cell__marker {
  border: none;
  color: var(--white);
  background-color: var(--accent);
  padding: 4px;
}

/* iOS */

.Cell--ios .Cell__in {
  transition: transform .6s var(--ios-easing);
}

.Cell--ios .Cell__marker {
  margin-right: 12px;
}

.Cell--ios .Removable {
  padding-left: 12px;
}

.Cell--ios.Cell--removable .SimpleCell {
  padding-left: 0;
}

/* Android */

.Cell--android .Cell__dragger,
.Cell--vkcom .Cell__dragger {
  padding-right: 16px;
}

.Cell--android .Cell__marker,
.Cell--vkcom .Cell__marker {
  margin-right: 16px;
}

.Cell--android .Removable,
.Cell--vkcom .Removable {
  padding-right: 6px;
}

.Cell--android.Cell--removable .SimpleCell,
.Cell--vkcom.Cell--removable .SimpleCell {
  padding-right: 0;
}
