.Cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.FormItem .Cell {
  margin: 0 calc(-1 * var(--formitem_padding));
}

.List--dragging .Cell:not(.Cell--dragging) {
  transition: transform .3s ease;
}

.Cell--dragging {
  background-color: var(--background_content);
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  z-index: 3;
}

.Cell__dragger {
  position: relative;
  color: var(--icon_secondary);
}

.Cell__checkbox {
  display: none;
}

.Cell__marker {
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  padding: 0;
  color: var(--icon_tertiary);
}

.Cell__marker-in--checked {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  color: var(--accent);
}

.Cell--selectable.Cell--disabled {
  opacity: .6;
}

.Cell__checkbox:checked ~ .Cell__marker .Cell__marker-in--checked {
  visibility: initial;
}

/**
 * iOS
 */
.Cell--ios .Cell__marker {
  margin-right: 12px;
}

.Cell--ios .Cell__dragger {
  padding-left: 12px;
}

/**
 * ANDROID & VKCOM
 */
.Cell--android .Cell__dragger,
.Cell--vkcom .Cell__dragger {
  padding-right: 16px;
}
