.Cell {
  flex-grow: 1;
  min-width: 0;
}

.List--dragging .Cell:not(.Cell--dragging) {
  transition: transform .3s ease;
}

.Cell--dragging {
  background-color: var(--background_content);
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  z-index: 3;
}

.Cell--selectable.Cell--disabled {
  opacity: .6;
}

.Cell__dragger {
  position: relative;
  margin-right: 16px;
  z-index: 2;
}

/**
 * iOS
 */
.Cell--ios .Cell__dragger {
  margin-right: 0;
  margin-left: 12px;
}

/**
 * CMP:
 * FormItem
 */
.FormItem > .Cell {
  margin: 0 calc(-1 * var(--formitem_padding));
}
