.host {
  display: flex;
  inline-size: 100%;
  max-inline-size: 100%;
}

/* stylelint-disable-next-line selector-max-universal */
.host > *:not(.separator) {
  flex: 1;
  min-inline-size: 0;
}

.separator {
  --vkui--size_base_padding_horizontal--regular: 10px;
}
