.host {
  display: grid;
  justify-content: center;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  margin: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--vkui--color_text_secondary);
  /* font-size: var(--vkui--font_footnote--font_size--regular); */
  font-size: var(--vkui--font_subhead--font_size--regular);
}

.heading {
  font-size: var(--vkui--font_headline--font_size--regular);
  font-weight: var(--vkui--font_weight_base1);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* border-bottom: 1px solid var(--vkui--color_separator_primary); */
  margin: 8px;
  padding: 8px;
  width: 100%;
  /* background-color: var(--vkui--color_background_tertiary); */
  background-color: rgba(171, 169, 169, 10%);
  border-radius: 16px;
}

.good {
  color: var(--vkui--color_text_positive);
}
.bad {
  color: var(--vkui--color_text_negative);
}
