.TableOfContents__list {
  display: none;
}

.TableOfContents__list .TableOfContents__list {
  padding-left: 20px;
}

.TableOfContents__list--expanded {
  display: block;
}

.TableOfContents__search {
  background: transparent;
}

.TableOfContents__nothingFound {
  display: none;
}

.TableOfContents__nothingFound:first-child:last-child {
  display: block;
}

.TableOfContents__separator {
  margin-top: 16px;
}

.TableOfContents__title + .TableOfContents__separator {
  margin-top: 12px;
}
