.TableOfContents {
  padding-top: 8px;
  padding-bottom: 8px;
}

.TableOfContents__list {
  display: none;
}

.TableOfContents--desktop .TableOfContents__list .TableOfContents__list {
  padding-left: 20px;
}

.TableOfContents--mobile
  .TableOfContents__list
  .TableOfContents__list
  .TableOfContents__section {
  padding-left: 32px;
}

.TableOfContents__list--expanded {
  display: block;
}

.TableOfContents__search {
  background: transparent;
}

.TableOfContents__nothingFound {
  display: none;
}

.TableOfContents__nothingFound:first-child:last-child {
  display: block;
}

.TableOfContents__section--selected {
  background: var(--background_hover);
}
