.TableOfContents {
  padding-top: 8px;
  padding-bottom: 8px;
}

.TableOfContents__list {
  display: none;
}

.TableOfContents--sizeX-regular .TableOfContents__list .TableOfContents__list {
  padding-left: 20px;
}

@media (--sizeX-regular) {
  .TableOfContents--sizeX-none .TableOfContents__list .TableOfContents__list {
    padding-left: 20px;
  }
}

.TableOfContents--sizeX-compact
  .TableOfContents__list
  .TableOfContents__list
  .TableOfContents__section {
  padding-left: 32px;
}

@media (--sizeX-compact) {
  .TableOfContents--sizeX-none
    .TableOfContents__list
    .TableOfContents__list
    .TableOfContents__section {
    padding-left: 32px;
  }
}

.TableOfContents__list--expanded {
  display: block;
}

.TableOfContents__search {
  background: transparent;
}

.TableOfContents__nothingFound {
  display: none;
}

.TableOfContents__nothingFound:first-child:last-child {
  display: block;
}

.TableOfContents__separator {
  margin-top: 16px;
}

.TableOfContents__title + .TableOfContents__separator {
  margin-top: 12px;
}

.TableOfContents__section--selected {
  background: var(--vkui--color_transparent--hover);
}
