.root {
  --vkui_docs--menu-item-icon-size: 36px;
}

.menuItem {
  display: flex;
  align-items: center;
  block-size: 44px;
  color: var(--vkui--color_text_secondary);
  text-decoration: none;
}

@media (--viewWidth-desktopPlus) {
  .menuItem {
    margin-inline: var(--vkui--spacing_size_xl);
  }
}

.listItem:not(:first-of-type) {
  margin-block-start: var(--vkui--spacing_size_xs);
}

@media (--viewWidth-desktopPlus) {
  .listItem:not(:first-of-type) {
    margin-block-start: var(--vkui--spacing_size_m);
  }
}

.nestedMenu .listItem {
  margin-block-start: 0;
}

.activeMenuItem {
  color: var(--vkui--color_text_primary);
}

.menuIcon {
  inline-size: var(--vkui_docs--menu-item-icon-size);
  block-size: var(--vkui_docs--menu-item-icon-size);
  padding: 8px;
  margin-inline-end: var(--vkui--spacing_size_xl);
  color: var(--vkui--color_icon_secondary);
  background-color: var(--vkui--color_background_tertiary);
  border-radius: 8px;
}

.activeMenuIcon {
  color: var(--vkui--color_icon_primary);
}

.accordion {
  justify-content: space-between;
}

.nestedMenu {
  position: relative;
  margin-inline-start: var(--vkui--spacing_size_xl);
}

.menuItemWithIcon {
  margin-inline-start: calc(var(--vkui_docs--menu-item-icon-size) + var(--vkui--spacing_size_xl));
}

.currentMenu .nestedMenu .nestedMenu::before {
  position: absolute;
  inset-block: var(--vkui--size_base_padding_vertical--regular);
  display: block;
  inline-size: 1px;
  content: '';
  background-color: var(--vkui_docs--color_stroke_separator_secondary);
}
