.CardGrid {
  margin-top: -8px;
}

.CardGrid::after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.CardGrid .Card {
  float: left;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.CardGrid .Card--sz-l {
  width: calc(100% - 8px);
}

.CardGrid .Card--sz-m {
  width: calc((100% - 2 * 8px) / 2);
}

.CardGrid .Card--sz-s {
  width: calc((100% - 3 * 8px) / 3);
}

/**
 * iOS
 */

.CardGrid--ios {
  padding-left: 8px;
  padding-right: 8px;
}

/**
 * Android
 */

.CardGrid--android,
.CardGrid--vkcom {
  padding-left: 12px;
  padding-right: 12px;
}
