.Subhead {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.Subhead--regular {
  font-weight: 400;
}

.Subhead--medium {
  font-weight: 500;
}

.Subhead--semibold {
  font-weight: 600;
}

.Subhead--bold {
  font-weight: 700;
}

/**
 * ANDROID
 */
.Subhead--android.Subhead--semibold {
  font-weight: 500;
}
