.HorizontalCell {
  padding-bottom: 6px;
  display: flex;
}

.HorizontalCell--ios:first-child .HorizontalCell__left,
.HorizontalCell--ios:last-child .HorizontalCell__right {
  min-width: 6px;
}

.HorizontalCell--android:first-child .HorizontalCell__left,
.HorizontalCell--android:last-child .HorizontalCell__right,
.HorizontalCell--vkcom:first-child .HorizontalCell__left,
.HorizontalCell--vkcom:last-child .HorizontalCell__right {
  min-width: 8px;
}

.HorizontalCell__image {
  display: flex;
  justify-content: center;
}

.HorizontalCell__title:not(:last-child),
.HorizontalCell__subtitle:not(:last-child) {
  margin-bottom: 2px;
}

.HorizontalCell__subtitle {
  color: var(--text_secondary);
}

.HorizontalCell--s {
  width: 72px;
}

.HorizontalCell--ios:first-child.HorizontalCell--s,
.HorizontalCell--ios:last-child.HorizontalCell--s {
  width: 78px;
}

.HorizontalCell--android:first-child.HorizontalCell--s,
.HorizontalCell--android:last-child.HorizontalCell--s,
.HorizontalCell--vkcom:first-child.HorizontalCell--s,
.HorizontalCell--vkcom:last-child.HorizontalCell--s {
  width: 80px;
}

.HorizontalCell--s .HorizontalCell__image {
  padding: 4px 8px;
}

.HorizontalCell--s .HorizontalCell__content {
  padding: 2px 4px;
  text-align: center;
}

.HorizontalCell--m {
  width: 108px;
}

.HorizontalCell--ios:first-child.HorizontalCell--m,
.HorizontalCell--ios:last-child.HorizontalCell--m {
  width: 114px;
}

.HorizontalCell--android:first-child.HorizontalCell--m,
.HorizontalCell--android:last-child.HorizontalCell--m,
.HorizontalCell--vkcom:first-child.HorizontalCell--m,
.HorizontalCell--vkcom:last-child.HorizontalCell--m {
  width: 116px;
}

.HorizontalCell--m .HorizontalCell__image,
.HorizontalCell--l .HorizontalCell__image {
  padding: 4px 6px;
}

.HorizontalCell--m .HorizontalCell__content,
.HorizontalCell--l .HorizontalCell__content {
  padding: 2px 6px;
  text-align: left;
}

.HorizontalCell--l {
  width: auto;
}
