.host {
  --vkui_internal--chips_input_base_container_gap: 4px;

  position: relative;
  z-index: var(--vkui_internal--z_index_form_field_element);
  display: inline;
  flex-grow: 1;
  flex-shrink: 1;
  max-inline-size: 100%;
  padding: var(--vkui_internal--chips_input_base_container_gap);
  margin: 0;
  overflow: hidden;
}

.listBox {
  position: relative;
  display: inline;
  max-inline-size: 100%;
  overflow: hidden;
  list-style: none;
}

.chip {
  max-inline-size: calc(100% - var(--vkui_internal--chips_input_base_container_gap));
  margin: 2px;
  vertical-align: middle;
}

.el {
  --vkui_internal--chips_input_base_input_margin-inline-start: 10px;
  --vkui_internal--chips_input_base_input_margin-inline-end: 2px;
  --vkui_internal--chips_input_base_input_margin-block-start: 2px;
  --vkui_internal--chips_input_base_input_margin-block-end: 4px;

  position: relative;
  display: inline;
  padding: 0;
  margin-block: var(--vkui_internal--chips_input_base_input_margin-block-start)
    var(--vkui_internal--chips_input_base_input_margin-block-end);
  margin-inline: var(--vkui_internal--chips_input_base_input_margin-inline-start)
    var(--vkui_internal--chips_input_base_input_margin-inline-end);
  vertical-align: middle;
  color: var(--vkui--color_text_primary);
  appearance: none;
  background: transparent;
  border: 0;
  box-shadow: none;
}

/* Растягиваем input на всю ширину */
/* Когда отображается плейсхолдер */
.hasPlaceholder .el,
/* Когда инпут не помещается, переносится на новую строку и в него уже введен текст */
.inputNewLine.hasInputValue .el,
/* Когда инпут не помещается, переносится на новую строку и находится в фокусе */
.inputNewLine .el:not(:read-only):focus {
  /* important нужен, чтобы перебить maxWidth установленный через стили */
  /* stylelint-disable-next-line declaration-no-important */
  inline-size: calc(
    100% - var(--vkui_internal--chips_input_base_input_margin-inline-start) -
    var(--vkui_internal--chips_input_base_input_margin-inline-end)
  ) !important;
}

.el::-ms-clear {
  display: none;
}

.el::placeholder {
  color: var(--vkui--color_text_secondary);
  /* Для Firefox */
  opacity: 1;
}

.el:disabled::placeholder {
  color: var(--vkui--color_text_secondary);
}

.el[readonly] {
  cursor: default;
}

.hasPlaceholder .el {
  --vkui_internal--chips_input_base_input_margin-inline-start: calc(
    12px - var(--vkui_internal--chips_input_base_container_gap)
  );
  --vkui_internal--chips_input_base_input_margin-inline-end: 0px;

  block-size: calc(
    100% - var(--vkui_internal--chips_input_base_input_margin-block-start) -
      var(--vkui_internal--chips_input_base_input_margin-block-end)
  );
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * sizeY COMPACT
 */
.sizeYCompact {
  --vkui_internal--chips_input_base_container_gap: 2px;
}

@media (--sizeY-compact) {
  .sizeYNone {
    --vkui_internal--chips_input_base_container_gap: 2px;
  }
}
