@import '../../styles/constants.css';

.TextareaNew {
  position: relative;
  }

  .TextareaNew textarea {
    margin: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    outline: none;
    resize: none;
    appearance: none;
    line-height: 19px;
    font-size: 16px;
    color: map(colors, black);
    padding: 12px;
    min-height: 86px;
    max-height: 198px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    }


.TextareaNew--ios {

  }

  .TextareaNew--ios textarea {
    border-radius: 10px;
    background-color: rgb(242, 243, 245);
    border: solid .5px rgba(0, 0, 0, 0.15);
    }

    .TextareaNew--ios textarea::placeholder {
      color: map(colors, captionGray);
      }

  .TextareaNew--ios textarea:focus {
    border-color: map(colors, accentBlue);
    }


.TextareaNew--android {

  }

  .TextareaNew--android textarea {
    border-radius: 4px;
    background-color: #f2f3f5;
    }

    .TextareaNew--android textarea::placeholder {
      color: map(colors, captionGray);
      }

  .TextareaNew--android textarea:focus {
    border-color: map(colors, accentBlue);
    }

  .TextareaNew--android textarea:focus ~ .TextareaNew-underline::before {
    transform: scaleX(1);
    transition: transform .14s var(--android-easing);
    }
