.Textarea {
  display: block;
  margin: 0;
  width: 100%;
  min-height: 66px;
  max-height: 198px;
  outline: none;
  border: 0;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
  line-height: 22px;
  resize: none;
  }

  .Textarea::placeholder {
    color: #00244D;
    opacity: .24;
    }

.Textarea--ios {
  font-size: 17px;
  padding: 11px 0 12px;
  }

.Textarea--android {
  font-size: 16px;
  padding: 16px 0 18px;
  }
