.host {
  appearance: none;
  background: none;
  border: 0;
  box-shadow: none;
  display: block;
  color: currentColor;
  padding: 0;
  margin: 0;
  position: relative;
}

.host[disabled] {
  opacity: 0.6;
}

.hostPrimitive {
  block-size: 48px;
  line-height: 48px;
  padding-block: 0;
  padding-inline: 10px;
}

/*
 * iOS
 */

.hostIos {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.hostIos.hostPrimitive {
  block-size: 44px;
  line-height: 44px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostIos :global(.vkuiIcon--24) {
  padding: 10px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostIos :global(.vkuiIcon--28) {
  padding: 8px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostIos :global(.vkuiIcon--w-20) {
  padding-inline-start: 4px;
}

/*
 * Android
 */

.hostAndroid.hostNotPrimitive {
  border-radius: 50%;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostAndroid :global(.vkuiIcon--24),
.hostAndroid :global(.vkuiIcon--28) {
  padding: 10px;
}

/**
* VKCOM
*/
.hostVkcom {
  color: var(--vkui--color_text_secondary);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostVkcom > :not(:global(.vkuiInternalCounter)) {
  transition: opacity 0.3s;
  opacity: 0.7;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostVkcom.hostHover > :not(:global(.vkuiInternalCounter)),
.hostVkcom.hostActive > :not(:global(.vkuiInternalCounter)) {
  opacity: 1;
}

.hostVkcom {
  display: flex;
  align-items: center;
  padding: 10px;
}

.hostVkcom.hostNotPrimitive {
  border-radius: 50%;
}

.hostVkcom.hostHasLabel {
  padding-inline-end: 11px;
}

@media (--sizeX-regular) {
  .hostIos.hostHasLabel:not(.hostSizeXCompact) {
    padding-inline-end: 8px;
  }
}

.hostSizeXCompact.hostIos .label {
  display: none;
}

@media (--sizeX-compact) {
  .hostSizeXNone.hostIos .label {
    display: none;
  }
}
