.host {
  position: relative;
  background: var(--vkui--color_background_secondary);
  border-radius: var(--vkui--size_card_border_radius--regular);
}

.hostModeShadow {
  box-shadow: var(
    --vkui--elevation3,
    0 2px 24px 0 rgba(0, 0, 0, 0.08),
    0 0 2px 0 rgba(0, 0, 0, 0.08)
  );
  background: var(--vkui--color_background_modal);
}

.hostModeOutline {
  background: var(--vkui--color_background_modal);
}

.hostWithBorder::after {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  content: '';
  display: block;
  border: var(--vkui--size_border--regular) solid var(--vkui--color_image_border_alpha);
  pointer-events: none;
  box-sizing: border-box;
  border-radius: inherit;
}

/**
 * CMP:
 * CardScroll
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardScroll) .host {
  margin-inline-end: var(--vkui--size_cardgrid_padding--regular);
  flex-shrink: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardScroll) .host:last-of-type {
  margin-inline-end: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardScrollSizeS) .host {
  inline-size: 40%;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardScrollSizeM) .host {
  inline-size: 62%;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardScrollSizeL) .host {
  inline-size: calc(100% - var(--vkui--size_base_padding_horizontal--regular) * 2);
  margin-inline-end: var(--vkui--size_base_padding_horizontal--regular);
}

/**
 * CMP:
 * Group
 * SplitCol
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroupModeCard) :global(.vkuiInternalCardScrollSizeL) .host,
:global(.vkuiInternalSplitColViewWidthTabletPlus):global(.vkuiInternalSplitColSpacedAuto)
  :global(.vkuiInternalCardScrollSizeL)
  .host {
  inline-size: calc(100% - 32px);
  margin-inline-end: 16px;
}

@media (--viewWidth-smallTabletPlus) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalSplitColViewWidthNone):global(.vkuiInternalSplitColSpacedAuto)
    :global(.vkuiInternalCardScrollSizeL)
    .host {
    inline-size: calc(100% - 32px);
    margin-inline-end: 16px;
  }
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroupModeCard) :global(.vkuiInternalCardScrollSizeL) .host:last-of-type,
:global(.vkuiInternalSplitColViewWidthTabletPlus):global(.vkuiInternalSplitColSpacedAuto)
  :global(.vkuiInternalCardScrollSizeL)
  .host:last-of-type {
  margin-inline-end: 0;
}

@media (--viewWidth-smallTabletPlus) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalSplitColViewWidthNone):global(.vkuiInternalSplitColSpacedAuto)
    :global(.vkuiInternalCardScrollSizeL)
    .host:last-of-type {
    margin-inline-end: 0;
  }
}
@media (--sizeX-regular) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalGroupModeNone) :global(.vkuiInternalCardScrollSizeL) .host:last-of-type {
    margin-inline-end: 0;
  }

  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalGroupModeNone) :global(.vkuiInternalCardScrollSizeL) .host {
    inline-size: calc(100% - 32px);
    margin-inline-end: 16px;
  }
}

/**
 * CMP:
 * CardGrid
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGrid) .host {
  margin-inline-end: var(--vkui--size_cardgrid_padding--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGridSizeL) .host {
  inline-size: 100%;
  margin-inline-end: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGridSizeL) .host:not(:first-child) {
  margin-block-start: var(--vkui--size_cardgrid_padding--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGridSizeM) .host {
  inline-size: calc(50% - (var(--vkui--size_cardgrid_padding--regular) / 2));
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGridSizeM) .host:nth-child(n + 3) {
  margin-block-start: var(--vkui--size_cardgrid_padding--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGridSizeM) .host:nth-child(2n) {
  margin-inline-end: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGridSizeS) .host {
  inline-size: calc((100% - 2 * var(--vkui--size_cardgrid_padding--regular)) / 3);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGridSizeS) .host:nth-child(n + 4) {
  margin-block-start: var(--vkui--size_cardgrid_padding--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalCardGridSizeS) .host:nth-child(3n) {
  margin-inline-end: 0;
}
