.host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4px;
  padding-inline: 8px;
  min-inline-size: 0;
  max-inline-size: 100%;
  min-block-size: 32px;
  border-radius: var(--vkui--size_border_radius--regular);
  transition: background-color 150ms ease-out;
}

.hostWithGaps {
  margin-block: 8px;
}

.hostWithGaps:not(:first-of-type) {
  margin-inline-start: 6px;
}

.hostSizeYCompact {
  padding-block: 2px;
  min-block-size: 28px;
}

@media (--sizeY-compact) {
  .hostSizeYNone {
    padding-block: 2px;
    min-block-size: 28px;
  }
}

.host[disabled] {
  opacity: var(--vkui--opacity_disable_accessibility);
}

/* mode="default" */
.hostModeDefault {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  padding-block: 12px;
  padding-inline: 16px;
  min-block-size: 48px;
}

.hostSizeYCompact.hostModeDefault {
  padding-block: 10px;
  min-block-size: 44px;
}

@media (--sizeY-compact) {
  .hostSizeYNone.hostModeDefault {
    padding-block: 10px;
    min-block-size: 44px;
  }
}

.hostHover.hostModeDefault {
  background-color: var(--vkui--color_transparent--hover);
}

/* mode="accent" */
.hostModeAccent {
  transition: background-color 150ms ease-out, box-shadow 150ms ease-out;
}

.hostSelected.hostModeAccent {
  background-color: var(--vkui--color_background_modal);
  box-shadow: var(--vkui--elevation2);
}

.hostHover.hostModeAccent {
  background-color: var(--vkui--color_background_secondary);
}

.hostModeAccent::before {
  content: '';
  position: absolute;
  inset: 0;
  border: var(--vkui--size_border--regular) solid transparent;
  border-radius: inherit;
  pointer-events: none;
}

.hostSelected.hostModeAccent::before {
  border-color: var(--vkui--color_separator_primary);
}

/* mode="secondary" */
.hostSelected.hostModeSecondary {
  background-color: var(--vkui--color_background_secondary_alpha);
}

.hostHover.hostModeSecondary {
  background-color: var(--vkui--color_background_secondary_alpha--hover);
}

/* Элемент */
.before {
  margin-inline-end: 6px;
  color: var(--vkui--color_icon_medium);
  transition: color 150ms ease-out;
}

.hostSelected .before {
  color: var(--vkui--color_icon_primary);
}

.hostSelected.hostModeAccent .before {
  color: var(--vkui--color_icon_accent_themed);
}

.hostSelected.hostModeSecondary .before {
  opacity: 0.72;
}

/* Элемент */
.label {
  max-inline-size: 100%;
  overflow: hidden;
  color: var(--vkui--color_text_secondary);
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 150ms ease-out;
  min-inline-size: 0;
}

.hostSelected .label {
  color: var(--vkui--color_text_primary);
}

.hostSelected.hostModeAccent .label {
  color: var(--vkui--color_text_accent_themed);
}

.hostSelected.hostModeSecondary .label {
  opacity: 0.72;
}

/* Элемент */
.status {
  margin-inline-start: 6px;
}

.statusCount {
  color: var(--vkui--color_text_tertiary);
}

/* Элемент */
.after {
  margin-inline-start: 6px;
  color: var(--vkui--color_icon_accent_themed);
}

/* Элемент */
.underline {
  position: absolute;
  inset-inline: 16px;
  inset-block-end: 5px;
  block-size: 2px;
  border-radius: 2px;
  background-color: var(--vkui--color_background_accent);
  opacity: 0;
  transition: opacity 150ms ease-out;
  pointer-events: none;
}

.hostSizeYCompact .underline {
  inset-block-end: 3px;
}

@media (--sizeY-compact) {
  .hostSizeYNone .underline {
    inset-block-end: 3px;
  }
}

.underline[data-selected='true'] {
  opacity: 1;
}

/**
 * CMP:
 * Tabs
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalTabsVkcom) .host {
  flex-grow: 0;
  min-inline-size: auto;
  padding-inline: 10px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalTabsVkcom) .underline {
  inset-inline: 2px;
  inset-block-end: 0;
}

/**
 * CMP:
 * HorizontalScroll
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalHorizontalScroll) .host {
  min-inline-size: 64px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
}

.host.hostStretched {
  flex-grow: 1;
}

.host.hostShrinked {
  flex-grow: 0;
  min-inline-size: auto;
}
