.content {
  border-radius: 0;
  font-size: 14px;
  color: var(--vkui--color_text_primary);
  font-family: var(--vkui--font_family_base);
  block-size: 100%;
}

.host,
.hidden {
  border-radius: 0;
  flex-basis: calc(100% / 7);
  flex-grow: 0;
}

.hidden,
.content {
  block-size: 36px;
}

.sizeS {
  block-size: 34px;
}

.disabled,
.notSameMonth {
  color: var(--vkui--color_text_tertiary);
}

.selected {
  background-color: var(--vkui--color_background_secondary_alpha);
}

.selectionStart.selected,
.hintedSelectionStart {
  border-start-start-radius: 8px;
  border-end-start-radius: 8px;
}

.selectionEnd.selected,
.hintedSelectionEnd {
  border-start-end-radius: 8px;
  border-end-end-radius: 8px;
}

.dayNumber {
  text-align: center;
}

.today {
  font-weight: 600;
}

.today .dayNumber::after {
  content: '';
  border-block-end: 2px solid var(--vkui--color_stroke_accent);
  inline-size: 16px;
  display: block;
  position: relative;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}

[dir='rtl'] .today .dayNumber::after {
  transform: translateX(50%);
}

.today .innerActive .dayNumber::after {
  border-block-end-color: var(--vkui--color_stroke_contrast);
}

.inner,
.hinted {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
}

.inner {
  border-radius: 8px;
}

.hintedActive,
.hostHovered :not(.hintedActive) .inner {
  background-color: var(--vkui--color_background_secondary_alpha--hover);
}

.hostActivated :not(.hintedActive) .inner {
  background-color: var(--vkui--color_background_secondary_alpha--active);
}

.innerActive {
  background-color: var(--vkui--color_background_accent);
  color: var(--vkui--color_text_contrast);
}

.hostHovered .inner.innerActive {
  background-color: var(--vkui--color_background_accent--hover);
}

.hostActivated .inner.innerActive {
  background-color: var(--vkui--color_background_accent--active);
}
