.host {
  --vkui_internal--aspect_ratio: 1;

  position: relative;
  max-inline-size: 100%;
}

.host::before {
  content: '';
  block-size: 0;
  display: block;
  padding-block-end: calc((1 / var(--vkui_internal--aspect_ratio, 1)) * 100%);
}

/* stylelint-disable-next-line selector-max-universal */
.host > * {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

/* stylelint-disable-next-line selector-max-universal */
.hostModeStretch > * {
  inline-size: 100%;
  block-size: 100%;
}

/* stylelint-disable-next-line selector-max-type */
.hostModeStretch > img,
.hostModeStretch > video {
  object-fit: cover;
}
