@import '../../styles/constants.css';

.Tabs,
.Tabs .HorizontalScroll__in {
  display: flex;
  align-items: center;
  }

.Tabs--default,
.Tabs--default .HorizontalScroll__in {
  justify-content: center;
  }

.Tabs--buttons,
.Tabs--default .HorizontalScroll__in {
  justify-content: flex-start;
  }

/*
 iOS
 */

.Tabs--ios.Tabs--default.Tabs--light {
  padding: 8px;
  background-color: #fafafa;
  }

.Tabs--ios.Tabs--default.Tabs--header {
  padding-top: 6px;
  }

.Tabs--ios.Tabs--buttons.Tabs--header {
  background-color: var(--header-blue);
  }

.Tabs--ios.Tabs--buttons {
  padding-top: 8px;
  padding-bottom: 8px;
  }

.FixedLayout--ios.FixedLayout--top .Tabs::after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: 1px;
  content: '';
  bottom: 0;
  background: var(--separator);
  }

.FixedLayout--ios.FixedLayout--bottom .Tabs::before {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: 1px;
  content: '';
  top: 0;
  background: var(--separator);
  }

.Tabs--ios.Tabs--buttons .HorizontalScroll__in::after,
.Tabs--ios.Tabs--buttons .HorizontalScroll__in::before {
  display: block;
  width: 8px;
  flex-shrink: 0;
  height: 1px;
  content: '';
  }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .FixedLayout--ios.FixedLayout--top .Tabs--light::after {
    background: var(--ios-bottom-border);
    }

  .FixedLayout--ios.FixedLayout--bottom .Tabs--light::before {
    background: var(--ios-top-border);
    }
  }

/*
  Android
 */
.Tabs--android {

  }

.Tabs--android.Tabs--light {
  background-color: #fff;
  }

.Tabs--android.Tabs--header {
  background-color: var(--header-blue);
  }

.Tabs--android.Tabs--buttons .HorizontalScroll__in::after,
.Tabs--android.Tabs--buttons .HorizontalScroll__in::before {
  display: block;
  width: 8px;
  flex-shrink: 0;
  height: 1px;
  content: '';
  }

.FixedLayout--top .Tabs--android,
.FixedLayout--bottom .Tabs--android {
  box-shadow: 0 0 4px rgba(0, 0, 0, .08), 0 4px 4px rgba(0, 0, 0, .16);
  }
