.List {
  list-style-position: inside;
  margin: 0 0 8px;
  padding: 0;
}

ol.List li::before {
  display: inline-block;
  width: 8px;
  content: '';
}

.List li:not(:last-child) {
  margin-bottom: 8px;
}

.List li > p {
  display: inline;
}
