.RichTooltip {
  color: var(--vkui--color_text_primary);
  background-color: var(--vkui--color_background_modal);
  border-radius: var(--vkui--size_border_radius--regular);
  box-shadow: var(--vkui--elevation3);
  animation: vkui-popper-fadein 0.2s ease;
}

.RichTooltip__arrow {
  color: var(--vkui--color_background_modal);
}

.RichTooltip--appearance-accent {
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_background_accent_tint);
}

.RichTooltip--appearance-accent .RichTooltip__arrow {
  color: var(--vkui--color_background_accent_tint);
}

.RichTooltip--appearance-white {
  color: var(--vkui--color_text_primary_invariably);
  background-color: var(--vkui--color_background_contrast);
}

.RichTooltip--appearance-white .RichTooltip__arrow {
  color: var(--vkui--color_background_contrast);
}

.RichTooltip--appearance-black {
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_background_contrast_inverse);
}

.RichTooltip--appearance-black .RichTooltip__arrow {
  color: var(--vkui--color_background_contrast_inverse);
}

.RichTooltip--appearance-inversion {
  color: var(--vkui--color_text_contrast_themed);
  background-color: var(--vkui--color_background_modal_inverse);
}

.RichTooltip--appearance-inversion .RichTooltip__arrow {
  color: var(--vkui--color_background_modal_inverse);
}

.RichTooltip--appearance-neutral {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
