.CustomScrollView {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.CustomScrollView__box {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: inherit;
  padding-right: 100px;
  overflow-x: hidden;
  overflow-y: scroll;

  /**
   * Для удаление скролла в Firefox.
   * В версии ниже 64 будет виден скролл, но это не ломает функциональность.
   */
  scrollbar-width: none;
}

.CustomScrollView__box::-webkit-scrollbar {
  display: none;
}

.CustomScrollView__barY:active + .CustomScrollView__box {
  pointer-events: none;
}

.CustomScrollView__barY {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
}

.CustomScrollView__trackerY {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 10px;
  padding: 4px 4px 4px 0;
  user-select: none;
}

.CustomScrollView__trackerY--hidden {
  opacity: 0;
  transition: opacity 200ms;
}

.CustomScrollView__trackerY::before {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: var(--vkui--color_icon_medium);
  border-radius: 12px;
  opacity: 0.48;
  transition: transform 200ms, opacity 200ms;
}

.CustomScrollView__trackerY:hover::before,
.CustomScrollView__trackerY:active::before {
  opacity: 0.8;
  transform: scaleX(1.3333);
}

/**
 * CMP:
 * CustomSelectDropdown
 */
.CustomSelectDropdown .CustomScrollView__box {
  padding-right: 8px;
}

.CustomSelectDropdown--wide .CustomScrollView__box {
  padding-right: 0;
}
