@import '../../styles/constants.css';

/**
 * List item
 */
.ListItem {
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 17px;
  line-height: 22px;
  }

  .ListItem__in {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    }

    .ListItem__checkbox {
      display: none;
      }

    .ListItem__icon {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      }

      .ListItem__icon-in {}

        .ListItem__icon-in > svg,
        .ListItem__icon-in > img {
          vertical-align: top;
          }

      .ListItem__checkbox-marker {
        display: block;
        border-radius: 50%;
        box-sizing: border-box;
        }

    .ListItem__main {
      flex: 1 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      }

    .ListItem__indicator,
    .ListItem__aside {
      overflow: hidden;
      max-width: 75%;
      color: #8e8e93;
      text-align: right;
      text-overflow: ellipsis;
    }
    .ListItem__indicator {
      flex: 0 1 auto;
      }
    .ListItem__aside {
      flex: 0 0 auto;
      padding: 0;
      overflow: visible;
      }

/* iOS */
.ListItem--ios {}
.ListItem--ios.ListItem--expandable::before {
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -4px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #C7C7CC;
  border-right: 2px solid #C7C7CC;
  content: '';
  transform: rotate(45deg);
  z-index: 1;
  }

  .ListItem--ios .ListItem__in {
    padding: 0 15px;
    background: #fff;
    }
  .ListItem--ios.ListItem--expandable .ListItem__in {
    padding: 0 35px 0 15px;
    }

    .List--ios.List--icon-indent .ListItem__icon:empty,
    .ListItem--ios.ListItem--icon-indent .ListItem__icon:empty {
      padding-left: 44px;
      }

    .ListItem--ios .ListItem__icon::before {
      position: absolute;
      bottom: 0;
      left: 100%;
      width: 10000px;
      height: 1px;
      background: var(--ios-thick-separator-color);
      content: '';
      }

      .ListItem--ios .ListItem__checkbox-marker {
        width: 24px;
        height: 24px;
        border: 2px solid #c4c8cc;
        margin: 7px 15px 9px 0;
        }

      .ListItem__checkbox:checked ~ .ListItem__icon .ListItem__checkbox-marker {
        background-color: map(colors, accentBlue);
        border-color: map(colors, accentBlue);
        }

    @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .ListItem--ios .ListItem__icon::before {
        background: linear-gradient(to top, #c8c7cc 50%, transparent 50%);
        }
      }

      .ListItem--ios .ListItem__icon-in {
        width: 29px;
        height: 29px;
        padding: 7px 15px 9px 0;
        }

    .ListItem--ios .ListItem__main {
      padding: 11px .5em 12px 0;
      }

    .ListItem--ios .ListItem__indicator,
    .ListItem--ios .ListItem__aside {
      padding: 11px 0 12px;
      }

/* Android */
.ListItem--android {
  font-size: 16px;
  color: #2e3033;
  }

  .ListItem--android .ListItem__in {
    padding: 0 16px;
    }

    .ListItem--android .ListItem__icon {}

      .ListItem--android .ListItem__icon-in {
        width: 24px;
        height: 24px;
        padding: 14px 32px 18px 0;
        }

    .ListItem--android .ListItem__main {
      padding: 16px .5em 17px 0;
      }

    .ListItem--android .ListItem__indicator,
    .ListItem--android .ListItem__aside {
      padding: 16px 0 17px;
      }
