@import '../../styles/constants.css';

/**
 * List item
 */
.ListItem {
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 17px;
  line-height: 22px;
  }

  .ListItem__in {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    }

    .ListItem__checkbox {
      display: none;
      }

    .ListItem__before {
      position: relative;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      }

      .ListItem__icon {
        flex-shrink: 0;
        color: map(colors, lightGray);
        }

        .ListItem__icon > svg,
        .ListItem__icon > img {
          vertical-align: top;
          }

    .ListItem__main {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      align-self: center;
      }

    .ListItem--multiline .ListItem__main {
      white-space: normal;
      word-wrap: break-word;
      }

      .ListItem__description {
        color: map(colors, captionGray);
        }

    .ListItem__indicator,
    .ListItem__aside {
      overflow: hidden;
      max-width: 75%;
      color: #8e8e93;
      text-align: right;
      text-overflow: ellipsis;
      align-self: center;
    }
    .ListItem__aside {
      flex-shrink: 0;
      overflow: visible;
      }

    .ListItem__indicator + .ListItem__aside:not(:empty) {
      padding-left: .5em;
      }

/* iOS */
.ListItem--ios {}
.ListItem--ios.ListItem--expandable::before {
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -4px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #C7C7CC;
  border-right: 2px solid #C7C7CC;
  content: '';
  transform: rotate(45deg);
  z-index: 1;
  }

  .ListItem--ios .ListItem__in {
    padding: 0 15px;
    }
  .ListItem--ios.ListItem--expandable .ListItem__in {
    padding: 0 35px 0 15px;
    }

    .ListItem--ios:not(:last-child) .ListItem__before::before {
      position: absolute;
      bottom: 0;
      left: 100%;
      width: 10000px;
      height: 1px;
      background: var(--ios-thick-separator-color);
      content: '';
      }

      .ListItem--ios .ListItem__before .Icon {
        padding: 10px 16px 10px 0;
        }

      .ListItem--ios .ListItem__before .Avatar {
        padding: 4px 12px 4px 0;
        }

      .ListItem--ios .ListItem__checkbox-marker {
        width: 24px;
        height: 24px;
        margin: 10px 16px 10px 0;
        background: inline('./assets/check_circle_off_24.svg') 0 0/100% no-repeat;
        }

      .ListItem--ios .ListItem__checkbox:checked ~ .ListItem__before .ListItem__checkbox-marker {
        background: inline('./assets/check_circle_on_24.svg') 0 0/100% no-repeat;
        }

    @media
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .ListItem--ios .ListItem__before::before {
        background: linear-gradient(to top, #c8c7cc 50%, transparent 50%);
        }
      }

    .ListItem--ios .ListItem__main {
      padding: 11px .5em 12px 0;
      }

      .ListItem--ios .ListItem__description {
        margin-top: 2px;
        font-size: 13px;
        line-height: 15px;
        }

    .ListItem--ios .ListItem__indicator,
    .ListItem--ios .ListItem__aside {
      padding-top: 11px;
      padding-bottom: 12px;
      }

/* Android */
.ListItem--android {
  font-size: 16px;
  color: #2e3033;
  }

  .ListItem--android .ListItem__in {
    padding: 0 16px;
    background: #fff;
    }

    .ListItem--android .ListItem__before .Icon {
      padding: 14px 32px 18px 0;
      }

    .ListItem--android .ListItem__before .Avatar {
      padding: 8px 16px 8px 0;
      }

    .ListItem--android .ListItem__main {
      padding: 16px .5em 17px 0;
      }

      .ListItem--android .ListItem__description {
        margin-top: 1px;
        font-size: 14px;
        line-height: 18px;
        }


    .ListItem--android .ListItem__checkbox-marker {
      width: 24px;
      height: 24px;
      background: inline('./assets/check_box_off_24.svg') 0 0/100% no-repeat;
      }

    .ListItem--android .ListItem__checkbox:checked ~ .ListItem__aside .ListItem__checkbox-marker {
      background: inline('./assets/check_box_on_24.svg') 0 0/100% no-repeat;
      }

    .ListItem--android .ListItem__indicator,
    .ListItem--android .ListItem__aside {
      padding-top: 16px;
      padding-bottom: 17px;
      }
