.host {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.padding {
  padding-block: var(--vkui--size_base_padding_vertical--regular);
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
}

.viewWidthSmallTabletMinus {
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
}

@media (--viewWidth-smallTabletMinus) {
  .viewWidthNone {
    padding-inline: var(--vkui--size_base_padding_horizontal--regular);
  }
}

.host + .host {
  margin-block-start: calc(var(--vkui--size_cardgrid_padding_vertical--regular) * 2);
}
