.host {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.padding {
  padding-block: var(--vkui--size_base_padding_vertical--regular);
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
}

.sizeXCompact {
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
}

@media (--sizeX-compact) {
  .sizeXNone {
    padding-inline: var(--vkui--size_base_padding_horizontal--regular);
  }
}

.host + .host {
  margin-block-start: calc(var(--vkui--size_cardgrid_padding_vertical--regular) * 2);
}

/**
 * CMP:
 * Group
 */

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroup--mode-card) .host {
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
}

@media (--sizeX-regular) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalGroup--mode-none) .host {
    padding-inline: 8px;
  }
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroup) .host:first-child {
  margin-block-start: var(--vkui--size_cardgrid_padding_vertical--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroup) .host:last-child {
  margin-block-end: var(--vkui--size_cardgrid_padding_vertical--regular);
}
