.CardGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.CardGrid--spaced {
  padding: var(--vkui--size_base_padding_vertical--regular)
    var(--vkui--size_base_padding_horizontal--regular);
}

.CardGrid .Card {
  margin-right: var(--vkui--size_cardgrid_padding--regular);
}

.CardGrid--size-l .Card {
  width: 100%;
  margin-right: 0;
}

.CardGrid--size-l .Card:not(:first-child) {
  margin-top: var(--vkui--size_cardgrid_padding--regular);
}

.CardGrid--size-m .Card {
  width: calc(50% - (var(--vkui--size_cardgrid_padding--regular) / 2));
}

.CardGrid--size-m .Card:nth-child(n + 3) {
  margin-top: var(--vkui--size_cardgrid_padding--regular);
}

.CardGrid--size-m .Card:nth-child(2n) {
  margin-right: 0;
}

.CardGrid--size-s .Card {
  width: calc((100% - 2 * var(--vkui--size_cardgrid_padding--regular)) / 3);
}

.CardGrid--size-s .Card:nth-child(n + 4) {
  margin-top: var(--vkui--size_cardgrid_padding--regular);
}

.CardGrid--size-s .Card:nth-child(3n) {
  margin-right: 0;
}

.CardGrid--sizeX-compact {
  padding-right: var(--vkui--size_base_padding_horizontal--regular);
  padding-left: var(--vkui--size_base_padding_horizontal--regular);
}

@media (--sizeX-compact) {
  .CardGrid--sizeX-none {
    padding-right: var(--vkui--size_base_padding_horizontal--regular);
    padding-left: var(--vkui--size_base_padding_horizontal--regular);
  }
}

.CardGrid + .CardGrid {
  margin-top: calc(var(--vkui--size_cardgrid_padding_vertical--regular) * 2);
}

@media (--sizeX-compact) {
  .CardGrid--sizeX-none.CardGrid--android {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/**
 * Group
 */

.Group--mode-card .CardGrid {
  padding-right: var(--vkui--size_base_padding_horizontal--regular);
  padding-left: var(--vkui--size_base_padding_horizontal--regular);
}

@media (--sizeX-regular) {
  .Group--mode-none .CardGrid {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.Group .CardGrid:first-child {
  margin-top: var(--vkui--size_cardgrid_padding_vertical--regular);
}

.Group .CardGrid:last-child {
  margin-bottom: var(--vkui--size_cardgrid_padding_vertical--regular);
}
