.host {
  display: inline-flex;
  max-inline-size: 100%; /* [Примечание 2] Чтобы блок не выходил за границы контейнера (связано с [Примечание 4]) */
}

.hostStretched {
  display: flex;
  inline-size: 100%;
}

.hostModeVertical {
  flex-direction: column;
}

.hostModeHorizontal {
  flex-direction: row;
  /* чтобы блоки не растягивались на всю высоту контейнера */
  align-items: flex-start;
}

/* stylelint-disable selector-max-universal */

/**
 * [Примечание 3] Чтобы не завязываться на класс компонента, используем каскад и универсальный селектор.
 */

/* "gap" для mode="vertical" */
.hostModeVertical.hostGapSpace > *:not(:first-child) {
  margin-block-start: var(--vkui--size_button_group_gap_space--regular);
}

.hostModeVertical.hostGapS > *:not(:first-child) {
  margin-block-start: var(--vkui--size_button_group_gap_small--regular);
}

.hostModeVertical.hostGapM > *:not(:first-child) {
  margin-block-start: var(--vkui--size_button_group_gap_medium--regular);
}

/* "gap" для mode="horizontal" */
.hostModeHorizontal > *:not(.host) {
  /**
   * [Примечание 4]
   *
   * `min-width` в контексте Flexbox по умолчанию имеет значение `auto`,
   * из-за чего элементы при переполнении будут выходить за границы контейнера.
   *
   * Подробности по ссылке https://stackoverflow.com/a/66689926/2903061
   */
  min-inline-size: 0;
}

.hostModeHorizontal.hostGapSpace > *:not(:last-child) {
  margin-inline-end: var(--vkui--size_button_group_gap_space--regular);
}

.hostModeHorizontal.hostGapS > *:not(:last-child) {
  margin-inline-end: var(--vkui--size_button_group_gap_small--regular);
}

.hostModeHorizontal.hostGapM > *:not(:last-child) {
  margin-inline-end: var(--vkui--size_button_group_gap_medium--regular);
}

/* stylelint-enable selector-max-universal */

.hostModeVertical.hostAlignLeft {
  align-items: flex-start;
}

.hostModeVertical.hostAlignCenter {
  align-items: center;
}

.hostModeVertical.hostAlignRight {
  align-items: flex-end;
}

.hostModeHorizontal.hostAlignLeft {
  justify-content: flex-start;
}

.hostModeHorizontal.hostAlignCenter {
  justify-content: center;
}

.hostModeHorizontal.hostAlignRight {
  justify-content: flex-end;
}
