.InfoRow {
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: text;
}

.InfoRow__header {
  display: block;
  margin-bottom: 2px;
  overflow: hidden;
  color: var(--vkui--color_text_subhead);
  text-overflow: ellipsis;
  white-space: nowrap;
}
