.DeviceConditionalRender__mobile--viewWidth-smallTabletPlus {
  display: none;
}

@media (--desktop) {
  .DeviceConditionalRender__mobile--viewWidth-none {
    display: none;
  }
}

.DeviceConditionalRender__desktop--viewWidth-mobile,
.DeviceConditionalRender__desktop--viewWidth-smallMobile {
  display: none;
}

@media (--mobile) {
  .DeviceConditionalRender__desktop--viewWidth-none {
    display: none;
  }
}

.DeviceConditionalRender__mobile,
.DeviceConditionalRender__desktop {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
