.hostLevel1 {
  font-size: var(--vkui--font_title1--font_size--regular);
  line-height: var(--vkui--font_title1--line_height--regular);
  font-weight: var(--vkui--font_title1--font_weight--regular);
  font-family: var(--vkui--font_title1--font_family--regular);
}

.hostLevel2 {
  font-size: var(--vkui--font_title2--font_size--regular);
  line-height: var(--vkui--font_title2--line_height--regular);
  font-weight: var(--vkui--font_title2--font_weight--regular);
  font-family: var(--vkui--font_title2--font_family--regular);
}

.hostLevel3 {
  font-size: var(--vkui--font_title3--font_size--regular);
  line-height: var(--vkui--font_title3--line_height--regular);
  font-weight: var(--vkui--font_title3--font_weight--regular);
  font-family: var(--vkui--font_title3--font_family--regular);
}
