.PanelHeaderContent {
  line-height: initial;
  height: 100%;
  }

  .PanelHeaderContent__in {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    }

  .PanelHeaderContent__status {
    order: 1;
    }

/*
  iOS
 */
.PanelHeaderContent--ios {

  }

  .PanelHeaderContent--ios .PanelHeaderContent__in {
    align-items: center;
    justify-content: center;
    }

  .PanelHeaderContent--ios .PanelHeaderContent__in.Tappable--active {
    opacity: .7;
    }

    .PanelHeaderContent--ios .PanelHeaderContent__children {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      line-height: 20px;
      }

    .PanelHeaderContent--ios .PanelHeaderContent__status ~ .PanelHeaderContent__children {
      font-size: 16px;
      line-height: 19px;
      }

      .PanelHeaderContent--ios .PanelHeaderContent__aside {
        margin-left: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        }

    .PanelHeaderContent--ios .PanelHeaderContent__status {
      opacity: .6;
      font-size: 13px;
      }

/*
  Android
 */
.PanelHeaderContent--android {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }

  .PanelHeaderContent--android .PanelHeaderContent__before {
    padding-right: 6px;
    padding-left: 6px;
    }

  .PanelHeaderContent--android .PanelHeaderContent__in {
    align-items: flex-start;
    justify-content: center;
    padding: 0 6px;
    }

  .PanelHeaderContent--android .PanelHeaderContent__in.Tappable--active {
    background-color: rgba(255, 255, 255, .1);
    }

    .PanelHeaderContent--android .PanelHeaderContent__children {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      }

    .PanelHeaderContent--android .PanelHeaderContent__status ~ .PanelHeaderContent__children {
      font-size: 16px;
      line-height: 19px;
      }

      .PanelHeaderContent--android .PanelHeaderContent__aside {
        margin-left: 4px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        opacity: .8;
        }

    .PanelHeaderContent--android .PanelHeaderContent__status {
      opacity: .6;
      font-size: 13px;
      line-height: 16px;
      }
