.SliderBaseThumb {
  position: absolute;
  z-index: 1;
  width: var(--vkui_internal--slider_thumb_size);
  height: var(--vkui_internal--slider_thumb_size);
  border-radius: 50%;
  border: 0.5px solid var(--vkui--color_separator_primary_alpha);
  background: var(--vkui--color_background_contrast);
  box-shadow: var(--vkui--elevation3);
  cursor: grab;
  user-select: none;
}

.SliderBaseThumb:focus {
  z-index: 2;
  outline: none;
}

.SliderBaseThumb:active {
  cursor: grabbing;
}

.SliderBaseThumb--disabled {
  cursor: unset;
}
