@import '../../styles/constants.css';

.Switch {
  display: block;
  padding: 8px 15px;
  }

  .Switch__self {
    display: none;
    }

  .Switch__pseudo {
    position: relative;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    }

  .Switch__self:checked + .Switch__pseudo {

    }

  .Switch__self[disabled] + .Switch__pseudo {

    }

  .Switch__pseudo::before {
    position: absolute;
    content: '';
    transition: transform .1s ease;
    }

  .Switch__self:checked + .Switch__pseudo::before {
    transform: translateX(20px);
    }

/**
 * iOS Switch
 */
.Switch--ios {
  margin: -12px -15px;
  }

  .Switch--ios .Switch__pseudo {
    width: 48px;
    height: 28px;
    border: 1px solid #e6e6e6;
    background: #fff;
    border-radius: 15px;
    transition:
      background-color .1s ease,
      border-color .1s ease;
    }

  .Switch--ios .Switch__self:checked + .Switch__pseudo {
    border-color: #4cd864;
    background: #4cd864;
    }

  .Switch--ios .Switch__self[disabled] + .Switch__pseudo {
    border-color: #ddd;
    background: #ddd;
    }

  .Switch--ios .Switch__pseudo::before {
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .35), 0 1px 1px rgba(0, 0, 0, .15);
    }

/**
 * Android Switch
 */
.Switch--android {
  margin: -4px -15px;
  }

  .Switch--android .Switch__pseudo {
    width: 34px;
    height: 14px;
    background: #c6c5c5;
    border-radius: 7px;
    transition: background-color .1s ease;
    }

  .Switch--android .Switch__self:checked + .Switch__pseudo {
    background: #a8bfdb;
    }

  .Switch--android .Switch__self[disabled] + .Switch__pseudo {
    opacity: .5;
    }

  .Switch--android .Switch__pseudo::before {
    top: -3px;
    left: -3px;
    width: 20px;
    height: 20px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24);
    }

  .Switch--android .Switch__self:checked + .Switch__pseudo::before {
    background: var(--header-blue);
    }
