.ActionSheet {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc(100% - 20px);
  max-width: var(--vkui--size_popup_small--regular);
  padding: 8px 0;
  margin: 10px;
  overflow: hidden;
  background: var(--vkui--color_background_modal);
  border-radius: 12px;
  box-shadow: var(--vkui--elevation3);
  animation: vkui-animation-actionsheet-intro 0.2s var(--vkui--animation_easing_platform);
}

.ActionSheet__header {
  padding: 16px 20px;
  color: var(--vkui--color_text_subhead);
}

.ActionSheet--closing {
  transition: transform 0.2s var(--vkui--animation_easing_platform);
  transform: translateY(calc(100% + 20px));
}

.ActionSheet__title + .ActionSheet__text {
  margin-top: 8px;
}

/**
 * iOS
 */
.ActionSheet--ios {
  width: 100%;
  padding: 10px;
  margin: unset;
  background: transparent;
  animation: vkui-animation-actionsheet-intro 0.3s var(--vkui--animation_easing_platform);
}

.ActionSheet--ios.ActionSheet--closing {
  transition: transform 0.3s var(--vkui--animation_easing_platform);
  transform: translateY(100%);
}

.ActionSheet--ios .ActionSheet__header {
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 14px 14px 0 0;
}

.ActionSheet--ios .ActionSheet__title {
  position: relative;
}

.ActionSheet--ios .ActionSheet__title + .ActionSheet__text {
  margin-top: 9px;
}

.ActionSheet--ios .ActionSheet__text {
  position: relative;
}

.ActionSheet--ios .ActionSheet__header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: var(--vkui--color_background_modal);
}

/**
 * Compact
 */

.ActionSheet--sizeY-compact .ActionSheet__header {
  padding: 12px 20px;
}

/**
 * Desktop version
 */

.ActionSheet--desktop {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  animation: none;
}

.ActionSheet--desktop.ActionSheet--ios {
  padding: 0;
  border-radius: 14px;
}

/**
* Animations
*/
@keyframes vkui-animation-actionsheet-intro {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
