.host {
  inline-size: 100%;
  max-inline-size: var(--vkui--size_popup_small--regular);
  padding: 10px;
  box-sizing: border-box;
  animation: animation-actionsheet-intro 0.2s var(--vkui--animation_easing_platform);
}

.contentWrapper {
  padding-block: 8px;
  padding-inline: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: var(--vkui--elevation3);
  background: var(--vkui--color_background_modal);
}

.header {
  color: var(--vkui--color_text_subhead);
  padding-block: 16px;
  padding-inline: 20px;
}

.hostClosing {
  transform: translateY(calc(100% + 20px));
  transition: transform 0.2s var(--vkui--animation_easing_platform);
}

.title + .text {
  margin-block-start: 8px;
}

/**
 * iOS
 */
.hostIos {
  padding: 8px;
  animation: animation-actionsheet-intro 0.3s var(--vkui--animation_easing_platform);
  background: transparent;
}

.hostIos .contentWrapper {
  border-radius: 14px;
  padding: 0;
}

.closeItemWrapperIos {
  margin-block: 8px var(--vkui_internal--safe_area_inset_bottom);
  overflow: hidden;
  border-radius: 14px;
  box-shadow: var(--vkui--elevation3);
  background: var(--vkui--color_background_modal);
}

.hostIos.hostClosing {
  transform: translateY(100%);
  transition: transform 0.3s var(--vkui--animation_easing_platform);
}

.hostIos .header {
  position: relative;
  text-align: center;
}

.hostIos .title {
  position: relative;
}

.hostIos .text {
  position: relative;
}

.hostIos .header::before {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--vkui--color_background_modal);
  content: '';
}

/**
 * Compact
 */

.hostSizeYCompact .header {
  padding-block: 12px;
  padding-inline: 20px;
}

/**
 * Desktop version
 */

.hostMenu {
  inline-size: auto;
  block-size: auto;
  animation: none;
  padding: 0;
  max-inline-size: 100%;
}

.hostMenu.hostIos .contentWrapper {
  border-radius: 14px;
  padding: 0;
}

/**
* Animations
*/
@keyframes animation-actionsheet-intro {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
