.CellButton {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  border: 0;
  cursor: pointer;
  inline-size: 100%;
  background: transparent;
  text-align: start;
  padding-block: 0;
}

/**
 * CMP:
 * FormItem
 */
:global(.vkuiInternalFormItem) .CellButton {
  inline-size: 100%;
  box-sizing: content-box;
  margin: 0 calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}

.CellButton[disabled] {
  opacity: 0.4;
}

.CellButton--centered {
  justify-content: center;
  text-align: center;
}

/* stylelint-disable-next-line @project-tools/stylelint-atomic, selector-max-universal -- отключаем растягивание элементов внутри */
.CellButton--centered > * {
  flex-grow: initial;
  max-inline-size: initial;
}

.CellButton--centered :global(.vkuiIcon) {
  padding-inline-end: 8px;
}

.CellButton {
  --vkui_internal--icon_color: var(--vkui--color_icon_accent);

  color: var(--vkui--color_text_accent);
}

.CellButton--mode-danger {
  --vkui_internal--icon_color: var(--vkui--color_text_negative);

  color: var(--vkui--color_text_negative);
}
