.RadioGroup--mode-horizontal {
  display: flex;
}

/**
 * CMP:
 * FormItem
 */
.FormItem .RadioGroup {
  box-sizing: content-box;
  margin: 0 calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}

.RadioGroup--mode-vertical {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
