.ChipsSelect {
  position: relative;
}

.ChipsSelect__dropdown {
  cursor: pointer;
}

.ChipsSelect__icon {
  pointer-events: none;
}

.ChipsSelect__empty {
  padding: 12px 0;
  text-align: center;
  color: var(--vkui--color_text_secondary);
}

.ChipsSelect--pop-up,
.ChipsSelect--pop-down,
.ChipsSelect__option,
.ChipsSelect__options {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
