.ChipsSelect {
  position: relative;
}

.ChipsSelect .ChipsInput__container {
  padding-right: 25px;
}

.ChipsSelect__fetching,
.ChipsSelect__empty {
  padding: 12px 0;
}

.ChipsSelect__empty {
  text-align: center;
  color: var(--text_secondary);
}

.ChipsSelect__toggle {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 1;
  color: var(--icon_secondary);
}

.ChipsSelect--sizeY-compact .ChipsSelect__toggle {
  right: 8px;
  top: 10px;
}

.ChipsSelect__options {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-color: var(--modal_card_background);
  box-sizing: border-box;
  border: solid 1px var(--field_border);
  border-top: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .03);
  border-radius: 0 0 8px 8px;
  max-height: 160px;
  z-index: 4;
}

.ChipsSelect__options .CustomScrollView__box {
  max-height: 160px;
}

.ChipsSelect__options--popupDirectionTop {
  bottom: 100%;
  border-radius: 8px 8px 0 0;
  border-top: unset;
  border-bottom: 0;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .03);
}

.ChipsSelect--sizeY-compact .CustomSelectOption {
  height: 36px;
  padding: 10px 9px;
}

.ChipsSelect .CustomScrollView__box:focus {
  outline: none;
}

.ChipsSelect__open .FormField__border {
  border-radius: 8px 8px 0 0;
}

.ChipsSelect__open--popupDirectionTop .FormField__border {
  border-radius: 0 0 8px 8px;
}

/**
 * iOS
 */
.ChipsSelect--ios .ChipsSelect__open .FormField__border {
  border-radius: 10px 10px 0 0;
}

.ChipsSelect--ios .ChipsSelect__open--popupDirectionTop .FormField__border {
  border-radius: 0 0 10px 10px;
}

@media (min-resolution: 2dppx) {
  .ChipsSelect--ios .ChipsSelect__open .FormField__border {
    border-radius: 20px 20px 0 0;
  }

  .ChipsSelect--ios .ChipsSelect__open--popupDirectionTop .FormField__border {
    border-radius: 0 0 20px 20px;
  }
}

@media (min-resolution: 3dppx) {
  .ChipsSelect--ios .ChipsSelect__open .FormField__border {
    border-radius: 31.25px 31.25px 0 0;
  }

  .ChipsSelect--ios .ChipsSelect__open--popupDirectionTop .FormField__border {
    border-radius: 0 0 31.25px 31.25px;
  }
}

/**
 * VKCOM
 */
.ChipsSelect--vkcom .ChipsSelect__open .FormField__border {
  border-radius: 6px 6px 0 0;
}

.ChipsSelect--vkcom .ChipsSelect__open--popupDirectionTop .FormField__border {
  border-radius: 0 0 6px 6px;
}
