.ChipsSelect {
  position: relative;
}

.ChipsSelect__empty {
  padding: 12px 0;
}

.ChipsSelect__empty {
  text-align: center;
  color: var(--text_secondary, var(--vkui--color_text_secondary));
}

.ChipsSelect__open:not(.ChipsSelect__open--popupDirectionTop)
  .FormField__border {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ChipsSelect__open.ChipsSelect__open--popupDirectionTop .FormField__border {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
