@import '../../styles/constants.css';

.TabsItem {
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  box-sizing: border-box;
  flex-shrink: 0;
  }

.Tabs--default .TabsItem {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  }

/*
  iOS
 */
.Tabs--ios.Tabs--default .TabsItem {
  height: 32px;
  border: 1px solid;
  line-height: 30px;
  font-size: 14px;
  padding: 0 12px;
  }

.Tabs--ios.Tabs--default .TabsItem:not(:first-child) {
  border-left: none;
  }

.Tabs--ios.Tabs--default .TabsItem:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  }

.Tabs--ios.Tabs--default .TabsItem:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  }

.Tabs--ios.Tabs--default.Tabs--light .TabsItem {
  border-color: var(--light-blue-gray);
  color: var(--light-blue-gray);
  }

.Tabs--ios.Tabs--default.Tabs--light .TabsItem--selected {
  color: #fff;
  background-color: var(--light-blue-gray);
  }

.Tabs--ios.Tabs--default.Tabs--light .TabsItem:not(.TabsItem--selected).Tappable--active {
  background: var(--separator);
  }

.Tabs--ios.Tabs--default.Tabs--header .TabsItem:not(.TabsItem--selected).Tappable--active {
  background-color: rgba(255, 255, 255, .1);
  }

.Tabs--ios.Tabs--default.Tabs--header .TabsItem {
  border-color: #fff;
  color: #fff;
  }

.Tabs--ios.Tabs--default.Tabs--header .TabsItem--selected {
  background-color: #fff;
  color: var(--header-blue);
  }

.Tabs--ios.Tabs--buttons .TabsItem {
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  }

.Tabs--ios.Tabs--buttons > .TabsItem:first-child {
  margin-left: 8px;
  }

.Tabs--ios.Tabs--buttons.Tabs--header .TabsItem {
  background-color: var(--header-blue);
  color: #c2deff;
  }

.Tabs--ios.Tabs--buttons.Tabs--header .TabsItem--selected {
  background-color: rgba(173, 211, 255, .32);
  color: #fff;
  }

.Tabs--ios.Tabs--buttons.Tabs--light .TabsItem {
  color: var(--subhead-gray);
  }

.Tabs--ios.Tabs--buttons.Tabs--light .TabsItem--selected {
  background-color: var(--background-blue);
  color: #5a5d61;
  }

/*
  Android
 */
.Tabs--android .TabsItem {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  position: relative;
  }

  .Tabs--android .TabsItem--selected::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    display: block;
    content: '';
    }

.Tabs--android.Tabs--light .TabsItem {
  color: var(--caption-gray);
  }

.Tabs--android.Tabs--light .TabsItem--selected {
  color: var(--header-blue);
  }

  .Tabs--android.Tabs--light .TabsItem--selected::after {
    background-color: var(--header-blue);
    }

.Tabs--android.Tabs--header .TabsItem {
  color: rgba(255, 255, 255, .5);
  }

.Tabs--android.Tabs--header .TabsItem--selected {
  color: #fff;
  }

  .Tabs--android.Tabs--header .TabsItem--selected::after {
    background-color: #fff;
    }

.Tabs--android.Tabs--header .TabsItem.Tappable--active {
  background-color: rgba(255, 255, 255, .1);
  }

.Tabs--android.Tabs--light .TabsItem.Tappable--active {
  background-color: var(--android-active-color);
  }

.Tabs--android.Tabs--buttons .TabsItem {
  padding-left: 12px;
  padding-right: 12px;
  }
