.in {
  display: flex;
  align-items: stretch;
}

.gap {
  display: block;
  flex-shrink: 0;
}

.host + .host {
  margin-block-start: 16px;
}

.hostWithSpaces .gap {
  inline-size: var(--vkui--size_base_padding_horizontal--regular);
}

/**
 * CMP:
 * SplitCol
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalSplitColViewWidthTabletPlus):global(.vkuiInternalSplitColSpacedAuto)
  .hostWithSpaces
  .gap {
  inline-size: 16px;
}

@media (--viewWidth-smallTabletPlus) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalSplitColViewWidthNone):global(.vkuiInternalSplitColSpacedAuto)
    .hostWithSpaces
    .gap {
    inline-size: 16px;
  }
}

/**
 * CMP:
 * Group
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroupModeCard) .hostWithSpaces {
  margin-inline: -8px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroupModeCard) .hostWithSpaces:first-child {
  padding-block-start: var(--vkui--size_cardgrid_padding_vertical--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroupModeCard) .hostWithSpaces:last-child {
  padding-block-end: var(--vkui--size_cardgrid_padding_vertical--regular);
}

@media (--sizeX-regular) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalGroupModeNone) .hostWithSpaces {
    margin-inline: -8px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalGroupModeNone) .hostWithSpaces:first-child {
    padding-block-start: var(--vkui--size_cardgrid_padding_vertical--regular);
  }

  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalGroupModeNone) .hostWithSpaces:last-child {
    padding-block-end: var(--vkui--size_cardgrid_padding_vertical--regular);
  }
}
