.host {
  --vkui_internal--CardScroll_horizontal_padding: 0;
}

.in {
  inline-size: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.in::after,
.in::before {
  padding-inline: calc(var(--vkui_internal--CardScroll_horizontal_padding) / 2);
  content: '';
}

.host + .host {
  margin-block-start: 16px;
}

.withPaddings {
  --vkui_internal--CardScroll_horizontal_padding: var(
    --vkui--size_base_padding_horizontal--regular
  );
}
