.InfoRow {
  user-select: text;
  }

  .InfoRow__header {
    font-size: 14px;
    line-height: 16px;
    color: var(--text_secondary);
    margin-bottom: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }
