.WriteBarIcon {
  background: none;
  border: 0;
  outline: none;
  position: relative;
  color: var(--writebar_icon);
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.WriteBarIcon--disabled {
  pointer-events: none;
}

.WriteBarIcon:active {
  opacity: .6;
}

.WriteBarIcon__count {
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: 2px solid var(--background_content);
  text-align: center;
  color: var(--button_commerce_foreground);
  background: var(--button_commerce_background);
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  line-height: 18px;
  top: 4px;
  right: 4px;
}

.WriteBarIcon--send.WriteBarIcon--disabled {
  opacity: .4;
}

.WriteBarIcon--send:not(.WriteBarIcon--disabled) {
  color: var(--accent);
}

/* iOS */

.WriteBarIcon--ios {
  width: 44px;
  color: var(--writebar_icon);
}

/* Android */

.WriteBarIcon--android {
  width: 44px;
  color: var(--icon_secondary);
}

.WriteBarIcon--android.WriteBarIcon--send {
  color: var(--accent);
}
