.DatePicker {
  padding: 0;
  margin: 0;
  border: 0;
}

.DatePicker__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.DatePicker__day {
  min-width: 72px;
}

.DatePicker__month {
  display: flex;
  flex: 1 0 0;
  min-width: 0;
  padding: 0 8px;
}

.DatePicker__year {
  min-width: 92px;
}

.DatePicker__monthSelect {
  width: 100%;
}
