.host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--vkui--font_family_base);
}

.withPadding {
  min-block-size: var(--vkui--size_field_height--regular);
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
}

/**
 * CMP:
 * FormItem
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem) .host {
  margin-block: 0;
  margin-inline: calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}

.host[disabled] {
  opacity: var(--vkui--opacity_disable_accessibility);
}

.withPadding.densityCompact {
  min-block-size: var(--vkui--size_field_height--compact);
}

@media (--density-compact) {
  .withPadding.densityNone {
    min-block-size: var(--vkui--size_field_height--compact);
  }
}
