.heading {
  color: var(--vkui--color_text_primary);
}

.heading2 {
  margin-block-start: var(--vkui--spacing_size_4xl);
  font-size: var(--vkui--font_title1--font_size--regular);
  font-weight: var(--vkui--font_weight_accent2);
  line-height: var(--vkui--font_title1--line_height--regular);
}

.heading3 {
  margin-block-start: var(--vkui--spacing_size_2xl);
  font-size: var(--vkui--font_title2--font_size--regular);
  font-weight: var(--vkui--font_weight_accent3);
  line-height: var(--vkui--font_title2--line_height--regular);
}

.heading4 {
  margin-block-start: var(--vkui--spacing_size_xl);
  font-size: var(--vkui--font_title3--font_size--regular);
  font-weight: var(--vkui--font_weight_accent3);
  line-height: var(--vkui--font_title3--line_height--regular);
}

.noMargin {
  margin-block-start: 0;
}

.anchor {
  vertical-align: middle;
  color: currentColor;
  text-decoration: none;
}

.anchorIcon {
  display: inline;
  align-self: center;
  margin-inline-start: var(--vkui--spacing_size_m);
  color: var(--vkui--color_icon_secondary);
  opacity: 0;
}

.heading:target {
  animation: highlight 1.2s ease;
}

.anchor:focus .anchorIcon,
:hover > .anchorIcon {
  opacity: 1;
}

@keyframes highlight {
  0% {
    background-color: var(--vkui--color_background_accent_themed_alpha);
  }

  100% {
    background-color: transparent;
  }
}
