/* stylelint-disable vkui/atomic */
.SizeXRegular--sizeX-compact {
  display: none;
}

@media (--sizeX-compact) {
  .SizeXRegular--sizeX-none {
    display: none;
  }
}

.SizeXCompact--sizeX-regular {
  display: none;
}

@media (--sizeX-regular) {
  .SizeXCompact--sizeX-none {
    display: none;
  }
}

.SizeXRegular,
.SizeXRegular--sizeX-regular,
.SizeXCompact,
.SizeXCompact--sizeX-compact {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
