.SizeXRegular--sizeX-compact {
  display: none;
}

@media (--sizeX-compact) {
  .SizeXRegular--sizeX-none {
    display: none;
  }
}

.SizeXCompact--sizeX-regular {
  display: none;
}

@media (--sizeX-regular) {
  .SizeXCompact--sizeX-none {
    display: none;
  }
}
