.FormLayout {
  position: relative;
}

.FormLayout__submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  padding: 0;
  pointer-events: none;
  visibility: hidden;
  border: none;
  appearance: none;
}

.FormLayout__container {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
