.root {
  margin-block: var(--vkui--spacing_size_4xl);
  overflow: hidden;
  border: 1px solid var(--vkui_docs--color_stroke_separator_secondary);
  border-radius: 8px;
}

.codeBlock {
  display: flex;
  background-color: rgb(126, 142, 160, 0.08);
}

.code {
  flex: 1;
  overflow: auto;
  font-size: 14px;
  white-space: nowrap;
}

.buttons {
  display: flex;
  color: var(--vkui--color_icon_tertiary);
}

.skeleton {
  align-items: center;
  justify-content: center;
  block-size: 192px;
  margin-block: var(--vkui--spacing_size_4xl);
}
