.root {
  margin-block: var(--vkui--spacing_size_4xl);
  overflow: hidden;
  border: 1px solid var(--vkui_docs--color_stroke_separator_secondary);
  border-radius: 8px;
}

.codeBlock {
  position: relative;
  background-color: rgb(126, 142, 160, 0.08);
}

.code {
  font-size: 14px;
  white-space: nowrap;
}

.buttons {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  display: flex;
  color: var(--vkui--color_icon_tertiary);
  opacity: 0;
  transition: opacity ease-out 0.2s;
}

.codeBlock:hover .buttons {
  opacity: 1;
}

.skeleton {
  align-items: center;
  justify-content: center;
  block-size: 192px;
  margin-block: var(--vkui--spacing_size_4xl);
}
