.root {
  margin-block: var(--vkui--spacing_size_4xl);
  overflow: hidden;
  border: 1px solid var(--vkui_docs--color_stroke_separator_secondary);
  border-radius: 8px;
}

.code {
  position: relative;
  padding-block: var(--vkui--spacing_size_m);
  padding-inline: var(--vkui--spacing_size_xs);
  font-size: 14px;
  background-color: rgb(126, 142, 160, 0.08);
}

.skeleton {
  align-items: center;
  justify-content: center;
  block-size: 192px;
  margin-block: var(--vkui--spacing_size_4xl);
}
