.DropZone {
  position: relative;
}

.DropZone__border {
  position: absolute;
  inset-inline-start: -2px;
  inset-block-start: -2px;
  inline-size: calc(100% + 4px);
  block-size: calc(100% + 4px);
  border-radius: var(--vkui--size_border_radius--regular);
  pointer-events: none;
}

.DropZone__border > .DropZone__borderRect {
  ry: var(--vkui--size_border_radius--regular);
  rx: var(--vkui--size_border_radius--regular);
  stroke: var(--vkui--color_separator_primary);
  stroke-width: 1;
  transition: stroke 0.2s ease, stroke-width 0.2s ease;
  block-size: calc(100% - 4px);
  inline-size: calc(100% - 4px);
}

.DropZone--active > .DropZone__border > .DropZone__borderRect {
  stroke: var(--vkui--color_stroke_accent_themed);
  stroke-width: 2;
}
