.host {
  position: relative;
  border-radius: var(--vkui--size_border_radius--regular);
  isolation: isolate;
}

/*
Просто поменять местами элементы внутри Tappable нельзя:

- некоторые элементы завязаны на :last-child и :first-child
- необходимо чтобы все элементы были позиционированные

https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Positioning/Understanding_z_index/Stacking_without_z-index
https://github.com/VKCOM/VKUI/pull/3641
*/
/* stylelint-disable-next-line selector-max-universal */
.host > * {
  position: relative;
  z-index: var(--vkui_internal--z_index_tappable_element);
}

/**
 * overrides
 */
.withBorder {
  border-radius: 0;
}

@media (--viewWidth-smallTabletMinus) {
  .withBorderOnSmallTabletMinus {
    border-radius: 0;
  }
}

.host.borderRadiusInherit {
  border-radius: inherit;
}

/**
 * hover & active state
 */
.stateLayer {
  position: absolute;
  inset: 0;
  z-index: var(--vkui_internal--z_index_tappable_state);
  overflow: hidden;
  border-radius: inherit;
  transition: background-color 0.15s ease-out;
}

/**
 * Задерживаем отрисовку background-color
 */
.hasPointerFalse .ripple {
  transition: background-color 0.15s 0.15s ease-out;
}

@media (--pointer-has-not) {
  .hasPointerNone .ripple {
    transition: background-color 0.15s 0.15s ease-out;
  }
}

.hoveredBackground > .stateLayer {
  background-color: var(--vkui--color_transparent--hover);
}

.activatedBackground > .stateLayer {
  background-color: var(--vkui--color_transparent--active);
}

.hoveredOpacity,
.activatedOpacity {
  transition: opacity 0.15s ease-out;
}

.hoveredOpacity {
  opacity: 0.8;
}

.activatedOpacity {
  opacity: 0.7;
}

.wave {
  --vkui_internal--Tappable-scale: 8;

  position: absolute;
  content: '';
  background: radial-gradient(
    closest-side,
    var(--vkui--color_transparent--active) max(calc(100% - 70px), 65%),
    transparent 100%
  );
  opacity: 0;
  transform-origin: center center;
}

.waveFadeIn {
  animation: animationWaveFadeIn 450ms cubic-bezier(0.2, 0, 0, 1) forwards;
}

.waveFadeOut {
  animation: animationWaveFadeOut 375ms linear;
}

/**
 * Animations
 */
@keyframes animationWaveFadeIn {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(var(--vkui_internal--Tappable-scale));
  }
}

/**
 * Animations
 */
@keyframes animationWaveFadeOut {
  0% {
    opacity: 1;
    transform: scale(var(--vkui_internal--Tappable-scale));
  }

  100% {
    opacity: 0;
  }
}
