@import '../../styles/constants.css';

.ButtonNew {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  }

.ButtonNew[disabled] {
  opacity: .4;
  }

  .ButtonNew__in {
    display: flex;
    align-items: center;
    }

.ButtonNew--type-cell {
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  }

.ButtonNew--type-cell.ButtonNew--level-primary {
  color: map(colors, accentBlue);
  }

.ButtonNew--type-cell.ButtonNew--level-danger {
  color: map(colors, red);
  }

.ButtonNew--stretched {
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  }

  .ButtonNew--stretched .ButtonNew__in {
    justify-content: center;
    }

.ButtonNew--type-default {
  border: 1px solid transparent;
  justify-content: center;
  }

  .ButtonNew--type-default .ButtonNew__before .Icon--16 {
      margin-right: 6px;
      }

  .ButtonNew--type-default .ButtonNew__before .Icon--24 {
      margin-right: 8px;
      }

  .ButtonNew--type-default::before,
  .ButtonNew--type-default::after {
    display: none;
    }

.ButtonNew--level-1 {
  background-color: map(colors, headerBlue);
  color: #fff;
  }

.ButtonNew--level-1.Tappable--active:not([disabled]) {
  background-color: #4872a3;
  }

.ButtonNew--level-2 {
  background-color: rgba(0, 54, 115, .1);
  color: map(colors, mutedBlue)
  }

.ButtonNew--level-2.Tappable--active:not([disabled]) {
  background-color: rgba(0, 54, 115, .2);
  }

.ButtonNew--level-3 {
  background-color: transparent;
  color: map(colors, headerBlue)
  }

.ButtonNew--level-3.Tappable--active:not([disabled]) {
  background-color: rgba(0, 54, 115, .08);
  }

.ButtonNew--level-buy {
  background-color: map(colors, green);
  color: #fff;
  }

.ButtonNew--level-buy.Tappable--active {
  background-color: rgb(66, 158, 66);
  }

.ButtonNew--level-sell {
  background-color: transparent;
  border: 1px solid map(colors, accentBlue);
  color: map(colors, accentBlue);
  }

.ButtonNew--level-sell.Tappable--active:not([disabled]) {
  background-color: rgba(82, 139, 204, 0.1);
  }

.ButtonNew--size-m {
  padding: 0 16px;
  }

  .ButtonNew--size-m .ButtonNew__before {
    margin-left: -4px;
    }

  .ButtonNew--size-m .ButtonNew__content {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    padding: 7px 0;
    }

.ButtonNew--size-l {
  padding: 0 16px;
  }

  .ButtonNew--size-l .ButtonNew__before {
    margin-left: -4px;
    }

  .ButtonNew--size-l .ButtonNew__content {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 0;
    }

.ButtonNew--size-xl {
  width: 100%;
  padding: 0 16px;
  }

  .ButtonNew--size-xl .ButtonNew__in {
    justify-content: center;
    }

  .ButtonNew--size-xl .ButtonNew__content {
    font-size: 17px;
    font-weight: 500;
    padding: 11px;
    }



.ButtonNew--ios.ButtonNew--size-m {
  border-radius: 15px;
  }

.ButtonNew--ios.ButtonNew--size-l {
  border-radius: 18px;
  }

.ButtonNew--ios.ButtonNew--size-xl {
  border-radius: 10px;
  }

.ButtonNew--ios.ButtonNew--type-cell {
  padding: 0 15px;
  position: relative;
  }

  .ButtonNew--ios.ButtonNew--type-cell .ButtonNew__content {
    line-height: 20px;
    font-size: 17px;
    padding: 12px 0;
    }

    .ButtonNew--ios.ButtonNew--type-cell .ButtonNew__before .Icon {
      margin-right: 12px;
      }



.ButtonNew--android.ButtonNew--type-default {
  border-radius: 4px;
  }

.ButtonNew--android.ButtonNew--type-cell {
  padding: 0 16px;
  }

  .ButtonNew--android.ButtonNew--type-cell .ButtonNew__content {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 0;
    }

  .ButtonNew--android.ButtonNew--type-cell .ButtonNew__before .Icon {
    margin-right: 12px;
    }
