.host {
  inline-size: 100%;

  /* см. `.children {}` в `ModalPageV2` */
  flex: 0 0 auto;
  background-color: var(--vkui--color_background_modal);
}

.inner {
  padding-block: 16px;
  padding-inline: 24px;
}
