.Settings {
  margin-bottom: -10px;
}

.Settings__in {
  display: flex;
  flex-wrap: wrap;
}

.Settings__in > .Setting {
  margin-right: 16px;
  margin-bottom: 28px;
}

.SettingDesktop--sizeX-compact {
  display: none;
}

@media (--size-x-compact) {
  .SettingDesktop--sizeX-none {
    display: none;
  }
}
