.host {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  inline-size: 1px;
  block-size: 100%;
}

.viewWidthSmallTabletPlus.spacedAuto {
  margin-block: 0;
  margin-inline: var(--vkui--size_split_col_padding_horizontal--regular);
}

@media (--viewWidth-smallTabletPlus) {
  .viewWidthNone.spacedAuto {
    margin-block: 0;
    margin-inline: var(--vkui--size_split_col_padding_horizontal--regular);
  }
}

.viewWidthTabletMinus.stretchedOnMobile {
  /* stylelint-disable-next-line declaration-no-important */
  inline-size: 100% !important;
  /* stylelint-disable-next-line declaration-no-important */
  max-inline-size: 100% !important;
}

@media (--viewWidth-tabletMinus) {
  .viewWidthNone.stretchedOnMobile {
    /* stylelint-disable-next-line declaration-no-important */
    inline-size: 100% !important;
    /* stylelint-disable-next-line declaration-no-important */
    max-inline-size: 100% !important;
  }
}

.fixedInner {
  position: sticky;
  inset-block-start: 0;
  display: flex;
  flex-direction: column;
  inline-size: inherit;
  min-inline-size: inherit;
  max-inline-size: inherit;
  block-size: auto; /* Иначе высота будет как у всей страницы */
  min-block-size: calc(
    100vh -
    var(--vkui_internal--safe_area_inset_top) -
    var(--vkui_internal--safe_area_inset_bottom)
  );
  min-block-size: 100dvh; /* Graceful Degradation (см. https://caniuse.com/?search=dvh) */
  backface-visibility: hidden;
}
