/* stylelint-disable */
:root,
.vkui--vkBase--light,
.vkui--vkIOS--light {
  --accent: #2688eb;
  --button_primary_background: #2d81e0;
  --button_primary_foreground: #ffffff;
  --icon_secondary: #99a2ad;
  --modal_card_background: #ffffff;
  --text_primary: #000000;
}
/* stylelint-enable */
