/* Файлы с CSS компонентов подключаются здесь неслучайно. Пока не удалось делать импорты через JS так,
 * чтобы в каждом файле были доступны css переменные без их дублирования.
 */
@import './client_light.css';
@import './client_dark.css';
@import './constants.css';
@import '../components/Checkbox/Checkbox.css';
@import '../components/Root/Root.css';
@import '../components/View/View.css';
@import '../components/Panel/Panel.css';
@import '../components/HeaderButton/HeaderButton.css';
@import '../components/HeaderContext/HeaderContext.css';
@import '../components/FixedLayout/FixedLayout.css';
@import '../components/PanelHeader/PanelHeader.css';
@import '../components/InnerScroll/InnerScroll.css';
@import '../components/PanelHeaderContent/PanelHeaderContent.css';
@import '../components/HorizontalScroll/HorizontalScroll.css';
@import '../components/PopoutWrapper/PopoutWrapper.css';
@import '../components/Alert/Alert.css';
@import '../components/ActionSheet/ActionSheet.css';
@import '../components/Button/Button.css';
@import '../components/CellButton/CellButton.css';
@import '../components/Header/Header.css';
@import '../components/Group/Group.css';
@import '../components/List/List.css';
@import '../components/Cell/Cell.css';
@import '../components/Cell/Cell.css';
@import '../components/Footer/Footer.css';
@import '../components/InfoRow/InfoRow.css';
@import '../components/Entity/Entity.css';
@import '../components/Gallery/Gallery.css';
@import '../components/Avatar/Avatar.css';
@import '../components/Progress/Progress.css';
@import '../components/Tabs/Tabs.css';
@import '../components/TabsItem/TabsItem.css';
@import '../components/Spinner/Spinner.css';
@import '../components/ScreenSpinner/ScreenSpinner.css';
@import '../components/Link/Link.css';
@import '../components/Tooltip/Tooltip.css';
@import '../components/FormLayout/FormLayout.css';
@import '../components/FormLayoutGroup/FormLayoutGroup.css';
@import '../components/Switch/Switch.css';
@import '../components/File/File.css';
@import '../components/Input/Input.css';
@import '../components/Slider/Slider.css';
@import '../components/Textarea/Textarea.css';
@import '../components/Radio/Radio.css';
@import '../components/Checkbox/Checkbox.css';
@import '../components/Select/Select.css';
@import '../components/Div/Div.css';
@import '../components/SearchIOS/SearchIOS.css';
@import '../components/SearchAndroid/SearchAndroid.css';
@import '../components/Tappable/Tappable.css';
@import '../components/Tabbar/Tabbar.css';
@import '../components/TabbarItem/TabbarItem.css';
@import '../components/Epic/Epic.css';
@import '../components/FormStatus/FormStatus.css';

html,
body,
div#root {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-common);
}

body {
  overflow-x: hidden;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

#root {
  user-select: none;
  }

a:focus {
  outline: none;
}

.Input--android .Input__border,
.Select--android .Select__border,
.Textarea--android .Textarea__border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--field_border);
  z-index: 2;
}

.Textarea--android .Textarea__border {
  position: relative;
  }

.Input--android .Input__border::after,
.Select--android .Select__border::after,
.Textarea--android .Textarea__border::after {
  position: absolute;
  top: -1px;
  height: 7px;
  width: 100%;
  content: '';
  display: block;
  background-color: var(--field_background);
  z-index: 2;
}

.Input--android .Input__border::before,
.Select--android .Select__border::before,
.Textarea--android .Textarea__border::before {
  position: absolute;
  height: 8px;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-radius: 4px;
  background: var(--accent);
  content: '';
  transform: scaleX(0);
  transition: transform .1s var(--android-easing);
}

.Input--ios .Input__border,
.Textarea--ios .Textarea__border,
.Select--ios .Select__border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--field_border);
  background: var(--field_background);
  content: '';
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
  transform-origin: left top;
  }

@media (min-resolution: 2dppx) {
  .Input--ios .Input__border,
  .Textarea--ios .Textarea__border,
  .Select--ios .Select__border {
    transform: scale(.5);
    border-radius: 20px;
    width: 200%;
    height: 200%;
    }
  }

@media (min-resolution: 3dppx) {
  .Input--ios .Input__border,
  .Textarea--ios .Textarea__border,
  .Select--ios .Select__border {
    transform: scale(.32);
    border-radius: calc(10px * 3.125);
    width: 312.5%;
    height: 312.5%;
    }
  }
