@import './generated/palette.css';
@import './generated/client_light.css';
@import './generated/client_dark.css';
@import './constants.css';
@import '../components/Checkbox/Checkbox.css';
@import '../components/Root/Root.css';
@import '../components/View/View.css';
@import '../components/Panel/Panel.css';
@import '../components/HeaderButton/HeaderButton.css';
@import '../components/HeaderContext/HeaderContext.css';
@import '../components/FixedLayout/FixedLayout.css';
@import '../components/PanelHeader/PanelHeader.css';
@import '../components/InnerScroll/InnerScroll.css';
@import '../components/PanelHeaderContent/PanelHeaderContent.css';
@import '../components/HorizontalScroll/HorizontalScroll.css';
@import '../components/PopoutWrapper/PopoutWrapper.css';
@import '../components/Alert/Alert.css';
@import '../components/ActionSheet/ActionSheet.css';
@import '../components/Button/Button.css';
@import '../components/CellButton/CellButton.css';
@import '../components/Header/Header.css';
@import '../components/Group/Group.css';
@import '../components/List/List.css';
@import '../components/Cell/Cell.css';
@import '../components/Cell/Cell.css';
@import '../components/Footer/Footer.css';
@import '../components/InfoRow/InfoRow.css';
@import '../components/Entity/Entity.css';
@import '../components/Gallery/Gallery.css';
@import '../components/Avatar/Avatar.css';
@import '../components/Progress/Progress.css';
@import '../components/Tabs/Tabs.css';
@import '../components/TabsItem/TabsItem.css';
@import '../components/Spinner/Spinner.css';
@import '../components/Link/Link.css';
@import '../components/Tooltip/Tooltip.css';
@import '../components/FormLayout/FormLayout.css';
@import '../components/FormLayoutGroup/FormLayoutGroup.css';
@import '../components/Switch/Switch.css';
@import '../components/File/File.css';
@import '../components/Input/Input.css';
@import '../components/Slider/Slider.css';
@import '../components/Textarea/Textarea.css';
@import '../components/Radio/Radio.css';
@import '../components/Checkbox/Checkbox.css';
@import '../components/Select/Select.css';
@import '../components/Div/Div.css';
@import '../components/SearchIOS/SearchIOS.css';
@import '../components/SearchAndroid/SearchAndroid.css';
@import '../components/Tappable/Tappable.css';
@import '../components/Tabbar/Tabbar.css';
@import '../components/TabbarItem/TabbarItem.css';
@import '../components/Epic/Epic.css';

html,
body,
div#root {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-common);
}

body {
  overflow-x: hidden;
}

#root {
  user-select: none;
  }

a:focus {
  outline: none;
}

.Input-underline,
.Select-underline,
.Textarea-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--field_border);
  z-index: 1;
}

.Textarea-underline {
  position: relative;
  }

.Input-underline::after,
.Select-underline::after,
.Textarea-underline::after {
  position: absolute;
  top: -1px;
  height: 7px;
  width: 100%;
  content: '';
  display: block;
  background-color: var(--field_background);
  z-index: 2;
}

.Input-underline::before,
.Select-underline::before,
.Textarea-underline::before {
  position: absolute;
  height: 8px;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-radius: 4px;
  background: var(--accent);
  content: '';
  transform: scaleX(0);
  transition: transform .1s var(--android-easing);
}
