:root {
  /* fonts */
  --font-ios: -apple-system, Helvetica Neue, Arial;
  --font-android: Roboto, Arial;
  --font-common: -apple-system, Roboto, Helvetica Neue, Arial;

  /* easings */
  --ios-easing: cubic-bezier(.36, .66, .04, 1);
  --android-easing: cubic-bezier(.4, 0, .2, 1);

  /* sizes */
  --tabbar_height: 48px;
}
