:root {
  --blue_A800: #28436e;
  --blue_A400: #346cad;
  --blue_200_muted: #74a2d6;
  --steel_gray_400: #818c99;
  --gray_200: #c4c8cc;
  --gray_500: #76787a;
  --blue_400: #5181b8;
  --blue_600: #45678f;
  --gray_600: #5d5f61;
  --steel_gray_500: #6d7885;
  --blue_A300: #4772a6;
  --gray_800: #2c2d2e;
  --gray_900: #19191a;
  --gray_950: #141414;
  --steel_gray_300: #99a2ad;
  --gray_300: #aaaeb3;
  --blue_300: #528bcc;
  --gray_10: #f9f9f9;
  --gray_50: #ebedf0;
  --gray_400: #909499;
  --gray_A40: #f5f5f5;
  --gray_40: #f2f3f5;
  --gray_100: #e1e3e6;
  --clear: transparent;
  --white: #fff;
  --black: #000;
  --black_alpha35: #59000000;
  --black_alpha75: #bf000000;
  --black_alpha6: #0f000000;
  --gray_alpha: #b3d7dbe0;
  --pink_alpha: #2e1e000c;
  --gray_A250: #d7d8d9;
  --black_alpha12: #1f000000;
  --blue_muted_alpha: #14001c3d;
  --blue_alpha: #4000244d;
  --blue_A500: #3c6a9e;
  --blue_200: #5c9ce6;
  --red_light: #fe5171;
  --red_nice: #ff3347;
  --red: #e64646;
  --orange_fire: #f05c44;
  --orange: #ffa000;
  --turquoise: #63b9ba;
  --green: #4bb34b;
  --pink_light: #faebeb;
  --pink: #e6457a;
  --violet_muted: #4b4d61;
  --violet: #792ec0;
  --yellow: #ffc107;
  --yellow_light: #ffd54f;
  --violet_dark: #1f1b2c;
  --violet_light: #928dab;
  --blue_overlight_1: #add3ff;
  --blue_overlight_2: #c2deff;
  --blue_overlight_3: #92b2d6;
  --black_blue: #000c1a;
  --azure_300: #3f8ae0;
  --azure_100_muted: #67a5eb;
  --azure_A400: #4986cc;
  --red_error: #eb4250;
  --light_gray_2: #a9b0b8;
  --brown_gold: #9e8f72;
  --brown_light: #c2b79f;
  --blue_facebook: #4367a3;
  --sky_300: #71aaeb;
  --turquoise_light: #cce4ff;
  --gray_700: #454647;
  --gray_450: #7f8285;
  }
