@import "./palette.css";

.vkui--client-light {
  --text_primary: var(--black);
  --text_muted: var(--gray_900);
  --text_secondary: var(--gray_400);
  --text_subhead: var(--gray_500);
  --text_placeholder: var(--steel_gray_400);
  --background_content: var(--white);
  --background_page: var(--gray_50);
  --background_suggestions: var(--white);
  --background_keyboard: var(--gray_100);
  --background_light: var(--gray_10);
  --content_tint_background: var(--gray_A40);
  --content_tint_foreground: var(--gray_450);
  --header_background_before_blur: var(--blue_A400);
  --header_background_before_blur_alternate: var(--white);
  --header_tint_accent_alternate: var(--blue_300);
  --text_link: var(--blue_A500);
  --text_link_hightlight_background: var(--black);
  --separator_common: var(--gray_A250);
  --separator_alternate: var(--gray_100);
  --button_primary_background: var(--blue_400);
  --button_primary_foreground: var(--white);
  --button_secondary_background: var(--gray_50);
  --button_secondary_foreground: var(--blue_600);
  --button_tertiary_background: var(--clear);
  --button_tertiary_foreground: var(--blue_400);
  --button_outline_border: var(--blue_300);
  --button_outline_foreground: var(--blue_300);
  --button_commerce_background: var(--green);
  --button_commerce_foreground: var(--white);
  --button_bot_shadow: var(--gray_200);
  --cell_button_foreground: var(--blue_300);
  --cell_button_destructive_foreground: var(--red);
  --selection_on_icon: var(--blue_300);
  --selection_off_icon: var(--gray_200);
  --loader_track_value_fill: var(--blue_300);
  --loader_track_fill: var(--gray_100);
  --overlay_status_background: var(--gray_50);
  --overlay_status_icon: var(--steel_gray_400);
  --overlay_status_foreground: var(--steel_gray_500);
  --icon_fill_primary: var(--black);
  --icon_outline_primary: var(--gray_400);
  --icon_accent: var(--blue_300);
  --im_bubble_incoming: var(--gray_50);
  --im_bubble_outgoing: var(--turquoise_light);
  --im_forward_line_background: var(--blue_600);
  --poll_option_background: var(--blue_600);
  --modal_card_background: var(--white);
  --link_alternate: var(--blue_400);
  --accent: var(--blue_300);
  --input_background: var(--gray_40);
  --input_border: var(--gray_100);
  --search_input_backbackground: var(--gray_50);
  --search_input_background: var(--white);
  --search_input_background_alternate: var(--blue_A800);
  --search_input_tint_alternate: var(--blue_overlight_3);
  --icon_alpha_placeholder: var(--white);
  --activity_indicator_tint: var(--gray_700);
  --content_placeholder_icon: var(--steel_gray_300);
  --content_placeholder_text: var(--steel_gray_400);
  --segmented_control_bar_background: var(--clear);
  --segmented_control_tint: var(--steel_gray_300);
  --border_light: var(--gray_600);
  --loader_background: var(--gray_50);
  --loader_tint: var(--gray_500);
  --snippet_background: var(--white);
  }

:root,
.vkui--client-dark {
  --text_primary: var(--gray_100);
  --text_muted: var(--gray_200);
  --text_secondary: var(--gray_500);
  --text_subhead: var(--gray_400);
  --text_placeholder: var(--gray_300);
  --background_content: var(--gray_900);
  --background_page: var(--gray_950);
  --background_suggestions: var(--gray_800);
  --background_keyboard: var(--gray_800);
  --background_light: var(--gray_700);
  --content_tint_background: var(--gray_900);
  --content_tint_foreground: var(--gray_500);
  --header_background_before_blur: var(--gray_950);
  --header_background_before_blur_alternate: var(--gray_950);
  --header_tint_accent_alternate: var(--sky_300);
  --text_link: var(--sky_300);
  --text_link_hightlight_background: var(--sky_300);
  --separator_common: var(--gray_800);
  --separator_alternate: var(--gray_900);
  --button_primary_background: var(--gray_100);
  --button_primary_foreground: var(--gray_900);
  --button_secondary_background: var(--gray_700);
  --button_secondary_foreground: var(--gray_100);
  --button_tertiary_background: var(--clear);
  --button_tertiary_foreground: var(--sky_300);
  --button_outline_border: var(--sky_300);
  --button_outline_foreground: var(--sky_300);
  --button_commerce_background: var(--green);
  --button_commerce_foreground: var(--white);
  --button_bot_shadow: var(--gray_900);
  --cell_button_foreground: var(--sky_300);
  --cell_button_destructive_foreground: var(--red_light);
  --selection_on_icon: var(--sky_300);
  --selection_off_icon: var(--gray_700);
  --loader_track_value_fill: var(--sky_300);
  --loader_track_fill: var(--gray_700);
  --overlay_status_background: var(--gray_900);
  --overlay_status_icon: var(--gray_50);
  --overlay_status_foreground: var(--gray_100);
  --icon_fill_primary: var(--white);
  --icon_outline_primary: var(--gray_100);
  --icon_accent: var(--sky_300);
  --im_bubble_incoming: var(--gray_800);
  --im_bubble_outgoing: var(--gray_700);
  --im_forward_line_background: var(--white);
  --poll_option_background: var(--white);
  --modal_card_background: var(--gray_800);
  --link_alternate: var(--sky_300);
  --accent: var(--sky_300);
  --input_background: var(--gray_700);
  --input_border: var(--gray_800);
  --search_input_backbackground: var(--gray_900);
  --search_input_background: var(--gray_700);
  --search_input_background_alternate: var(--gray_700);
  --search_input_tint_alternate: var(--gray_100);
  --icon_alpha_placeholder: var(--gray_100);
  --activity_indicator_tint: var(--gray_50);
  --content_placeholder_icon: var(--gray_300);
  --content_placeholder_text: var(--gray_300);
  --segmented_control_bar_background: var(--gray_900);
  --segmented_control_tint: var(--gray_500);
  --border_light: var(--gray_100);
  --loader_background: var(--gray_900);
  --loader_tint: var(--gray_500);
  --snippet_background: var(--gray_800);
  }
