.host {
  grid-template-columns: repeat(var(--vkui_internal--grid_columns), minmax(0, 1fr));
  gap: var(--vkui_internal--row_gap) var(--vkui_internal--column_gap);
}

.marginAuto {
  margin-block: var(--vkui--size_base_padding_vertical--regular);
  margin-inline: var(--vkui--size_base_padding_horizontal--regular);
}

.marginAutoInline {
  margin-inline: var(--vkui--size_base_padding_horizontal--regular);
}

.marginAutoBlock {
  margin-block: var(--vkui--size_base_padding_vertical--regular);
}

.withMinWidth {
  grid-template-columns: repeat(auto-fit, minmax(var(--vkui_internal--min_col_width), 1fr));
}
