@import '../../styles/constants.css';

.Progress {
  border-radius: 2px;
  background-color: var(--background-blue);
  }

  .Progress__in {
    height: 4px;
    border-radius: 2px;
    transition: width .2s ease;
    }
