.host {
  position: relative;
  max-block-size: 204px;
  overflow: hidden;
}

.el {
  position: relative;
  z-index: var(--vkui_internal--z_index_form_field_element);
  box-sizing: border-box;
  display: block;
  inline-size: 100%;
  padding-block: calc(
    (var(--vkui--size_field_height--regular) - var(--vkui--font_text--line_height--regular)) /
    2
  );
  padding-inline: 12px;
  color: var(--vkui--color_text_primary);
}

.densityCompact .el {
  padding-block: calc(
    (
      var(--vkui--size_field_height--compact) -
      var(--vkui--font_text--line_height--compact, var(--vkui--font_text--line_height--regular))
    ) /
    2
  );
}

@media (--density-compact) {
  .densityNone .el {
    padding-block: calc(
      (
        var(--vkui--size_field_height--compact) -
        var(--vkui--font_text--line_height--compact, var(--vkui--font_text--line_height--regular))
      ) /
      2
    );
  }
}

.el[cols] {
  inline-size: initial;
}

.densityCompact {
  max-block-size: 196px;
}

@media (--density-compact) {
  .densityNone {
    max-block-size: 196px;
  }
}

.el::placeholder {
  color: var(--vkui--color_text_secondary);
  /* Для Firefox */
  opacity: 1;
}

.el:disabled::placeholder {
  color: var(--vkui--color_text_secondary);
}

.el:disabled {
  pointer-events: auto;
}

.alignCenter .el {
  text-align: center;
}

.alignRight .el {
  text-align: end;
}
