.host {
  overflow: hidden;
  position: relative;
  max-block-size: 204px;
}

.el {
  position: relative;
  z-index: var(--vkui_internal--z_index_form_field_element);
  display: block;
  padding: 12px;
  inline-size: 100%;
  box-sizing: border-box;
  color: var(--vkui--color_text_primary);
}

.el[cols] {
  inline-size: initial;
}

.sizeYCompact {
  max-block-size: 196px;
}

@media (--sizeY-compact) {
  .sizeYNone {
    max-block-size: 196px;
  }
}

.el::placeholder {
  color: var(--vkui--color_text_secondary);
  /* Для Firefox */
  opacity: 1;
}

.el:disabled::placeholder {
  color: var(--vkui--color_text_secondary);
}

.alignCenter .el {
  text-align: center;
}

.alignRight .el {
  text-align: end;
}
