:root {
  --duration: .7s;
}

.Spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon_outline_secondary);
}

.PanelHeader .Spinner {
  color: currentColor;
}

.Spinner__self {
  animation: vkui-rotator var(--duration) linear infinite;
  transform-origin: center;
}

.Spinner__self svg {
  transform: scale(1);
}

@keyframes vkui-rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
