

:root {
  --offset: 106;
  --duration: 1.4s;
}

.Spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .Spinner--ios .Spinner__self {
    position: relative;
    fill: var(--text_primary);
    }

  .ScreenSpinner--ios .Spinner__self {
    fill: var(--white);
    }

  .Spinner--android .Spinner__self {
    stroke: var(--accent);
    }

  .PanelHeader--ios .Spinner__self {
    fill: currentColor;
    }

  .PanelHeader--android .Spinner__self {
    stroke: currentColor;
    }

  .ScreenSpinner--android .Spinner__self {
    stroke: var(--white);
    }

  .Spinner--android.Spinner--on .Spinner__self {
    animation: rotator var(--duration) linear infinite;
    }

    .Spinner--android .Spinner__path {
      transform-origin: center;
      }

  .Spinner--ios.Spinner--on .Spinner__part {
    animation: fade var(--duration) linear infinite;
    }

@keyframes rotator {
  0% {
    transform: rotate(0deg);
    }

  100% {
    transform: rotate(360deg);
    }
  }

@keyframes fade {
  from {
    opacity: 1;
    }

  to {
    opacity: .1;
    }
  }
