.host {
  flex-grow: 1;
  min-inline-size: 0; /* см. https://github.com/VKCOM/VKUI/issues/5687 */
  margin-inline-start: 12px;
  color: var(--vkui--color_text_primary);
  word-break: break-word;
}

.withPadding {
  margin-block: var(--vkui--spacing_size_xl);
}

.host:first-child {
  margin-inline-start: 0;
}

.description {
  display: block;
  margin-block-start: 2px;
  color: var(--vkui--color_text_secondary);
}

.titleLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  min-inline-size: 0; /* см. https://github.com/VKCOM/VKUI/issues/5687 */
}

.titleAfter {
  flex-shrink: 0;
  margin-inline-start: 4px;
  color: var(--vkui--color_icon_tertiary);
}

.withPadding.sizeYCompact {
  margin-block: var(--vkui--spacing_size_m);
}

@media (--sizeY-compact) {
  .withPadding.sizeYNone {
    margin-block: var(--vkui--spacing_size_m);
  }
}
