.root {
  inline-size: 100%;
  overflow: auto;
  font-size: var(--vkui--font_footnote--font_size--regular);
  line-height: var(--vkui--font_footnote--line_height--regular);
}

.td {
  padding-block: var(--vkui--spacing_size_xl);
  padding-inline: var(--vkui--spacing_size_2xl);
}

.propName {
  max-inline-size: 250px;
}

.propRequired::after {
  padding-inline-start: var(--vkui--spacing_size_2xs);
  color: var(--vkui--color_accent_red);
  content: '*';
}

.propDeprecated {
  color: var(--vkui--color_text_secondary);
  text-decoration: line-through;
}

.propDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
}

.propDefault {
  margin-block-start: var(--vkui--spacing_size_xl);
}
