.DateRangeInput__input {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 14px;
  font-size: 16px;
  z-index: 6;
  cursor: text;
  white-space: nowrap;
  user-select: text;
  font-variant-numeric: tabular-nums;
}

.DateRangeInput--sizeY-compact .DateRangeInput__input {
  font-size: 15px;
  margin-right: 22px;
}

@media (--sizeY-compact) {
  .DateRangeInput--sizeY-none .DateRangeInput__input {
    font-size: 15px;
    margin-right: 22px;
  }
}

.DateRangeInput {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
