.host {
  white-space: normal;
}

.content {
  background-color: var(--vkui--color_background_modal);
  box-shadow: var(--vkui--elevation3);
  padding-block: 9px 10px;
  padding-inline: 12px;
  border-radius: var(--vkui--size_border_radius--regular);
  color: var(--vkui--color_text_primary);
}

.arrow {
  color: var(--vkui--color_background_modal);
}

.hostAppearanceAccent .content {
  background-color: var(--vkui--color_background_accent_tint);
  color: var(--vkui--color_text_contrast);
}

.hostAppearanceAccent .arrow {
  color: var(--vkui--color_background_accent_tint);
}

.hostAppearanceWhite .content {
  background-color: var(--vkui--color_background_contrast);
  color: var(--vkui--color_text_primary_invariably);
}

.hostAppearanceWhite .arrow {
  color: var(--vkui--color_background_contrast);
}

.hostAppearanceBlack .content {
  background-color: var(--vkui--color_background_contrast_inverse);
  color: var(--vkui--color_text_contrast);
}

.hostAppearanceBlack .arrow {
  color: var(--vkui--color_background_contrast_inverse);
}

.hostAppearanceInversion .content {
  background-color: var(--vkui--color_background_modal_inverse);
  color: var(--vkui--color_text_contrast_themed);
}

.hostAppearanceInversion .arrow {
  color: var(--vkui--color_background_modal_inverse);
}
