.TooltipBase {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: normal;
}

.TooltipBase__content {
  background-color: var(--vkui--color_background_modal);
  box-shadow: var(--vkui--elevation3);
  padding: 9px 12px 10px;
  border-radius: var(--vkui--size_border_radius--regular);
  color: var(--vkui--color_text_primary);
  max-width: 220px;
}

.TooltipBase__arrow {
  color: var(--vkui--color_background_modal);
}

.TooltipBase--appearance-accent .TooltipBase__content {
  background-color: var(--vkui--color_background_accent_tint);
  color: var(--vkui--color_text_contrast);
}

.TooltipBase--appearance-accent .TooltipBase__arrow {
  color: var(--vkui--color_background_accent_tint);
}

.TooltipBase--appearance-white .TooltipBase__content {
  background-color: var(--vkui--color_background_contrast);
  color: var(--vkui--color_text_primary_invariably);
}

.TooltipBase--appearance-white .TooltipBase__arrow {
  color: var(--vkui--color_background_contrast);
}

.TooltipBase--appearance-black .TooltipBase__content {
  background-color: var(--vkui--color_background_contrast_inverse);
  color: var(--vkui--color_text_contrast);
}

.TooltipBase--appearance-black .TooltipBase__arrow {
  color: var(--vkui--color_background_contrast_inverse);
}

.TooltipBase--appearance-inversion .TooltipBase__content {
  background-color: var(--vkui--color_background_modal_inverse);
  color: var(--vkui--color_text_contrast_themed);
}

.TooltipBase--appearance-inversion .TooltipBase__arrow {
  color: var(--vkui--color_background_modal_inverse);
}
