.host {
  white-space: normal;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--vkui--color_background_contrast_themed);
  box-shadow: var(--vkui--elevation3);
  padding-block: 9px 10px;
  padding-inline: 12px;
  border-radius: var(--vkui--size_border_radius--regular);
  color: var(--vkui--color_text_primary);
}

.closeButton {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  margin-inline-start: 10px;
  color: inherit;
  padding: 0;
  border: 0;
  background: none;
}

.title,
.description {
  word-break: break-word;
}

.arrow {
  color: var(--vkui--color_background_contrast_themed);
}

.appearanceAccent .content {
  background-color: var(--vkui--color_background_accent_tint);
  color: var(--vkui--color_text_contrast);
}

.appearanceAccent .arrow {
  color: var(--vkui--color_background_accent_tint);
}

.appearanceWhite .content {
  background-color: var(--vkui--color_background_contrast);
  color: var(--vkui--color_text_primary_invariably);
}

.appearanceWhite .arrow {
  color: var(--vkui--color_background_contrast);
}

.appearanceBlack .content {
  background-color: var(--vkui--color_background_contrast_inverse);
  color: var(--vkui--color_text_contrast);
}

.appearanceBlack .arrow {
  color: var(--vkui--color_background_contrast_inverse);
}

.appearanceInversion .content {
  background-color: var(--vkui--color_background_modal_inverse);
  color: var(--vkui--color_text_contrast_themed);
}

.appearanceInversion .arrow {
  color: var(--vkui--color_background_modal_inverse);
}
