@import '../../styles/constants.css';

.SelectNew {
  display: block;
  position: relative;
  }

  .SelectNew select {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    appearance: none;
    border: 0;
    background: none;
    width: 100%;
    outline: none;
    }

  .SelectNew--ios select {
    line-height: 19px;
    font-size: 16px;
    color: map(colors, black);
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(242, 243, 245);
    border: solid .5px rgba(0, 0, 0, 0.15);
    text-overflow: ellipsis;
    }

  .SelectNew--ios.SelectNew--not-selected select {
    color: map(colors, captionGray);
    }

  .SelectNew--ios select:focus {
    border-color: map(colors, accentBlue);
    }

  .SelectNew--ios .Icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: map(colors, lightBlueGray)
    }
