.Select {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.Select__el {
  display: block;
  position: absolute;
  appearance: none;
  border: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  font-size: 16px;
}

.Select__container {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 7px 11px;
  color: var(--text_primary, var(--vkui--color_text_primary));
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.Select__title {
  display: block;
}

.Select:not(.Select--multiline) .Select__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Select--empty .Select__title {
  color: var(--field_text_placeholder, var(--vkui--color_text_secondary));
}

.Select--align-right .Select__title {
  text-align: right;
}

.Select--align-center .Select__title {
  text-align: center;
}

/**
 * sizeY REGULAR
 * TODO v5.0.0 поправить под новую адаптивность
 */
.Select--sizeY-regular .Select__container {
  padding: 11px;
}

/**
 * CMP:
 * CalendarHeader
 */
.CalendarHeader__picker .Select__container {
  padding-right: 4px;
}
