

.Select {
  display: block;
  position: relative;
  box-sizing: border-box;
  }

.Select--mimicry:focus {
  outline: none;
  }

  .Select select {
    display: block;
    position: absolute;
    appearance: none;
    outline: none;
    border: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    font-size: 16px;
    }

  .Select__container {
    line-height: 19px;
    font-size: 16px;
    padding: 12px 40px 12px 12px;
    color: var(--text_primary);
    box-sizing: border-box;
    height: 44px;
    position: relative;
    }

  .Select select:disabled ~ .Select__container {
    opacity: .6;
    }

    .Select__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      }

    .Select--not-selected .Select__title {
      color: var(--field_text_placeholder);
      }

    .Select--align-right .Select__title {
      text-align: right;
      }

    .Select--align-center .Select__title {
      text-align: center;
      }

    .Select .Icon {
      position: absolute;
      top: 10px;
      right: 10px;
      color: var(--icon_secondary);
      }

.Select--ios {}

  .Select--ios .Select__container {
    border-radius: 10px;
    background-color: var(--field_background);
    border: solid .5px var(--field_border);
    }

  .Select--ios select:focus ~ .Select__container,
  .Select--ios.Select--mimicry:focus .Select__container {
    border-color: var(--accent);
    }

.Select--android {}

  .Select--android .Select__container {
    border-radius: 4px;
    background-color: var(--field_background);
    }

  .Select--android select:focus ~ .Select-underline::before,
  .Select--android.Select--mimicry:focus .Select-underline::before {
    transform: scaleX(1);
    z-index: 0;
    transition: transform .14s var(--android-easing);
    }
