@import '../../styles/constants.css';

.Select {
  display: block;
  margin: 0;
  overflow: hidden;
  min-width: 140px;
  outline: none;
  }

  .Select select {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    line-height: 22px;
    appearance: none;
    border: 0;
    background: none;
    width: 100%;
    outline: none;
    }

  .Select--ios select {
    font-size: 17px;
    padding: 11px 0 12px;
    }

  .Select--android select {
    font-family: var(--android-font);
    font-size: 16px;
    padding: 16px 0 18px;
    }
