.host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 0;
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
  min-inline-size: var(--vkui--size_field_height--regular);
  min-block-size: var(--vkui--size_field_height--regular);
  font-family: var(--vkui--font_family_base);
}

/**
 * CMP:
 * FormItem
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem) .host {
  inline-size: 100%;
  box-sizing: content-box;
  margin-block: 0;
  margin-inline: calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}

.icon {
  flex-shrink: 0;
  margin-inline-end: 12px;
}

.iconOn {
  color: var(--vkui--color_icon_accent);
  display: none;
}

.iconIndeterminate {
  color: var(--vkui--color_icon_accent);
  display: none;
}

.iconOff {
  color: var(--vkui--color_icon_tertiary);
}

.content {
  flex-grow: 1;
  color: var(--vkui--color_text_primary);
  min-inline-size: 0; /* см. https://github.com/VKCOM/VKUI/issues/5687 */
  word-break: break-word;
}

.description {
  color: var(--vkui--color_text_secondary);
  display: block;
  margin-block: 2px 12px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 12px;
}

.title:last-child {
  margin-block-end: 12px;
}

.titleBefore {
  min-inline-size: 0; /* см. https://github.com/VKCOM/VKUI/issues/5687 */
}

.titleAfter {
  margin-inline-start: 4px;
  flex-shrink: 0;
  color: var(--vkui--color_icon_tertiary);
}

.input:checked ~ .iconOn {
  display: flex;
}

.input:indeterminate ~ .iconIndeterminate,
.input:checked ~ .iconOff {
  display: none;
}

.input:indeterminate ~ .iconIndeterminate {
  display: flex;
}

.input:indeterminate ~ .iconOn,
.input:indeterminate ~ .iconOff {
  display: none;
}

/* stylelint-disable-next-line selector-max-universal */
.input[disabled] ~ * {
  opacity: var(--vkui--opacity_disable_accessibility);
}

/**
 * simple
 */

.hostSimple {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  inline-size: var(--vkui--size_field_height--regular);
  block-size: var(--vkui--size_field_height--regular);
}

.hostSimple .content {
  display: none;
}

.hostSimple .icon {
  margin: 0;
}

/**
 * sizeY COMPACT
 */

.hostSizeYCompact {
  min-inline-size: var(--vkui--size_field_height--compact);
  min-block-size: var(--vkui--size_field_height--compact);
}

.hostSizeYCompact.hostSimple {
  inline-size: var(--vkui--size_field_height--compact);
  block-size: var(--vkui--size_field_height--compact);
}

.hostSizeYCompact .title {
  margin-block-start: 8px;
}

.hostSizeYCompact .title:last-child {
  margin-block-end: 8px;
}

.hostSizeYCompact .description {
  margin-block-end: 8px;
}

@media (--sizeY-compact) {
  .hostSizeYNone {
    min-inline-size: var(--vkui--size_field_height--compact);
    min-block-size: var(--vkui--size_field_height--compact);
  }

  .hostSizeYNone.hostSimple {
    inline-size: var(--vkui--size_field_height--compact);
    block-size: var(--vkui--size_field_height--compact);
  }

  .hostSizeYNone .title {
    margin-block-start: 8px;
  }

  .hostSizeYNone .title:last-child {
    margin-block-end: 8px;
  }

  .hostSizeYNone .description {
    margin-block-end: 8px;
  }
}
