.ViewWidthConditionalRender__mobile--viewWidth-tabletPlus {
  display: none;
}

@media (--viewWidth-tabletPlus) {
  .ViewWidthConditionalRender__mobile--viewWidth-none {
    display: none;
  }
}

.ViewWidthConditionalRender__desktop--viewWidth-smallTablet,
.ViewWidthConditionalRender__desktop--viewWidth-mobile,
.ViewWidthConditionalRender__desktop--viewWidth-smallMobile {
  display: none;
}

@media (--viewWidth-tabletMinus) {
  .ViewWidthConditionalRender__desktop--viewWidth-none {
    display: none;
  }
}

.ViewWidthConditionalRender__mobile,
.ViewWidthConditionalRender__desktop {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
