.host {
  display: flex;
  padding-block: var(--vkui--spacing_size_m);
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
  min-block-size: 64px;
  box-sizing: border-box;
  color: var(--vkui--color_text_primary);
  text-decoration: none; /* в случае если Component="a" */
  font-family: var(--vkui--font_family_base);
}

.sizeYCompact {
  min-block-size: 60px;
}

@media (--sizeY-compact) {
  .sizeYNone {
    min-block-size: 60px;
  }
}

.before {
  margin-inline-end: var(--vkui--spacing_size_xl);
}

.inWrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  min-inline-size: 0;
}

.in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  max-inline-size: 100%;
  min-inline-size: 0;
}

.content {
  display: flex;
  word-break: break-word;
  justify-content: space-between;
}

.contentBefore {
  display: flex;
  flex-direction: column;
  min-inline-size: 0;
  flex-grow: 1;
}

.contentBefore.withAfter {
  flex-grow: 0;
}

.contentAlignStart {
  justify-content: flex-start;
}

.contentAlignCenter {
  justify-content: center;
}

.contentAlignEnd {
  justify-content: flex-end;
}

.contentAfter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-inline-start: var(--vkui--spacing_size_xl);
  box-sizing: border-box;
  flex-shrink: 0;
  min-inline-size: 0;
  flex-grow: 1;
  inline-size: min-content;
}

.alignSelfStart {
  align-self: flex-start;
}

.alignSelfCenter {
  align-self: center;
}

.alignSelfEnd {
  align-self: flex-end;
}

.afterChildren {
  font-weight: var(--vkui--font_weight_accent2);
}

.afterCaption {
  margin-block-start: var(--vkui--spacing_size_2xs);
  font-size: var(--vkui--font_footnote--font_size--regular);
  line-height: var(--vkui--font_footnote--line_height--regular);
  color: var(--vkui--color_text_secondary);
}

.sizeYCompact .afterCaption {
  font-size: var(--vkui--font_caption1--font_size--regular);
  line-height: var(--vkui--font_caption1--line_height--regular);
}

@media (--sizeY-compact) {
  .sizeYNone .afterCaption {
    font-size: var(--vkui--font_caption1--font_size--regular);
    line-height: var(--vkui--font_caption1--line_height--regular);
  }
}

.overTitle {
  color: var(--vkui--color_text_secondary);
}

.extraSubtitle {
  margin-block-start: 1px;
  color: var(--vkui--color_text_secondary);
}

.children {
  font-weight: var(--vkui--font_weight_accent2);
}

.textEllipsis .overTitle,
.textEllipsis .children,
.textEllipsis .subtitle,
.textEllipsis .extraSubtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-inline-size: 100%;
  overflow: hidden;
}

.bottom {
  margin-block-start: var(--vkui--spacing_size_s);
}

.actions {
  margin-block-start: var(--vkui--spacing_size_m);
}

.children,
.subtitle,
.afterChildren {
  font-size: var(--vkui--font_paragraph--font_size--regular);
  line-height: var(--vkui--font_paragraph--line_height--regular);
}

.sizeYCompact .children,
.sizeYCompact .subtitle,
.sizeYCompact .afterChildren {
  font-size: var(--vkui--font_subhead--font_size--regular);
  line-height: var(--vkui--font_subhead--line_height--regular);
}

@media (--sizeY-compact) {
  .sizeYNone .children,
  .sizeYNone .subtitle,
  .sizeYNone .afterChildren {
    font-size: var(--vkui--font_subhead--font_size--regular);
    line-height: var(--vkui--font_subhead--line_height--regular);
  }
}

/**
 * CMP:
 * FormItem
 **/
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem) .host {
  margin-inline: calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}

@media (--sizeY-compact) {
  .sizeYNone {
    min-block-size: 60px;
  }
}
