.host {
  inline-size: 100%;
  block-size: 100%;
  box-sizing: border-box;
  inset-inline-start: 0;
  inset-block-start: 0;
  pointer-events: none;
}

.hostOpened {
  pointer-events: initial;
}

.hostClosing {
  pointer-events: none;
}

.hostFixed {
  position: fixed;
}

.overlay {
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  opacity: 1;
  animation: animation-full-fade-in var(--vkui--animation_duration_m) ease;
}

.hostClosing .overlay {
  opacity: 0;
  transition: opacity var(--vkui--animation_duration_m) var(--vkui--animation_easing_default);
}

.hostMasked .overlay {
  background: var(--vkui--color_overlay_primary);
}

.hostFixed .overlay {
  position: absolute;
}

.container {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  inline-size: 100%;
  pointer-events: none;
  position: relative;
}

/* stylelint-disable-next-line selector-max-universal */
.content > * {
  pointer-events: auto;
}

.hostAlignYCenter .container {
  align-items: center;
}

.hostAlignYBottom .container {
  align-items: flex-end;
}

.hostAlignYTop .container {
  align-items: flex-start;
}

.hostAlignXCenter .container {
  justify-content: center;
}

.hostAlignXLeft .container {
  justify-content: flex-start;
}

.hostAlignXRight .container {
  justify-content: flex-end;
}

@keyframes animation-full-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
