.host {
  z-index: var(--vkui_internal--z_index_panel_header_context);
}

.hostOpened,
.hostClosing {
  inline-size: 100%;
  block-size: 100%;
}

.hostSizeXRegular.hostOpened,
.hostSizeXRegular.hostClosing {
  block-size: auto;
}

@media (--sizeX-regular) {
  .hostSizeXNone.hostOpened,
  .hostSizeXNone.hostClosing {
    block-size: auto;
  }
}

.in {
  position: absolute;
  inset-inline-start: 0;
  inline-size: 100%;
  padding: 8px;
  box-sizing: border-box;
  pointer-events: none;
}

.fade {
  display: none;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hostSizeXCompact .fade {
  display: block;
}

@media (--sizeX-compact) {
  .hostSizeXNone .fade {
    display: block;
  }
}

.hostOpened .fade {
  animation: animation-panelheadercontext-fade-in 0.2s ease;
}

.hostClosing .fade {
  animation: animation-panelheadercontext-fade-out 0.2s ease;
}

.hostOpened .in {
  pointer-events: auto;
  animation: animation-panelheadercontext-translate-in 0.2s ease;
}

.hostClosing .in {
  animation: animation-panelheadercontext-translate-out 0.2s ease;
}

.content {
  overflow: hidden;
  background: var(--vkui--color_background_content);
}

.hostIos .in {
  padding: 0;
}

/**
 * Имеется ввиду
 * platform !== 'ios' ||
 * (platform === 'ios' && isDesktop)
 */
.host:not(.hostIos) .content,
.hostSizeXRegular.hostIos .content {
  border-radius: 12px;
  padding-block: 8px;
  padding-inline: 0;
}

@media (--sizeX-regular) {
  .hostSizeXNone.hostIos .content {
    border-radius: 12px;
    padding-block: 8px;
    padding-inline: 0;
  }
}

/*
 Desktop
 */

.hostSizeXRegular .in {
  padding-block: 12px;
  padding-inline: 8px;
}

.hostSizeXRegular .content {
  border-radius: 12px;
}

.hostSizeXRegular .content {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.16);
}

@media (--sizeX-regular) {
  .hostSizeXNone .in {
    padding-block: 12px;
    padding-inline: 8px;
  }

  .hostSizeXNone .content {
    border-radius: 12px;
  }

  .hostSizeXNone .content {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.16);
  }
}

/*
  Animations
 */

@keyframes animation-panelheadercontext-translate-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes animation-panelheadercontext-translate-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
@keyframes animation-panelheadercontext-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes animation-panelheadercontext-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
