.ChipsInput {
  display: flex;
  position: relative;
  padding: 10px 12px;
  box-sizing: border-box;
}

.ChipsInput__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: -7px -4px;
}

.ChipsInput__chip {
  margin: 2px;
  max-width: calc(100% - 8px);
}

.ChipsInput__input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3px 0 3px;
}

.ChipsInput__el {
  line-height: 20px;
  font-size: 15px;
  color: var(--text_primary);
  border: none;
  outline: none;
  height: 28px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  appearance: none;
  position: relative;
  z-index: 2;
  background: transparent;
  padding: 0;
  margin-left: 4px;
}

.ChipsInput__el:focus {
  min-width: 64px;
  margin-left: 4px;
}

.ChipsInput:focus {
  outline: none;
}

.ChipsInput__el::-ms-clear {
  display: none;
}

.ChipsInput__el:disabled {
  opacity: .4;
}

.ChipsInput__el::placeholder {
  line-height: 20px;
  font-size: 15px;
  color: var(--field_text_placeholder);
}

.ChipsInput__el:disabled::placeholder {
  color: var(--text_secondary);
}

.ChipsInput--withChips .ChipsInput__container {
  margin-left: -7px;
}

.ChipsInput--withChips .ChipsInput__el {
  margin-left: 0;
}

.ChipsInput--withChips .ChipsInput__el:focus {
  margin-left: 7px;
}
