.caps {
  text-transform: uppercase;
}

.level1 {
  font-family: var(--vkui--font_caption1--font_family--regular);
  font-size: var(--vkui--font_caption1--font_size--regular);
  font-weight: var(--vkui--font_caption1--font_weight--regular);
  line-height: var(--vkui--font_caption1--line_height--regular);
}

.densityCompact.level1 {
  font-family: var(
    --vkui--font_caption1--font_family--compact,
    var(--vkui--font_caption1--font_family--regular)
  );
  font-size: var(
    --vkui--font_caption1--font_size--compact,
    var(--vkui--font_caption1--font_size--regular)
  );
  font-weight: var(
    --vkui--font_caption1--font_weight--compact,
    var(--vkui--font_caption1--font_weight--regular)
  );
  line-height: var(
    --vkui--font_caption1--line_height--compact,
    var(--vkui--font_caption1--line_height--regular)
  );
}

@media (--density-compact) {
  .densityNone.level1 {
    font-family: var(
      --vkui--font_caption1--font_family--compact,
      var(--vkui--font_caption1--font_family--regular)
    );
    font-size: var(
      --vkui--font_caption1--font_size--compact,
      var(--vkui--font_caption1--font_size--regular)
    );
    font-weight: var(
      --vkui--font_caption1--font_weight--compact,
      var(--vkui--font_caption1--font_weight--regular)
    );
    line-height: var(
      --vkui--font_caption1--line_height--compact,
      var(--vkui--font_caption1--line_height--regular)
    );
  }
}

.level1.caps {
  font-family: var(--vkui--font_caption1_caps--font_family--regular);
  font-size: var(--vkui--font_caption1_caps--font_size--regular);
  font-weight: var(--vkui--font_caption1_caps--font_weight--regular);
  line-height: var(--vkui--font_caption1_caps--line_height--regular);
}

.densityCompact.level1.caps {
  font-family: var(
    --vkui--font_caption1_caps--font_family--compact,
    var(--vkui--font_caption1_caps--font_family--regular)
  );
  font-size: var(
    --vkui--font_caption1_caps--font_size--compact,
    var(--vkui--font_caption1_caps--font_size--regular)
  );
  font-weight: var(
    --vkui--font_caption1_caps--font_weight--compact,
    var(--vkui--font_caption1_caps--font_weight--regular)
  );
  line-height: var(
    --vkui--font_caption1_caps--line_height--compact,
    var(--vkui--font_caption1_caps--line_height--regular)
  );
}

@media (--density-compact) {
  .densityNone.level1.caps {
    font-family: var(
      --vkui--font_caption1_caps--font_family--compact,
      var(--vkui--font_caption1_caps--font_family--regular)
    );
    font-size: var(
      --vkui--font_caption1_caps--font_size--compact,
      var(--vkui--font_caption1_caps--font_size--regular)
    );
    font-weight: var(
      --vkui--font_caption1_caps--font_weight--compact,
      var(--vkui--font_caption1_caps--font_weight--regular)
    );
    line-height: var(
      --vkui--font_caption1_caps--line_height--compact,
      var(--vkui--font_caption1_caps--line_height--regular)
    );
  }
}

.level2 {
  font-family: var(--vkui--font_caption2--font_family--regular);
  font-size: var(--vkui--font_caption2--font_size--regular);
  font-weight: var(--vkui--font_caption2--font_weight--regular);
  line-height: var(--vkui--font_caption2--line_height--regular);
}

.densityCompact.level2 {
  font-family: var(
    --vkui--font_caption2--font_family--compact,
    var(--vkui--font_caption2--font_family--regular)
  );
  font-size: var(
    --vkui--font_caption2--font_size--compact,
    var(--vkui--font_caption2--font_size--regular)
  );
  font-weight: var(
    --vkui--font_caption2--font_weight--compact,
    var(--vkui--font_caption2--font_weight--regular)
  );
  line-height: var(
    --vkui--font_caption2--line_height--compact,
    var(--vkui--font_caption2--line_height--regular)
  );
}

@media (--density-compact) {
  .densityNone.level2 {
    font-family: var(
      --vkui--font_caption2--font_family--compact,
      var(--vkui--font_caption2--font_family--regular)
    );
    font-size: var(
      --vkui--font_caption2--font_size--compact,
      var(--vkui--font_caption2--font_size--regular)
    );
    font-weight: var(
      --vkui--font_caption2--font_weight--compact,
      var(--vkui--font_caption2--font_weight--regular)
    );
    line-height: var(
      --vkui--font_caption2--line_height--compact,
      var(--vkui--font_caption2--line_height--regular)
    );
  }
}

.level2.caps {
  font-family: var(--vkui--font_caption2_caps--font_family--regular);
  font-size: var(--vkui--font_caption2_caps--font_size--regular);
  font-weight: var(--vkui--font_caption2_caps--font_weight--regular);
  line-height: var(--vkui--font_caption2_caps--line_height--regular);
}

.densityCompact.level2.caps {
  font-family: var(
    --vkui--font_caption2_caps--font_family--compact,
    var(--vkui--font_caption2_caps--font_family--regular)
  );
  font-size: var(
    --vkui--font_caption2_caps--font_size--compact,
    var(--vkui--font_caption2_caps--font_size--regular)
  );
  font-weight: var(
    --vkui--font_caption2_caps--font_weight--compact,
    var(--vkui--font_caption2_caps--font_weight--regular)
  );
  line-height: var(
    --vkui--font_caption2_caps--line_height--compact,
    var(--vkui--font_caption2_caps--line_height--regular)
  );
}

@media (--density-compact) {
  .densityNone.level2.caps {
    font-family: var(
      --vkui--font_caption2_caps--font_family--compact,
      var(--vkui--font_caption2_caps--font_family--regular)
    );
    font-size: var(
      --vkui--font_caption2_caps--font_size--compact,
      var(--vkui--font_caption2_caps--font_size--regular)
    );
    font-weight: var(
      --vkui--font_caption2_caps--font_weight--compact,
      var(--vkui--font_caption2_caps--font_weight--regular)
    );
    line-height: var(
      --vkui--font_caption2_caps--line_height--compact,
      var(--vkui--font_caption2_caps--line_height--regular)
    );
  }
}

.level3 {
  font-family: var(--vkui--font_caption3--font_family--regular);
  font-size: var(--vkui--font_caption3--font_size--regular);
  font-weight: var(--vkui--font_caption3--font_weight--regular);
  line-height: var(--vkui--font_caption3--line_height--regular);
}

.densityCompact.level3 {
  font-family: var(
    --vkui--font_caption3--font_family--compact,
    var(--vkui--font_caption3--font_family--regular)
  );
  font-size: var(
    --vkui--font_caption3--font_size--compact,
    var(--vkui--font_caption3--font_size--regular)
  );
  font-weight: var(
    --vkui--font_caption3--font_weight--compact,
    var(--vkui--font_caption3--font_weight--regular)
  );
  line-height: var(
    --vkui--font_caption3--line_height--compact,
    var(--vkui--font_caption3--line_height--regular)
  );
}

@media (--density-compact) {
  .densityNone.level3 {
    font-family: var(
      --vkui--font_caption3--font_family--compact,
      var(--vkui--font_caption3--font_family--regular)
    );
    font-size: var(
      --vkui--font_caption3--font_size--compact,
      var(--vkui--font_caption3--font_size--regular)
    );
    font-weight: var(
      --vkui--font_caption3--font_weight--compact,
      var(--vkui--font_caption3--font_weight--regular)
    );
    line-height: var(
      --vkui--font_caption3--line_height--compact,
      var(--vkui--font_caption3--line_height--regular)
    );
  }
}

.level3.caps {
  font-family: var(--vkui--font_caption3_caps--font_family--regular);
  font-size: var(--vkui--font_caption3_caps--font_size--regular);
  font-weight: var(--vkui--font_caption3_caps--font_weight--regular);
  line-height: var(--vkui--font_caption3_caps--line_height--regular);
}

.densityCompact.level3.caps {
  font-family: var(
    --vkui--font_caption3_caps--font_family--compact,
    var(--vkui--font_caption3_caps--font_family--regular)
  );
  font-size: var(
    --vkui--font_caption3_caps--font_size--compact,
    var(--vkui--font_caption3_caps--font_size--regular)
  );
  font-weight: var(
    --vkui--font_caption3_caps--font_weight--compact,
    var(--vkui--font_caption3_caps--font_weight--regular)
  );
  line-height: var(
    --vkui--font_caption3_caps--line_height--compact,
    var(--vkui--font_caption3_caps--line_height--regular)
  );
}

@media (--density-compact) {
  .densityNone.level3.caps {
    font-family: var(
      --vkui--font_caption3_caps--font_family--compact,
      var(--vkui--font_caption3_caps--font_family--regular)
    );
    font-size: var(
      --vkui--font_caption3_caps--font_size--compact,
      var(--vkui--font_caption3_caps--font_size--regular)
    );
    font-weight: var(
      --vkui--font_caption3_caps--font_weight--compact,
      var(--vkui--font_caption3_caps--font_weight--regular)
    );
    line-height: var(
      --vkui--font_caption3_caps--line_height--compact,
      var(--vkui--font_caption3_caps--line_height--regular)
    );
  }
}
