.Radio {
  display: block;
  padding: 0 var(--vkui--size_base_padding_horizontal--regular);
  font-family: var(--vkui--font_family_base);
}

.FormItem .Radio {
  box-sizing: content-box;
  width: 100%;
  margin: 0 calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}

.Radio__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Radio__input:disabled ~ .Radio__container {
  opacity: var(--vkui--opacity_disable_accessibility);
}

.Radio__icon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-right: 14px;
  color: var(--vkui--color_icon_tertiary);
  transition: color 0.15s var(--vkui--animation_easing_platform);
}

.Radio__input:checked ~ .Radio__container .Radio__icon {
  color: var(--vkui--color_icon_accent);
}

.Radio__icon .Radio__pin {
  transition: transform 0.15s var(--vkui--animation_easing_platform);
  transform: scale(0);
  transform-origin: 12px 12px;
}

.Radio__input:checked ~ .Radio__container .Radio__icon .Radio__pin {
  transform: none;
}

.Radio__content {
  display: block;
  flex-grow: 1;
  max-width: 100%;
  color: var(--vkui--color_text_primary);
}

.Radio__description {
  display: block;
  margin-top: 2px;
  margin-bottom: 12px;
  color: var(--vkui--color_text_secondary);
}

.Radio__children {
  margin-top: 12px;
}

.Radio__children:last-child {
  margin-bottom: 12px;
}

/**
 * sizeY COMPACT
 */

.Radio--sizeY-compact .Radio__children {
  margin-top: 8px;
}

.Radio--sizeY-compact .Radio__children:last-child {
  margin-bottom: 8px;
}

.Radio--sizeY-compact .Radio__description {
  margin-bottom: 7px;
}

.Radio--sizeY-compact .Radio__icon {
  width: 18px;
  height: 18px;
}

.Radio--sizeY-compact .Radio__icon::after {
  width: 12px;
  height: 12px;
}

@media (--sizeY-compact) {
  .Radio--sizeY-none .Radio__children {
    margin-top: 8px;
  }

  .Radio--sizeY-none .Radio__children:last-child {
    margin-bottom: 8px;
  }

  .Radio--sizeY-none .Radio__description {
    margin-bottom: 7px;
  }

  .Radio--sizeY-none .Radio__icon {
    width: 18px;
    height: 18px;
  }

  .Radio--sizeY-none .Radio__icon::after {
    width: 12px;
    height: 12px;
  }
}

/**
 * CMP:
 * RadioGroup
 */
.RadioGroup .Radio {
  box-sizing: border-box;
  flex: 1;
  margin: 0;
}
