.host {
  display: block;
  padding-block: 0;
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
  font-family: var(--vkui--font_family_base);
}

/**
 * CMP:
 * FormItem
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem) .host {
  inline-size: 100%;
  box-sizing: content-box;
  margin-block: 0;
  margin-inline: calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input:disabled ~ .container {
  opacity: var(--vkui--opacity_disable_accessibility);
}

.icon {
  flex-shrink: 0;
  inline-size: 22px;
  block-size: 22px;
  margin-inline-end: 14px;
  color: var(--vkui--color_icon_tertiary);
  transition: color 0.15s var(--vkui--animation_easing_platform);
}

.input:checked ~ .container .icon {
  color: var(--vkui--color_icon_accent);
}

.icon .pin {
  transform-origin: 12px 12px;
  transform: scale(0);
  transition: transform 0.15s var(--vkui--animation_easing_platform);
}

.input:checked ~ .container .icon .pin {
  transform: none;
}

.content {
  display: block;
  flex-grow: 1;
  max-inline-size: 100%;
  color: var(--vkui--color_text_primary);
}

.description {
  display: block;
  color: var(--vkui--color_text_secondary);
  margin-block: 2px 12px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 12px;
}

.title:last-child {
  margin-block-end: 12px;
}

.titleAfter {
  margin-inline-start: 4px;
  color: var(--vkui--color_icon_tertiary);
}

/**
 * sizeY COMPACT
 */

.hostSizeYCompact .title {
  margin-block-start: 8px;
}

.hostSizeYCompact .title:last-child {
  margin-block-end: 8px;
}

.hostSizeYCompact .description {
  margin-block-end: 7px;
}

.hostSizeYCompact .icon {
  inline-size: 18px;
  block-size: 18px;
}

.hostSizeYCompact .icon::after {
  inline-size: 12px;
  block-size: 12px;
}

@media (--sizeY-compact) {
  .hostSizeYNone .title {
    margin-block-start: 8px;
  }

  .hostSizeYNone .title:last-child {
    margin-block-end: 8px;
  }

  .hostSizeYNone .description {
    margin-block-end: 7px;
  }

  .hostSizeYNone .icon {
    inline-size: 18px;
    block-size: 18px;
  }

  .hostSizeYNone .icon::after {
    inline-size: 12px;
    block-size: 12px;
  }
}

/**
 * CMP:
 * RadioGroup
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalRadioGroup) .host {
  flex: 1;
  margin: 0;
  box-sizing: border-box;
}
