.host {
  display: flex;
  align-items: flex-start;
  padding: 0;
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
  user-select: text;
  font-family: var(--vkui--font_family_base);
}

.main {
  flex: 1 0 0;
  min-inline-size: 0;
  color: var(--vkui--color_text_primary);
}

.content {
  display: flex;
  align-items: center;
}

.contentIn,
.subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contentMultiline {
  white-space: initial;
  word-break: break-word;
}

.subtitle {
  display: block;
  color: var(--vkui--color_text_secondary);
}

.hostModeSecondary:not(.hostPi):not(.hostWithSubtitle) .main,
.hostModeTertiary .main {
  color: var(--vkui--color_text_secondary);
}

.indicator {
  color: var(--vkui--color_text_secondary);
  margin-inline-start: 6px;
  flex-shrink: 0;
}

.hostModePrimary .indicator {
  color: var(--vkui--color_text_subhead);
}

.host:not(.hostPi) .indicator {
  align-self: center;
}

.hostModeSecondary .indicator {
  margin-inline-start: 8px;
}

.aside {
  display: flex;
  white-space: nowrap;
}

/* stylelint-disable selector-max-universal */
.aside.aside > * {
  margin-block: 13px 7px;
  margin-inline-start: 12px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.aside > :global(.vkuiIcon) {
  position: relative;
  color: var(--vkui--color_icon_secondary);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.aside > :global(.vkuiIcon--24) {
  margin-block: 11px 5px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.aside > :global(.vkuiIcon--16) {
  margin-block: 15px 9px;
}

.hostModePrimary {
  padding-block: 3px 1px;
}

.content {
  margin-block-start: 12px;
}

.content:last-child {
  margin-block-end: 8px;
}

.hostModeTertiary .content {
  margin-block-start: 15px;
}

.hostModeTertiary .content:last-child {
  margin-block-end: 9px;
}

.subtitle {
  margin-block-end: 7px;
}

/* Компенсируем 1 пиксель из-за паддинга в .hostModePrimary */
.hostModePrimary .subtitle {
  margin-block-end: 6px;
}

.hostLarge .content {
  margin-block: 10px 6px;
}

/**
 * CMP:
 * Group
 *
 * TODO: Переделать отрицательные отступы https://github.com/VKCOM/VKUI/issues/3508
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroupModePlain):not(:first-of-type) > .host:first-child,
:global(.vkuiInternalGroupModePlain):not(:first-of-type)
  > :global(.vkuiInternalTappable):first-child
  > .host {
  margin-block-start: -16px;
}

@media (--sizeX-compact) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalGroupSizeXNone.vkuiInternalGroupModeNone):not(:first-of-type)
    > .host:first-child,
  :global(.vkuiInternalGroupSizeXNone.vkuiInternalGroupModeNone):not(:first-of-type)
    > :global(.vkuiInternalTappable):first-child
    > .host {
    margin-block-start: -16px;
  }
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalGroupModeCard) > .host:not(.hostModeTertiary):first-child,
:global(.vkuiInternalGroupModeCard)
  > :global(.vkuiInternalTappable):first-child
  > .host:not(.hostModeTertiary) {
  margin-block-start: -4px;
}

@media (--sizeX-regular) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalGroupSizeXNone.vkuiInternalGroupModeNone)
    > .host:not(.hostModeTertiary):first-child,
  :global(.vkuiInternalGroupSizeXNone.vkuiInternalGroupModeNone)
    > :global(.vkuiInternalTappable):first-child
    > .host:not(.hostModeTertiary) {
    margin-block-start: -4px;
  }
}

/**
 * Impact:
 * Link
 */
.aside {
  --vkui_internal--link-color: var(--vkui--color_text_accent);
}
