/* import all global styles that are not imported by the components */
@import "../src/styles/themes.css";
@import "../src/styles/components.css";
@import "../src/styles/unstable.css";

@font-face {
  /* stylelint-disable-next-line */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  /* stylelint-disable-next-line */
  src: url(/font/Roboto-Italic.ttf) format("truetype");
}
/* cyrillic */
@font-face {
  /* stylelint-disable-next-line */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* stylelint-disable-next-line */
  src: url(/font/Roboto-Regular.ttf) format("truetype");
}
/* cyrillic */
@font-face {
  /* stylelint-disable-next-line */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  /* stylelint-disable-next-line */
  src: url(/font/Roboto-Medium.ttf) format("truetype");
}
/* cyrillic */
@font-face {
  /* stylelint-disable-next-line */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  /* stylelint-disable-next-line */
  src: url(/font/Roboto-Bold.ttf) format("truetype");
}

.vkui__root {
  /* Force use embedded Roboto font for cross-platformity */
  --vkui_internal--font_common: "Roboto";
  --vkui_internal--font_display: "Roboto";
  --vkui--font_caption1--font_family--regular: "Roboto";
  --vkui--font_caption1_caps--font_family--regular: "Roboto";
  --vkui--font_caption2--font_family--regular: "Roboto";
  --vkui--font_caption2_caps--font_family--regular: "Roboto";
  --vkui--font_caption3--font_family--regular: "Roboto";
  --vkui--font_caption3_caps--font_family--regular: "Roboto";
  --vkui--font_footnote--font_family--regular: "Roboto";
  --vkui--font_footnote_caps--font_family--regular: "Roboto";
  --vkui--font_headline1--font_family--regular: "Roboto";
  --vkui--font_headline2--font_family--regular: "Roboto";
  --vkui--font_paragraph--font_family--regular: "Roboto";
  --vkui--font_subhead--font_family--regular: "Roboto";
  --vkui--font_text--font_family--regular: "Roboto";
  --vkui--font_title1--font_family--regular: "Roboto";
  --vkui--font_title2--font_family--regular: "Roboto";
  --vkui--font_title3--font_family--regular: "Roboto";

  /* stylelint-disable-next-line */
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  caret-color: transparent;
}

* {
  animation: none !important;
  transition: none !important;
}

#mount {
  position: relative;
}
