.Blockquote {
  padding: 12px 16px;
  background: var(--vkui--color_background_warning);
  border-radius: 8px;
  margin: 0;
}

.Blockquote:not(:last-child) {
  margin-bottom: 16px;
}

.Blockquote:not(:first-child) {
  margin-top: 16px;
}
