.OwnerAvatar {
  position: relative;

  --owner-avatar-image-offset: 2px;
}

/* Text mode */

.OwnerAvatar--size-16 {
  line-height: 9px;
  font-size: 7px;
}

.OwnerAvatar--size-24 {
  line-height: 10px;
  font-size: 9px;
}

.OwnerAvatar--size-28 {
  line-height: 12px;
  font-size: 10px;
}

.OwnerAvatar--size-30 {
  line-height: 14px;
  font-size: 11px;
}

.OwnerAvatar--size-32 {
  line-height: 14px;
  font-size: 11px;
}

.OwnerAvatar--size-36 {
  line-height: 14px;
  font-size: 13px;
}

.OwnerAvatar--size-40 {
  line-height: 16px;
  font-size: 14px;
}

.OwnerAvatar--size-44 {
  line-height: 18px;
  font-size: 16px;
}

.OwnerAvatar--size-46 {
  line-height: 20px;
  font-size: 16px;
}

.OwnerAvatar--size-48 {
  line-height: 20px;
  font-size: 17px;
}

.OwnerAvatar--size-50 {
  line-height: 20px;
  font-size: 18px;
}

.OwnerAvatar--size-56 {
  line-height: 24px;
  font-size: 20px;
}

.OwnerAvatar--size-64 {
  line-height: 26px;
  font-size: 23px;
}

.OwnerAvatar--size-72 {
  line-height: 30px;
  font-size: 26px;
}

.OwnerAvatar--size-80 {
  line-height: 34px;
  font-size: 29px;
}

.OwnerAvatar--size-88 {
  line-height: 38px;
  font-size: 32px;
}

.OwnerAvatar--size-96 {
  line-height: 40px;
  font-size: 34px;
}

.OwnerAvatar--size-160 {
  line-height: 70px;
  font-size: 54px;
}

.OwnerAvatar--size-192 {
  line-height: 82px;
  font-size: 69px;
}

.OwnerAvatar--size-200 {
  line-height: 88px;
  font-size: 68px;
}

.OwnerAvatar--mode-text .OwnerAvatar__text {
  font-family: var(--font-tt);
  font-weight: 600;
  color: var(--white); /* stylelint-disable-line plugin/only-tokens-are-allowed */
  text-transform: uppercase;
  text-align: center;
}

.OwnerAvatar--gradient-0 {
  background: #99a2ad;
  background: linear-gradient(135deg, #b1b6bd, #99a2ad);
}

.OwnerAvatar--gradient-1 {
  background: #e52e40;
  background: linear-gradient(135deg, #ff7583, #e52e40);
}

.OwnerAvatar--gradient-2 {
  background: #e62e6b;
  background: linear-gradient(135deg, #ff8880, #e62e6b);
}

.OwnerAvatar--gradient-3 {
  background: #e66b2e;
  background: linear-gradient(135deg, #ffbf80, #e66b2e);
}

.OwnerAvatar--gradient-4 {
  background: #e7a902;
  background: linear-gradient(135deg, #ffd54f, #e7a902);
}

.OwnerAvatar--gradient-5 {
  background: #6cd97e;
  background: linear-gradient(135deg, #6cd97e, #12b212);
}

.OwnerAvatar--gradient-6 {
  background: #2bb4d6;
  background: linear-gradient(135deg, #7df1fa, #2bb4d6);
}

.OwnerAvatar--gradient-7 {
  background: #3f8ae0;
  background: linear-gradient(135deg, #6cf, #3f8ae0);
}

.OwnerAvatar--gradient-8 {
  background: #8f3fe0;
  background: linear-gradient(135deg, #d3a6ff, #8f3fe0);
}

/* Images grid */

.OwnerAvatar--images-1,
.OwnerAvatar--images-2,
.OwnerAvatar--images-3,
.OwnerAvatar--images-4 {
  background-color: transparent;
}

.OwnerAvatar__grid {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.OwnerAvatar__grid .OwnerAvatar__gridAvatar {
  float: left;
}

.OwnerAvatar__grid .OwnerAvatar__gridAvatar {
  background-size: cover;
  background-position: center;
  background-color: var(--placeholder_icon_background);
}

.OwnerAvatar--images-1 .OwnerAvatar__gridAvatar,
.OwnerAvatar--images-2 .OwnerAvatar__gridAvatar,
.OwnerAvatar--images-3 .OwnerAvatar__gridAvatar {
  height: 100%;
}

.OwnerAvatar--mode-default.OwnerAvatar--images-4 .OwnerAvatar__gridAvatar,
.OwnerAvatar--mode-default.OwnerAvatar--images-3 .OwnerAvatar__gridAvatar--2,
.OwnerAvatar--mode-default.OwnerAvatar--images-3 .OwnerAvatar__gridAvatar--3 {
  height: calc((100% - var(--owner-avatar-image-offset)) / 2);
}

.OwnerAvatar--mode-default.OwnerAvatar--images-2 .OwnerAvatar__gridAvatar,
.OwnerAvatar--mode-default.OwnerAvatar--images-3 .OwnerAvatar__gridAvatar,
.OwnerAvatar--mode-default.OwnerAvatar--images-4 .OwnerAvatar__gridAvatar {
  width: calc((100% - var(--owner-avatar-image-offset)) / 2);
}

.OwnerAvatar--mode-default.OwnerAvatar--images-2 .OwnerAvatar__gridAvatar--1,
.OwnerAvatar--mode-default.OwnerAvatar--images-3 .OwnerAvatar__gridAvatar--1,
.OwnerAvatar--mode-default.OwnerAvatar--images-4 .OwnerAvatar__gridAvatar--1,
.OwnerAvatar--mode-default.OwnerAvatar--images-4 .OwnerAvatar__gridAvatar--3 {
  margin-right: var(--owner-avatar-image-offset);
}

.OwnerAvatar--mode-default.OwnerAvatar--images-3 .OwnerAvatar__gridAvatar--2,
.OwnerAvatar--mode-default.OwnerAvatar--images-4 .OwnerAvatar__gridAvatar--1,
.OwnerAvatar--mode-default.OwnerAvatar--images-4 .OwnerAvatar__gridAvatar--2 {
  margin-bottom: var(--owner-avatar-image-offset);
}

/* Online status */

.OwnerAvatar {
  position: relative;
}

.OwnerAvatar__status {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  color: var(--dynamic_green);
}

.OwnerAvatar__status--mobile {
  border-radius: 4px;
  bottom: -1px;
  right: 1px;
  background-color: var(--background_content);
}

.OwnerAvatar__status--common {
  width: 8px;
  height: 8px;
  bottom: 1px;
  right: 1px;
  background: var(--dynamic_green);
  border-radius: 100%;
  border: 2px solid var(--background_content);
}
