.Card {
  position: relative;
  background: var(
    --vkui--color_background_secondary,
    var(--content_tint_background)
  );
  border-radius: var(--vkui--size_card_border_radius--regular, 16px);
}

.Card__in {
  position: relative;
  z-index: 2;
  border-radius: inherit;
}

.Card--md-shadow {
  box-shadow: var(
    --vkui--elevation3,
    0 2px 24px 0 rgba(0, 0, 0, 0.08),
    0 0 2px 0 rgba(0, 0, 0, 0.08)
  );
  background: var(--vkui--color_background_modal, var(--modal_card_background));
}

.Card--md-outline {
  background: var(--vkui--color_background_modal, var(--modal_card_background));
}

.Card--md-outline::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  border: var(--thin-border) solid
    var(--vkui--color_image_border_alpha, var(--input_border));
  z-index: 1;
  box-sizing: border-box;
  border-radius: inherit;
}

/**
  * iOS
 */

.Card--ios {
  border-radius: 10px;
}

/**
 * VKCOM
 */

.Card--vkcom {
  border-radius: 8px;
}
