.Card {
  position: relative;
  background: var(--content_tint_background);
}

.Card__in {
  position: relative;
  z-index: 2;
  border-radius: inherit;
}

.Card--md-shadow {
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .08), 0 0 2px 0 rgba(0, 0, 0, .08);
  background: var(--modal_card_background);
}

.Card--md-outline {
  background: var(--modal_card_background);
}

.Card--md-outline::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  border: 1px solid var(--image_border);
  z-index: 1;
  box-sizing: border-box;
  border-radius: inherit;
}

@media (min-resolution: 2dppx) {
  .Card--md-outline::before {
    border-width: .5px;
  }
}

@media (min-resolution: 3dppx) {
  .Card--md-outline::before {
    border-width: .33px;
  }
}

/**
  * iOS
 */

.Card--ios.Card--sz-s {
  border-radius: 6px;
}

.Card--ios.Card--sz-m {
  border-radius: 10px;
}

.Card--ios.Card--sz-l {
  border-radius: 10px;
}

/**
 * Android
 */

.Card--android.Card--sz-s {
  border-radius: 6px;
}

.Card--android.Card--sz-m {
  border-radius: 8px;
}

.Card--android.Card--sz-l {
  border-radius: 8px;
}
