.RichCell {
  display: flex;
  min-height: 64px;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text_primary);
}

.RichCell--mult {
  white-space: normal;
}

.RichCell--mult .RichCell__children,
.RichCell--mult .RichCell__caption,
.RichCell--mult .RichCell__text {
  text-overflow: initial;
}

.RichCell__in {
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.RichCell__top {
  font-size: 0;
  line-height: 0;
}

.RichCell__top > :first-child:not(.RichCell__content) {
  display: none;
  pointer-events: none;
}

.RichCell__top > .Icon--28:first-child ~ * {
  margin-right: 32px;
}

.RichCell__content {
  display: flex;
}

.RichCell__after {
  flex-shrink: 0;
  padding-left: 4px;
  white-space: nowrap;
}

.RichCell__after .Icon--28 {
  position: absolute;
  right: 0;
  color: var(--accent);
}

.RichCell > .Avatar--sz-72 + .RichCell__in .RichCell__after .Icon--28 {
  top: 22px;
}

.RichCell > .Avatar--sz-48 + .RichCell__in .RichCell__after .Icon--28 {
  top: 10px;
}

.RichCell__children {
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RichCell__text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.RichCell__caption {
  margin-top: 1px;
  color: var(--text_secondary);
  overflow: hidden;
  text-overflow: ellipsis;
}

.RichCell__bottom .UsersStack {
  padding: 5px 0 0;
}

.RichCell__actions {
  display: flex;
  margin-top: 8px;
}

.RichCell__actions .Button:not(:last-child) {
  margin-right: 8px;
}

/**
 * iOS
 */

.RichCell--ios {
  padding-right: 12px;
  padding-left: 12px;
}

/**
 * Android
 */

.RichCell--android,
.RichCell--vkcom {
  padding-right: 16px;
  padding-left: 16px;
}

/**
 * sizeY === 'compact'
 */

.RichCell--sizeY-compact {
  min-height: 60px;
}

.RichCell--sizeY-compact .RichCell__actions {
  margin-top: 11px;
}

.RichCell--sizeY-compact .UsersStack + .RichCell__actions {
  margin-top: 12px;
}
