.appearancePrimary {
  color: var(--vkui--color_separator_primary);
}

.appearanceSecondary {
  color: var(--vkui--color_separator_secondary);
}

.appearancePrimaryAlpha {
  color: var(--vkui--color_separator_primary_alpha);
}

.alignStart {
  --vkui_internal--separator_align: start;
}

.alignEnd {
  --vkui_internal--separator_align: end;
}

.directionVertical {
  display: inline-flex;
  align-self: stretch;
}

.sized.directionHorizontal {
  display: flex;
  align-items: var(--vkui_internal--separator_align, center);
  block-size: var(--vkui_internal--spacing_size);
}

.sized.directionVertical {
  justify-content: var(--vkui_internal--separator_align, center);
  inline-size: var(--vkui_internal--spacing_size);
}

.in {
  margin: 0;
  color: inherit;
  background: currentColor;
  border: 0;
}

.directionHorizontal .in {
  block-size: var(--vkui--size_border--regular);
}

.directionVertical .in {
  inline-size: var(--vkui--size_border--regular);
}

.sized.directionHorizontal .in {
  flex: 1 0 auto;
}

.directionHorizontal.padded .in {
  margin-inline: var(--vkui--size_base_padding_horizontal--regular);
}

.directionVertical.padded .in {
  margin-block: var(--vkui--size_base_padding_horizontal--regular);
}

/*
 * CMP:
 * ModalPage
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalModalPage--sizeX-regular) .padded {
  padding-inline: 8px;
}

/* FIXME: Мертвый код */
@media (--sizeX-regular) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalModalPage--sizeX-none) .padded {
    padding-inline: 8px;
  }
}
