.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  pointer-events: initial;
  background: var(--vkui--color_background_modal);
  border-radius: 12px;
  box-shadow: var(--vkui--elevation3);

  --vkui_internal--background: var(--vkui--color_background_modal);
  --vkui_internal--dismiss_icon_height: 20px;
  --vkui_internal--dismiss_icon_padding: 12px;
  --vkui_internal--dismiss_icon_safe_offset: 4px;
  --vkui_internal--dismiss_icon_desktop_offset: 4px;
}

.withSafeZone .container {
  padding-block-start: calc(
    var(--vkui_internal--dismiss_icon_height) + var(--vkui_internal--dismiss_icon_padding) +
      var(--vkui_internal--dismiss_icon_safe_offset)
  );
}

.containerSoftwareKeyboardOpened {
  margin-block-end: 0;
}

.title,
.description {
  padding-block: 0;
  padding-inline: 8px;
  margin: 0;
  text-align: center;
  word-break: break-word;
}

.title {
  color: var(--vkui--color_text_primary);
}

.description {
  color: var(--vkui--color_text_subhead);
}

.icon {
  margin-block: 8px 16px;
  margin-inline: auto;
  color: var(--vkui--color_icon_accent);
}

.actions {
  margin-block-start: 16px;
}

.dismiss {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  padding: var(--vkui_internal--dismiss_icon_padding);
  color: var(--vkui--color_icon_secondary);
}

/**
 * iOS
 */
.ios .container {
  border-radius: 14px;

  --vkui_internal--dismiss_icon_height: 24px;
  --vkui_internal--dismiss_icon_padding: 12px;
  --vkui_internal--dismiss_icon_safe_offset: 0px;
}

/**
 * Desktop
 */
.desktop .dismiss {
  inset-block-start: var(--vkui_internal--dismiss_icon_desktop_offset);
  inset-inline-end: var(--vkui_internal--dismiss_icon_desktop_offset);
}

.desktop .container {
  padding: 24px;

  --vkui_internal--dismiss_icon_safe_offset: 0px;
}

.desktop.ios .container {
  --vkui_internal--dismiss_icon_padding: 10px;
  --vkui_internal--dismiss_icon_safe_offset: 6px;
}

.withSafeZone.desktop .container {
  padding-block-start: calc(
    var(--vkui_internal--dismiss_icon_height) + var(--vkui_internal--dismiss_icon_padding) +
      var(--vkui_internal--dismiss_icon_safe_offset) +
      var(--vkui_internal--dismiss_icon_desktop_offset)
  );
}
