.CalendarDays__row {
  display: flex;
  justify-content: center;
}

.CalendarDays__row:not(:last-child) {
  margin-bottom: 4px;
}

.CalendarDays__row-day-name {
  text-transform: capitalize;
  color: var(--vkui--color_text_subhead);
  width: 40px;
  height: 32px;
  flex-shrink: 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
