@import '../../../styles/constants.css';

.View--android .View__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  }

.View--android .View__header-in {
  height: 56px;
  }

.View--android .View__header-search {
  width: 100%;
  }

.View--android .View__header-item {
  top: 0;
  height: 56px;
  background: var(--vk-color);
  font: 500 20px/56px var(--android-font);
  padding: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .08), 0 4px 4px rgba(0, 0, 0, .16);
  }

.View--android .View__header-item--no-shadow {
  box-shadow: none;
  }

.View--android .View__header-right {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  color: rgba(255, 255, 255, .7);
  padding: 4px;
  }
.View--android .View__header-left {
  color: #fff;
  color: rgba(255, 255, 255, .7);
  padding: 4px;
  }

.View--android .View__header-left:empty,
.View--android .View__header-right:empty {
  display: none;
  }

.View--android .View__header-left:active,
.View--android .View__header-right:active {
  color: #fff;
  color: rgba(255, 255, 255, .9);
  }

.View--android .View__header-left {
  flex: 0 0 auto;
  }

.View--android .View__header-left:empty {
  display: none;
  }

.View--android .View__header-left:empty ~ .View__header-title {
  padding-left: 16px;
  }

/**
 * transition
 */

.View--android .View__header-item--next ~ .View__header-item--prev {
  animation: animation-android-prev-back .3s var(--android-easing);
  }
.View--android .View__header-item--prev ~ .View__header-item--next {
  animation: animation-android-next-forward .3s var(--android-easing);
  }

