.BackButton {
  vertical-align: top;
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: button;
  outline: none;
  }

  .BackButton svg {
    fill: #fff;
    }
