.BackButton {
  color: #fff;
  position: relative;
  }

.BackButton--ios {
  height: 21px;
  }

  .BackButton--ios::before {
    position: absolute;
    left: -8px;
    top: -12px;
    width: 44px;
    height: 44px;
    content: '';
    }

.BackButton--android {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
