.BackButton {
  vertical-align: top;
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;
  border-radius: 0;
  -webkit-appearance: button;
  outline: none;
  padding: 0 4px 1px;
  box-sizing: content-box;
  }

  .BackButton svg {
    color: #fff;
    }
