@import '../../styles/constants.css';

.Search--android {
  display: flex;
  padding: 4px;
  height: 56px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--header-blue);
  }

  .Search--android .Search__before {
    flex-shrink: 0;
    margin-right: 10px;
    }

  .Search--android .Search__after {
    flex-shrink: 0;
    margin-left: 10px;
    }

  .Search--android .Search__control {
    max-width: 100%;
    flex-grow: 1;
    }

  .Search--android.Search--has-value .Search__after {
    display: block;
  }

  .Search--android .Search__after {
    display: none;
  }

  .Search--android .Search__input {
    border: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    font-family: var(--font-android);
    }

  .Search--android .Search__input::placeholder {
    color: #fff;
    opacity: .6;
    }
