.AppRoot {
  height: 100%;
}

.AppRoot--pointer-has-not {
  user-select: none;
}

/** 
 * Хак для webkit-based браузеров, потому что на версиях iOS <= 14.* исчезает возможность 
 * редактировать contenteditable элементы, если выше по дереву задан user-select: none; 
 */
.AppRoot--pointer-has-not [contenteditable] {
  user-select: text;
}

@media (--pointer-has-not) {
  .AppRoot--pointer-none {
    user-select: none;
  }

  .AppRoot--pointer-none [contenteditable] {
    user-select: text;
  }
}

:global(.vkui__root--embedded) .AppRoot {
  overflow: auto;
}
