.host {
  position: relative;
  inline-size: 100%;
  block-size: 100%;

  --vkui_internal--CustomScrollView_tint_color: var(--vkui--color_background_content);
}

.tint {
  position: absolute;
}

/* stylelint-disable csstools/use-logical -- прокрутка рассчитывается по физическим величинам */
.tintTop,
.tintBottom {
  right: 0;
  left: 0;
  height: 40px;
}

.tintTop {
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--vkui_internal--CustomScrollView_tint_color),
    transparent
  );
}

.tintBottom {
  bottom: 0;
  background: linear-gradient(
    to top,
    var(--vkui_internal--CustomScrollView_tint_color),
    transparent
  );
}

.tintLeft,
.tintRight {
  top: 0;
  bottom: 0;
  width: 40px;
}

.tintLeft {
  left: 0;
  background: linear-gradient(
    to right,
    var(--vkui_internal--CustomScrollView_tint_color),
    transparent
  );
}

.tintRight {
  right: 0;
  background: linear-gradient(
    to left,
    var(--vkui_internal--CustomScrollView_tint_color),
    transparent
  );
}

/* stylelint-enable csstools/use-logical */
