/* stylelint-disable declaration-no-important */
.host {
  position: absolute !important;
  inline-size: 1px !important;
  block-size: 1px !important;
  padding: 0 !important;
  margin: -1px !important; /* Fix for https://github.com/twbs/bootstrap/issues/25686 */
  overflow: hidden !important;
  white-space: nowrap !important;
  user-select: none;
  border: 0 !important;
  opacity: 0;
  clip-path: inset(50%);
}

/* Чтобы фокус скринридера, попавший на скрытый инпут был виден.
 * Особенно актуально для Android TalkBack */
.focusableInput {
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100% !important;
  block-size: 100% !important;
  pointer-events: none;
  clip-path: none !important;
}
/* stylelint-enable declaration-no-important */
