.host {
  position: relative;
}

.hostDragging {
  background-color: var(--vkui--color_background_secondary);
  box-shadow: var(--vkui--elevation3);
}

.hostSelectable.hostDisabled {
  opacity: var(--vkui--opacity_disable_accessibility);
}

.checkbox,
.dragger {
  position: relative;
  flex-shrink: 0;
  margin-inline-end: 16px;
}

.content {
  max-inline-size: 100%;
  min-inline-size: 0;
}

.hostRemovable .content {
  flex-grow: 1;
  /* размер removable icon */
  padding-inline-end: 44px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostRemovable :global(.vkuiInternalRemovableContent) {
  padding-inline-start: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list -- для того чтобы активная область Cell распространялась и на область removable */
.hostRemovable :global(.vkuiInternalRemovableAction) {
  position: absolute;
  inset-inline-end: 0;
  padding-inline-start: 0;
}

/**
 * iOS
 */
.hostIos .dragger {
  margin-inline: 12px 0;
}

.hostIos .checkbox {
  margin-inline-end: 12px;
}

.hostIos.hostRemovable .content {
  /* размер removable icon + icon margins*/
  padding-inline: 48px var(--vkui--size_base_padding_horizontal--regular);
  /* правый паддинг от removable который мы обнулили ниже */
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostIos.hostRemovable :global(.vkuiInternalRemovableAction) {
  inset-inline: 0 auto;
  z-index: 1;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostIos.hostRemovable :global(.vkuiInternalRemovableContent) {
  padding-inline-end: 0;
}

/**
 * CMP:
 * FormItem
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItem) > .host {
  margin-block: 0;
  margin-inline: calc(-1 * var(--vkui--size_base_padding_horizontal--regular));
}
