.host {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: fit-content;
  block-size: fit-content;
}

.withPadding {
  inline-size: var(--vkui--size_field_height--regular);
  block-size: var(--vkui--size_field_height--regular);
  border-radius: 50%;
}

.host[disabled] {
  opacity: var(--vkui--opacity_disable_accessibility);
}

/**
 * sizeY COMPACT
 */

.withPadding.sizeYCompact {
  inline-size: var(--vkui--size_field_height--compact);
  block-size: var(--vkui--size_field_height--compact);
}

@media (--sizeY-compact) {
  .withPadding.sizeYNone {
    inline-size: var(--vkui--size_field_height--compact);
    block-size: var(--vkui--size_field_height--compact);
  }
}
