.host {
  appearance: none;
  background: none;
  border: 0;
  box-shadow: none;
  display: block;
  color: currentColor;
  padding: 0;
  margin: 0;
  position: relative;
  block-size: 48px;

  /**
   * Чтобы закргуление было равно половине высоты.
   * см. https://stackoverflow.com/questions/27233295/possible-to-make-border-radius-equal-to-half-the-total-height-without-javascript
   */
  border-radius: 9999px;
}

.hostSizeYCompact {
  block-size: 44px;
}

.host[disabled] {
  opacity: var(--vkui--opacity_disable_accessibility);
}

.hostIos {
  border-radius: var(--vkui--size_border_radius--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.host :global(.vkuiIcon--16) {
  padding: 16px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.host :global(.vkuiIcon--16.vkuiIcon--w-8) {
  padding-block: 16px;
  padding-inline: 14px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostSizeYCompact :global(.vkuiIcon--16),
.hostSizeYCompact :global(.vkuiIcon--16.vkuiIcon--w-8) {
  padding: 14px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.host :global(.vkuiIcon--24) {
  padding: 12px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostSizeYCompact :global(.vkuiIcon--24) {
  padding: 10px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.host :global(.vkuiIcon--28) {
  padding: 10px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostSizeYCompact :global(.vkuiIcon--28) {
  padding: 8px;
}

@media (--sizeY-compact) {
  .hostSizeYNone {
    block-size: 44px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  .hostSizeYNone :global(.vkuiIcon--16),
  .hostSizeYNone :global(.vkuiIcon--16.vkuiIcon--w-8) {
    padding: 14px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  .hostSizeYNone :global(.vkuiIcon--24) {
    padding: 10px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  .hostSizeYNone :global(.vkuiIcon--28) {
    padding: 8px;
  }
}

/**
 * CMP:
 * - FormItem
 * - FormLayoutGroup
 * - FormField
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItemRemovable) :global(.vkuiInternalRemovableContent) > .host,
:global(.vkuiInternalFormLayoutGroupRemovable) :global(.vkuiInternalRemovableContent) > .host,
:global(.vkuiInternalFormFieldAfter) .host {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  inline-size: var(--vkui--size_field_height--regular);
  block-size: var(--vkui--size_field_height--regular);
  border-radius: var(--vkui--size_border_radius--regular);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormFieldAfter) .host :global(.vkuiIcon):global(.vkuiIcon):global(.vkuiIcon) {
  padding: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormFieldAfter) .hostSizeYCompact {
  inline-size: var(--vkui--size_field_height--compact);
  block-size: var(--vkui--size_field_height--compact);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalFormItemRemovable) :global(.vkuiInternalRemovableContent) > .hostSizeYCompact,
:global(.vkuiInternalFormLayoutGroupRemovable)
  :global(.vkuiInternalRemovableContent)
  > .hostSizeYCompact {
  block-size: var(--vkui--size_field_height--compact);
}

@media (--sizeY-compact) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalFormFieldAfter) .hostSizeYNone {
    inline-size: var(--vkui--size_field_height--compact);
    block-size: var(--vkui--size_field_height--compact);
  }

  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalFormItemRemovable) :global(.vkuiInternalRemovableContent) > .hostSizeYNone,
  :global(.vkuiInternalFormLayoutGroupRemovable)
    :global(.vkuiInternalRemovableContent)
    > .hostSizeYNone {
    block-size: var(--vkui--size_field_height--compact);
  }
}

/**
 * CMP:
 * SimpleCell
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalSimpleCellAfter) .host:last-child {
  margin-inline-end: -12px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalSimpleCellAfter) .hostIos:last-child {
  margin-inline-end: -9px;
}

/**
 * CMP:
 * Alert
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalAlertDismiss).host {
  block-size: 36px;
  padding: 8px;
}
