.IconButton {
  appearance: none;
  background: none;
  border: 0;
  box-shadow: none;
  display: block;
  color: currentColor;
  padding: 0;
  margin: 0;
  position: relative;

  /**
   * Чтобы закргуление было равно половине высоты.
   * см. https://stackoverflow.com/questions/27233295/possible-to-make-border-radius-equal-to-half-the-total-height-without-javascript
   */
  border-radius: 9999px;
}

.IconButton--withPadding.IconButton {
  height: 48px;
}

.IconButton--withPadding.IconButton--sizeY-compact {
  height: 44px;
}

.IconButton[disabled] {
  opacity: var(--vkui--opacity_disable_accessibility);
}

.IconButton--ios {
  border-radius: var(--vkui--size_border_radius--regular);
}

.IconButton--withPadding.IconButton :global(.vkuiIcon--16) {
  padding: 16px;
}

.IconButton--withPadding.IconButton :global(.vkuiIcon--16.vkuiIcon--w-8) {
  padding: 16px 14px;
}

.IconButton--withPadding.IconButton--sizeY-compact :global(.vkuiIcon--16),
.IconButton--withPadding.IconButton--sizeY-compact :global(.vkuiIcon--16.vkuiIcon--w-8) {
  padding: 14px;
}

.IconButton--withPadding.IconButton :global(.vkuiIcon--24) {
  padding: 12px;
}

.IconButton--withPadding.IconButton--sizeY-compact :global(.vkuiIcon--24) {
  padding: 10px;
}

.IconButton--withPadding.IconButton :global(.vkuiIcon--28) {
  padding: 10px;
}

.IconButton--withPadding.IconButton--sizeY-compact :global(.vkuiIcon--28) {
  padding: 8px;
}

@media (--sizeY-compact) {
  .IconButton--withPadding.IconButton--sizeY-none {
    height: 44px;
  }

  .IconButton--withPadding.IconButton--sizeY-none :global(.vkuiIcon--16),
  .IconButton--withPadding.IconButton--sizeY-none :global(.vkuiIcon--16.vkuiIcon--w-8) {
    padding: 14px;
  }

  .IconButton--withPadding.IconButton--sizeY-none :global(.vkuiIcon--24) {
    padding: 10px;
  }

  .IconButton--withPadding.IconButton--sizeY-none :global(.vkuiIcon--28) {
    padding: 8px;
  }
}

/**
 * CMP:
 * - FormItem
 * - FormLayoutGroup
 * - FormField
 */
:global(.vkuiInternalFormItem--removable) :global(.vkuiInternalRemovable__content) > .IconButton,
:global(.vkuiInternalFormLayoutGroup--removable)
  :global(.vkuiInternalRemovable__content)
  > .IconButton,
:global(.vkuiInternalFormField__after) .IconButton {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: var(--vkui--size_field_height--regular);
  height: var(--vkui--size_field_height--regular);
  border-radius: var(--vkui--size_border_radius--regular);
}

:global(.vkuiInternalFormField__after)
  .IconButton
  :global(.vkuiIcon):global(.vkuiIcon):global(.vkuiIcon) {
  padding: 0;
}

:global(.vkuiInternalFormField__after) .IconButton--sizeY-compact {
  width: var(--vkui--size_field_height--compact);
  height: var(--vkui--size_field_height--compact);
}

:global(.vkuiInternalFormItem--removable)
  :global(.vkuiInternalRemovable__content)
  > .IconButton--sizeY-compact,
:global(.vkuiInternalFormLayoutGroup--removable)
  :global(.vkuiInternalRemovable__content)
  > .IconButton--sizeY-compact {
  height: var(--vkui--size_field_height--compact);
}

@media (--sizeY-compact) {
  :global(.vkuiInternalFormField__after) .IconButton--sizeY-none {
    width: var(--vkui--size_field_height--compact);
    height: var(--vkui--size_field_height--compact);
  }

  :global(.vkuiInternalFormItem--removable)
    :global(.vkuiInternalRemovable__content)
    > .IconButton--sizeY-none,
  :global(.vkuiInternalFormLayoutGroup--removable)
    :global(.vkuiInternalRemovable__content)
    > .IconButton--sizeY-none {
    height: var(--vkui--size_field_height--compact);
  }
}

/**
 * CMP:
 * SimpleCell
 */
:global(.vkuiInternalSimpleCell__after) .IconButton:last-child {
  margin-right: -12px;
}

:global(.vkuiInternalSimpleCell--ios)
  :global(.vkuiInternalSimpleCell__after)
  .IconButton:last-child {
  margin-right: -9px;
}
