@import '../../styles/constants.css';

.Alert {
  user-select: none;
  }

  .Alert__btn {
    white-space: nowrap;
    }

/**
 * iOS version
 */
.Alert--ios {
  width: 270px;
  flex: 0 0 auto;
  background: #fafafa;
  border-radius: 12px;
  animation: animation-ios-alert-intro .3s var(--ios-easing);
  }

  /**
   * Content container
   */
  .Alert--ios .Alert__content {
    position: relative;
    padding: 19px 16px 20px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    }

  .Alert--ios .Alert__content::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    right: 0;
    left: 0;
    background: #e0e0e0;
    }

    .Alert--ios .Alert__content h2 {
      margin: 0 0 7px;
      font-weight: bold;
      font-size: 17px;
      line-height: 22px;
      }

    .Alert--ios .Alert__content p {
      margin: 0;
      }

  /**
   * Footer
   */
  .Alert__footer {
    display: flex;
    max-width: 100%;
    }

  .Alert--ios.Alert--v .Alert__footer {
    flex-direction: column;
    }

    /**
     * iOS Alert button
     */
    .Alert--ios .Alert__btn {
      position: relative;
      background: #fafafa;
      font-size: 17px;
      line-height: 44px;
      color: var(--accent-blue);
      border: 0;
      padding: 0 6px;
      margin: 0;
      height: 44px;
      display: block;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: var(--font-ios);
      }

    .Alert--ios .Alert__btn:active {
      z-index: 1;
      }

    .Alert--ios .Alert__btn::after {
      content: '';
      position: absolute;
      background: var(--separator);
      }

    .Alert--ios .Alert__btn:last-child::after,
    .Alert--ios .Alert__btn.Tappable--active::after {
      content: none;
      }

    .Alert--ios.Alert--h .Alert__btn::after {
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      }

    .Alert--ios.Alert--h .Alert__btn {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      }

    .Alert--ios.Alert--h .Alert__btn:first-child {
      border-bottom-left-radius: 12px;
      }

    .Alert--ios.Alert--h .Alert__btn:last-child {
      border-bottom-right-radius: 12px;
      }

    .Alert--ios.Alert--v .Alert__btn::after {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      }

    .Alert--ios.Alert--v .Alert__btn:last-child {
      border-radius: 0 0 12px 12px;
      }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .Alert--ios .Alert__content::after {
    background: var(--ios-bottom-border);
    }

    .Alert--ios.Alert--h .Alert__btn::after {
      background: var(--ios-right-border);
      }

    .Alert--ios.Alert--h .Alert__btn:last-child::after {
      content: none;
      }

    .Alert--ios.Alert--v .Alert__btn::after {
      background: var(--ios-bottom-border);
      }
  }

  .Alert--ios .Alert__btn--primary { /* Depcrated. Remove in next version */
    font-weight: 500;
    }

  .Alert--ios .Alert__btn--cancel {
    font-weight: 600;
    }

  .Alert--ios .Alert__btn--destructive {
    color: var(--red);
    }

/**
 * Android version
 */
.Alert--android {
  min-width: 280px;
  margin: auto 24px;
  background: #fff;
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .3), 0 0 35px 0 rgba(0, 0, 0, .22);
  border-radius: 2px;
  animation: animation-android-alert-intro .2s ease;
  }

  /**
   * Content container
   */
  .Alert--android .Alert__content {
    padding: 18px 24px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #71757a;
    }

    .Alert--android .Alert__content h2 {
      margin: 0 0 8px;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #2e3033;
      }

    .Alert--android .Alert__content p {
      margin: 0;
      }

    .Alert--android .Alert__content p + p {
      margin: 24px 0 0;
      }

  /**
   * Footer
   */
  .Alert--android .Alert__footer {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    }

    .Alert--android .Alert__btn {
      background: transparent;
      margin: 0 0 0 12px;
      border: 0;
      flex: 0 1 auto;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      padding: 8px;
      border-radius: 2px;
      color: #5181b8;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: var(--font-android);
      }

    .Alert--android .Alert__btn--cancel {
      color: #909499;
      }

    .Alert--android .Alert__btn--primary {
      color: #fff;
      background-color: var(--header-blue);
      }

    .Alert--android .Alert__btn--primary:active,
    .Alert--android .Alert__btn--primary.Tappable--active {
      background: #4872a3;
      }

/**
 * Animations
 */
@keyframes animation-ios-alert-intro {
  from {
    opacity: 0;
    transform: scale(1.05);
    }

  to {
    opacity: 1;
    transform: scale(1);
    }
  }

@keyframes animation-android-alert-intro {
  from {
    opacity: 0;
    transform: scale(.95);
    }

  to {
    opacity: 1;
    transform: scale(1);
    }
  }
