.Alert {
  user-select: none;
  color: var(--text_primary);
  position: relative;
  overflow: hidden;
  }

  .Alert::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal_card_background);
    z-index: 1;
    content: '';
    }

  .Alert__content {
    position: relative;
    z-index: 2;
    }

  .Alert__btn {
    white-space: nowrap;
    background: transparent;
    }

  .Alert__footer {
    display: flex;
    max-width: 100%;
    position: relative;
    z-index: 2;
    }

/**
 * iOS version
 */
.Alert--ios {
  width: 270px;
  flex: 0 0 auto;
  border-radius: 12px;
  animation: animation-ios-alert-intro .3s var(--ios-easing);
  }

.Alert--ios.Alert--closing {
  opacity: 0;
  transition: opacity .2s var(--ios-easing);
  }

  /**
   * Content container
   */
  .Alert--ios .Alert__content {
    padding: 19px 16px 20px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    }

  .Alert--ios .Alert__content::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    right: 0;
    left: 0;
    background: var(--action_sheet_separator);
    transform-origin: center bottom;
    }

    .Alert--ios .Alert__content h2 {
      margin: 0 0 7px;
      font-weight: bold;
      font-size: 17px;
      line-height: 22px;
      }

    .Alert--ios .Alert__content p {
      margin: 0;
      }

  /**
   * Footer
   */
  .Alert--ios.Alert--v .Alert__footer {
    flex-direction: column;
    }

    /**
     * iOS Alert button
     */
    .Alert--ios .Alert__btn {
      position: relative;
      font-size: 17px;
      line-height: 44px;
      color: var(--accent);
      border: 0;
      padding: 0 6px;
      margin: 0;
      height: 44px;
      display: block;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      }

    .Alert--ios .Alert__btn:active {
      z-index: 1;
      }

    .Alert--ios .Alert__btn::after {
      content: '';
      position: absolute;
      background: var(--action_sheet_separator);
      }

    .Alert--ios.Alert--h .Alert__btn::after {
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      transform-origin: right center;
      }

    .Alert--ios.Alert--h .Alert__btn:last-child::after {
      content: none;
      }

    .Alert--ios.Alert--h .Alert__btn {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      }

    .Alert--ios.Alert--h .Alert__btn:first-child {
      border-bottom-left-radius: 12px;
      }

    .Alert--ios.Alert--h .Alert__btn:last-child {
      border-bottom-right-radius: 12px;
      }

    .Alert--ios.Alert--v .Alert__btn::after {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      transform-origin: center bottom;
      }

    .Alert--ios.Alert--v .Alert__btn:last-child::after {
      content: none;
      }

    .Alert--ios.Alert--v .Alert__btn:last-child {
      border-radius: 0 0 12px 12px;
      }

@media (min-resolution: 2dppx) {
  .Alert--ios .Alert__content::after,
  .Alert--ios.Alert--v .Alert__btn::after {
    transform: scaleY(.5);
    }

    .Alert--ios.Alert--h .Alert__btn::after {
      transform: scaleX(.5);
      }
  }

@media (min-resolution: 3dppx) {
  .Alert--ios .Alert__content::after,
  .Alert--ios.Alert--v .Alert__btn::after {
    transform: scaleY(.33);
    }

  .Alert--ios.Alert--h .Alert__btn::after {
    transform: scaleX(.33);
    }
  }

  .Alert--ios .Alert__btn--cancel {
    font-weight: 600;
    }

  .Alert--ios .Alert__btn--destructive {
    color: var(--destructive);
    }

/**
 * Android version
 */
.Alert--android {
  min-width: 280px;
  margin: auto 24px;
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .3), 0 0 35px 0 rgba(0, 0, 0, .22);
  border-radius: 12px;
  animation: animation-android-alert-intro .2s ease;
  }

.Alert--android.Alert--closing {
  transform: scale(.95);
  opacity: 0;
  transition: transform .2s var(--android-easing), opacity .2s var(--android-easing);
  }

  /**
   * Content container
   */
  .Alert--android .Alert__content {
    padding: 20px 24px 8px;
    font-size: 16px;
    line-height: 24px;
    }

    .Alert--android .Alert__content h2 {
      margin: 0 0 8px;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      }

    .Alert--android .Alert__content p {
      margin: 0;
      }

    .Alert--android .Alert__content p + p {
      margin: 24px 0 0;
      }

  /**
   * Footer
   */
  .Alert--android .Alert__footer {
    padding: 12px 16px 16px;
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    }

  .Alert--android.Alert--v .Alert__footer {
    flex-direction: column;
    align-items: flex-end;
    }

    .Alert--android .Alert__btn {
      margin: 4px 0 0 8px;
      border: 0;
      flex: 0 1 auto;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      padding: 8px 16px;
      border-radius: 8px;
      color: var(--accent);
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      }

    .Alert--android .Alert__btn--destructive {
      color: var(--destructive);
      }

/**
 * Animations
 */
@keyframes animation-ios-alert-intro {
  from {
    opacity: 0;
    transform: scale(1.05);
    }

  to {
    opacity: 1;
    transform: scale(1);
    }
  }

@keyframes animation-android-alert-intro {
  from {
    opacity: 0;
    transform: scale(.95);
    }

  to {
    opacity: 1;
    transform: scale(1);
    }
  }
