.Panel {
  position: relative;
  width: 100%;
  height: 100%;
}

.Panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.Panel--centered .PanelHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.Panel__in {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.Panel__centered {
  box-sizing: border-box;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Panel__centered .PanelHeader--vis + * {
  margin-top: var(--vkui--size_panel_header_height--regular);
}

.Panel__centered .PanelHeader--ios.PanelHeader--vis + * {
  margin-top: var(--vkui--size_panel_header_height--regular);
}

.Panel--sizeX-compact .Panel__centered .PanelHeader--sep + * {
  margin-top: calc(var(--vkui--size_panel_header_height--regular) + 5px);
}

@media (--sizeX-compact) {
  .Panel--sizeX-none .Panel__centered .PanelHeader--sep + * {
    margin-top: calc(var(--vkui--size_panel_header_height--regular) + 5px);
  }
}

.Panel--sizeX-compact .Panel__centered .PanelHeader--ios.PanelHeader--sep + * {
  margin-top: calc(var(--vkui--size_panel_header_height--regular) + 5px);
}

@media (--sizeX-compact) {
  .Panel--sizeX-none .Panel__centered .PanelHeader--ios.PanelHeader--sep + * {
    margin-top: calc(var(--vkui--size_panel_header_height--regular) + 5px);
  }
}

.Panel--sizeX-compact .Panel__centered .PanelHeader--vkcom.PanelHeader--sep + * {
  margin-top: calc(var(--vkui--size_panel_header_height--regular) + 5px);
}

@media (--sizeX-compact) {
  .Panel--sizeX-none .Panel__centered .PanelHeader--vkcom.PanelHeader--sep + * {
    margin-top: calc(var(--vkui--size_panel_header_height--regular) + 5px);
  }
}

.Panel--sizeX-regular .Panel__centered .PanelHeader--sep + * {
  margin-top: calc(var(--vkui--size_panel_header_height--regular) + 16px);
}

@media (--sizeX-regular) {
  .Panel--sizeX-none .Panel__centered .PanelHeader--sep + * {
    margin-top: calc(var(--vkui--size_panel_header_height--regular) + 16px);
  }
}

.Panel--sizeX-regular .Panel__centered .PanelHeader--ios.PanelHeader--sep + * {
  margin-top: calc(var(--vkui--size_panel_header_height--regular) + 16px);
}

@media (--sizeX-regular) {
  .Panel--sizeX-none .Panel__centered .PanelHeader--ios.PanelHeader--sep + * {
    margin-top: calc(var(--vkui--size_panel_header_height--regular) + 16px);
  }
}

.Panel--sizeX-regular .Panel__centered .PanelHeader--vkcom.PanelHeader--sep + * {
  margin-top: calc(var(--vkui--size_panel_header_height--regular) + 16px);
}

@media (--sizeX-regular) {
  .Panel--sizeX-none .Panel__centered .PanelHeader--vkcom.PanelHeader--sep + * {
    margin-top: calc(var(--vkui--size_panel_header_height--regular) + 16px);
  }
}

.Epic--hasTabbar .Panel__in {
  padding-bottom: var(--vkui_internal--tabbar_height);
  padding-bottom: calc(
    var(--vkui_internal--safe_area_inset_bottom) + var(--vkui_internal--tabbar_height)
  );
}

.Panel__in-before {
  height: 1px;
  margin-bottom: -1px;
}

.Panel__in-after {
  height: 1px;
  margin-top: -1px;
}

.Panel .Panel__in,
.Panel::before {
  background-color: var(--vkui--color_background_content);
}

.Panel.Panel--sizeX-regular .Panel__in,
.Panel.Panel--sizeX-regular::before {
  background-color: transparent;
}

@media (--sizeX-regular) {
  .Panel--sizeX-none .Panel__in,
  .Panel--sizeX-none::before {
    background-color: transparent;
  }
}

.Panel__fade {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
