.ModalPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
}

.ModalPage--desktop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalPage__in-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  pointer-events: initial;
  transform: translateY(100%);
  transition: transform 320ms var(--vkui--animation_easing_platform);
}

.ModalPage--ios .ModalPage__in-wrap {
  transition: transform 400ms var(--vkui--animation_easing_platform);
}

.ModalPage--desktop .ModalPage__in-wrap {
  position: relative;
  align-items: initial;
  margin: 32px 56px;
  height: auto;
  max-height: 640px;
  opacity: 0;
  transform: none;
  transition: opacity 340ms var(--vkui--animation_easing_platform);
}

@media (max-height: 672px) {
  .ModalPage--desktop .ModalPage__in-wrap {
    max-height: calc(100% - 32px * 2);
  }
}

.ModalPage--size-s .ModalPage__in-wrap {
  max-width: var(--vkui--size_popup_small--regular);
}

.ModalPage--size-m .ModalPage__in-wrap {
  max-width: var(--vkui--size_popup_medium--regular);
}

.ModalPage--size-l .ModalPage__in-wrap {
  max-width: var(--vkui--size_popup_large--regular);
}

/* Для VKCOM `size` работать не будет */
.ModalPage--vkcom .ModalPage__in-wrap {
  max-width: 448px;
}

.ModalPage__in {
  background-color: var(--vkui--color_background_modal);
  overflow: visible;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top-right-radius: var(--vkui--size_border_radius_paper--regular);
  border-top-left-radius: var(--vkui--size_border_radius_paper--regular);
}

.ModalPage--desktop .ModalPage__in {
  height: auto;
  box-shadow: var(--vkui--elevation3);
  border-bottom-right-radius: var(--vkui--size_border_radius_paper--regular);
  border-bottom-left-radius: var(--vkui--size_border_radius_paper--regular);
}

.ModalPage__header {
  width: 100%;
}

.ModalPage__content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.ModalPage__content {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

.ModalPage--desktop .ModalPage__content,
.ModalRoot__modal--expandable .ModalPage__content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ModalPage__content-in {
  position: relative;
  padding-bottom: var(--vkui_internal--safe_area_inset_bottom);
}

.ModalPage__footer {
  background-color: var(--vkui--color_background_modal);
  position: relative;
  z-index: 10;
}

/**
 * CMP:
 * ModalRoot
 *
 * [дополнительно] также ищи в файле `ModalRoot__modal--expandable`
 */
.ModalRoot--touched .ModalPage__in-wrap {
  transition: none;
}

.ModalRoot--switching .ModalPage__in-wrap {
  pointer-events: none;
}

.ModalRoot__modal--collapsed .ModalPage__content,
.ModalRoot__modal--dragging .ModalPage__content {
  overflow: hidden;
  touch-action: pan-y;
}

.ModalRoot--touched .ModalPage__footer {
  transition: none;
}
