.ModalPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
}

.ModalPage__in-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  pointer-events: initial;
  transform: translateY(100%);
}

.ModalPage--ios .ModalPage__in-wrap {
  transition: transform 400ms var(--ios-easing);
}

.ModalPage--android .ModalPage__in-wrap {
  transition: transform 320ms var(--android-easing);
}

.ModalRoot--touched .ModalPage__in-wrap {
  transition: none;
}

.ModalPage__in {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  background: var(--background_content);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ModalPage--ios .ModalPage__in {
  padding-top: var(--modalheader_height_ios);
  border-radius: 14px 14px 0 0;
}

.ModalPage--android .ModalPage__in {
  padding-top: var(--modalheader_height_android);
  border-radius: 12px 12px 0 0;
}

.ModalPage__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ModalPage__content {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}

.ModalRoot__modal--expandable .ModalPage__content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.ModalPage__content-in {
  position: relative;
  padding-bottom: var(--safe-area-inset-bottom);
}

.ModalRoot__modal--collapsed .ModalPage__content,
.ModalRoot__modal--dragging .ModalPage__content {
  overflow: hidden;
  touch-action: pan-y;
}

.ModalPage__footer {
  background: var(--background_content);
  position: relative;
  z-index: 10;
}

.ModalRoot--touched .ModalPage__footer {
  transition: none;
}
