.PasswordModal__container {
  padding: 12px 24px;
}

.PasswordModal__caption {
  font-size: 16px;
  line-height: 20px;
  padding: 0 24px;
}

.PasswordModal .vkuiModalPage__in {
  width: 344px;
}

.PasswordModal__actions {
  padding: 0 24px;
  display: flex;
  max-width: 100%;
  position: relative;
  z-index: 2;
  justify-content: flex-end;
}

.PasswordModal__button {
  margin: 0 8px;
}
