.FormStatus {
  border-radius: 10px;
  padding: 14px 12px;
  background: var(--field_background);
  color: var(--text_primary);
  }

.FormStatus--error {
  background: var(--field_error_background);
  color: var(--field_error_border);
  }

  .FormStatus__header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    margin-top: -2px;
    }

  .FormStatus__header:not(:last-child) {
    margin-bottom: 2px;
    }

  .FormStatus__content {
    font-size: 13px;
    line-height: 16px;
    }

    .FormStatus__content b {
      font-weight: 500;
      }
