@import '../../styles/constants.css';

.NewPane--ios {
  padding: 13px 15px 12px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.25;
  position: relative;
  }

  .NewPane--ios::before,
  .NewPane--ios::after {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    height: 1px;
    content: '';
    }
  .NewPane--ios::before {
    top: 0;
    background: map(colors, separator);
    }
  .NewPane--ios::after {
    bottom: 0;
    background: map(colors, separator);
    }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .NewPane--ios::before {
      background: var(--ios-top-border);
      }

    .NewPane--ios::after {
      background: var(--ios-bottom-border);
      }
    }

.NewPane--android {
  background-color: #fff;
  padding: 14px 16px 15px;
  }

.NewPane--entity {
  padding-left: 12px;
  }
