.host {
  position: relative;
  box-sizing: border-box;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;

  /**
   * `min-width` в контексте Flexbox по умолчанию имеет значение `auto`,
   * из-за чего элементы при переполнении будут выходить за границы контейнера.
   *
   * Подробности по ссылке https://stackoverflow.com/a/66689926/2903061
   */
  min-inline-size: 0;
  block-size: auto;
  color: var(--vkui_internal_ContentBadge--color);
  isolation: isolate;

  --vkui_internal_ContentBadge--backgroundOpacity: 1;
}

.iconSlot {
  color: var(--vkui_internal_ContentBadge--iconColor, inherit);
}

.sizeS {
  min-block-size: 16px;
  padding-block: 1px;
  padding-inline: 4px;
  border-radius: 4px;
}

.sizeM {
  column-gap: 4px;
  min-block-size: 20px;
  padding-block: 3px;
  padding-inline: 6px;
  border-radius: 6px;
}

.singleIconSlotSizeM {
  padding-block: 1px;
  margin-inline: -2px;
}

.sizeL {
  column-gap: 6px;
  min-block-size: 28px;
  padding-block: 6px;
  padding-inline: 8px;
  border-radius: 8px;
}

.iconSlotSizeL {
  margin-inline-start: -2px;
  margin-inline-end: -2px;
}

.singleIconSlotSizeL {
  margin-block: -2px;
  margin-inline: -4px;
}

.capsule {
  border-radius: 48px;
}

/* mode="primary" */
.modePrimary {
  background-color: var(--vkui_internal_ContentBadge--background);
}

/* mode="secondary" */
.modeSecondary::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  content: '';
  background-color: var(--vkui_internal_ContentBadge--background);
  border-radius: inherit;
  opacity: var(--vkui_internal_ContentBadge--backgroundOpacity, 1);
}

/* mode="outline" */
.modeOutline::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  content: '';
  background-color: var(--vkui_internal_ContentBadge--background);
  border: 1px solid var(--vkui_internal_ContentBadge--borderColor);
  border-radius: inherit;
}

.outlineOverlay::before {
  border-width: 0;
}

/* appearance="accent" */
.primaryAccent {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_contrast);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_contrast);
  --vkui_internal_ContentBadge--background: var(--vkui--color_background_accent);
}

.secondaryAccent {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_accent);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_accent);
  --vkui_internal_ContentBadge--background: var(--vkui--color_background_secondary_alpha);
}

.outlineAccent {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_accent);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_accent);
  --vkui_internal_ContentBadge--borderColor: var(--vkui--color_stroke_accent);
}

/* appearance="neutral" */
.primaryNeutral {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_contrast);
  --vkui_internal_ContentBadge--background: var(--vkui--color_icon_secondary);
}

.secondaryNeutral {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_primary);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_primary);
  --vkui_internal_ContentBadge--background: var(--vkui--color_background_secondary_alpha);
}

.outlineNeutral {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_secondary);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_secondary);
  --vkui_internal_ContentBadge--borderColor: var(--vkui--color_icon_secondary);
}

/* appearance="accent-green" */
.primaryAccentGreen {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_contrast);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_contrast);
  --vkui_internal_ContentBadge--background: var(--vkui--color_accent_green);
}

.secondaryAccentGreen {
  --vkui_internal_ContentBadge--color: var(--vkui--color_accent_green);
  --vkui_internal_ContentBadge--background: var(--vkui--color_background_positive_tint);
}

.outlineAccentGreen {
  --vkui_internal_ContentBadge--color: var(--vkui--color_accent_green);
  --vkui_internal_ContentBadge--borderColor: var(--vkui--color_accent_green);
}

/* appearance="accent-red" */
.primaryAccentRed {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_contrast);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_contrast);
  --vkui_internal_ContentBadge--background: var(--vkui--color_accent_red);
}

.secondaryAccentRed {
  --vkui_internal_ContentBadge--color: var(--vkui--color_accent_red);
  --vkui_internal_ContentBadge--background: var(--vkui--color_background_negative_tint);
}

.outlineAccentRed {
  --vkui_internal_ContentBadge--color: var(--vkui--color_accent_red);
  --vkui_internal_ContentBadge--borderColor: var(--vkui--color_accent_red);
}

/* appearance="overlay" */
.primaryOverlay {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_contrast);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_contrast);
  --vkui_internal_ContentBadge--background: var(--vkui--color_overlay_primary);
}

.secondaryOverlay {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_contrast);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_contrast);
  --vkui_internal_ContentBadge--background: var(--vkui--color_overlay_secondary);
}

.outlineOverlay {
  --vkui_internal_ContentBadge--color: var(--vkui--color_text_contrast);
  --vkui_internal_ContentBadge--iconColor: var(--vkui--color_icon_contrast);
  --vkui_internal_ContentBadge--background: var(--vkui--color_overlay_primary);
}
