.host {
  position: fixed;
  inset-block-start: 16px;
  inset-inline-start: 16px;
  z-index: 1000;
  transform: translateY(-300%);
}

@media (prefers-reduced-motion: no-preference) {
  .host {
    transition: transform 0.2s ease-in-out;
  }
}

.host:focus {
  transform: translateY(0);
}
