.Tappable {}

/**
 * iOS tappable
 */
.Tappable--ios {
  transition: background-color .15s ease-out;
  }

.Tappable--ios.Tappable--active:not([disabled]):not(.TabsItem):not(.HeaderButton):not(.Button):not(.PanelHeaderContent__in):not(.ActionSheetItem) {
  background: var(--separator_common) !important;
  transition: none;
  }

/**
 * Android tappable
 */
.Tappable--android {
  position: relative;
  transition: background-color .15s ease-out;
  }

.Tappable--android.Tappable--active:not([disabled]):not(.TabsItem):not(.HeaderButton):not(.Button):not(.PanelHeaderContent__in) {
  background: var(--background_highlighted) !important;
  }

  /**
   * Waves container
   */
  .Tappable--android .Tappable__waves {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    }

    /**
     * Wave
     */
    .Tappable--android .Tappable__wave {
      position: absolute;
      opacity: 0;
      content: '';
      border-radius: 100%;
      background: rgba(0,0,0,.25);
      color: rgba(0,0,0,.25) !important;
      animation: animation-wave .65s ease-out;
      transform: scale(0.2);
      }

/**
 * Animations
 */
@keyframes animation-wave {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
