.Tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  white-space: normal;
}

.Tooltip__content {
  max-width: 220px;
  padding: 9px 12px 10px;
  color: var(--vkui--color_text_primary);
  background-color: var(--vkui--color_background_modal);
  border-radius: var(--vkui--size_border_radius--regular);
  box-shadow: var(--vkui--elevation3);
}

.Tooltip__arrow {
  color: var(--vkui--color_background_modal);
}

.Tooltip--appearance-accent .Tooltip__content {
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_background_accent_tint);
}

.Tooltip--appearance-accent .Tooltip__arrow {
  color: var(--vkui--color_background_accent_tint);
}

.Tooltip--appearance-white .Tooltip__content {
  color: var(--vkui--color_text_primary_invariably);
  background-color: var(--vkui--color_background_contrast);
}

.Tooltip--appearance-white .Tooltip__arrow {
  color: var(--vkui--color_background_contrast);
}

.Tooltip--appearance-black .Tooltip__content {
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_background_contrast_inverse);
}

.Tooltip--appearance-black .Tooltip__arrow {
  color: var(--vkui--color_background_contrast_inverse);
}

.Tooltip--appearance-inversion .Tooltip__content {
  color: var(--vkui--color_text_contrast_themed);
  background-color: var(--vkui--color_background_modal_inverse);
}

.Tooltip--appearance-inversion .Tooltip__arrow {
  color: var(--vkui--color_background_modal_inverse);
}

.Tooltip__title,
.Tooltip__text,
.Tooltip--appearance-neutral {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
