.HeaderButton--ios {
  height: 44px;
  line-height: 44px;
  position: relative;
  display: flex;
  }

.HeaderButton--ios.HeaderButton--primary {
  font-weight: 600;
  }

.HeaderButton--ios.HeaderButton--right {
  justify-content: flex-end;
  }

  .HeaderButton--ios .Icon {
    align-self: center;
    }

  .HeaderButton--ios .Icon--24 {
    padding: 0 10px;
    }

  .HeaderButton--ios .Icon--chevron_back_28 {
    padding-left: 4px;
    padding-right: 4px;
    }

.HeaderButton--ios.Tappable--active {
  opacity: .7;
  }


.HeaderButton--android {
  text-transform: uppercase;
  height: 48px;
  line-height: 48px;
  font-weight: 500;
  font-size: 14px;
  padding: 0 12px;
  }

  .HeaderButton--android .Icon--24 {
    padding: 12px 0;
    }

.HeaderButton--android.Tappable--active {
  background-color: rgba(255, 255, 255, .1);
  }
