.HeaderButton {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  color: currentColor;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-family: var(--font-ios);
  }

.HeaderButton[disabled] {
  opacity: .6;
  }

.HeaderButton--ios {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  }

.HeaderButton--ios.HeaderButton--primary {
  font-weight: 600;
  }

  .HeaderButton--ios > * {
    align-items: center;
    }

  .HeaderButton--ios .Icon--chevron_back_28 {
    padding-left: 4px;
    }

.HeaderButton--ios.Tappable--active {
  opacity: .7;
  }

.HeaderButton--android {
  text-transform: uppercase;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  padding: 0 12px;
  font-family: var(--font-android);
  }

  .HeaderButton--android .Icon--24 {
    padding: 12px 0;
    }

  .HeaderButton--android .Tappable__waves {
    border-radius: 50%;
    }

.HeaderButton--android.Tappable--active {
  background-color: rgba(255, 255, 255, .1);
  }
