.host {
  font-family: var(--vkui--font_footnote--font_family--regular);
  font-size: var(--vkui--font_footnote--font_size--regular);
  font-weight: var(--vkui--font_footnote--font_weight--regular);
  line-height: var(--vkui--font_footnote--line_height--regular);
}

.densityCompact {
  font-family: var(
    --vkui--font_footnote--font_family--compact,
    var(--vkui--font_footnote--font_family--regular)
  );
  font-size: var(
    --vkui--font_footnote--font_size--compact,
    var(--vkui--font_footnote--font_size--regular)
  );
  font-weight: var(
    --vkui--font_footnote--font_weight--compact,
    var(--vkui--font_footnote--font_weight--regular)
  );
  line-height: var(
    --vkui--font_footnote--line_height--compact,
    var(--vkui--font_footnote--line_height--regular)
  );
}

@media (--density-compact) {
  .densityNone {
    font-family: var(
      --vkui--font_footnote--font_family--compact,
      var(--vkui--font_footnote--font_family--regular)
    );
    font-size: var(
      --vkui--font_footnote--font_size--compact,
      var(--vkui--font_footnote--font_size--regular)
    );
    font-weight: var(
      --vkui--font_footnote--font_weight--compact,
      var(--vkui--font_footnote--font_weight--regular)
    );
    line-height: var(
      --vkui--font_footnote--line_height--compact,
      var(--vkui--font_footnote--line_height--regular)
    );
  }
}

.caps {
  font-family: var(--vkui--font_footnote_caps--font_family--regular);
  font-size: var(--vkui--font_footnote_caps--font_size--regular);
  font-weight: var(--vkui--font_footnote_caps--font_weight--regular);
  line-height: var(--vkui--font_footnote_caps--line_height--regular);
  text-transform: uppercase;
}

.densityCompact.caps {
  font-family: var(
    --vkui--font_footnote_caps--font_family--compact,
    var(--vkui--font_footnote_caps--font_family--regular)
  );
  font-size: var(
    --vkui--font_footnote_caps--font_size--compact,
    var(--vkui--font_footnote_caps--font_size--regular)
  );
  font-weight: var(
    --vkui--font_footnote_caps--font_weight--compact,
    var(--vkui--font_footnote_caps--font_weight--regular)
  );
  line-height: var(
    --vkui--font_footnote_caps--line_height--compact,
    var(--vkui--font_footnote_caps--line_height--regular)
  );
}

@media (--density-compact) {
  .densityNone.caps {
    font-family: var(
      --vkui--font_footnote_caps--font_family--compact,
      var(--vkui--font_footnote_caps--font_family--regular)
    );
    font-size: var(
      --vkui--font_footnote_caps--font_size--compact,
      var(--vkui--font_footnote_caps--font_size--regular)
    );
    font-weight: var(
      --vkui--font_footnote_caps--font_weight--compact,
      var(--vkui--font_footnote_caps--font_weight--regular)
    );
    line-height: var(
      --vkui--font_footnote_caps--line_height--compact,
      var(--vkui--font_footnote_caps--line_height--regular)
    );
  }
}
