.Removable {
  position: relative;
  min-width: 0;
  width: 100%;
  max-width: 100%;
}

.Removable__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.Removable__action {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
}

.Removable--start .Removable__action {
  align-self: flex-start;
}

.FormItem--withTop .Removable__action,
.FormItem--withTop ~ .Removable__action {
  top: 26px;
}
/**
 * iOS
 */
.Removable--ios {
  overflow: hidden;
}

.Removable__remove {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
  line-height: 45px;
  color: var(--white);
  background-color: var(--destructive);
  border: none;
  border-radius: 0;
}

.Removable__remove-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .Removable--ios .Removable__content {
    transition: transform .6s var(--ios-easing);
  }
}

.Removable__toggle {
  display: block;
  width: 48px;
  height: 48px;
  background: none;
}

.Removable__toggle-in {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
}

.Removable__toggle-in::after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: var(--destructive);
  border-radius: 50%;
}

.Removable__toggle-in::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  background-color: var(--white);
}

.FormItem--withTop ~ .Removable__offset {
  order: -1;
  display: block;
  width: 100%;
  height: 26px;
}

/*
 * sizeY: COMPACT
 */
.Removable--sizeY-compact .Removable__action {
  margin-top: -4px;
  margin-bottom: -4px;
}

.Removable--sizeY-compact .Removable__toggle {
  height: 44px;
  width: 44px;
  margin-left: 2px;
  margin-right: 2px;
}

/**
 * CPM:
 * FormLayoutGroup
 */
.FormLayoutGroup--ios .Removable__content {
  flex-wrap: wrap;
  padding-right: var(--formlayoutgroup_padding);
}
