.Removable__content {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: var(--vkui--size_base_padding_horizontal--regular);
}

.Removable__action {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
}

/* Увеличиваем вес селектора */
.Removable__action.Removable__action {
  color: var(--icon_secondary, var(--vkui--color_icon_secondary));
}

.Removable--start .Removable__action {
  align-self: flex-start;
}

/**
 * iOS
 */
.Removable--ios {
  overflow: hidden;
}

.Removable__remove {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
  line-height: 45px;
  color: var(--white);
  background-color: var(--destructive, var(--vkui--color_background_negative));
  border: none;
  border-radius: 0;
}

.Removable__remove-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .Removable--ios .Removable__content {
    transition: transform 0.6s var(--ios-easing);
  }
}

.Removable__toggle {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 2px;
  background: none;
}

.Removable__toggle-in {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
}

.Removable__toggle-in::after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: var(--destructive, var(--vkui--color_background_negative));
  border-radius: 50%;
}

.Removable__toggle-in::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  background-color: var(--white);
}

.Removable--ios .Removable__content {
  padding-left: 0;
  padding-right: var(--vkui--size_base_padding_horizontal--regular);
}

.FormItem--removable .Removable__content,
.FormLayoutGroup--removable .Removable__content {
  flex-wrap: wrap;
  align-items: flex-start;
}

.FormItem--withTop .FormItem__removable ~ .Removable__offset,
.FormLayoutGroup--removable .FormItem--withTop ~ .Removable__offset {
  order: -1;
  display: block;
  width: 100%;
  height: calc(2px + var(--vkui--font_subhead--line_height--regular) + 8px);
}

.FormItem--withTop.FormItem--sizeY-compact
  .FormItem__removable
  ~ .Removable__offset,
.FormLayoutGroup--removable.FormLayoutGroup--sizeY-compact
  .FormItem--withTop
  ~ .Removable__offset {
  height: calc(2px + var(--vkui--font_subhead--line_height--compact) + 6px);
}
