.Removable {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.Removable,
.Removable__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.Removable__content,
.Removable__children {
  flex-grow: 1;
  flex-shrink: 1;
}

.Removable__children > * {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
}

/**
 * iOS
 */

.Removable--ios {
  overflow: hidden;
}

.Removable--ios .Removable__content {
  transition: transform .6s var(--ios-easing);
}

.Removable--ios .Removable__remove {
  position: absolute;
  left: 100%;
  height: 100%;
  top: 0;
  background-color: var(--destructive);
  color: var(--white);
  padding: 0 10px;
  line-height: 45px;
  font-size: 15px;
  transition: transform .6s var(--ios-easing);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
}

.Removable--ios .Removable__remove-marker {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  margin-right: 12px;
  background-color: var(--destructive);
  border-radius: 50%;
  border: none;
}

.Removable--ios .Removable__remove-marker:focus,
.Removable--ios .Removable__remove:focus {
  outline: none;
}

.Removable--ios .Removable__remove-marker::before {
  position: absolute;
  left: 6px;
  top: 10px;
  width: 9px;
  height: 1px;
  background-color: var(--white);
  content: "";
  display: block;
}

/**
 * ANDROID & VKCOM
 */

.Removable--android .Removable__remove,
.Removable--vkcom .Removable__remove {
  color: var(--icon_secondary);
}
