.PanelHeaderButton {
  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  display: block;
  color: currentColor;
  padding: 0;
  margin: 0;
  position: relative;
}

.PanelHeaderButton[disabled] {
  opacity: .6;
}

.PanelHeaderButton .Counter {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 2px;
}

/*
 * iOS
 */

.PanelHeaderButton--ios {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.PanelHeaderButton--ios.PanelHeaderButton--primitive {
  height: 44px;
  line-height: 44px;
  padding: 0 12px;
}

.PanelHeaderButton--ios .Icon--24 {
  padding: 10px;
}

.PanelHeaderButton--ios .Icon--28 {
  padding: 8px;
}

/*
 * Android
 */

.PanelHeaderButton--android {
  border-radius: 50%;
}

.PanelHeaderButton--android.PanelHeaderButton--primitive {
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
}

.PanelHeaderButton--android .Icon--24 {
  padding: 12px;
}

.PanelHeaderButton--android .Icon--28 {
  padding: 10px;
}

/**
* VKCOM
*/
.PanelHeaderButton--vkcom {
  color: var(--header_text_secondary);
}

.PanelHeaderButton--vkcom > :not(.Counter) {
  transition: opacity .3s;
  opacity: .7;
}

.PanelHeaderButton--vkcom.PanelHeaderButton--hover > :not(.Counter),
.PanelHeaderButton--vkcom.PanelHeaderButton--active > :not(.Counter) {
  opacity: 1;
}

.PanelHeaderButton--vkcom {
  display: flex;
  align-items: center;
  padding: 10px;
}

.PanelHeaderButton--vkcom.PanelHeaderButton--primitive {
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
}

.PanelHeaderButton--vkcom.PanelHeaderButton--notPrimitive {
  border-radius: 50%;
}
