.PanelHeaderButton {
  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  display: block;
  color: currentColor;
  padding: 0;
  margin: 0;
  position: relative;
}

.PanelHeaderButton[disabled] {
  opacity: 0.6;
}

.PanelHeaderButton .Counter {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 2px;
}

.PanelHeaderButton--primitive {
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
}

/*
 * iOS
 */

.PanelHeaderButton--ios {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.PanelHeaderButton--ios.PanelHeaderButton--primitive {
  height: 44px;
  line-height: 44px;
}

.PanelHeaderButton--ios :global(.vkuiIcon--24) {
  padding: 10px;
}

.PanelHeaderButton--ios :global(.vkuiIcon--28) {
  padding: 8px;
}

/*
 * Android
 */

.PanelHeaderButton--android.PanelHeaderButton--notPrimitive {
  border-radius: 50%;
}

.PanelHeaderButton--android :global(.vkuiIcon--24) {
  padding: 12px;
}

.PanelHeaderButton--android :global(.vkuiIcon--28) {
  padding: 10px;
}

/**
* VKCOM
*/
.PanelHeaderButton--vkcom {
  color: var(--vkui--color_text_secondary);
}

.PanelHeaderButton--vkcom > :not(.Counter) {
  transition: opacity 0.3s;
  opacity: 0.7;
}

.PanelHeaderButton--vkcom.PanelHeaderButton--hover > :not(.Counter),
.PanelHeaderButton--vkcom.PanelHeaderButton--active > :not(.Counter) {
  opacity: 1;
}

.PanelHeaderButton--vkcom {
  display: flex;
  align-items: center;
  padding: 10px;
}

.PanelHeaderButton--vkcom.PanelHeaderButton--notPrimitive {
  border-radius: 50%;
}

@media (--sizeX-compact) {
  .PanelHeaderBack--sizeX-none.PanelHeaderBack--ios .PanelHeaderButton__label {
    display: none;
  }
}
