.host {
  display: flex;
  padding-block: var(--vkui--spacing_size_s);
  padding-inline: var(--vkui--size_base_padding_horizontal--regular);
  color: var(--vkui--color_text_subhead);
}

.modeAccent {
  color: var(--vkui--color_text_primary);
}

.before {
  margin-inline-end: var(--vkui--spacing_size_xl);
  color: var(--vkui--color_icon_secondary);
}

.middle {
  flex: 1;
  min-inline-size: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
  min-inline-size: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}

.textWrapShort .content {
  white-space: initial;
  display: -webkit-box;
  max-block-size: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.textWrapFull .content {
  overflow: inherit;
  white-space: initial;
}

.textWrapNowrap .content {
  flex: 0 1 auto;
}

.after {
  margin-inline-start: var(--vkui--spacing_size_xl);
  margin-block: calc(-1 * var(--vkui--spacing_size_2xs));
}

.modeAdd,
.modeMore {
  color: var(--vkui--color_text_link_themed);
}

.modeAdd .before,
.modeMore .before {
  color: var(--vkui--color_icon_accent_themed);
}

.modeMore {
  padding-block: 10px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.middle :global(.vkuiIcon) {
  margin-inline-start: var(--vkui--spacing_size_xs);
  color: var(--vkui--color_text_accent);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.modeAdd .middle :global(.vkuiIcon),
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.modeMore .middle :global(.vkuiIcon) {
  color: var(--vkui--color_icon_accent_themed);
}
