.Header {
  user-select: text;
  }

  .Header__in {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    }

    .Header__content {
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;
    }

      .Header__subtitle {
        color: var(--text_secondary);
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        }

    .Header--mode-primary .Header__content {
      color: var(--text_primary);
      }

    .Header--mode-secondary .Header__content {
      color: var(--text_secondary);
      text-transform: uppercase;
      }

    .Header--pi .Header__content {
      color: var(--text_primary);
      }

    .Header__indicator {
      margin-right: auto;
      color: var(--text_secondary);
      font-size: 13px;
      line-height: 16px;
      margin-left: 8px;
      }

    .Header__aside {
      white-space: nowrap;
      font-size: 15px;
      line-height: 20px;
      margin-left: 12px;
    }

      .Header__aside > .Icon {
        position: relative;
        color: var(--icon_secondary);
        }

      .Header__aside > .Icon--24 {
        top: 3px;
        }

      .Header__aside > .Icon--16 {
        top: 1px;
        }

.Header--ios .Header__in {
  padding: 0 12px;
  }

  .Header--ios.Header--mode-primary .Header__content {
    font-size: 17px;
    line-height: 22px;
    /* https://github.com/VKCOM/VKUI/issues/738 */
    margin: 13px 0 9px;
    }

  .Header--ios.Header--mode-secondary .Header__content {
    /* https://github.com/VKCOM/VKUI/issues/738 */
    margin: 14px 0 10px;
    font-size: 13px;
    line-height: 16px;
    }

.Header--android .Header__in,
.Header--vkcom .Header__in {
  padding: 0 16px;
  }

  .Header--android.Header--mode-primary .Header__content,
  .Header--vkcom.Header--mode-primary .Header__content {
    /* https://github.com/VKCOM/VKUI/issues/738 */
    margin: 15px 0 9px;
    font-size: 16px;
    line-height: 20px;
    }

  .Header--android.Header--mode-secondary .Header__content,
  .Header--vkcom.Header--mode-secondary .Header__content {
    /* https://github.com/VKCOM/VKUI/issues/738 */
    margin: 15px 0 9px;
    font-size: 13px;
    line-height: 16px;
    }
