@import '../../../styles/constants.css';

.View--ios .View__header {
  position: fixed;
  width: 100%;
  height: 44px;
  padding-top: 20px;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  }

  .View--ios .View__header-scrolltop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    height: constant(safe-area-inset-top);
    height: env(safe-area-inset-top);
    }

  .View--ios .View__header-in {
    height: 44px;
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    }

    .View--ios .View__header-item {
      top: 20px;
      top: constant(safe-area-inset-top);
      top: env(safe-area-inset-top);
      justify-content: center;
      padding: 0 6px;
      }

        .View--ios .View__header-search {
          width: 100%;
          }

        .View--ios .View__header-left,
        .View--ios .View__header-right {
          padding: 0 2px;
          }

          .View--ios .View__header-left-in {
            line-height: 44px;
            }

          .View--ios .View__header-icon + .View__header-left-in {
            padding-left: 4px;
            }

/**
 * Header swipe back
 */

.View__header-item--swipe-back-failed,
.View__header-item--swipe-back-failed .View__header-title,
.View__header-item--swipe-back-failed .View__header-left-in,
.View__header-item--swipe-back-failed .View__header-icon,
.View__header-item--swipe-back-success,
.View__header-item--swipe-back-success .View__header-title,
.View__header-item--swipe-back-success .View__header-left-in,
.View__header-item--swipe-back-success .View__header-icon {
  transition:
      opacity .3s var(--ios-easing),
      transform .3s var(--ios-easing);
  }

.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-failed {
  opacity: 0;
  }
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-failed .View__header-title {
  opacity: 0;
  transform: translate3d(-60%, 0, 0);
  }
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-failed .View__header-left-in {
  opacity: 0;
  transform: translate3d(-60%, 0, 0);
  }
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-failed .View__header-icon,
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-failed .View__header-right {
  opacity: 0;
  }
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-success {
  opacity: 1;
  }
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-success .View__header-title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  }
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-success .View__header-left-in {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  }
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-success .View__header-icon,
.View--ios .View__header-item--swipe-back-next.View__header-item--swipe-back-success .View__header-right {
  opacity: 1;
  }
.View--ios .View__header-item--swipe-back-prev.View__header-item--swipe-back-failed {
  opacity: 1;
  }
.View--ios .View__header-item--swipe-back-prev.View__header-item--swipe-back-failed .View__header-title {
  transform: translate3d(0, 0, 0);
  }
.View--ios .View__header-item--swipe-back-prev.View__header-item--swipe-back-failed .View__header-left-in {
  transform: translate3d(0, 0, 0);
  }
.View--ios .View__header-item--swipe-back-prev.View__header-item--swipe-back-success {
  opacity: 0;
  }
.View--ios .View__header-item--swipe-back-prev.View__header-item--swipe-back-success .View__header-title {
  transform: translate3d(60%, 0, 0);
  }
.View--ios .View__header-item--swipe-back-prev.View__header-item--swipe-back-success .View__header-left-in {
  transform: translate3d(60%, 0, 0);
  }

/**
 * Header transition
 */
.View--ios .View__header-item--prev,
.View--ios .View__header-item--next {
  position: absolute;
  left: 0;
  overflow: hidden;
  }

.View--ios .View__header-title {
  font: 500 17px/44px var(--ios-font);
  text-align: center;
  }

.View--ios .View__header-item--prev .View__header-icon {
  animation: animation-ios-header-fade-out .6s var(--ios-easing);
  }

.View--ios .View__header-item--next .View__header-icon {
  animation: animation-ios-header-fade-in .6s var(--ios-easing);
  }

.View--ios .View__header-item--prev .View__header-title,
.View--ios .View__header-item--prev .View__header-left-in,
.View--ios .View__header-item--prev .View__header-right {
  animation: animation-ios-header-prev-forward .6s var(--ios-easing);
  }

.View--ios .View__header-item--next .View__header-title,
.View--ios .View__header-item--next .View__header-left-in,
.View--ios .View__header-item--next .View__header-right {
  animation: animation-ios-header-next-back .6s var(--ios-easing);
  }

.View--ios .View__header-item--prev ~ .View__header-item--next .View__header-title,
.View--ios .View__header-item--prev ~ .View__header-item--next .View__header-left-in,
.View--ios .View__header-item--prev ~ .View__header-item--next .View__header-right {
  animation: animation-ios-header-next-forward .6s var(--ios-easing);
  }

.View--ios .View__header-item--next ~ .View__header-item--prev .View__header-title,
.View--ios .View__header-item--next ~ .View__header-item--prev .View__header-left-in,
.View--ios .View__header-item--next ~ .View__header-item--prev .View__header-right {
  animation: animation-ios-header-prev-back .6s var(--ios-easing);
  }

@keyframes animation-ios-header-next-back {
  from {
    opacity: 0;
    transform: translateX(-60%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation-ios-header-next-forward {
  from {
    opacity: 0;
    transform: translateX(60%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation-ios-header-prev-back {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(60%);
  }
}

@keyframes animation-ios-header-prev-forward {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-60%);
  }
}

@keyframes animation-ios-header-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-ios-header-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
