.Spacing {
  color: var(--separator_common);
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.Spacing--separator-center {
  justify-content: center;
}

.Spacing--separator-bottom {
  flex-direction: column-reverse;
}

.Spacing--separator::after {
  content: "";
  display: block;
  height: 1px;
  background: currentColor;
  transform-origin: center top;
}

@media (min-resolution: 2dppx) {
  .Spacing--separator::after {
    transform: scaleY(.5);
  }
}

@media (min-resolution: 3dppx) {
  .Spacing--separator::after {
    transform: scaleY(.32);
  }
}

.Spacing--ios {
  padding-left: 12px;
  padding-right: 12px;
}

.Spacing--android,
.Spacing--vkcom {
  padding-left: 16px;
  padding-right: 16px;
}
