.root {
  margin-inline-start: var(--vkui--spacing_size_2xl);
  padding-inline-start: var(--vkui--spacing_size_2xl);
  border-inline-start: 1px solid var(--vkui_docs--color_stroke_separator_secondary);
}

/* stylelint-disable-next-line selector-max-type */
.root h2 {
  counter-increment: steps;
}

/* stylelint-disable-next-line selector-max-type */
.root h2::before {
  position: absolute;
  block-size: 28px;
  inline-size: 28px;
  font-size: 16px;
  text-align: center;
  content: counter(steps);
  border-radius: 50%;
  margin-inline-start: calc(-2 * var(--vkui--spacing_size_2xl));
  background-color: var(--vkui--color_background);
}
