.CalendarDay {
  border-radius: 0;
  font-size: 14px;
  color: var(--vkui--color_text_primary);
  font-family: var(--vkui--font_family_base);
}

.CalendarDay__hidden,
.CalendarDay {
  height: 36px;
  flex-basis: calc(100% / 7);
  flex-grow: 0;
}

.CalendarDay__hidden--size-s,
.CalendarDay--size-s {
  height: 34px;
}

.CalendarDay--disabled,
.CalendarDay--not-same-month {
  color: var(--vkui--color_text_tertiary);
}

.CalendarDay--selected {
  background-color: var(--vkui--color_background_secondary);
}

.CalendarDay--selection-start.CalendarDay--selected,
.CalendarDay__hinted--selection-start {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.CalendarDay--selection-end.CalendarDay--selected,
.CalendarDay__hinted--selection-end {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.CalendarDay__day-number {
  text-align: center;
}

.CalendarDay--today {
  font-weight: 600;
}

.CalendarDay--today .CalendarDay__day-number::after {
  content: "";
  border-bottom: 2px solid var(--vkui--color_stroke_accent);
  width: 16px;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.CalendarDay--today
  .CalendarDay__inner--active
  .CalendarDay__day-number::after {
  border-bottom-color: var(--vkui--color_stroke_contrast);
}

.CalendarDay__inner,
.CalendarDay__hinted {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.CalendarDay__inner {
  border-radius: 8px;
}

.CalendarDay__hinted--active,
.CalendarDay--hover :not(.CalendarDay__hinted--active) .CalendarDay__inner {
  background-color: var(--vkui--color_background_secondary_alpha--hover);
}

.CalendarDay__inner--active {
  background-color: var(--vkui--color_background_accent);
  color: var(--vkui--color_text_contrast);
}

.CalendarDay--active,
.CalendarDay--size-m,
.CalendarDay--active-hover {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
