.input {
  z-index: var(--vkui_internal--z_index_form_field_element);
  flex-grow: 1;
  align-self: center;
  margin-inline: 10px 14px;
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
  cursor: text;
  user-select: text;
}

.sizeYCompact .input {
  margin-inline-end: 22px;
}

@media (--sizeY-compact) {
  .sizeYNone .input {
    margin-inline-end: 22px;
  }
}
