.DatePicker {
  margin: 0;
  padding: 0;
  border: 0;
}

.DatePicker__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.DatePicker__day {
  max-width: 63px;
}

.DatePicker__month {
  display: flex;
  flex: 1 0 auto;
  padding: 0 8px;
}

.DatePicker__year {
  max-width: 83px;
}
