.Select {
  position: relative;
  box-sizing: border-box;
  font-family: var(--vkui--font_family_base);
  cursor: pointer;
}

.Select__el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--vkui_internal--z_index_form_field_side);
  display: block;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 16px;
  border: none;
  opacity: 0;
  appearance: none;
}

.Select__container {
  position: relative;
  z-index: var(--vkui_internal--z_index_form_field_element);
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  padding-right: 12px;
  padding-left: 12px;
  overflow: hidden;
  color: var(--vkui--color_text_primary);
}

.Select--hasBefore .Select__container {
  padding-left: 0;
}

.Select--hasAfter .Select__container {
  padding-right: 0;
}

.Select--multiline .Select__container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.Select--sizeY-compact.Select--multiline .Select__container {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (--sizeY-compact) {
  .Select--sizeY-none.Select--multiline .Select__container {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.Select__title {
  display: block;
}

.Select:not(.Select--multiline) .Select__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select--empty .Select__title {
  color: var(--vkui--color_text_secondary);
}

.Select--align-right .Select__title {
  text-align: right;
}

.Select--align-center .Select__title {
  text-align: center;
}

/**
 * CMP:
 * CalendarHeader
 */
.CalendarHeader__picker .Select__container {
  padding-right: 4px;
}

.Select--align-left,
.Select__custom,
.Select__native {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
