.host {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: var(--vkui_internal--z_index_image_base_overlay);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 100%;
  border: 0;
  border-radius: inherit;
  box-shadow: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {
  opacity: 1;
}

@media (--hover-has) {
  .host:hover {
    opacity: 1;
  }
}

.clickable {
  cursor: pointer;
}

.themeLight {
  color: var(--vkui--color_icon_accent);
  background-color: var(--vkui--color_avatar_overlay_inverse_alpha);
}

.themeDark {
  color: var(--vkui--color_icon_contrast);
  background-color: var(--vkui--color_avatar_overlay);
}
