.StyleGuideHeader {
  height: var(--vkui--size_panel_header_height--regular);
  background: var(--vkui--color_background_content);
  border-bottom: 1px solid var(--vkui--color_image_border_alpha);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.StyleGuideHeader__left {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 340px;
  margin-left: auto;
  padding-left: 28px;
  box-sizing: border-box;
}

.StyleGuideHeader__logo {
  color: var(--vkui--color_text_primary);
}

.StyleGuideHeader__links {
  display: flex;
  align-items: center;
}

.StyleGuideHeader__links > * {
  margin-right: 24px;
}

.StyleGuideHeader__right {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 1440px;
  padding-left: 36px;
  padding-right: 36px;
  box-sizing: border-box;
  align-items: center;
}
