.StyleGuide {
  padding-top: var(--vkui--size_panel_header_height--regular);
  max-height: calc(100% - var(--vkui--size_panel_header_height--regular));
}

.StyleGuide__sidebar {
  display: flex;
  justify-content: flex-end;
  border-right: 1px solid var(--vkui--color_image_border_alpha);
  background-color: var(--vkui--color_background_tertiary);
  position: absolute;
  top: var(--vkui--size_panel_header_height--regular);
  left: 0;
  width: 100%;
  height: calc(100% - var(--vkui--size_panel_header_height--regular));
  box-sizing: border-box;
}

.StyleGuide__sidebarIn {
  width: 340px;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  overflow: auto;
}

.StyleGuide__content {
  min-height: 100%;
  background-color: var(--vkui--color_background_content);
}

.StyleGuide__contentIn {
  padding: 0 36px 36px;
  max-width: 1440px;
  box-sizing: border-box;

  /*
   * Исправляем схлопывание margin-top.
   *
   * Пример см. ../Heading/Heading.css.
  */
  border-top-width: 0.5px;
  border-top-style: solid;
  border-top-color: transparent;
}
