/*
Утилитарные классы, реализующие адаптив через CSS путём показа/скрытия элемента.

Глоссарий по модификаторам:

- `forced` – означает, что мы зашили конкретное представление в `AdaptiveProvider` (ex, `<AdaptiveProvider density="regular">`).
- `mq` – означает, что для смены представления используется CSS Media Query.

---

Note: В начале классов разделить (`-`), чтобы красиво добавлялся префикс библиотеки после сборки.

*/

/* ================================================================================================================== */

@media (--density-regular) {
  .-density--compact-mq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
@media (--density-compact) {
  .-density--regular-mq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

/* ================================================================================================================== */

@media (--viewWidth-tabletPlus) {
  .-viewWidth--tabletMinus-mq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
@media (--viewWidth-tabletMinus) {
  .-viewWidth--tabletPlus-mq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

/* ================================================================================================================== */

@media (--viewWidth-smallTabletPlus) {
  .-viewWidth--smallTabletMinus-mq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
@media (--viewWidth-smallTabletMinus) {
  .-viewWidth--smallTabletPlus-mq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

/* ================================================================================================================== */

@media (--desktop) {
  .-deviceType--mobile-mq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
@media (--mobile) {
  .-deviceType--desktop-mq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
