/*
Утилитарные классы, реализующие адаптив через CSS путём показа/скрытия элемента.

Глоссарий по модификаторам:

- `forced` – означает, что мы зашили конкретное представление в `AdaptiveProvider` (ex, `<AdaptiveProvider density="regular">`).
- `mq` – означает, что для смены представления используется CSS Media Query.

---

Note: В начале классов разделить (`-`), чтобы красиво добавлялся префикс библиотеки после сборки.

*/

/* ================================================================================================================== */

@media (--density-regular) {
  .densityCompactMq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
@media (--density-compact) {
  .densityRegularMq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

/* ================================================================================================================== */

@media (--viewWidth-tabletPlus) {
  .viewWidthTabletMinusMq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
@media (--viewWidth-tabletMinus) {
  .viewWidthTabletPlusMq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

/* ================================================================================================================== */

@media (--viewWidth-smallTabletPlus) {
  .viewWidthSmallTabletMinusMq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
@media (--viewWidth-smallTabletMinus) {
  .viewWidthSmallTabletPlusMq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

/* ================================================================================================================== */

@media (--desktop) {
  .deviceTypeMobileMq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
@media (--mobile) {
  .deviceTypeDesktopMq {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}
