.visibilityDelay {
  --vkui_internal--animation_delay_visibility: 200ms;

  visibility: hidden;
  animation: 0ms linear var(--vkui_internal--animation_delay_visibility) forwards
    animationStylesDelayVisibility;
}

@keyframes animationStylesDelayVisibility {
  to {
    visibility: visible;
  }
}
