.animFadeIn {
  animation: animationFadeIn 0.1s ease-in forwards;
}

.animFadeOut {
  animation: animationFadeOut 0.1s ease-out forwards;
}

@keyframes animationFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animationFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
