/* stylelint-disable-next-line selector-max-type */
/* Оставить и предложить утанавливать на html vkui и на root vkui__root */
/* и подключать этот css файл */
/* stylelint-disable-next-line selector-max-type */
.vkui > body,
.vkui,
.vkui__root {
  margin: 0;
  padding: 0;
  block-size: 100%;
  color-scheme: var(--vkui--colors_scheme);
  background: var(--vkui--color_background);
}

.vkui__root {
  /* чтобы можно было ограничить размеры приложения
   * извне с помощью max-height, max-width */
  max-inline-size: inherit;
  max-block-size: inherit;
}

/* отключаем нативный pull-to-refresh при взаимодействии с компонентом
 * PullToRefresh или при открывании модалки */
.vkui--disable-overscroll-behavior {
  /* Safari >= 16 */
  overscroll-behavior-y: none;
}
