/* stylelint-disable-next-line selector-max-type */
/* Оставить и предложить утанавливать на html vkui и на root vkui__root */
/* и подключать этот css файл */
/* stylelint-disable-next-line selector-max-type */
.vkui > body,
.vkui,
.vkui__root {
  margin: 0;
  padding: 0;
  block-size: 100%;
}

/* отключаем нативный pull-to-refresh при взаимодействии с компонентом
 * PullToRefresh или при открывании модалки */
.vkui--disable-overscroll-behavior {
  /* Safari >= 16 */
  overscroll-behavior-y: none;
}
