.vkui > body {
  overflow-x: hidden;
}

.vkui,
.vkui > body,
.vkui__root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.vkui,
.vkui > body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-family: var(--vkui--font_family_base);
  color: var(--vkui--color_text_primary);
  color-scheme: var(--vkui--colors_scheme);
}

.vkui__root--embedded {
  transform: translate3d(0, 0, 0);
  overflow-x: hidden;
}

.vkui--sizeX-regular {
  background: var(--vkui--color_background);
}

@media (--sizeX-regular) {
  .vkui--sizeX-none {
    background: var(--vkui--color_background);
  }
}
