/* Row Gap */

.rowGap2xs {
  --vkui_internal--row_gap: var(--vkui--spacing_size_2xs);
}

.rowGapXs {
  --vkui_internal--row_gap: var(--vkui--spacing_size_xs);
}

.rowGapS {
  --vkui_internal--row_gap: var(--vkui--spacing_size_s);
}

.rowGapM {
  --vkui_internal--row_gap: var(--vkui--spacing_size_m);
}

.rowGapL {
  --vkui_internal--row_gap: var(--vkui--spacing_size_l);
}

.rowGapXl {
  --vkui_internal--row_gap: var(--vkui--spacing_size_xl);
}

.rowGap2xl {
  --vkui_internal--row_gap: var(--vkui--spacing_size_2xl);
}

.rowGap3xl {
  --vkui_internal--row_gap: var(--vkui--spacing_size_3xl);
}

.rowGap4xl {
  --vkui_internal--row_gap: var(--vkui--spacing_size_4xl);
}

/* Column Gap */

.columnGap2xs {
  --vkui_internal--column_gap: var(--vkui--spacing_size_2xs);
}

.columnGapXs {
  --vkui_internal--column_gap: var(--vkui--spacing_size_xs);
}

.columnGapS {
  --vkui_internal--column_gap: var(--vkui--spacing_size_s);
}

.columnGapM {
  --vkui_internal--column_gap: var(--vkui--spacing_size_m);
}

.columnGapL {
  --vkui_internal--column_gap: var(--vkui--spacing_size_l);
}

.columnGapXl {
  --vkui_internal--column_gap: var(--vkui--spacing_size_xl);
}

.columnGap2xl {
  --vkui_internal--column_gap: var(--vkui--spacing_size_2xl);
}

.columnGap3xl {
  --vkui_internal--column_gap: var(--vkui--spacing_size_3xl);
}

.columnGap4xl {
  --vkui_internal--column_gap: var(--vkui--spacing_size_4xl);
}
