.spacing2xs {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_2xs);
}

.spacingXs {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_xs);
}

.spacingS {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_s);
}

.spacingM {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_m);
}

.spacingL {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_l);
}

.spacingXl {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_xl);
}

.spacing2xl {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_2xl);
}

.spacing3xl {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_3xl);
}

.spacing4xl {
  --vkui_internal--spacing_size: var(--vkui--spacing_size_4xl);
}
