.animTransformOriginTop {
  transform-origin: bottom center;
}

.animTransformOriginTopStart {
  transform-origin: bottom left;
}

.animTransformOriginTopEnd {
  transform-origin: bottom right;
}

.animTransformOriginRight {
  transform-origin: left center;
}

.animTransformOriginRightStart {
  transform-origin: left top;
}

.animTransformOriginRightEnd {
  transform-origin: left bottom;
}

.animTransformOriginBottom {
  transform-origin: top center;
}

.animTransformOriginBottomStart {
  transform-origin: top left;
}

.animTransformOriginBottomEnd {
  transform-origin: top right;
}

.animTransformOriginLeft {
  transform-origin: right center;
}

.animTransformOriginLeftStart {
  transform-origin: right top;
}

.animTransformOriginLeftEnd {
  transform-origin: right bottom;
}
