.ModalDismissButton {
  position: absolute;
  justify-content: center;
  width: 28px;
  height: 28px;
  top: 14px;
  padding: 4px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .35);
  color: var(--white);
  border-radius: 50%;
  right: -42px;
  transition: opacity .15s ease-out;
}

.ModalDismissButton--ios {
  top: 12px;
}

.ModalDismissButton.Tappable--shadowHovered {
  opacity: .6;
}

.ModalDismissButton.Tappable--shadowHovered.Tappable--active {
  opacity: 1;
}
