.Checkbox {
  display: block;
  }

  .Checkbox__input {
    display: none;
    }

  .Checkbox__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    }

    .Checkbox__icon {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      margin: 0 14px 0 2px;
      border-radius: 4px;
      border: 2px solid var(--icon_tertiary);
      color: transparent;
      }

      .Checkbox--sizeY-compact .Checkbox__icon {
        border: none;
        display: none;
        margin-right: 12px;
      }

      .Checkbox--sizeY-compact .Checkbox-off__icon {
        color: var(--icon_tertiary);
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        margin: 0 12px 0 2px;
      }

    .Checkbox__content {
      flex-grow: 1;
      font-size: 16px;
      line-height: 20px;
      color: var(--text_primary);
      }

      .Checkbox--sizeY-compact .Checkbox__content {
        font-size: 15px;
      }

  .Checkbox__input:checked ~ .Checkbox__container .Checkbox__icon {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--white);
    }

    .Checkbox--sizeY-compact .Checkbox__input:checked ~ .Checkbox__container .Checkbox__icon {
      background-color: transparent;
      color: var(--accent);
      display: block;
    }

    .Checkbox--sizeY-compact .Checkbox__input:checked ~ .Checkbox__container .Checkbox-off__icon {
      display: none;
    }

  .Checkbox__input[disabled] ~ .Checkbox__container {
    opacity: .6;
    }

.Checkbox--ios {
  padding: 12px 0;
  }

  .Checkbox--ios .Checkbox__container {}

    .Checkbox--ios .Checkbox__content {
      font-size: 16px;
      line-height: 20px;
      }

      .Checkbox--ios.Checkbox--sizeY-compact .Checkbox__content {
        font-size: 15px;
      }

.Checkbox--android {
  padding: 16px 0;
  }

  .Checkbox--android .Checkbox__container {}

    .Checkbox--android .Checkbox__content {
      font-size: 16px;
      line-height: 20px;
      }

      .Checkbox--android.Checkbox--sizeY-compact .Checkbox__content {
        font-size: 15px;
      }
