.PopoutWrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  pointer-events: none;
}

.PopoutWrapper--opened {
  pointer-events: initial;
}

.PopoutWrapper--closing {
  pointer-events: none;
}

.PopoutWrapper--fixed {
  position: fixed;
}

.PopoutWrapper__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: vkui-animation-full-fade-in .2s ease;
}

.PopoutWrapper--closing .PopoutWrapper__overlay {
  opacity: 0;
  transition: opacity .2s var(--android-easing);
}

.PopoutWrapper--masked .PopoutWrapper__overlay {
  background: rgba(0, 0, 0, .4);
}

.PopoutWrapper--fixed .PopoutWrapper__overlay {
  position: absolute;
}

.PopoutWrapper__container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.PopoutWrapper__content {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.PopoutWrapper__content > * {
  pointer-events: auto;
}

.PopoutWrapper--v-center .PopoutWrapper__container {
  align-items: center;
}

.PopoutWrapper--v-bottom .PopoutWrapper__container {
  align-items: flex-end;
}

.PopoutWrapper--v-top .PopoutWrapper__container {
  align-items: flex-start;
}

.PopoutWrapper--h-center .PopoutWrapper__container {
  justify-content: center;
}

.PopoutWrapper--h-left .PopoutWrapper__container {
  justify-content: flex-start;
}

.PopoutWrapper--h-right .PopoutWrapper__container {
  justify-content: flex-end;
}

/**
 * iOS version
 */

.PopoutWrapper--ios .PopoutWrapper__overlay {
  animation-duration: .3s;
}

.PopoutWrapper--ios.PopoutWrapper--closing .PopoutWrapper__overlay {
  transition: opacity .3s var(--ios-easing);
}

@keyframes vkui-animation-full-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
