.host {
  position: relative;
  overflow: hidden;
  user-select: none;
}

.viewport {
  margin: 0;
  block-size: 100%;
  position: relative;
}

.layer {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 100px;
  align-items: stretch;
  backface-visibility: hidden;
}

.draggable .layer {
  cursor: grab;
}

.layer:empty {
  min-block-size: 0;
}

.slide {
  inline-size: 100%;
  flex: 0 0 auto;
  max-inline-size: 100%;
  overflow: hidden;
}

.customWidth .slide {
  inline-size: auto;
}

/* stylelint-disable-next-line selector-max-universal */
.slide > * {
  inline-size: 100%;
  min-block-size: 100%;
}

.bullets {
  position: absolute;
  inset-block-end: 10px;
  block-size: 6px;
  inline-size: 100%;
  inset-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bulletsDark .bullet {
  background-color: var(--vkui--color_icon_primary_invariably);
}

.bulletsLight .bullet {
  background-color: var(--vkui--color_icon_contrast);
}

.bullet {
  block-size: 6px;
  inline-size: 6px;
  border-radius: 50%;
  margin-block: 0;
  margin-inline: 3px;
  opacity: var(--vkui--opacity_disable_accessibility);
}

.bulletActive {
  opacity: 1;
}

.arrow {
  position: absolute;
  opacity: 0;
}

.arrow.arrowAreaStretch {
  inset-block-start: 0;
}

.arrow.arrowAreaFit {
  inset-block-start: 50%;
  transform: translateY(-50%);
  block-size: auto;
  padding-block: calc(var(--vkui--size_base_padding_vertical--regular) * 2);
}

.arrowStart {
  padding-inline-end: var(--vkui--size_base_padding_horizontal--regular);
}

.arrowEnd {
  padding-inline-start: var(--vkui--size_base_padding_horizontal--regular);
}

.host:hover .arrow {
  opacity: var(--vkui--opacity_disable_accessibility);
}

.host .arrow:hover {
  opacity: 1;
}
