.realClickable {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* stylelint-disable selector-max-type */
button.realClickable {
  appearance: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

a.realClickable {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
/* stylelint-enable selector-max-type */

.host:focus,
.host:focus-visible {
  outline: none;
}

.host[disabled],
.host[aria-disabled='true'] {
  cursor: not-allowed;
}
