.realClickable {
  cursor: pointer;
}

.resetButtonStyle {
  appearance: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

.resetLinkStyle {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.host:focus,
.host:focus-visible {
  outline: none;
}

.host[disabled],
.host[aria-disabled='true'] {
  cursor: not-allowed;
}
