.host {
  position: relative;
}

.hostVis.hostFixed::before {
  display: block;
  content: '';
}

.host:not(.hostVis):not(.hostFixed) {
  block-size: 0;
  /* см. https://github.com/VKCOM/VKUI/issues/5571 */
  z-index: var(--vkui_internal--z_index_panel_header);
}

.fixed {
  z-index: var(--vkui_internal--z_index_panel_header);
}

.in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: relative;
  background: var(--vkui--color_background_content);
}

.hostTrnsp .in {
  background: transparent;
}

.hostSizeXRegular .hostShadow .in {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

@media (--sizeX-regular) {
  .hostSizeXNone .hostShadow .in {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  }
}

.before {
  box-sizing: border-box;
  color: var(--vkui--color_icon_accent_themed);
  display: flex;
  flex-shrink: 0;
}

.content {
  overflow: hidden;
}

/* stylelint-disable-next-line selector-max-universal */
.content > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentIn {
  color: var(--vkui--color_text_primary);
  font-weight: 500;
  font-family: var(--vkui--font_family_accent);
}

.host::before,
.in {
  block-size: var(--vkui_internal--panel_header_height);
  padding-block-start: var(--vkui_internal--safe_area_inset_top);
}

.after {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  color: var(--vkui--color_icon_accent_themed);
}

/* stylelint-disable-next-line selector-max-universal */
.after > *:not(:last-child) {
  margin-inline-end: 4px;
}

/**
 * iOS
 */
.hostIos .before {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 1;
  transition: opacity 0.3s var(--vkui--animation_easing_platform);
  padding-block: 4px 4px;
  padding-inline: 4px 0;
}

.hostIos .before .host + .hostPrimitive {
  margin-inline-start: -6px;
  padding-inline-start: 0;
}

.hostIos .content {
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s var(--vkui--animation_easing_platform);
}

.hostIos .contentIn {
  font-size: 21px;
}

/* stylelint-disable-next-line selector-max-universal */
.hostIos .content > * {
  padding-block: 0;
  padding-inline: 4px;
}

.hostIos.hostNoBefore .content {
  padding-inline-start: 8px;
}

/* stylelint-disable-next-line selector-max-universal */
.hostIos.hostNoAfter .content > * {
  padding-inline-end: 0;
}

.hostIos.hostNoAfter .content {
  padding-inline-end: 8px;
}

.hostIos .after {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 1;
  transition: opacity 0.3s var(--vkui--animation_easing_platform);
  padding-block: 4px 4px;
  padding-inline: 0 4px;
}

.hostIos .panelPrev .before,
.hostIos .panelPrev .after,
.hostIos .panelPrev .content {
  opacity: 0;
}

/**
 * Android
 */
.hostAndroid .before:not(:empty) {
  padding-block: 4px 4px;
  padding-inline: 4px 0;
  margin-inline-end: -8px;
}

.hostAndroid .content {
  align-items: center;
  flex-grow: 1;
  max-inline-size: 100%;
}

.hostAndroid .contentIn {
  font-size: 23px;
}

/* stylelint-disable-next-line selector-max-universal */
.hostAndroid .content > * {
  padding-block: 0;
  padding-inline: 12px;
}

/**
 * Common
 */
.hostSizeYCompact:not(.hostVkcom) .contentIn {
  font-size: 20px;
}

@media (--sizeY-compact) {
  .hostSizeYNone:not(.hostVkcom) .contentIn {
    font-size: 20px;
  }
}

/**
 * CMP:
 * SplitCol
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalSplitColViewWidthTabletPlus):global(.vkuiInternalSplitColSpacedAuto)
  .hostAndroid.hostNoBefore:not(:global(.vkuiInternalModalPageHeaderIn))
  .content {
  padding-inline-start: 0;
}

@media (--viewWidth-smallTabletPlus) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalSplitColViewWidthNone):global(.vkuiInternalSplitColSpacedAuto)
    .hostAndroid.hostNoBefore:not(:global(.vkuiInternalModalPageHeaderIn))
    .content {
    padding-inline-start: 0;
  }
}

/* stylelint-disable-next-line selector-max-universal */
.hostAndroid.hostNoAfter .content > *,
.hostVkcom.hostNoAfter .content > * {
  padding-inline-end: 0;
}

.hostAndroid.hostNoAfter .content {
  padding-inline-end: 16px;
}

.hostAndroid.hostNoBefore .content {
  padding-inline-start: 16px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalSplitColViewWidthTabletPlus):global(.vkuiInternalSplitColSpacedAuto)
  .hostAndroid.hostNoAfter:not(:global(.vkuiInternalModalPageHeaderIn))
  .content {
  padding-inline-end: 0;
}

@media (--viewWidth-smallTabletPlus) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  :global(.vkuiInternalSplitColViewWidthNone):global(.vkuiInternalSplitColSpacedAuto)
    .hostAndroid.hostNoAfter:not(:global(.vkuiInternalModalPageHeaderIn))
    .content {
    padding-inline-end: 0;
  }
}

.hostAndroid .after:not(:empty),
.hostVkcom .after:not(:empty) {
  padding-block: 4px 4px;
  padding-inline: 0 4px;
}

/**
 * VKCOM
 */
.hostVkcom {
  position: relative;
  z-index: var(--vkui_internal--z_index_panel_header);
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostVkcom.hostSizeXRegular:not(:global(.vkuiInternalModalPageHeaderIn)):not(.hostSep) .in::after {
  position: absolute;
  inset-inline: var(--vkui--size_border--regular);
  inset-block-end: 0;
  block-size: var(--vkui--size_border--regular);
  background-color: var(--vkui--color_background_content);
  content: '';
}

@media (--sizeX-regular) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  .hostVkcom.hostSizeXNone:not(:global(.vkuiInternalModalPageHeaderIn)):not(.hostSep) .in::after {
    position: absolute;
    inset-inline: var(--vkui--size_border--regular);
    inset-block-end: 0;
    block-size: var(--vkui--size_border--regular);
    background-color: var(--vkui--color_background_content);
    content: '';
  }
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostVkcom.hostSizeXRegular:not(:global(.vkuiInternalModalPageHeaderIn)) .in {
  border-start-start-radius: var(--vkui--size_border_radius_paper--regular);
  border-start-end-radius: var(--vkui--size_border_radius_paper--regular);
  box-shadow: 0 0 0 var(--vkui--size_border--regular) var(--vkui--color_field_border_alpha) inset;
  border-block-end: 0;
}

@media (--sizeX-regular) {
  /* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
  .hostVkcom.hostSizeXNone:not(:global(.vkuiInternalModalPageHeaderIn)) .in {
    border-start-start-radius: var(--vkui--size_border_radius_paper--regular);
    border-start-end-radius: var(--vkui--size_border_radius_paper--regular);
    box-shadow: 0 0 0 var(--vkui--size_border--regular) var(--vkui--color_field_border_alpha) inset;
    border-block-end: 0;
  }
}

.hostVkcom .content {
  text-align: center;
}

.hostVkcom .before:not(:empty) {
  padding-block: 0 0;
  padding-inline: 4px 0;
}

.hostVkcom .before,
.hostVkcom .after {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
}

.separator {
  margin-block-start: calc(-1 * var(--vkui--size_border--regular));
}

/* stylelint-disable-next-line selector-max-universal */
.hostNoBefore .content > * {
  padding-inline-start: 0;
}

/**
 * CMP:
 * Panel
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalPanelCentered) .host {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
}
