.CellButton {
  width: 100%;
  padding: 0 16px;
  overflow: hidden;
}

.FormItem .CellButton {
  padding: 0 var(--formitem_padding);
  margin: 0 calc(-1 * var(--formitem_padding));
  box-sizing: content-box;
}

.CellButton[disabled] {
  opacity: .4;
}

.CellButton--centered {
  justify-content: center;
  text-align: center;
}

.CellButton--centered > .Icon {
  padding-right: 8px;
}

.CellButton,
.CellButton > .Icon {
  color: var(--accent);
}

.CellButton--danger,
.CellButton--danger > .Icon {
  color: var(--destructive);
}

/**
 * iOS
 */
.CellButton--ios {
  padding: 0 12px;
}
