.CellButton {
  flex-grow: 1;
  flex-shrink: initial;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
}

.FormItem .CellButton {
  margin: 0 -16px;
}

.CellButton[disabled] {
  opacity: .4;
}

.CellButton--centered {
  justify-content: center;
  text-align: center;
}

.CellButton--centered > .Icon {
  padding-right: 8px;
}

.CellButton,
.CellButton > .Icon {
  color: var(--accent);
}

.CellButton--danger,
.CellButton--danger > .Icon {
  color: var(--destructive);
}

/**
 * iOS
 */
.CellButton--ios {
  padding: 0 12px;
}

.FormItem .CellButton--ios {
  margin: 0 -12px;
}
