.SelectConditionalRender {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--vkui--font_family_base);
}

.SelectConditionalRender__el {
  display: block;
  position: absolute;
  appearance: none;
  border: 0;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
  z-index: var(--vkui_internal--z_index_form_field_side);
  font-size: var(--vkui--font_paragraph--font_size--regular);
  font-family: inherit;
}

.SelectConditionalRender__container {
  flex-grow: 1;
  flex-shrink: 1;
  padding-inline: 12px 0;
  color: var(--vkui--color_text_primary);
  box-sizing: border-box;
  position: relative;
  z-index: var(--vkui_internal--z_index_form_field_element);
  overflow: hidden;
}

.SelectConditionalRender--hasBefore .SelectConditionalRender__container {
  padding-inline-start: 0;
}

.SelectConditionalRender--multiline .SelectConditionalRender__container {
  padding-block: 12px;
}

.SelectConditionalRender--sizeY-compact.SelectConditionalRender--multiline
  .SelectConditionalRender__container {
  padding-block: 8px;
}

@media (--sizeY-compact) {
  .SelectConditionalRender--sizeY-none.SelectConditionalRender--multiline
    .SelectConditionalRender__container {
    padding-block: 8px;
  }
}

.SelectConditionalRender__title {
  display: block;
}

.SelectConditionalRender:not(.SelectConditionalRender--multiline) .SelectConditionalRender__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.SelectConditionalRender--empty .SelectConditionalRender__title {
  color: var(--vkui--color_text_secondary);
}

.SelectConditionalRender--align-right .SelectConditionalRender__title {
  text-align: end;
}

.SelectConditionalRender--align-center .SelectConditionalRender__title {
  text-align: center;
}

/**
 * CMP:
 * CalendarHeader
 */
:global(.vkuiInternalCalendarHeader__picker) .SelectConditionalRender__container {
  padding-inline-end: 4px;
}
