/* Глобальные стили, которые не импортируются самими компонентами. */
@import '../src/styles/themes.css';
@import '../src/styles/constants.css';
@import '../src/styles/dynamicTokens.css';
@import '../src/styles/adaptivity.module.css';
@import '../src/styles/common.css';

/* Перебиваем стили Storybook под наши правила для `<body>` в `common.css` */
.sb-show-main.sb-main-fullscreen {
  display: inherit;
}
