.Footer {
  display: block;
  /* TODO v5: переделать на padding */
  margin: 24px var(--vkui--size_base_padding_horizontal--regular);
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  color: var(--vkui--color_text_secondary);
}
