.host {
  display: flex;
  align-items: center;
}

.host__withoutDone {
  justify-content: center;
}

.picker {
  inline-size: 79px;
}

.divider {
  margin-inline: 6px;
  font-family: var(--vkui--font_family_base);
  color: var(--vkui--color_text_primary);
}

.button {
  margin-inline-start: auto;
}

.inputPopDown {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.inputPopUp {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.popper {
  box-sizing: border-box;
  inline-size: 100%;
  overflow: hidden;
  background-color: var(--vkui--color_background_contrast_themed);
  border: var(--vkui--size_border--regular) solid var(--vkui--color_field_border_alpha);
  border-radius: 8px;
  box-shadow: var(--vkui--elevation1);
}

.popperBottom {
  border-block-start: 0;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.popperTop {
  inset-block-end: 100%;
  border-block-end: 0;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  box-shadow: var(--vkui--elevation1_invert_y);
}

.customScroll {
  max-block-size: 184px;
}
