.SliderThumb {
  position: absolute;
  z-index: 1;
  width: var(--vkui_internal--slider_thumb_size);
  height: var(--vkui_internal--slider_thumb_size);
  border-radius: 50%;
  border: 0.5px solid var(--vkui--color_separator_primary_alpha);
  background: var(--vkui--color_background_contrast);
  box-shadow: var(--vkui--elevation3);
  user-select: none;
}

.SliderThumb--focused {
  z-index: 2;
}

/**
 * Задаём ширину и высоту родителя, чтобы скринридер правильно выделял элемент (скопировано с MUI).
 */
.SliderThumb__nativeInput {
  direction: ltr;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -1px;
  padding: 0;
  border: 0 none;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.Tooltip {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: normal;
}

.Tooltip__content {
  background-color: var(--vkui--color_background_modal);
  box-shadow: var(--vkui--elevation3);
  padding: 9px 12px 10px;
  border-radius: var(--vkui--size_border_radius--regular);
  color: var(--vkui--color_text_primary);
  max-width: 220px;
}

.Tooltip__arrow {
  color: var(--vkui--color_background_modal);
}

.Tooltip--appearance-accent .Tooltip__content {
  background-color: var(--vkui--color_background_accent_tint);
  color: var(--vkui--color_text_contrast);
}

.Tooltip--appearance-accent .Tooltip__arrow {
  color: var(--vkui--color_background_accent_tint);
}

.Tooltip--appearance-white .Tooltip__content {
  background-color: var(--vkui--color_background_contrast);
  color: var(--vkui--color_text_primary_invariably);
}

.Tooltip--appearance-white .Tooltip__arrow {
  color: var(--vkui--color_background_contrast);
}

.Tooltip--appearance-black .Tooltip__content {
  background-color: var(--vkui--color_background_contrast_inverse);
  color: var(--vkui--color_text_contrast);
}

.Tooltip--appearance-black .Tooltip__arrow {
  color: var(--vkui--color_background_contrast_inverse);
}

.Tooltip--appearance-inversion .Tooltip__content {
  background-color: var(--vkui--color_background_modal_inverse);
  color: var(--vkui--color_text_contrast_themed);
}

.Tooltip--appearance-inversion .Tooltip__arrow {
  color: var(--vkui--color_background_modal_inverse);
}
