.SliderThumb {
  position: absolute;
  z-index: 1;
  width: var(--vkui_internal--slider_thumb_size);
  height: var(--vkui_internal--slider_thumb_size);
  border-radius: 50%;
  border: 0.5px solid var(--vkui--color_separator_primary_alpha);
  background: var(--vkui--color_background_contrast);
  box-shadow: var(--vkui--elevation3);
  user-select: none;
}

.SliderThumb--focused,
.SliderThumb--active {
  z-index: 2;
}

/**
 * Задаём ширину и высоту родителя, чтобы скринридер правильно выделял элемент (скопировано с MUI).
 */
.SliderThumb__nativeInput {
  direction: ltr;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -1px;
  padding: 0;
  border: 0 none;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

/**
 * hover & active state
 */
.SliderThumb__stateLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  border-radius: inherit;
  transition: background-color 0.15s ease-out;
}

.SliderThumb--hover > .SliderThumb__stateLayer {
  background-color: var(--vkui--color_transparent--hover);
}

.SliderThumb--active > .SliderThumb__stateLayer {
  background-color: var(--vkui--color_transparent--active);
}
