.TabbarItem {
  flex-shrink: 0;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tabbar_inactive_icon);
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

.TabbarItem--selected {
  color: var(--tabbar_active_icon);
}

.TabbarItem__in {
  align-self: center;
  display: flex;
  max-width: 100%;
  padding: 0 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.Tabbar--l-vertical .TabbarItem__in {
  flex-direction: column;
}

.Tabbar--l-horizontal .TabbarItem__in {
  flex-direction: row;
}

.TabbarItem__icon {
  position: relative;
}

.TabbarItem__label .Counter {
  position: absolute;
  top: -2px;
  right: -9px;
}

.TabbarItem__label .Badge {
  position: absolute;
  top: -2px;
  right: -4px;
}

.TabbarItem__text {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Tabbar--l-vertical .TabbarItem__text {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  margin-top: 2px;
}

.Tabbar--l-horizontal .TabbarItem__text {
  font-size: 13px;
  font-weight: 500;
  margin-left: 8px;
}

/**
 * Android
 */

.TabbarItem--android::after {
  content: '';
  padding-bottom: 100%;
  width: 100%;
}

.TabbarItem--android {
  transform: translateY(calc(-1 * (100% - var(--tabbar_height)) / 2));
  border-radius: 50%;
}

.TabbarItem--android:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.TabbarItem--android:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.TabbarItem--android .TabbarItem__in {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.Tabbar--android.Tabbar--l-vertical .TabbarItem--text .TabbarItem__in {
  top: 2px;
}

/**
 * iOS
 */

.TabbarItem--ios {
  transition: transform .07s var(--ios-easing);
}

.TabbarItem--ios.TabbarItem--active {
  transform: scale(.96);
}

.Tabbar--ios.Tabbar--l-vertical .TabbarItem--text .TabbarItem__in {
  position: relative;
  top: 2px;
}
