.TabbarItem {
  flex-shrink: 0;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tabbar_inactive_icon);
  text-decoration: none;
  }

.Tabbar--l-vertical .TabbarItem.TabbarItem--text {
  position: relative;
  top: 2px;
  }

.TabbarItem--selected {
  color: var(--tabbar_active_icon);
  }

  .TabbarItem__in {
    align-self: center;
    display: flex;
    }

  .Tabbar--l-vertical .TabbarItem__in {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

  .Tabbar--l-horizontal .TabbarItem__in {
    flex-direction: row;
    align-items: center;
    }

    .TabbarItem__icon {
      position: relative;
      }

    .TabbarItem__label {
      position: absolute;
      top: -2px;
      left: calc(100% - 9px);
      }

    .Tabbar--l-vertical .TabbarItem__text {
      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      margin-top: 2px;
      }

    .Tabbar--l-horizontal .TabbarItem__text {
      font-size: 13px;
      font-weight: 500;
      margin-left: 8px;
      }
