.Pre {
  background: var(--button_secondary_background);
  border-radius: 8px;
  font-family: 'JetBrainsMono', monospace;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px;
  position: relative;
  white-space: pre-wrap;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
}

.Pre:not(:last-child) {
  margin-bottom: 16px;
}

.Pre:not(:first-child) {
  margin-top: 16px;
}
