.Switch {
  /* Switch__track */
  --vkui_internal--Switch__track_shape: calc(var(--vkui_internal--Switch__track_width) / 2);

  /* animations */ /* prettier-ignore */
  --vkui_internal--Switch_transition_duration_x2: calc(var(--vkui_internal--Switch_transition_duration) * 2);

  position: relative;
  display: block;
  border-radius: var(--vkui_internal--Switch__track_shape);
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.Switch--default {
  /* Switch__track */
  --vkui_internal--Switch__track_width: 42px;
  --vkui_internal--Switch__track_height: 24px;
  --vkui_internal--Switch__track_outline_width: 1.5px;
  /* prettier-ignore */
  --vkui_internal--Switch__track_shadow: inset 0 0 0 var(--vkui_internal--Switch__track_outline_width) var(--vkui--color_field_border_alpha);
  --vkui_internal--Switch__track_color: var(--vkui--color_background);

  /* Switch__dribble */
  --vkui_internal--Switch__dribble_gap: calc(var(--vkui_internal--Switch__handle_width) / 2);
  --vkui_internal--Switch__dribble_shift_x: calc(-1 * var(--vkui_internal--Switch__handle_width));

  /* Switch__handle */
  --vkui_internal--Switch__handle_gap: calc(var(--vkui_internal--Switch__track_outline_width) * 2);
  --vkui_internal--Switch__handle_shift_x: 0;
  --vkui_internal--Switch__handle_shift_y: 0;
  --vkui_internal--Switch__handle_shadow: none;
  --vkui_internal--Switch__handle_color: var(--vkui--color_icon_medium);
  --vkui_internal--Switch__handle_width: 18px;
  --vkui_internal--Switch__handle_widthNoUnit--pressed: 21;
  --vkui_internal--Switch__handle_widthNoUnit--not-checked: 12;
  --vkui_internal--Switch__handle_height: 18px;
  --vkui_internal--Switch__handle_heightNoUnit: 18;
  /* prettier-ignore */
  --vkui_internal--Switch__handle_scale: calc(var(--vkui_internal--Switch__handle_widthNoUnit--not-checked) / var(--vkui_internal--Switch__handle_heightNoUnit));

  /* animations */
  --vkui_internal--Switch_transition_transform_easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --vkui_internal--Switch_transition_duration: 0.3s;
}

.Switch--default.Switch--sizeY-compact {
  /* Switch__track */
  --vkui_internal--Switch__track_width: 36px;
  --vkui_internal--Switch__track_height: 20px;

  /* Switch__handle */ /* prettier-ignore */
  --vkui_internal--Switch__handle_gap: calc(var(--vkui_internal--Switch__track_outline_width) * 2 - 1px);
  --vkui_internal--Switch__handle_width: 16px;
  --vkui_internal--Switch__handle_widthNoUnit--pressed: 17;
  --vkui_internal--Switch__handle_height: 16px;
  --vkui_internal--Switch__handle_heightNoUnit: 16;
}

@media (--sizeY-compact) {
  .Switch--default.Switch--sizeY-none {
    /* Switch__track */
    --vkui_internal--Switch__track_width: 36px;
    --vkui_internal--Switch__track_height: 20px;

    /* Switch__handle */ /* prettier-ignore */
    --vkui_internal--Switch__handle_gap: calc(var(--vkui_internal--Switch__track_outline_width) * 2 - 1px);
    --vkui_internal--Switch__handle_width: 16px;
    --vkui_internal--Switch__handle_height: 16px;
    --vkui_internal--Switch__handle_heightNoUnit: 16;
    --vkui_internal--Switch__handle_widthNoUnit--pressed: 17;
  }
}

.Switch--ios {
  /* Switch__track */
  --vkui_internal--Switch__track_width: 51px;
  --vkui_internal--Switch__track_height: 31px;
  --vkui_internal--Switch__track_outline_width: 2px;
  --vkui_internal--Switch__track_shadow: none;
  --vkui_internal--Switch__track_color: var(--vkui--color_track_background);

  /* Switch__handle */
  --vkui_internal--Switch__handle_gap: 0;
  --vkui_internal--Switch__handle_shift_x: 2px;
  --vkui_internal--Switch__handle_shift_y: 2px;
  --vkui_internal--Switch__handle_width: 27px;
  --vkui_internal--Switch__handle_height: 27px;
  --vkui_internal--Switch__handle_widthNoUnit--pressed: 27px;
  --vkui_internal--Switch__handle_widthNoUnit--not-checked: 27px;
  --vkui_internal--Switch__handle_color: var(--vkui--color_icon_contrast);
  /* prettier-ignore */
  --vkui_internal--Switch__handle_shadow:
    0 3px 8px rgba(0, 0, 0, 0.15),
    0 3px 1px rgba(0, 0, 0, 0.06),
    inset 0 0 0 0.5px rgba(0, 0, 0, 0.04);

  /* animations */
  --vkui_internal--Switch_transition_transform_easing: cubic-bezier(0.36, -0.24, 0.26, 1.32);
  --vkui_internal--Switch_transition_duration: 0.2s;
}

.Switch--ios.Switch--sizeY-compact {
  /* Switch__track */
  --vkui_internal--Switch__track_width: 47px;
  --vkui_internal--Switch__track_height: 27px;

  /* Switch__handle */
  --vkui_internal--Switch__handle_width: 23px;
  --vkui_internal--Switch__handle_height: 23px;
  --vkui_internal--Switch__handle_widthNoUnit--pressed: 23px;
  --vkui_internal--Switch__handle_widthNoUnit--not-checked: 23px;
}

@media (--sizeY-compact) {
  .Switch--ios.Switch--sizeY-none {
    /* Switch__track */
    --vkui_internal--Switch__track_width: 47px;
    --vkui_internal--Switch__track_height: 27px;

    /* Switch__handle */
    --vkui_internal--Switch__handle_width: 23px;
    --vkui_internal--Switch__handle_height: 23px;
    --vkui_internal--Switch__handle_widthNoUnit--pressed: 23px;
    --vkui_internal--Switch__handle_widthNoUnit--not-checked: 23px;
  }
}

.Switch--disabled {
  cursor: not-allowed;
}

.Switch__inputFake {
  display: block;
}

.Switch__inputNative:checked + .Switch__inputFake {
  /* Switch__track */
  --vkui_internal--Switch__track_color: var(--vkui--color_background_accent);

  /* Switch__handle */
  --vkui_internal--Switch__handle_scale: 1;
  --vkui_internal--Switch__handle_color: var(--vkui--color_icon_contrast);
}

.Switch--default .Switch__inputNative:checked + .Switch__inputFake {
  /* Switch__dribble */ /* prettier-ignore */
  --vkui_internal--Switch__dribble_gap: calc((var(--vkui_internal--Switch__handle_width) * 2) - (var(--vkui_internal--Switch__handle_gap) * 2));
  --vkui_internal--Switch__dribble_shift_x: var(--vkui_internal--Switch__handle_width);
  --vkui_internal--Switch__handle_shift_x: var(--vkui_internal--Switch__handle_width);
}

.Switch--ios .Switch__inputNative:checked + .Switch__inputFake {
  /* Switch__dribble */
  --vkui_internal--Switch__handle_shift_x: calc(
    var(--vkui_internal--Switch__track_width) - var(--vkui_internal--Switch__handle_width) -
      var(--vkui_internal--Switch__track_outline_width)
  );
}

.Switch__inputNative:active + .Switch__inputFake {
  /* Switch__handle */ /* prettier-ignore */
  --vkui_internal--Switch__handle_scale: calc(var(--vkui_internal--Switch__handle_widthNoUnit--pressed) / var(--vkui_internal--Switch__handle_heightNoUnit));
}

.Switch__track {
  position: relative;
  display: block;
  inline-size: var(--vkui_internal--Switch__track_width);
  block-size: var(--vkui_internal--Switch__track_height);
  border-radius: var(--vkui_internal--Switch__track_shape);
  background-color: var(--vkui_internal--Switch__track_color);
  box-shadow: var(--vkui_internal--Switch__track_shadow);
}

.Switch__dribble {
  position: absolute;
  inset: 0;
  margin: auto;
  inline-size: calc(var(--vkui_internal--Switch__handle_width) * 2);
  block-size: var(--vkui_internal--Switch__handle_height);
  border-radius: 9999px;
  overflow: hidden;
  transform-origin: var(--vkui_internal--Switch__dribble_gap) center;
  transform: scale(var(--vkui_internal--Switch__handle_scale));
}

.Switch__dribble::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: var(--vkui_internal--Switch__handle_color);
  transform: translateX(var(--vkui_internal--Switch__dribble_shift_x));
}

.Switch__handle {
  position: absolute;
  inset-inline-start: var(--vkui_internal--Switch__handle_gap);
  inset-block-start: var(--vkui_internal--Switch__handle_gap);
  inline-size: var(--vkui_internal--Switch__handle_width);
  block-size: var(--vkui_internal--Switch__handle_height);
  border-radius: 9999px;
  transform: translate(
    var(--vkui_internal--Switch__handle_shift_x),
    var(--vkui_internal--Switch__handle_shift_y)
  );
}

.Switch__handle::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: var(--vkui_internal--Switch__handle_color);
  box-shadow: var(--vkui_internal--Switch__handle_shadow);
  transform: scale(var(--vkui_internal--Switch__handle_scale));
}

/**
 * [a11y]
 * add animation for browsers that support prefers-reduced-motion
 * so that users with vestibular motion disorders have no problem
 * navigating accessible vkui apps via keyboard
 */
@media (prefers-reduced-motion: no-preference) {
  .Switch__track {
    transition: background-color var(--vkui_internal--Switch_transition_duration) linear;
  }

  .Switch__dribble,
  .Switch__handle {
    /* prettier-ignore */
    transition: transform var(--vkui_internal--Switch_transition_duration) var(--vkui_internal--Switch_transition_transform_easing);
  }

  .Switch__dribble::before,
  .Switch__handle::before {
    transition-property: transform, background-color;
    transition-timing-function: var(--vkui_internal--Switch_transition_transform_easing), linear;
  }

  .Switch__dribble::before {
    /* prettier-ignore */
    transition-duration:
      var(--vkui_internal--Switch_transition_duration_x2),
      var(--vkui_internal--Switch_transition_duration);
  }

  .Switch__handle::before {
    transition-duration: var(--vkui_internal--Switch_transition_duration);
  }
}

/**
 * CMP:
 * SimpleCell
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalSimpleCell__after) > .Switch {
  margin-inline-start: 12px;
}
