.root {
  padding-block: 0;
  padding-inline: var(--vkui_docs--code-inline-padding, 4px);
  color: var(--vkui--color_text_primary);
  background-color: var(
    --vkui_docs--code-background,
    var(--vkui--color_background_secondary_alpha)
  );
  border-radius: 6px;
}

/* stylelint-disable-next-line selector-max-type */
pre .root {
  display: flex;
  flex-direction: column;
}

/* stylelint-disable-next-line selector-max-type */
.root span {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--shiki-light);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--shiki-light-bg);
}

/* stylelint-disable-next-line selector-max-type, selector-max-universal */
.root span:is(html[class~='vkui--vkBase--dark'] *) {
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  color: var(--shiki-dark);
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  background-color: var(--shiki-dark-bg);
}

/* stylelint-disable-next-line selector-max-type */
.root > span[data-highlighted-line] {
  background-color: rgb(125, 125, 218, 0.1);
}

/* stylelint-disable-next-line selector-max-universal,selector-max-type */
.root > span[data-highlighted-line]:is(html[class~='vkui--vkBase--dark'] *) {
  background-color: rgb(90, 90, 197, 0.1);
}
