.host {
  position: relative;
  block-size: 100%;
  inline-size: 100%;
  word-wrap: break-word;
}

.hostAnimated,
.hostSwipingBack {
  overflow: hidden;
}

.hostAnimated .panel,
.hostAnimated .header,
.hostSwipingBack .panel,
.hostSwipingBack .header {
  pointer-events: none;
}

.panels {
  block-size: 100%;
  inline-size: 100%;
}

.panel {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  box-sizing: border-box;
  isolation: isolate;
}

.panelIn {
  block-size: 100%;
}

.hostAnimated .panel,
.hostSwipingBack .panel {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  overflow: hidden;
}

.panelOverlay {
  display: none;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: #000;
  pointer-events: none;
  z-index: var(--vkui_internal--z_index_panel_header_fade);
}

/**
 * Panel swipe back
 */

.hostIos .panelSwipeBackPrev.panelSwipeBackSuccess {
  transition: transform 0.3s var(--vkui--animation_easing_platform);
  transform: translate3d(100%, 0, 0);
}

.hostIos .panelSwipeBackNext.panelSwipeBackSuccess {
  transition: transform 0.3s var(--vkui--animation_easing_platform);
  transform: translate3d(0, 0, 0);
}

.hostIos .panelSwipeBackPrev.panelSwipeBackFailed {
  transition: transform 0.3s var(--vkui--animation_easing_platform);
  transform: translate3d(0, 0, 0);
}

.hostIos .panelSwipeBackNext.panelSwipeBackFailed {
  transition: transform 0.3s var(--vkui--animation_easing_platform);
  transform: translate3d(-50%, 0, 0);
}

.hostIos .panelSwipeBackNext .panelOverlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.hostIos .panelSwipeBackNext.panelSwipeBackSuccess .panelOverlay,
.hostIos .panelSwipeBackNext.panelSwipeBackFailed .panelOverlay {
  transition: opacity 0.3s var(--vkui--animation_easing_platform);
}

/**
 * Panel transition
 */

.panelNext ~ .panelPrev {
  animation: animation-view-prev-back 0.3s var(--vkui--animation_easing_platform) forwards;
}

.panelPrev ~ .panelNext {
  animation: animation-view-next-forward 0.3s var(--vkui--animation_easing_platform);
}

.hostNoMotion .panel {
  animation: none;
}

@keyframes animation-view-prev-back {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(80px);
  }
}
@keyframes animation-view-next-forward {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hostIos .panelPrev {
  animation: animation-ios-prev-forward 0.6s var(--vkui--animation_easing_platform);
}

.hostIos .panelNext {
  animation: animation-ios-next-back 0.6s var(--vkui--animation_easing_platform);
}

.hostIos .panelPrev ~ .panelNext {
  animation: animation-ios-next-forward 0.6s var(--vkui--animation_easing_platform);
}

.hostIos .panelNext ~ .panelPrev {
  animation: animation-ios-prev-back 0.6s var(--vkui--animation_easing_platform) forwards;
}

.hostIos .panelPrev .panelOverlay,
.hostIos .panelNext .panelOverlay {
  display: block;
}

.hostIos .panelPrev .panelOverlay {
  animation: animation-ios-fade-in 0.6s var(--vkui--animation_easing_platform);
}

.hostIos .panelNext .panelOverlay {
  animation: animation-ios-fade-out 0.6s var(--vkui--animation_easing_platform) forwards;
}

.hostIos .panelPrev ~ .panelNext .panelOverlay,
.hostIos .panelNext ~ .panelPrev .panelOverlay {
  display: none;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.hostIos.hostNoMotion .panel,
.hostIos.hostNoMotion .panel :global(.vkuiInternalPanelIn) {
  animation: none;
}

/**
 * Active panel
 */
.hostIos .panelActive .panelOverlay {
  display: none;
}

@keyframes animation-ios-next-forward {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animation-ios-next-back {
  from {
    transform: translate3d(-50%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animation-ios-prev-forward {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes animation-ios-prev-back {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes animation-ios-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}
@keyframes animation-ios-fade-out {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0;
  }
}
