.PlainCard {

}

.PlainCard__container {
  box-sizing: border-box;
  position: relative;
  background: var(--modal_card_background);
  border-radius: 18px;
  padding: 16px;
  margin-bottom: var(--safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: initial;
}

.PlainCard__header,
.PlainCard__subheader {
  text-align: center;
  margin: 0;
  padding: 0 8px;
}

.PlainCard__header {
  color: var(--text_primary);
}

.PlainCard__subheader {
  color: var(--text_secondary);
}

.PlainCard__header + .PlainCard__subheader {
  margin-top: 8px;
}

.PlainCard__icon {
  margin: 8px auto 16px;
  color: var(--accent);
}

.PlainCard__actions {
  display: flex;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 16px;
}

.PlainCard .UsersStack + .PlainCard__actions {
  margin-top: 32px;
}

.PlainCard__header + .PlainCard__actions,
.PlainCard__subheader + .PlainCard__actions {
  margin-top: 32px;
}

.PlainCard__actions--v {
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

/**
 * iOS
 */

.PlainCard--ios .PlainCard__header:first-child {
  padding-left: 36px;
  padding-right: 36px;
}

/**
 * Android + vkcom
 */

.PlainCard--android .PlainCard__container,
.PlainCard--vkcom .PlainCard__container {
  border-radius: 12px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .16), 0 0 4px 0 rgba(0, 0, 0, .08);
}

/**
 * Desktop
 */

.PlainCard--desktop .PlainCard__container {
  border-radius: 8px;
  box-shadow:
    0 16px 16px rgba(0, 0, 0, .16),
    0 0 8px rgba(0, 0, 0, .12);
}
