.CustomSelect {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
}

.CustomSelect--pop-down {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.CustomSelect--pop-up {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.CustomSelect__control {
  display: none;
}

.CustomSelect__empty {
  padding: 12px 0;
  color: var(--vkui--color_text_secondary);
  text-align: center;
}

.CustomSelect__fetching {
  display: flex;
  align-items: center;
  justify-content: center;
}
