.host {
  position: relative;
  display: block;
  inline-size: 100%;
  cursor: pointer;
}

.popDown {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.popUp {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.control {
  display: none;
}

.empty {
  padding-block: 12px;
  padding-inline: 0;
  color: var(--vkui--color_text_secondary);
  text-align: center;
}

.fetching {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownIcon {
  margin-inline-end: 10px;
}

.clearIcon {
  margin-inline-end: -6px;
}

.sizeYCompact .dropdownIcon {
  margin-inline-end: 8px;
}

.sizeYCompact .clearIcon {
  margin-inline-end: -2px;
}

@media (--sizeY-compact) {
  .sizeYNone .dropdownIcon {
    margin-inline-end: 8px;
  }

  .sizeYNone .clearIcon {
    margin-inline-end: -2px;
  }
}
