.Snackbar {
  position: fixed;
  bottom: 0;
  left: auto;
  z-index: var(--vkui--z_index_popout);
  width: 100%;
  padding-right: var(--vkui_internal--safe_area_inset_right);
  padding-bottom: var(--vkui_internal--safe_area_inset_bottom);
  padding-left: var(--vkui_internal--safe_area_inset_left);
  user-select: none;
}

.Epic--hasTabbar .Snackbar {
  padding-bottom: calc(
    var(--vkui_internal--tabbar_height) + var(--vkui_internal--safe_area_inset_bottom)
  );
}

.Snackbar__in,
.Snackbar__body {
  transition: transform 320ms var(--vkui--animation_easing_platform);
}

.Snackbar__in {
  padding: 8px;
  animation: vkui-animation-snackbar-intro-vertical 340ms var(--vkui--animation_easing_platform);
}

.Snackbar--closing .Snackbar__in {
  transform: translate3d(0, 140%, 0);
}

.Snackbar__body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 56px;
  padding: 12px 16px;
  background: var(--vkui--color_background_modal);
  border-radius: var(--vkui--size_border_radius--regular);
  box-shadow: var(--vkui--elevation4);
}

.Snackbar--mode-dark .Snackbar__body {
  background: var(--vkui--color_background_contrast_inverse);
}

.Snackbar__before {
  margin-right: 12px;
  margin-left: -4px;
}

.Snackbar__after {
  margin-right: -4px;
  margin-left: 12px;
}

.Snackbar__content {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
}

.Snackbar--layout-vertical .Snackbar__content {
  flex-direction: column;
  align-items: flex-start;
}

.Snackbar__content-text {
  display: -webkit-box;
  flex: 1;
  width: 100%;
  overflow: hidden;
  color: var(--vkui--color_text_primary);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.Snackbar__content-subtitle {
  margin-top: 2px;
  color: var(--vkui--color_text_subhead);
}

.Snackbar--mode-dark .Snackbar__content-text {
  color: var(--vkui--color_text_contrast);
}

.Snackbar--layout-horizontal .Snackbar__action {
  position: relative;
  margin-left: 12px;
}

.Snackbar--layout-vertical .Snackbar__action {
  min-height: initial;
  margin-top: 2px;
}

.ModalRoot .Snackbar {
  padding-bottom: var(--vkui_internal--safe_area_inset_bottom);
}

/* iOS */
.Snackbar--ios .Snackbar__in,
.Snackbar--ios .Snackbar__body {
  transition: transform 400ms var(--vkui--animation_easing_platform);
}

/**
 * Desktop
 */

.Snackbar--desktop {
  bottom: 0;
  left: 0;
  max-width: 351px;
}

.Snackbar--desktop .Snackbar__in {
  padding: 12px;
  animation-name: vkui-animation-snackbar-intro-horizontal;
}

.Snackbar--desktop.Snackbar--closing .Snackbar__in {
  transform: translate3d(-140%, 0, 0);
}

/**
 * Touch-interaction
 */
.Snackbar--touched .Snackbar__body {
  transition: none;
}

/**
 * Animations
 */
@keyframes vkui-animation-snackbar-intro-vertical {
  from {
    transform: translate3d(0, 140%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes vkui-animation-snackbar-intro-horizontal {
  from {
    transform: translate3d(-140%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.Snackbar--mode-default {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
