/* stylelint-disable vkui/atomic */
:global(.vkui__root--embedded) {
  transform: translate3d(0, 0, 0);
  overflow-x: hidden;
}

.AppRoot {
  height: 100%;
}

:global(.vkui__root--embedded) .AppRoot {
  overflow: auto;
}

:global(.vkui--sizeX-regular) {
  background: var(--vkui--color_background);
}

@media (--sizeX-regular) {
  :global(.vkui--sizeX-none) {
    background: var(--vkui--color_background);
  }
}

.AppRoot--no-mouse {
  user-select: none;
}
