/* stylelint-disable csstools/value-no-unknown-custom-properties */
.host {
  display: flex;
  border-radius: 10px;
  background: var(--docs--color_background_content);
  border: 1px solid var(--docs--color_stroke_separator_secondary);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-block: 20px;
}

.pre {
  margin: 0;
  padding: 20px;
  padding-inline-end: 0;
  overflow-x: auto;
  flex: 1;
}

.buttons {
  margin: 4px;
  color: var(--vkui--color_icon_tertiary);
}
