.host {
  display: flex;
  align-items: center;
  color: var(--vkui--color_text_secondary);
}

.avatarsPositionInlineEnd {
  flex-direction: row-reverse;
}

.avatarsPositionBlockStart {
  flex-direction: column;
  justify-content: center;
}

.photos {
  display: flex;
}

.fill {
  fill: var(--vkui--color_image_placeholder_alpha);
}

.photoOthers {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vkui--color_text_contrast_themed);
  background: var(--vkui--color_icon_secondary);
  border-radius: 50%;
}

.sizeS .photo {
  inline-size: 16px;
  block-size: 16px;
}

.sizeM .photo {
  inline-size: 24px;
  block-size: 24px;
}

.sizeL .photo {
  inline-size: 32px;
  block-size: 32px;
}

.photoWrapper {
  display: flex;
}

.photoWrapper:not(:first-child) {
  margin-inline-start: -2px;
}

.text {
  min-inline-size: 0;
  flex: 1;
}

.avatarsPositionBlockTop .text {
  text-align: center;
  margin-block-start: 8px;
}

.avatarsPositionInlineStart .text {
  margin-inline-start: 8px;
}

.avatarsPositionInlineEnd .text {
  margin-inline-end: 8px;
}
