.ComplexType {
  font-family: "JetBrainsMono", monospace;
  display: inline-flex;
  align-items: flex-start;
}

.ComplexType__icon {
  position: relative;
  top: 2px;
  margin-left: 6px;
  color: var(--vkui--color_icon_secondary);
}

.ComplexTypeDropdown {
  max-width: 340px;
  word-break: break-word;
}

.ComplexTypeTypeRenderer--sizeX-regular {
  display: none;
}

@media (--sizeX-regular) {
  .ComplexTypeTypeRenderer--sizeX-none {
    display: none;
  }
}

.ComplexTypeDropdown--sizeX-compact {
  display: none;
}

@media (--sizeX-compact) {
  .ComplexTypeDropdown--sizeX-none {
    display: none;
  }
}
