.ComplexType {
  font-family: 'JetBrains Mono', monospace;
  display: inline-flex;
  align-items: flex-start;
}

.ComplexType__icon {
  position: relative;
  top: 2px;
  margin-left: 6px;
  color: var(--vkui--color_icon_secondary);
}

.ComplexTypeDropdown {
  max-width: 340px;
  word-break: break-word;
}
