.ComplexType {
  font-family: "JetBrainsMono", monospace;
  display: inline-flex;
  align-items: flex-start;
}

.ComplexType__icon {
  position: relative;
  top: 2px;
  margin-left: 6px;
  color: var(--vkui--color_icon_secondary);
}

.ComplexTypeDropdown {
  max-width: 340px;
  word-break: break-word;
}

.ComplexTypeTypeRenderer--viewWidth-smallTabletPlus {
  display: none;
}

@media (min-width: 768px) {
  .ComplexTypeTypeRenderer--viewWidth-none {
    display: none;
  }
}

.ComplexTypeDropdown--viewWidth-mobile,
.ComplexTypeDropdown--viewWidth-smallMobile {
  display: none;
}

@media (max-width: 767px) {
  .ComplexTypeDropdown--viewWidth-none {
    display: none;
  }
}
