.host {
  --vkui_internal--safe_area_inset_top: 0;
}

.withGaps {
  padding-inline: 4px;
}

.desktop.withGaps {
  padding-inline: 8px;
}

/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.host :global(.vkuiIcon--dismiss_24), /* Note: <Icon24Dismiss /> по документации используется только для iOS  */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
.host :global(.vkuiIcon--cancel_24) {
  color: var(--vkui--color_icon_secondary);
}
