.Avatar {
  box-sizing: border-box;
  }

  .Avatar__in {
    position: relative;
    color: var(--icon_secondary);
    }

    .Avatar__img {
      background: var(--placeholder_icon_background);
      border: none;
      display: block;
      max-width: 100%;
      position: relative;
      z-index: 1;
      }

    .Avatar__shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 1px var(--image_border);
      pointer-events: none;
      z-index: 2;
      }

    .Avatar__children {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      }
