.Avatar {
  flex-shrink: 0;
  box-sizing: border-box;
  color: var(--placeholder_icon_background);
}

.Avatar__in,
.Avatar__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
  z-index: 1;
}

.Avatar__in {
  background: currentColor;
  pointer-events: none;
}

.Avatar__children,
.Avatar--shadow .Avatar__in::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.Avatar--shadow .Avatar__in::after {
  content: '';
  box-shadow: inset 0 0 0 var(--thin-border) var(--image_border);
  z-index: 3;
}

.Avatar__children {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon_secondary);
  z-index: 2;
}

/**
 * .CellButton
 */
.CellButton > .Avatar {
  color: var(--button_muted_background);
}

.CellButton > .Avatar .Icon {
  color: var(--accent);
}

.CellButton--danger > .Avatar .Icon {
  color: var(--destructive);
}

/**
 * .PanelHeader
 */
.PanelHeader__left .Avatar {
  margin-left: 8px;
}

.PanelHeader__right .Avatar {
  margin-right: 8px;
}

/**
 * .RichCell
 */
.RichCell > .Avatar {
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.RichCell > .Avatar--sz-48 {
  padding-top: 6px;
  padding-bottom: 6px;
}

/**
 * .SimpleCell
 */
.SimpleCell > .Avatar {
  padding-right: 12px;
}

.SimpleCell > .Avatar--sz-28,
.SimpleCell > .Avatar--sz-32 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.SimpleCell > .Avatar--sz-40 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.SimpleCell > .Avatar--sz-48,
.SimpleCell > .Avatar--sz-72 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.SimpleCell--ios > .Avatar--sz-28,
.SimpleCell--ios > .Avatar--sz-32 {
  padding-left: 4px;
}

.SimpleCell--sizeY-compact > .Avatar--sz-28,
.SimpleCell--sizeY-compact > .Avatar--sz-32 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.SimpleCell--sizeY-compact > .Avatar--sz-40 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.SimpleCell--sizeY-compact > .Avatar--sz-48 {
  padding-top: 4px;
  padding-bottom: 4px;
}
