.Headline {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.Headline--regular {
  font-weight: 400;
}

.Headline--medium {
  font-weight: 500;
}

.Headline--semibold {
  font-weight: 600;
}

/**
 * ANDROID
 */
.Headline--android.Headline--semibold {
  font-weight: 500;
}
