.Headline {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.Headline--ios {
  letter-spacing: -.32px;
}

.Headline--android {
  letter-spacing: .1px;
}

.Headline--w-regular {
  font-weight: 400;
}

.Headline--w-medium {
  font-weight: 500;
}

.Headline--w-semibold {
  font-weight: 600;
}
