.Snackbar {
  user-select: none;
  z-index: calc(var(--vkui--z_index_popout) + 1);
  position: fixed;
  bottom: 0;
  left: auto;
  width: 100%;
  padding-left: var(--safe-area-inset-left);
  padding-right: var(--safe-area-inset-right);
  padding-bottom: var(--safe-area-inset-bottom);
}

.Epic .Snackbar {
  padding-bottom: calc(var(--tabbar_height) + var(--safe-area-inset-bottom));
}

.Snackbar__in,
.Snackbar__body {
  transition: transform 320ms var(--android-easing);
}

.Snackbar__in {
  padding: 8px;
  animation: vkui-animation-snackbar-intro-vertical 340ms var(--android-easing);
}

.Snackbar--closing .Snackbar__in {
  transform: translate3d(0, 140%, 0);
}

.Snackbar__body {
  box-sizing: border-box;
  padding: 12px 16px;
  min-height: 56px;
  display: flex;
  align-items: center;
  background: var(--modal_card_background, var(--vkui--color_background_modal));
  box-shadow: var(--vkui--elevation4);
  border-radius: var(--vkui--size_border_radius--regular);
}

.Snackbar--dark .Snackbar__body {
  background: var(--vkui--color_background_contrast_inverse);
}

.Snackbar__before {
  margin-left: -4px;
  margin-right: 12px;
}

.Snackbar__after {
  margin-right: -4px;
  margin-left: 12px;
}

.Snackbar__content {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Snackbar--l-vertical .Snackbar__content {
  flex-direction: column;
  align-items: flex-start;
}

.Snackbar__content-text {
  flex: 1;
  color: var(--text_primary, var(--vkui--color_text_primary));
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Snackbar--dark .Snackbar__content-text {
  color: var(--vkui--color_text_contrast);
}

.Snackbar--l-horizontal .Snackbar__action {
  margin-right: calc(
    -1 * var(--vkui--size_button_tertiary_small_padding_horizontal--regular)
  );
  position: relative;
}

.Snackbar--l-vertical .Snackbar__action {
  margin-bottom: -6px;
  margin-left: calc(
    -1 * var(--vkui--size_button_tertiary_small_padding_horizontal--regular)
  );
}

.ModalRoot .Snackbar {
  padding-bottom: var(--safe-area-inset-bottom);
}

/* iOS */
.Snackbar--ios .Snackbar__in,
.Snackbar--ios .Snackbar__body {
  transition: transform 400ms var(--ios-easing);
}

.Snackbar--ios .Snackbar__in {
  animation: vkui-animation-snackbar-intro-vertical 340ms var(--ios-easing);
}

/**
 * Desktop
 */

.Snackbar--desktop {
  max-width: 328px;
  left: 0;
  bottom: 0;
}

.Snackbar--desktop .Snackbar__in {
  padding: 12px;
  animation-name: vkui-animation-snackbar-intro-horizontal;
}

.Snackbar--desktop.Snackbar--closing .Snackbar__in {
  transform: translate3d(-140%, 0, 0);
}

/**
 * Touch-interaction
 */
.Snackbar--touched .Snackbar__body {
  transition: none;
}

/**
 * Animations
 */
@keyframes vkui-animation-snackbar-intro-vertical {
  from {
    transform: translate3d(0, 140%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes vkui-animation-snackbar-intro-horizontal {
  from {
    transform: translate3d(-140%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
