.FormField {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: var(--vkui--size_field_height--regular);
  font-family: var(--vkui--font_family_base);
  -webkit-tap-highlight-color: transparent;
  isolation: isolate;
}

.FormField--sizeY-compact {
  min-height: var(--vkui--size_field_height--compact);
}

@media (--sizeY-compact) {
  .FormField--sizeY-none {
    min-height: var(--vkui--size_field_height--compact);
  }
}

/* stylelint-disable-next-line vkui/atomic */
.FormField > * {
  border-radius: inherit;
  z-index: var(--vkui_internal--z_index_form_field_element);
}

.FormField__before,
.FormField__after {
  position: relative;
  z-index: var(--vkui_internal--z_index_form_field_side);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: var(--vkui--size_field_height--regular);
  height: 100%;
  color: var(--vkui--color_icon_secondary);
}

.FormField--sizeY-compact .FormField__before,
.FormField--sizeY-compact .FormField__after {
  min-width: var(--vkui--size_field_height--compact);
  height: var(--vkui--size_field_height--compact);
}

@media (--sizeY-compact) {
  .FormField--sizeY-none .FormField__before,
  .FormField--sizeY-none .FormField__after {
    min-width: var(--vkui--size_field_height--compact);
    height: var(--vkui--size_field_height--compact);
  }
}

.FormField__before {
  color: var(--vkui--color_icon_accent);
}

.FormField__after {
  color: var(--vkui--color_icon_secondary);
}

.FormField__border {
  position: absolute;
  z-index: var(--vkui_internal--z_index_form_field_border);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform-origin: left top;
  border: var(--vkui_internal--thin_border) solid transparent;
  border-radius: var(--vkui--size_border_radius--regular);
}

.FormField--mode-default .FormField__border {
  border-color: var(--vkui--color_field_border_alpha);
  background-color: var(--vkui--color_field_background);
}

/**
 * [start]
 * CMP:
 * FormItem
 */
.FormItem--status-error .FormField__border,
.FormField--status-error .FormField__border {
  background-color: var(--vkui--color_background_negative_tint);
  border-color: var(--vkui--color_stroke_negative);
  z-index: var(--vkui_internal--z_index_form_field_status);
}

.FormItem--status-valid .FormField__border,
.FormField--status-valid .FormField__border {
  border-color: var(--vkui--color_stroke_positive);
  z-index: var(--vkui_internal--z_index_form_field_status);
}
/* [end] */

.FormField--disabled {
  opacity: var(--vkui--opacity_disable_accessibility);
  cursor: default;
  pointer-events: none;
}

.FormField--hover .FormField__border {
  background-color: var(--vkui--color_field_background);
}

.FormField--mode-default.FormField--hover .FormField__border {
  border-color: var(--vkui--color_field_border_alpha--hover);
  z-index: var(--vkui_internal--z_index_form_field_border_hover);
}

/* stylelint-disable-next-line vkui/atomic */
.FormField *:focus {
  outline: none;
}

/**
 * FIXME: необходимо заменить на `useFocusVisible()`
 */
.FormField:focus-within .FormField__border,
.FormField *:focus ~ .FormField__border {
  border-color: var(--vkui--color_stroke_accent);
  z-index: var(--vkui_internal--z_index_form_field_focus);
}

/**
 * CMP:
 * ModalCardBase
 */
.ModalCardBase__header + .FormField,
.ModalCardBase__subheader + .FormField {
  margin-top: 16px;
}

/**
 * CMP:
 * CustomSelect
 * ChipSelect
 */
.CustomSelect--pop-down .FormField__border,
.ChipsSelect--pop-down .FormField__border {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.CustomSelect--pop-up .FormField__border,
.ChipsSelect--pop-up .FormField__border {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Select .FormField__after {
  pointer-events: none;
}

/**
 * CMP:
 * CalendarHeader
 */
.CalendarHeader__picker .FormField__after {
  min-width: 12px;
  padding-right: 8px;
}

/**
 * CMP:
 * ChipsInput
 */
.ChipsInput .FormField__after {
  z-index: var(--vkui_internal--z_index_form_field_side);
}

/**
 * CMP:
 * FormLayoutGroup
 */
.FormLayoutGroup--segmented .FormField {
  z-index: auto;
  isolation: auto;
}

.FormLayoutGroup--segmented > .FormItem:not(:first-of-type):not(:last-of-type) .FormField__border,
.FormLayoutGroup--segmented
  .Removable__content
  > .FormItem:not(:first-of-type):not(:last-of-type)
  .FormField__border {
  border-radius: 0;
}

.FormLayoutGroup--segmented > *:first-of-type:not(:last-of-type) .FormField__border,
.FormLayoutGroup--segmented
  .Removable__content
  > *:first-of-type:not(:last-of-type)
  .FormField__border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.FormLayoutGroup--segmented > .FormItem:not(:first-of-type):last-of-type .FormField__border,
.FormLayoutGroup--segmented
  .Removable__content
  > .FormItem:not(:first-of-type):last-of-type
  .FormField__border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.FormField--mode-plain,
.FormField--status-default {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
