.FormField {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1px;
  box-sizing: border-box;
  border-radius: 8px;
}

.FormField[class$="__open"] .FormField__border {
  border-radius: 8px 8px 0 0;
}

.FormField[class$="__open--popupDirectionTop"] .FormField__border {
  border-radius: 0 0 8px 8px;
}

.FormField > * {
  border-radius: inherit;
}

.FormField__after {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  margin: -1px;
  color: var(--icon_secondary);
  z-index: 2;
}

.FormField__after,
.FormField__after .IconButton {
  height: 44px;
}

.FormField__after .Icon--16,
.FormField__after .Icon--16.Icon--w-8 {
  padding: 14px;
}

.FormField__after .Icon--20 {
  padding: 12px;
}

.FormField__after .Icon--20.Icon--h-16 {
  padding: 14px 12px;
}

.FormField__after .Icon--24 {
  padding: 10px;
}

.FormField__after .Icon--28 {
  padding: 8px;
}

.FormField--sizeY-compact .FormField__after,
.FormField--sizeY-compact .FormField__after .IconButton {
  height: 36px;
}

.FormField--sizeY-compact .FormField__after .Icon--16,
.FormField--sizeY-compact .FormField__after .Icon--16.Icon--w-8 {
  padding: 10px;
}

.FormField--sizeY-compact .FormField__after .Icon--20 {
  padding: 8px;
}

.FormField--sizeY-compact .FormField__after .Icon--20.Icon--h-16 {
  padding: 10px 8px;
}

.FormField--sizeY-compact .FormField__after .Icon--24 {
  padding: 6px;
}

.FormField--sizeY-compact .FormField__after .Icon--28 {
  padding: 4px;
}

.FormField__border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--field_border);
  background: var(--field_background);
  content: '';
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
  transform-origin: left top;
}

.FormItem--error .FormField__border {
  background: var(--field_error_background);
  border-color: var(--field_error_border);
}

.FormItem--valid .FormField__border {
  border-color: var(--field_valid_border);
}

.FormField--disabled .FormField__border {
  opacity: .4;
}

.FormField__border--hover {
  border-color: var(--icon_tertiary_alpha);
}

.FormField--disabled .FormField__border--hover {
  border-color: var(--field_border);
}

.FormField.Input .Input__el:focus ~ .FormField__border,
.FormField.Textarea .Textarea__el:focus ~ .FormField__border,
.FormField.Select .Select__el:focus ~ .FormField__border,
.FormField.Select--mimicry:focus .FormField__border,
.FormField.ChipsInput--focused .ChipsInput__container ~ .FormField__border {
  border-color: var(--accent);
  background: var(--field_background);
}

.CustomSelect__open.Select--mimicry:focus .FormField__border {
  border-color: var(--field_border);
}

/**
 * iOS
 */
.FormField--ios {
  border-radius: 10px;
}

.FormField--ios[class$="__open"] .FormField__border {
  border-radius: 10px 10px 0 0;
}

.FormField--ios[class$="__open--popupDirectionTop"] .FormField__border {
  border-radius: 0 0 10px 10px;
}

@media (min-resolution: 2dppx) {
  .FormField--ios .FormField__border {
    border-radius: 20px;
    transform: scale(.5);
    width: 200%;
    height: 200%;
  }

  .FormField--ios[class$="__open"] .FormField__border {
    border-radius: 20px 20px 0 0;
  }

  .FormField--ios[class$="__open--popupDirectionTop"] .FormField__border {
    border-radius: 0 0 20px 20px;
  }
}

@media (min-resolution: 3dppx) {
  .FormField--ios .FormField__border {
    border-radius: 31.25px;
    transform: scale(.32);
    width: 312.5%;
    height: 312.5%;
  }

  .FormField--ios[class$="__open"] .FormField__border {
    border-radius: 31.25px 31.25px 0 0;
  }

  .FormField--ios[class$="__open--popupDirectionTop"] .FormField__border {
    border-radius: 0 0 31.25px 31.25px;
  }
}

/**
 * VKCOM
 */
.FormField--vkcom {
  border-radius: 6px;
}

.FormField--vkcom[class$="__open"] .FormField__border {
  border-radius: 6px 6px 0 0;
}

.FormField--vkcom[class$="__open--popupDirectionTop"] .FormField__border {
  border-radius: 0 0 6px 6px;
}
