@import '../../styles/constants.css';

.Search--ios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  }

.Search--ios.Search--default {
  padding: 8px;
  background-color: #e6e9ed;
  position: relative;
  }

.Search--ios.Search--default::after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: 1px;
  content: '';
  bottom: 0;
  background: map(colors, separator);
  }

.Search--ios + .List::before,
.Search--ios + .Group::before {
  content: none;
  }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .Search--ios.Search--default::after {
    background: var(--ios-bottom-border);
    }
  }

  .Search--ios .Search__control {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    transition: width .3s var(--ios-easing);
    }

  .Search--ios.Search--header {
    padding-right: 6px;
    }

  .Search--ios .Search__after {
    flex-shrink: 0;
    font-size: 17px;
    white-space: nowrap;
    font-weight: 400;
    padding-left: 12px;
    }

  .Search--ios.Search--default .Search__after {
    color: map(colors, accentBlue);
    }

  .Search--ios.Search--header .Search__after {
    color: #fff;
    }

  .Search--ios .Search__placeholder {
    position: absolute;
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 0 12px;
    box-sizing: border-box;
    transition: transform .3s var(--ios-easing);
    height: 100%;
    left: 0;
    }

    .Search--ios .Search__placeholder-text {
      margin-left: 6px;
      }

  .Search--ios.Search--default .Search__placeholder {
    color: #99a2ad;
    }

  .Search--ios.Search--header .Search__placeholder {
    color: #b4c8e0;
    opacity: .68;
    }

  .Search--ios .Search__input {
    height: 32px;
    border-radius: 16px;
    border: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding-left: 34px;
    padding-right: 12px;
    font-size: 15px;
    }

  .Search--ios.Search--default .Search__input {
    background-color: #fff;
    }

  .Search--ios.Search--header .Search__input {
    background-color: #143a66;
    color: #fff;
    }
