.Title {
  display: block;
  margin: 0;
}

.Title--l-1 {
  font-size: 24px;
  line-height: 28px;
}

.Title--l-2 {
  font-size: 20px;
  line-height: 24px;
}

.Title--l-3 {
  font-size: 17px;
  line-height: 22px;
}

.Title--regular {
  font-weight: 400;
}

.Title--medium {
  font-weight: 500;
}

.Title--semibold {
  font-weight: 600;
}

.Title--bold {
  font-weight: 700;
}

.Title--heavy {
  font-weight: 800;
}

/**
 * ANDROID
 */
.Title--android.Title--semibold {
  font-weight: 500;
}

.Title--android.Title--heavy {
  font-weight: 700;
}
