.Footnote {
  display: block;
  margin: 0;
  font-size: var(--vkui--font_footnote--font_size--regular);
  line-height: var(--vkui--font_footnote--line_height--regular);
  font-weight: var(--vkui--font_footnote--font_weight--regular);
}

.Footnote--caps {
  font-size: var(--vkui--font_footnote_caps--font_size--regular);
  line-height: var(--vkui--font_footnote_caps--line_height--regular);
  font-weight: var(--vkui--font_footnote_caps--font_weight--regular);
  text-transform: uppercase;
}

.Footnote--w-1 {
  font-weight: var(--vkui--font_weight_accent1);
}

.Footnote--w-2 {
  font-weight: var(--vkui--font_weight_accent2);
}

.Footnote--w-3 {
  font-weight: var(--vkui--font_weight_accent3);
}
