.SplitLayout {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: var(--font-common);
}

.SplitLayout__inner {
  width: 100%;
  height: 100%;
  display: flex;
}

/* Hack with using PanelHeaderSimple */
/* Better to implement simple header-like here */
.SplitLayout__inner--header {
  position: relative;
  z-index: 11;
}

.SplitLayout--ios .SplitLayout__inner--header {
  margin-top: calc(var(--panelheader_height_ios) * -1);
}

.SplitLayout--android .SplitLayout__inner--header {
  margin-top: calc(var(--panelheader_height_android) * -1);
}

.SplitLayout__popout {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.SplitLayout__modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.SplitLayout__modal:empty {
  display: none;
}

.SplitLayout__col {
  height: 100%;
  width: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.SplitLayout__colFixedWrap {
  height: 100%;
  width: 1px;
  flex-grow: 1;
  flex-shrink: 1;
}

.SplitLayout__colFixedInner {
  height: 100%;
  width: 1px;
  position: fixed;
  transform: translateZ(0);
  overflow: hidden;
}
