.SplitLayout {
  width: 100%;
  height: 100%;
  position: relative;
}

.SplitLayout__inner {
  width: 100%;
  height: 100%;
  display: flex;
}

/* Hack with using PanelHeaderSimple */
/* Better to implement simple header-like here */
.SplitLayout__inner--header {
  position: relative;
  z-index: 11;
  margin-top: calc(
    -1 * (var(--vkui--size_panel_header_height--regular) +
          var(--vkui_internal--safe_area_inset_top))
  );
}

.SplitLayout--ios .SplitLayout__inner--header {
  margin-top: calc(
    -1 * (var(--vkui--size_panel_header_height--regular) +
          var(--vkui_internal--safe_area_inset_top))
  );
}

.SplitLayout__popout {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.SplitLayout__modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.SplitLayout__modal:empty {
  display: none;
}
