._host_6jrt5_1{block-size:100%;inline-size:100%;color:var(--vkui--color_icon_medium);will-change:contents;justify-content:center;align-items:center;display:flex}._noColor_6jrt5_11{color:currentColor}
