.root {
  inline-size: 100%;
  overflow: auto;
  background: var(--vkui--color_background);
  border-radius: 8px;
  transform: translate(0);
}

@media (--viewWidth-smallTabletMinus) {
  .root {
    background: var(--vkui--color_background_content);
  }
}
