.Group {
  color: var(--text_primary);
}

.Group__inner {
  /* tmp for border radius and margin */
  /* although margins are now borders and are not affected */
  overflow: hidden;
}

.Group__inner > *:not(.Header):first-child {
  border-top: 12px solid transparent;
}

/* Probably make this default and in the design */
/* and shift other content with negative margin */
.Group__inner > .Cell:first-child,
.Group__inner > .CellButton:first-child,
.Group__inner > .InfoRow:first-child {
  border-top: 8px solid transparent;
}

.Group__inner > .Cell:last-child,
.Group__inner > .CellButton:last-child,
.Group__inner > .InfoRow:last-child {
  border-bottom: 8px solid transparent;
}

.Group__description {
  font-size: 14px;
  line-height: 16px;
  color: var(--text_secondary);
}

.Group__inner:not(.Group__inner--regular) .Group__separator {
  border-top: 12px solid transparent;
}

/*.Cell + .Group__separator,
.CellButton + .Group__separator,
.InfoRow + .Group__separator {
  margin-top: 8px;
}*/

.Group:last-of-type .Group__inner:not(.Group__inner--regular) .Group__separator {
  display: none;
}

.Group:last-of-type .Group__separator--force {
  display: block;
}

.Group--ios .Group__description {
  padding: 4px 12px 24px;
}

.Group--android .Group__description {
  padding: 4px 16px 24px;
}

.Group__inner--regular {
  background: var(--modal_card_background);
  /* For Card border */
  position: relative;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px var(--image_border);
}

.Group__inner--regular > .Cell,
.Group__inner--regular > .CellButton,
.Group__inner--regular > .InfoRow,
.Group__inner--regular > .Header {
  padding: 0 12px;
}

.Group__inner--regular > .Header {
  border-top: 4px solid transparent;
}

@media (min-resolution: 2dppx) {
  .Group__inner--regular::before {
    box-shadow: inset 0 0 0 .5px var(--image_border);
  }
}

@media (min-resolution: 3dppx) {
  .Group__inner--regular::before {
    box-shadow: inset 0 0 0 .33px var(--image_border);
  }
}
