.Group {
  color: var(--text_primary);
}

.Group__inner {
  padding-top: 8px;
  padding-bottom: 8px;
}

.Group:last-of-type .Group__inner + .Group__separator {
  display: none;
}

.Group:last-of-type .Group__inner + .Group__separator--force {
  display: block;
}

.Group__description {
  font-size: 14px;
  line-height: 16px;
  color: var(--text_secondary);
}

.Group__inner > .Header:first-child,
.Group__inner > .Tabs:first-child {
  margin-top: -4px;
}

.Group--ios .Group__description {
  padding: 4px 12px 16px;
}

.Group--android .Group__description {
  padding: 4px 16px 16px;
}

/* Regular Overrides */

.Group__inner--sizeX-regular {
  background: var(--modal_card_background);
  /* For Card border */
  position: relative;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px var(--input_border);
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-resolution: 2dppx) {
  .Group__inner--sizeX-regular {
    box-shadow: inset 0 0 0 .5px var(--input_border);
  }
}

@media (min-resolution: 3dppx) {
  .Group__inner--sizeX-regular {
    box-shadow: inset 0 0 0 .33px var(--input_border);
  }
}
