.Group {
  margin-bottom: 12px;
  }

  .Group__content {
    color: var(--text_primary);
    }

  .Group__content:first-child {
    margin-top: 12px;
    }

  .Group__description {
    font-size: 14px;
    line-height: 16px;
    color: var(--text_secondary);
    }

  .Group__separator {
    margin-top: 12px;
    }

  .Group:last-of-type .Group__separator {
    display: none;
    }

  .Group:last-of-type .Group__separator--force {
    display: block;
    }

  .Group + .Group > .Header {
    margin-top: -12px;
    }

  .Group--ios .Group__description {
    padding: 4px 12px 24px;
    }

  .Group--android .Group__description {
    padding: 4px 16px 24px;
    }
