.ReactComponent__src {
  margin: 0 6px;
  margin-top: 24px;
  color: var(--vkui--color_text_secondary);
  display: inline-block;
  font-size: 0;
}

.ReactComponent__src:first-child {
  margin-left: 0;
}

.ReactComponent__divider {
  display: inline-block;
  color: var(--vkui--color_text_secondary);
}

.ReactComponent__name {
  margin-top: 4px;
}

.ReactComponent__name--deprecated {
  color: var(--vkui--color_text_subhead);
  text-decoration: line-through;
}

.ReactComponent__title {
  margin-bottom: 6px;
}
