.ReactComponent__src {
  margin-top: 24px;
  color: var(--text_secondary);
  display: inline-block;
  font-size: 0;
}

.ReactComponent__tokenized {
  position: relative;
  top: 1px;
  left: 4px;
}

.ReactComponent__name {
  margin-top: 4px;
}

.ReactComponent__name--deprecated {
  color: var(--text_subhead);
  text-decoration: line-through;
}

.ReactComponent__title {
  margin-bottom: 6px;
}
