.Slider {
  position: relative;
  height: 28px;
  margin: 2px 14px;
  background: linear-gradient(to bottom, #b7b7b7 1px, transparent 1px) 0 14px repeat-x;
}

.Slider__dragger {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
}

.Slider__dragger::before {
  position: absolute;
  top: 0;
  height: 1px;
  background: #0f7afb;
  width: 100%;
  content: '';
}
.Slider__dragger::after {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .35), 0 1px 1px rgba(0, 0, 0, .15);
  content: '';
  transition: transform .1s ease;
}