@import '../../styles/constants.css';

.Slider {
  position: relative;
  height: 28px;
  margin: 0 14px;
  }

  .Slider__in {
    height: 100%;
    }

  .Slider__dragger {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    }

  .Slider__dragger::before {
    position: absolute;
    top: 0;
    width: 100%;
    content: '';
    }

  .Slider__thumb {
    position: absolute;
    top: -14px;
    width: 28px;
    height: 28px;
    transition: transform .1s ease;
    }

    .Slider__thumb--start {
      left: -14px;
      }

    .Slider__thumb--end {
      right: -14px;
      }

/**
 * iOS
 */
.Slider--ios {
  background: linear-gradient(to bottom, #b7b7b7 1px, transparent 1px) 0 14px repeat-x;
  }

  .Slider--ios .Slider__in {}

    .Slider__dragger::before {
      height: 1px;
      background: #0f7afb;
      }

    .Slider--ios .Slider__thumb {
      border-radius: 14px;
      background: #fff;
      box-shadow: 0 2px 7px rgba(0, 0, 0, .35), 0 1px 1px rgba(0, 0, 0, .15);
      }

/**
 * Android
 */
.Slider--android {
  background: linear-gradient(to bottom, #bfbfbf 2px, transparent 2px) 0 14px repeat-x;
  }

  .Slider--ios .Slider__in {}

    .Slider--android .Slider__dragger::before {
      height: 2px;
      background: var(--vk-color);
      }

    .Slider--android .Slider__thumb {
      top: -13px;
      }

    .Slider--android .Slider__thumb::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      margin: -6px 0 0 -6px;
      content: '';
      background: var(--vk-color);
      border-radius: 6px;
      transition: box-shadow .14s ease, transform .14s ease;
      }
    .Slider--android .Slider__thumb.Slider__thumb--active::before {
      box-shadow: 0 0 0 3px rgba(127, 127, 127, .2);
      transform: scale(1.25);
      }
