#
# Требования:
# - Тесты должны запускаться при каждом изменении в ветке, чтобы корректно рассчитывалось покрытие тестами при
#   последующих изменениях.
# - В джобах точечно указываем пакеты, для которых проверяется покрытие.
#

name: Branch test coverage

run-name: Check ${{ github.ref_name }} branch test coverage

on:
  push:
    branches:
      - master
      - '*-stable'

concurrency:
  group: branch-test-coverage-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/reusable_workflow_test.yml
    with:
      workspace: '@vkontakte/vkui'

  test_e2e:
    # На текущий момент e2e так и так запускается только для @vkontakte/vkui
    uses: ./.github/workflows/reusable_workflow_test_e2e.yml
