name: 'Close Pull Request'

on:
  pull_request:
    types: [closed]
  workflow_dispatch:
    inputs:
      pr_number_by_workflow_dispatch:
        description: 'Number of PR'
        type: number
        required: true

jobs:
  upload_pr_workflow_payload:
    # Не используем always(), т.к. он не учитывает отмену воркфлоу
    # см. https://github.com/orgs/community/discussions/26303
    if: ${{ !cancelled() }}
    name: Call reusable workflow
    uses: ./.github/workflows/reusable_workflow_pr_worfklow_payload.yml
    with:
      action: upload
      override_pr_number: ${{ inputs.pr_number_by_workflow_dispatch }}

  patch:
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'patch')
    concurrency: ci-stable
    runs-on: ubuntu-latest
    name: Stable Patch
    steps:
      - name: Checkout (for forked PR)
        if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id
        uses: actions/checkout@v4

      - name: Checkout (for maintainer's PR)
        if: github.event.pull_request.base.repo.id == github.event.pull_request.head.repo.id
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}

      - name: Enable Corepack
        run: corepack enable
        shell: bash

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Set Git credentials
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"

      - name: Make patch
        uses: VKCOM/gh-actions/VKUI/patch@main
        with:
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}
          directory: packages/vkui/

  update-release-notes:
    if: ${{ github.event.pull_request.merged == true
      && github.event.pull_request.base.ref == 'master'}}
    runs-on: ubuntu-latest
    name: Update release notes
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.base.ref }}
      cancel-in-progress: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get vkui version
        id: get_version
        run: |
          echo "vkui_version=$(node -p "require('./packages/vkui/package.json').version")" >> $GITHUB_OUTPUT

      - name: Update release notes script
        uses: VKCOM/gh-actions/VKUI/auto-update-release-notes@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          vkui_version: ${{ steps.get_version.outputs.vkui_version }}
          pull_request_number: ${{ github.event.pull_request.number }}
