name: 'Close Pull Request'

on:
  pull_request:
    types: [closed]
  workflow_dispatch:
    inputs:
      pull_request_number:
        description: 'Number of PR'
        type: number
        required: true

jobs:
  upload_pr_workflow_payload:
    # Не используем always(), т.к. он не учитывает отмену воркфлоу
    # см. https://github.com/orgs/community/discussions/26303
    if: ${{ !cancelled() }}
    name: Call reusable workflow
    uses: ./.github/workflows/reusable_workflow_pr_worfklow_payload.yml
    with:
      action: upload
      pr_number: ${{ inputs.pull_request_number || github.event.pull_request.number }}

  patch:
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'patch')
    concurrency: ci-stable
    runs-on: ubuntu-latest
    name: Patch
    steps:
      - name: Checkout (for forked PR)
        if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id
        uses: actions/checkout@v3

      - name: Checkout (for maintainer's PR)
        if: github.event.pull_request.base.repo.id == github.event.pull_request.head.repo.id
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Set Git credentials
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"

      - name: Make patch
        uses: VKCOM/gh-actions/VKUI/patch@main
        with:
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}
          directory: packages/vkui/
