name: 'Publish pre-release'
run-name: Publish pre-release ${{ inputs.package_name }} ${{ inputs.new_version }} ${{ inputs.custom_version }} (tag ${{ inputs.npm_tag_aka_pre_id }})

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: "package's name:"
        required: true
        type: choice
        options:
          - '@vkontakte/vkui'
          - '@vkontakte/vkui-floating-ui'
          - '@vkontakte/vkui-date-fns-tz'
          - '@vkontakte/vkui-token-translator'
          - '@vkontakte/vkui-codemods'
      new_version:
        description: 'version type (use prerelease for bumping pre-release version):'
        required: true
        type: choice
        default: 'prerelease'
        options:
          - prepatch
          - preminor
          - premajor
          - prerelease
      npm_tag_aka_pre_id:
        description: 'NPM tag:'
        required: true
        type: choice
        default: 'beta'
        options:
          - alpha
          - beta
          - rc
      custom_version:
        description: 'use syntax x.y.z-beta.0, without "v" (it will ignore "version type" & "NPM tag" parameters):'
        required: false

jobs:
  publish:
    concurrency: ci-gh-pages
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}

      - name: Setting up the repository environment
        uses: ./.github/actions/publish-workflow-1-setup

      - name: Bump version
        id: updated_versions_info
        uses: ./.github/actions/publish-workflow-2-bump-version
        with:
          package_name: ${{ inputs.package_name }}
          new_version: ${{ inputs.custom_version || inputs.new_version }}
          # Ignore `pre_id` if `custom_version` is specified
          pre_id: ${{ !inputs.custom_version && inputs.npm_tag_aka_pre_id || '' }}

      - name: Run pre-publish checks
        uses: ./.github/actions/publish-workflow-3-validation
        with:
          package_name: ${{ inputs.package_name }}

      - name: Complete publish
        id: complete_publish
        uses: ./.github/actions/publish-workflow-4-complete
        with:
          branch: ${{ github.ref }}
          prev_version: ${{ steps.updated_versions_info.outputs.prev_version }}
          next_version: ${{ steps.updated_versions_info.outputs.next_version }}
          package_name: ${{ inputs.package_name }}
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}
          npm_token: ${{ secrets.NPMJS_PUBLISH_TOKEN }}
          npm_tag: ${{ inputs.npm_tag_aka_pre_id }}
          disable_git_tag_with_namespace: ${{ inputs.package_name == '@vkontakte/vkui' }}
          prerelease: true
