name: Publish release
run-name: Publish release ${{ inputs.package_name }} ${{ inputs.custom_version || inputs.version_type }}, close_milestone is ${{ inputs.close_milestone }} (tag ${{ inputs.npm_tag || 'see in workflow' }})

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: "[1] Package's name:"
        required: true
        type: choice
        options:
          - "@vkontakte/vkui"
          - "@vkontakte/vkui-floating-ui"
          - "@vkontakte/vkui-date-fns-tz"
          - "@vkontakte/vkui-codemods"
      version_type:
        description: "[2] Version type (!!! CHOOSE THE RIGHT BRANCH BEFORE !!!):"
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
          - prepatch
          - preminor
          - premajor
          - prerelease
      prerelease_id:
        description: "[3] NPM preid, ex, 0.0.0-beta.0 (it will be enabled only for pre-releases):"
        required: false
        type: choice
        default: "beta"
        options:
          - alpha
          - beta
          - rc
      npm_tag:
        description: "[4] NPM tag (for stable release default is 'latest', for pre-release is preid)"
        required: false
      close_milestone:
        description: "Whether to close associated milestone after publish (milestone should be exist)"
        type: boolean
        default: true
      custom_version:
        description: "Custom SemVer version (it will disable steps [2] and [3]):"
        required: false

jobs:
  publish:
    concurrency: ci-gh-pages
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}

      - name: Setting up the repository environment
        uses: ./.github/actions/publish-workflow-1-setup

      - name: Bump version
        id: updated_versions_info
        uses: ./.github/actions/publish-workflow-2-bump-version
        with:
          package_name: ${{ inputs.package_name }}
          version_type: ${{ inputs.custom_version || inputs.version_type }}
          prerelease_id: ${{ inputs.prerelease_id }}

      - name: Run pre-publish checks
        uses: ./.github/actions/publish-workflow-3-validation
        with:
          package_name: ${{ inputs.package_name }}

      - name: Complete publish (for prerelease)
        uses: ./.github/actions/publish-workflow-4-complete
        with:
          branch: ${{ github.ref }}
          prev_version: ${{ steps.updated_versions_info.outputs.prev_version }}
          next_version: ${{ steps.updated_versions_info.outputs.next_version }}
          package_name: ${{ inputs.package_name }}
          token: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}
          npm_tag: ${{ inputs.npm_tag || (fromJson(steps.updated_versions_info.outputs.is_stable_release) == true && 'latest') || inputs.prerelease_id }}
          close_milestone: ${{ inputs.close_milestone == true }}
          disable_git_tag_with_namespace: ${{ inputs.package_name == '@vkontakte/vkui' }}
          prerelease: ${{ fromJson(steps.updated_versions_info.outputs.is_stable_release) == false }}
