name: 'Pull Request / Common'

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: pr-common-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  labels:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    name: Add labels
    steps:
      - name: Patch
        if: ${{ startsWith(github.event.pull_request.title, 'fix') }}
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ["patch"]
            })

  lint_codes_format:
    runs-on: ubuntu-latest
    name: Check code formatting
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencies
        run: YARN_ENABLE_SCRIPTS=false yarn install --immutable

      - name: Run Prettier
        run: yarn run lint:prettier
