name: 'Pull Request'

on: ['pull_request']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      # cached yarn install
      - uses: bahmutov/npm-install@v1
      - name: Run tests
        run: yarn test:ci
      - name: FYI visual tests
        run: yarn test:e2e
        continue-on-error: true
      - name: Create test report
        if: always()
        run: yarn danger ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  styleguide:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      # cached yarn install
      - uses: bahmutov/npm-install@v1
      - run: yarn styleguide:build
      - name: Uploading styleguide artifact
        uses: actions/upload-artifact@v2
        with:
          name: styleguide
          path: docs/
      - name: Publishing styleguide to GitHub pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.DEVTOOLS_GITHUB_TOKEN }}
          COMMIT_MESSAGE: "Publish PR ${{ github.event.pull_request.number }}"
          BRANCH: gh-pages
          FOLDER: docs
          TARGET_FOLDER: pull/${{ github.event.pull_request.number }}
          CLEAN: true
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v1
      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
