name: 'Reusable workflow / Unit tests'

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        default: ${{ github.ref }}
        required: false
        type: string
      workspace:
        description: 'Workspace to run tests in (if empty, runs tests for all workspaces)'
        required: false
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run unit tests
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}

      - name: Node setup
        uses: ./.github/actions/node-setup

      - name: Run tests for all workspaces
        if: ${{ !inputs.workspace }}
        run: yarn run test:ci

      - name: Run tests for the specified workspace
        if: ${{ inputs.workspace }}
        run: yarn workspace ${{ inputs.workspace }} run test:ci

      - name: Upload test artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: |
            test-results.json
            .nyc_output/coverage-final.json
