name: 'Reusable workflow / Visual (aka e2e) tests'

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        default: ${{ github.ref }}
        required: false
        type: string

jobs:
  get_playwright_docker_image:
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.result.outputs.value }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}

      # Создаем кэш для ветки один раз
      - name: Checkout LFS objects
        uses: ./.github/actions/lfs

      - uses: ./.github/actions/get-playwright-docker-image
        id: result

  test_e2e:
    needs: get_playwright_docker_image
    if: success()
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.get_playwright_docker_image.outputs.image }}
      options: --ipc=host
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        shardTotal: [10]
    name: 'Run e2e tests for (shard ${{ matrix.shardIndex }}/${{ matrix.shardTotal }})'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}

      - name: Checkout LFS objects
        uses: ./.github/actions/lfs

      - name: Node setup
        uses: ./.github/actions/node-setup

      - name: Run e2e tests for @vkontakte/vkui workspace
        # Почему HOME=/root см. https://github.com/microsoft/playwright/issues/6500
        run: HOME=/root yarn run test:e2e:ci --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }}

      - name: Upload Playwright blob report to GitHub Actions Artifacts
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: all-blob-reports-${{ matrix.shardIndex }}-${{ matrix.shardTotal }}
          path: packages/vkui/blob-report
          retention-days: 1
