name: 'Reusable workflow / Visual (aka e2e) tests'

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        default: ${{ github.ref }}
        required: false
        type: string

jobs:
  test_e2e:
    runs-on: ubuntu-latest
    container:
      # см. https://github.com/microsoft/playwright/blob/main/utils/docker/Dockerfile.focal
      image: mcr.microsoft.com/playwright:v1.35.1-focal
      options: --ipc=host
    strategy:
      fail-fast: false
      matrix:
        # Запускаем каждый проект в отдельном шарде.
        # Существующие проекты см. в packages/vkui/playwright-ct.config.ts.
        appearance: [light, dark]
        platform:
          [
            'android (chromium)',
            'ios (webkit)',
            'vkcom (chromium)',
            'vkcom (firefox)',
            'vkcom (webkit)',
          ]
        shardIndex: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        # 5 (platform) * 2 (appearance) = 10
        shardTotal: [10]
    name: 'Run e2e tests for "${{ matrix.platform }} • ${{ matrix.appearance }}" (shard ${{ matrix.shardIndex }}/${{ matrix.shardTotal }})'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}

      # см. https://github.com/actions/checkout/issues/1169
      - name: Set safe directory
        run: git config --global --add safe.directory /__w/VKUI/VKUI

      # см. https://github.com/microsoft/playwright/issues/21920
      - name: Install git lfs
        run: |
          curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash
          apt-get install -y git-lfs

      - name: Create LFS file list
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

      - name: Restore LFS cache
        uses: actions/cache@v3
        with:
          path: .git/lfs
          key: lfs-${{ hashFiles('.lfs-assets-id') }}

      - name: Checkout LFS objects
        run: git lfs pull

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --ignore-scripts

      - name: Run e2e tests for @vkontakte/vkui workspace
        # Почему HOME=/root см. https://github.com/microsoft/playwright/issues/6500
        run: HOME=/root yarn run test:e2e:ci --project="${{ matrix.platform }} • ${{ matrix.appearance }}" --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }}
        continue-on-error: true

      # TODO Ждём возможность мержа HTML report
      #  см. https://github.com/microsoft/playwright/issues/10437
      - name: Upload Playwright HTML report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: packages/vkui/playwright-report/
          retention-days: 30
