name: 'Update screenshots'

on: workflow_dispatch

run-name: Update screenshots for ${{ github.ref_name }}

jobs:
  update_screens:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        appearance: [dark, light]
        browser: [chromium, firefox, webkit]
        platform: [android, ios, vkcom]
        exclude:
          - platform: android
            browser: firefox
          - platform: android
            browser: webkit
          - platform: ios
            browser: firefox
          - platform: ios
            browser: chromium
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - run: yarn --frozen-lockfile --ignore-scripts
      - name: Install deps for playwright
        run: yarn playwright:install ${{ matrix.browser }}
      - name: Update screenshots
        run: yarn test:e2e -u
        env:
          APPEARANCE: ${{ matrix.appearance }}
          BROWSER: ${{ matrix.browser }}
          PLATFORM: ${{ matrix.platform }}
      - name: Push updated screenshots
        run: node ./.github/gitflow/push_with_retry.js
