name: 'Update screenshots'

on: workflow_dispatch

run-name: Update screenshots for ${{ github.ref_name }}

jobs:
  update_screens:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        appearance: [dark, light]
        browser: [chromium, firefox, webkit]
        platform: [android, ios, vkcom]
        exclude:
          - platform: android
            browser: firefox
          - platform: android
            browser: webkit
          - platform: ios
            browser: firefox
          - platform: ios
            browser: chromium
    steps:
      - uses: actions/checkout@v3

      - name: Create LFS file list
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

      - name: Restore LFS cache
        uses: actions/cache@v3
        with:
          path: .git/lfs
          key: lfs-${{ hashFiles('.lfs-assets-id') }}

      - name: Checkout LFS objects
        run: git lfs pull

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - run: yarn install --frozen-lockfile --ignore-scripts

      - name: '[Troubleshooting for Azure VM] Install APT Repositories'
        # Связанная проблема https://github.com/actions/runner-images/issues/675
        run: curl --connect-timeout 1 azure.archive.ubuntu.com || (sudo sed -i 's/azure\.//' /etc/apt/sources.list && sudo apt-get update)
      - name: Install deps for playwright
        run: yarn run playwright:install ${{ matrix.browser }}

      - name: Update screenshots
        run: yarn run test:e2e -u
        env:
          APPEARANCE: ${{ matrix.appearance }}
          BROWSER: ${{ matrix.browser }}
          PLATFORM: ${{ matrix.platform }}

      - name: Set Git credentials
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"

      - run: yarn install --frozen-lockfile --ignore-scripts && yarn run build
        working-directory: ./.github/actions/push-screenshots
      - name: Push updated screenshots
        uses: ./.github/actions/push-screenshots
