name: 'Update screenshots'

on: workflow_dispatch

run-name: Update screenshots for ${{ github.ref_name }}

jobs:
  update_screens:
    runs-on: ubuntu-latest
    container:
      # см. https://github.com/microsoft/playwright/blob/main/utils/docker/Dockerfile.focal
      image: mcr.microsoft.com/playwright:v1.35.0-focal
      options: --ipc=host
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # см. https://github.com/actions/checkout/issues/1169
      - name: Set safe directory
        run: git config --global --add safe.directory /__w/VKUI/VKUI

      # см. https://github.com/microsoft/playwright/issues/21920
      - name: Install git lfs
        run: |
          curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash
          apt-get install -y git-lfs

      - name: Create LFS file list
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

      - name: Restore LFS cache
        uses: actions/cache@v3
        with:
          path: .git/lfs
          key: lfs-${{ hashFiles('.lfs-assets-id') }}

      - name: Checkout LFS objects
        run: git lfs pull

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --ignore-scripts

      - name: Update screenshots
        # Почему HOME=/root см. https://github.com/microsoft/playwright/issues/6500
        run: HOME=/root yarn run test:e2e-update:ci

      - name: Set Git credentials
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"

      - name: Push updated screenshots
        uses: VKCOM/gh-actions/VKUI/push-screenshots@main
