/* stylelint-disable vkui/atomic */
.SizeYRegular--sizeY-compact {
  display: none;
}

@media (--sizeY-compact) {
  .SizeYRegular--sizeY-none {
    display: none;
  }
}

.SizeYCompact--sizeY-regular {
  display: none;
}

@media (--sizeY-regular) {
  .SizeYCompact--sizeY-none {
    display: none;
  }
}

.SizeYRegular,
.SizeYRegular--sizeY-regular,
.SizeYCompact,
.SizeYCompact--sizeY-compact {
  /* Пустой класс для CSS Modules (см. CONTRIBUTING.md)  */
}
